extends ../base

block content
  h2.under 1) Write with your eraser
  //- p You get 100 bucks for every word you rub out from your title:
  p Titles can often be improved simply by rubbing out words:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct1a.png" alt="Value-based messaging").img__100
  h2.under 2) Don't exaggerate
  p An honest line always feels warmer:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct3.png" alt="Value-based messaging").img__100
  //- h2.under 3) Get to the conflict
  h2.under 3) Avoid the passive voice
  //- p The active voice is clear and punchy. The passive voice is indirect and awkward:
  p It's indirect and awkward:
  //- p We often slip into the passive voice without noticing. It's indirect and awkward:
  //- p
  //-   span.italic This sentence uses the active voice!{' '}
  //-   | — clear and punchy.
  //- p
  //-   span.italic The passive voice is used to write this sentence!{' '}
  //-   | . indirect and wordy.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct8.png" alt="Value-based messaging").img__100
  //- p Check your copy for the passive in!{' '}
  //-   a(href="https://hemingwayapp.com/" target="_blank") Hemmingway App
    //- | . It flags use of the passive voice.
  h2.under 4) Avoid “landing page words”
  p
    span.italic Unlock
    | ,!{' '}
    span.italic unleash
    | ,!{' '}
    span.italic enhance
    | ,!{' '}
    span.italic exceed
    | ,!{' '}
    span.italic empower
    | ,!{' '}
    span.italic supercharge
    | , etc.
  p Real people don't use them.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct4.png" alt="Value-based messaging").img__100
  h2.under 5) Write how you talk
  p Casual. Colloquial. Full of pronouns:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct12.png" alt="Value-based messaging").img__100
  h2.under 6) Kill adverbs. Kill adjectives.
  p They're flowery. They're vague. They try too hard.
  //- p Customers like to persuade!{' '}
  //-   span.italic themselves:
  //- p Let the reader!{' '}
  //-   span.italic be persuaded
  //-   | .
  //- p Adverbs and adjectives are the enemy of clarity. They try too hard.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct10.png" alt="Value-based messaging").img__100
  h2.under 7) No one cares what you can do
  p No one cares what you can do. Everyone cares what you can do!{' '}
    span.italic for them
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct11.png" alt="Value-based messaging").img__100
  h2.under 8) Reframe until you win
  //- p It's your copy. You control the context.
  p Look how a simple comparison makes Basecamp's $99/month sound cheap:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct14a.png" alt="Value-based messaging").img__100
  //- p $99/month sounds expensive. Basecamp make it look cheap.
  //- p Look how Basecamp makes $99/month sound cheap:
  h2.under 9) Think slippery slide
  //- p The goal of your first line is to get people to read the second line. The goal of the second gets you to read the third. Every line leads into the next. Until they're reading the CTA.
  p Every line of copy should lead to the next. All the way down to your CTA.
  p Watch this ad. You won't be able to stop:
  //- p Your first line gets people to read the second. Your second gets people to read the third. All the way down to the CTA.
  //- p Watch this ad. You won't be able to stop. Every line leads to the next:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/_RX9s1nLzdU' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 10) Formatting matters
  p Write scannable copy
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct13.png" alt="Value-based messaging").img__100
  h2.under 11) Your first line is crucial
  p If people don’t read it, they’re not going to read your second line either.
  p How can you make it so compelling that every reader reads it?
  p Make it short.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct2.png" alt="Value-based messaging").img__100
  h2.under 12) More periods, fewer commas.
  p Periods mean short sentences. We like short sentences.
  p Commas mean long, painful sentences, like this one, which!{' '}
    span.italic New Yorker
    |!{' '}writers think are clever, but real people find torturous, because they wind on and on without actually saying anything.
  //- h2.under 13) Copywriting is selling
  //- p The goal is to get the customer to do something.
  //- p Don’t romanticize it. The goal isn't to be cute or clever.
  //- p The goal is to inspire action. You do that by creating immediacy:
  h2.under 13) Create immediacy
  p Copywriting is selling. Don’t romanticize it.
  p The goal isn't to be cute or clever. The goal is to inspire action:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct15.png" alt="Value-based messaging").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct15a.png" alt="Value-based messaging").img__100
  //- h2.under 14) People remember stories
  h2.under 14) The best brands tell stories
  //- h2.under 14) Story captures attention
  //- p I couldn't list!{' '}
  //-   span.italic The Ten Commandments
  //-   | . I could tell you what happened to Adam and Eve.
  p We don't remember!{' '}
    span.italic The Ten Commandments
    | . We do remember what happened to Adam and Eve.
  p
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct16d.png" alt="Value-based messaging").img__100
  h2.under 14) The best brands tell stories
  p Stories are more memorable than lists:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct16a.png" alt="Value-based messaging").img__100
  h2.under 15) Take a position
  p You have to stand for something.
  p The left says, “meh”
  p The right screams
  p On the left are the header copy of insurance companies.
  p Which one makes more of an impression.
  //- p Opposing forces create energy. Conflict creates interest.
  //- p It gives people an reason to care. A thought to react to.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct19.png" alt="Value-based messaging").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct17.png" alt="Value-based messaging").img__100
  h2.under 16) Get to the conflict
  p No one cares about shiny happy people.
  p It gives people an excuse to care.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct17.png" alt="Value-based messaging").img__100
  h2.under 15) Inject personality
  p The best brands feel “real”. So the trick is to write like a real person:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct18a.png" alt="Value-based messaging").img__100
  h2.under 15) Inject personality
  p Diaries are exciting. Most emails are corporate blather.
  p So the trick is to scatter “diary writing” into your emails.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct18.png" alt="Value-based messaging").img__100
  //- h2.under 15) Try “diary writing”
  //- p Your diary is exciting. Your emails are sludge.
  h2.under 17) Write for the medium
  p Landing pages should be clear. Print should be memorable. Social should grab attenton:
  p Landing pages should be clear. Creativitiy
  p Clarity on landing pages. Creativitiy on print. Brevity on social.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct9.png" alt="Value-based messaging").img__100
  h2.under 17) Write for the medium
  h2.under 15) Steal like an artist
  p Do you really think I came up with any of these?
  p No. I read the best stuff. I stole the best stuff. That's how it works.
  p Read 100 titles.
  p You're
  //- h2.under 16) Copy should not be predictable
  //- p Never be predictable
  //- h2.under 7) Lower the calories in your message
  //- p The simpler the expression the profounder the influence.