extends ../base

block content
  h2.under 1) Write with your eraser
  //- p You get 100 bucks for every word you rub out from your title:
  p Titles can often be improved simply by rubbing out words:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct1a.png" alt="Value-based messaging").img__100
  h2.under 2) Don't exaggerate
  p An honest line always feels warmer:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct3.png" alt="Value-based messaging").img__100
  h2.under 3) Avoid the passive voice
  //- p The active voice is clear and punchy. The passive voice is indirect and awkward:
  p It's indirect and awkward:
  //- p We often slip into the passive voice without noticing. It's indirect and awkward:
  //- p
  //-   span.italic This sentence uses the active voice!{' '}
  //-   | — clear and punchy.
  //- p
  //-   span.italic The passive voice is used to write this sentence!{' '}
  //-   | . indirect and wordy.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct8.png" alt="Value-based messaging").img__100
  p Check your copy for the passive in!{' '}
    a(href="https://hemingwayapp.com/" target="_blank") Hemmingway App
    //- | . It flags use of the passive voice.
  h2.under 4) Avoid “landing page words”
  p
    span.italic Unlock
    | ,!{' '}
    span.italic unleash
    | ,!{' '}
    span.italic enhance
    | ,!{' '}
    span.italic exceed
    | ,!{' '}
    span.italic empower
    | ,!{' '}
    span.italic supercharge
    | , etc.
  p Real people don't use them.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct4.png" alt="Value-based messaging").img__100
  h2.under 5) Write how you talk
  p Casual. Colloquial. Full of pronouns:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct12.png" alt="Value-based messaging").img__100
  h2.under 6) Kill adverbs. Kill adjectives.
  p They're flowery. They're vague. They try too hard.
  //- p Customers like to persuade!{' '}
  //-   span.italic themselves:
  //- p Let the reader!{' '}
  //-   span.italic be persuaded
  //-   | .
  //- p Adverbs and adjectives are the enemy of clarity. They try too hard.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct10.png" alt="Value-based messaging").img__100
  h2.under 7) No one cares what you can do
  p Everyone cares what you can do!{' '}
    span.italic for them
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct11.png" alt="Value-based messaging").img__100
  h2.under 8) Think slippery slide
  //- p The goal of your first line is to get people to read the second line. The goal of the second gets you to read the third. Every line leads into the next. Until they're reading the CTA.
  p Every line of copy should lead to the next. All the way down to your CTA.
  p Watch this ad. You won't be able to stop:
  //- p Your first line gets people to read the second. Your second gets people to read the third. All the way down to the CTA.
  //- p Watch this ad. You won't be able to stop. Every line leads to the next:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/_RX9s1nLzdU' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 9) Write scannable copy
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct13a.png" alt="Value-based messaging").img__100
  //- p Your sub-titles “sell” the idea of reading the whole page:
  //- h2.under 9) Formatting is powerful
  //- h2.under 9) Sub-titles “sell” the whole page
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct13.png" alt="Value-based messaging").img__100
  h2.under 10) Your first line is crucial
  p If people don’t read it, they’re not going to read your second line either.
  p How can you make it so compelling that every reader reads it?
  p Make it short.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct2.png" alt="Value-based messaging").img__100
  h2.under 11) More periods, fewer commas.
  p Periods mean short sentences. We like short sentences.
  p Commas mean long, painful sentences, like this one, which!{' '}
    span.italic New Yorker
    |!{' '}writers think are clever, but real people find torturous, because they wind on and on without actually saying anything.
  h2.under 12) Get to the conflict
  p No one cares about shiny happy people
  h2.under 13) Reframe until you win
  p It's your copy. You control the context.
  p Look how a simple comparison make Basecamp's $99/month sound cheap:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct14.png" alt="Value-based messaging").img__100
  //- p $99/month sounds expensive. Basecamp make it look cheap.
  //- p Look how Basecamp makes $99/month sound cheap:
  h2.under 12) Write for the medium
  p Landing pages should be clear. Print should be memorable. Social should grab attenton:
  p Landing pages should be clear. Creativitiy
  p Clarity on landing pages. Creativitiy on
  h2.under 13) Don't write word shaped air
  p
  //- h2.under 11) Tailor for the medium
  //- p Websites should be clear. Ads should be memorable:
  //- p Websites should be clear. Ads should be memorable. Digital should grab attention.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct7.png" alt="Value-based messaging").img__100
  h2.under 13) Story
  h2.under 14) Write for clarity first
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ct9.png" alt="Value-based messaging").img__100
  h2.under 15) Steal like an artist
  h2.under 7) Lower the calories in your message
  p The simpler the expression the profounder the influence.
  p Do you really think I came up with any of these?
  p No. I read the best stuff. I stole the best stuff. That's how it works.
  p Read 100 titles.
  p You're