extends ../base

block content
  p December 18th Steve Schoger and Adam Wathan launched!{' '}
    a(href="https://refactoringui.com/book/" target="_blank") Refactoring UI
    | , a “book” aimed at teaching design to developers. It launched with two pricing tiers:
  p.list.list__top • The Complete Package: $149 (Reduced from $249)
  p.list.list__bottom • The Essentials: $79 (Reduced from $99)
  p This case study tells the story of these prices.
  h2 Step 1 - Who are you selling to?
  p The first thing to consider when pricing a product is who you are selling it to.
  p Adam and Steve spent the two years before their launch posting tips on twitter, screencasts to YouTube, and case studies on Medium. The quality was second to none and they built up a following of!{' '}
    span.bold hardcore fans
    | . Hardcore fans are!{' '}
    span.bold price inelastic
    |!{' '}(insensitive to price increases). In their minds, there are no substitute resources available. They don’t want any old design book, they want a!{' '}
    span.italic Steve Schoger / Adam Wathan
    |!{' '}design book.
  p When demand for you’re good is inelastic, you raise your price. As the illustrative diagram shows, a!{' '}
    span.bold 10x
    |!{' '}price increase (from $15 to $150) results in just a!{' '}
    span.bold 2x
    |!{' '}drop in books sold (20k to 10k) and!{' '}
    span.bold 5x
    |!{' '}more revenue.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui3.png" alt="Refactoring UI: Inelastic demand").img__70
  h2 Step 2 - Escape the context of the e-book
  p So quite rightly Adam and Steve elected to charge a high price, but that created one problem: You can't!{' '}
    span.italic just
    |!{' '}sell an e-book for $100+. To quote Adam:
  p.inwardSpeech People don’t really want to spend more than $20 on an e-book because of what it costs to buy one on Amazon. And it speaks nothing to the value of the content or the effort that was put into creating it. It's just, “this format commands this price”. No matter what the content is.
  p So how did Adam and Steve get round this? Well, they set up their own dedicated website, added in video tutorials, an icon pack, color palettes, font recommendations, a component library. And then!{' '}
    span.bold the context changed
    | .
  p They were no longer selling an!{' '}
    span.italic Amazon e-book
    |, they were selling an!{' '}
    span.italic exhaustive design package
    | . And they were no longer tied to e-book prices.
  h2 Step 3 - A gateway lower tier
  p Originally Refactoring UI was set to release at just one flat price of $149. That was the price Adam and Steve wanted people to pay. But after some complaints they decided to introduce a lower tier of $79. Not only did this stop the complaints, it also made them considerably more money.
  p Firstly, there's an odd psychological effect where people don't mind paying more as long as they believe they’re doing it on their own terms. To quote Adam:
  p.inwardSpeech If you give people the choice to pay you less when they pay you more they did it because they!{' '}
    span.bold decided to
    |!{' '}not because they were!{' '}
    span.bold forced to
    | . And I think that had an effect.
  p Secondly, it's not easy for someone to justify a $149 purchase outright. I think it’s easier to justify $79 and then be persuaded to upgrade from $79 to $149.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui2a.png" alt="AndCo Cold Email").img__70
  p Essentially, the lower tier allows the mind to commit to the purchase. And then!{' '}
    span.italic once committed
    |!{' '}the higher tier is packaged in such a way that it would be irrational to not go with it.
  h2 Step 4 - A persuasive higher tier
  //- p How did Adam and Steve package the higher tier in such a way to make it appear like the more favourable.
  p Firstly, look at the hierarchy of the two packages. The $149 package takes up twice as much space on the screen, the font size is larger, and the button color is primary. It just feels wrong clicking the smaller, off-white, lower tier button.
  p Secondly, look at the disproportionately sized discounts. The!{' '}
    span.italic Complete Package
    |!{' '}is reduced by!{' '}
    span.bold 40%
    |!{' '}(or $100) and!{' '}
    span.italic The Essentials
    |!{' '}is only reduced by!{' '}
    span.bold 25%
    |!{' '}(or $20). To quote Adam:
  p.inwardSpeech If you want people to buy the more valuable package why not make the discount more compelling than the other one.
  p And finally just look at the names of the packages. Labelling the higher pricing tier!{' '}
    span.italic The Complete Package
    |!{' '}infers that in choosing anything less you're missing out. The higher tier package could just as accurately be labelled
    span.italic The Bonus Package
    |!{' '}but that wouldn't have the same psychological impact.
  h2 Results
  p And the subtle tweaks in the packaging of the two tiers seemed to work. In spite of initial complaints about the price of the!{' '}
    span.bold 6765
    |!{' '}total purchases,!{' '}
    soan.bold 78%
    |!{' '}favoured the higher tier (as of Jan 10, 2019).
  h2 Summary
  p And they're we have it. Conclusion coming ...
