extends ../base

block content

  h2.under Part 1
  p Let’s start in 2017.
  p Andrew Schulz had been killing in the New York comedy clubs for over a decade. But no network would give him a shot.
  p So he filmed his own special. And handed it to the networks on a plate.
  p
    span.italic They still said no.
  //- p 3 years later he's built!{' '}
  //-   span his own
  //-   |!{' '}media empire. And is one of the most watched comics on the planet. This is his story.
  //- p 3 years later he's one of the most watched comics on the planet. This is his story.
  //- h2.under Part 1 - Understanding comedy
  //- p Schulz was out of options. He knew he was on his own. So he wanted to understand how people!{' '}
  //-   span.italic actually
  //-   |!{' '}watch comedy.
  //- p Now Schulz was out of options. He decided to put the special on YouTube. But before, he wanted to understand how people!{' '}
  //-   span.italic actually
  //-   |!{' '}watch comedy.
  p Schulz realised he was going to have to make it alone. So he started analysing how people!{' '}
    span.italic actually
    |!{' '}watch comedy.
  //- p So he wanted to understand how people!{' '}
  //-   span.italic actually
  //-   |!{' '}watch comedy.
  p.inwardSpeech.list__bottom I asked all my friends about different specials and they all said the same thing, “Yeah, it was good. But I didn’t finish it.”
  p.inwardSpeech.list__top I realised the hour is too long.
  //- p.inwardSpeech.list__top People weren’t watching Chappelle for an hour. So there was no way they were going to watch me for an hour.
  //- *** Op 2
  //- p Now Schulz was out of options. He realised he going to have to make it alone. So he wanted to understand how people!{' '}
  //-   span.italic actually
  //-   |!{' '}watch comedy.
  //- p.inwardSpeech.list__bottom I asked all my friends about different specials and they'd always say the same thing, “Yeah it was good. But I didn’t finish it.”
  //- p.inwardSpeech.list__top I realised it was too long. People weren't even watching Chappelle for an hour.
  p So Schulz cut his special down to 16 minutes and put it on YouTube.
  //- p He already had 100k subcribers from years of podcasting on YouTube. So he put it out there and it started taking off.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/schulz1.png" alt="Marketing Examples Product Hunt").img__100
  //- p He already had some subscribers from years of podcasting on YouTube. So he put it out there and it started taking off.
  p He had some subcribers from years of podcasting there. And it started getting traction.
  p.inwardSpeech.list__bottom YouTube was working. So I started treating my channel like my own network.
  //- p monday, tuesday, and then at the weekend he'd put out live comedy.
  p.inwardSpeech.list__top  There was this rapper, Russ, who put out a song a week for a year. So I thought I'll put out a joke a week for a year.
  p In fact Schulz put out!{' '}
    span.bold 89
    |!{' '}clips of live comedy across 2019.
  p For a comedian this is unheard of. Schulz's improv ability made it possible. Roasting the crowd was scalable.
  p He’d film every show. Sometimes 7 in one weekend. Just hoping to get one electric clip for YouTube.
  p.inwardSpeech One time I was roasting this guy in the front row. It turned out he’d went to prison for murder. That clip got 2M view.
  //- p In fact later that year Schulz released a whole special dedicated to roasting the crowd. For most comedians a special is a year's work. Schulz did it in 35 minutes
  //- p For Schulz YouTube is all about aquiring new fans. 100 clips is 100 different access points. And they're shareable.
  //- p 100 clips is 100 short ads. One hour on Netflix is one long infomercial.
  p For Schulz YouTube is all about!{' '}
    span.italic aquiring fans to sell tickets
    | . 100 clips is 100 short ads. One hour on Netflix is one long infomerical.
  p.inwardSpeech.list__top Nobody wants to listen to a stranger for an hour. But you'd listen to a 2 minute bit if a friend sent it to you. All I did was make my stuff digestible.
  p And 2 minutes is enough to take someone down the wormhole.
  p.inwardSpeech.list__bottom We realised people would watch one clip. Then they’d watch for two hours. So Netflix can’t get you to watch one hour. But people are watching two hours on YouTube.
  p.inwardSpeech.list__top I figured it’s because “you made the choice”. It’s like hitting snooze on the alarm. “Another 5 minutes… Another 5 minutes…”
  p In a year he’d went from not selling out clubs. To selling out theatres worldwide.
  h2.under Part 2
  p By 2020 Schulz had momentum. Then Coronavirus hit.
  //- p Most comedians were screwed. Schulz adapted. He built a home studio and started doing!{' '}
  //-   span.italic Late Night
  //-   |!{' '}style monologues.
  //- p Except, it was real comedy. Schulz wasn't shackled by network execs.
  //- p.inwardSpeech Who's cancelling me? The problem with Late Night is you know the joke before they tell it. There’s no surprise.
  //- p e.g. Compare a “network” joke about Biden with a Schulz one.
  //- op2
  p Most comedians were screwed. Schulz built a studio and started doing!{' '}
    span.italic Late Night
    |!{' '}style monologues.
  p Except, the jokes weren't watered down to please network execs.
  p.inwardSpeech We blew up because we said the truth. The truth doesn’t have a political party. Who's cancelling me?
  p Compare a “network” joke about Biden with a Schulz one.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/schulz1.png" alt="Marketing Examples Product Hunt").img__100
  p Another thing Schulz nailed was distribution. He didn't spam YouTube links across social media. Instead he!{' '}
    span.italic tailored his videos to fit each platform
    | .
  //- p For instance, on Instagram he tells viewers “Turn your phone” — to stop them scrolling by.
  //- p For instance, on Instagram he added subtitles, a one line opening, and told viewers “turn your phone” — to stop them scrolling.
  p For instance, on Instagram he added subtitles and told viewers “turn your phone” to stop them scrolling by.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/schulz.mp4" class="img__100" controls playsinline="playsinline")
  p 17 weeks of monologues later, Schulz truly exploded.
  p His monologues average more views than the majority of Late Night monologues.
  //- p Schulz’s story isn’t about comedy. It’s a lesson for anyone wanting to do anything.
  //- p Forget the noun, do the verb. Fail until it works. And if you keep going long enough it will work out. Most people can’t suffer that long.
  //- p.inwardSpeech You see someone on the side of the road with their car broken down. Nobody stops. But if you see somebody pushing their own car. You always stop. Because their helping themselves.
  //- p Penguin didn't hand James Clear a book deal. He built a newsletter to 250k subscribers.
  //- p Juventus didn't hand Sarri the managers job. He worked his way up from the 8th tier of Italian football.
  //- Opt 2
  p Schulz’s story isn’t about comedy. It’s a lesson for anyone wanting to do anything.
  p When the gatekeepers don't let you in,!{' '}
    span.italic start your own thing
    | . Fail 'til it works. Then keep going 'til you've got momentum. The problem is most people can’t suffer that long.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/schulz5.png" alt="Marketing Examples Product Hunt").img__100
  p There's a story Andrew tells which sums it up:
  p.inwardSpeech.list__bottom If you see someone on the side of the road with their car broken down. You drive by.
  p.inwardSpeech.list__top But if you see somebody pushing their own car. You stop and help.
  p A week later Joe Rogan invited him onto his podcast.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/schulz4.jpg" alt="Marketing Examples Product Hunt").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/schulz3.png" alt="Marketing Examples Product Hunt").img__100
  //- p No one handed James Clear a book deal. He built a newsletter to 250k subscribers.
  //- p No one gave Maurizio Sarri the Juventus job. He worked his way up from the 8th tier of Italian football.
  //- p No one gave James Clear a book deal. He built a newsletter to 250k subscribers.



