extends ../base

block content
  p January 1983. Apple finish production of their latest computer, Lisa.
  p Steve Jobs launches it with a nine-page ad in the!{' '}
    span.italic New York Times
    |.
  p It's nine pages of geek speak. Nobody outside NASA is interested. Lisa sells just 10,000 units. Steve is fired from Apple.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve1.jpg" alt="CD Baby Confirmation Email").img__100
  p Fourteen years later, Steve Jobs returns to Apple.
  p In his first campaign back he went from nine pages in the!{' '}
    span.italic New York Times
    |!{' '}to!{' '}
    span two words
    |!{' '}on billboards acorss America:!{' '}
    span.italic Think different
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve2.jpg" alt="CD Baby Confirmation Email").img__100
  //- p Jobs had learnt the power of story.
  p There would be no computers in the ads. No technical jargon. No noise.
  //- p There would be no computers in the ads. No technical jargon. All that stuff is noise. It requires mental calories to process.
  p Jobs realised that people don’t buy the best products. They buy!{' '}
    span.italic the story
    |!{' '}they understand fastest. So that's what he sold. A simple story:
  //- p.inwardSpeech Your look into the eyes of greatness. You're energised. Apple is the guide who leads you from “A” to “B”.
  p.inwardSpeech You look into the eyes of greatness. You want to emulate it. Apple is the guide who leads there.
  //- p Your shown greatness. You want to emulate it. Apple is the bridge which leads you there.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve3b.png" alt="CD Baby Confirmation Email").img__80
  p It's easy to process. Light on calories. And it stuck.
  p The campaign ran for 5 years. And is credited for turning Apple's fortunes around.!{' '}
    //- span.italic Think Different
    //- |!{' '}is still printed on the back of some Apple computers today.
  h2.under Credit
  p Credit to the excellent book!{' '}
    a(href="https://www.amazon.co.uk/Building-Storybrand-Clarify-Message-Customers/dp/0718033329" target="_blank") Building a StoryBrand
    |!{' '}by Donald Miller where this example comes from.
  h2.under Support
  p Thanks for reading. If you'd like more to learn more about marketing Examples in your inbox joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}is appreciated. I als