extends ../base

block content
  p January 1983. Apple finish production of their new computer, Lisa.
  p Steve Jobs launches it with a nine-page ad in the!{' '}
    span.italic New York Times
    |.
  //- p Steve Jobs launches it with a nine-page ad in the!{' '}
  //-   span.italic New York Times
  //-   | outlining the computer’s technical features. And reads like an instruction manual.
  p It's nine pages of geek speak. Nobody outside NASA is interested. Lisa sells just 10,000 units. Steve is fired from Apple.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve1.jpg" alt="CD Baby Confirmation Email").img__100
  p Fourteen years later, Steve Jobs returns to Apple.
  //- p He's learnt his lesson.
  p His first campaign back reduces nine!{' '}
    span.italic New York Times
    |!{' '}pages to!{' '}
    span two words
    |!{' '}on billboards all over America:!{' '}
    span.italic Think different
    | .
  //- p In his first campaign back he went from nine pages in the!{' '}
  //-   span.italic New York Times
  //-   |!{' '}to!{' '}
  //-   span two words
  //-   |!{' '}on billboards across America:!{' '}
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve2.jpg" alt="CD Baby Confirmation Email").img__100
  p
  p.inwardSpeech People don’t buy the best products. They buy the products they understand the fastest. — Donald Miller
  //- p.inwardSpeech — Donald Miller
  h2.under Credit
  p Credit to the excellent book!{' '}
    a(href="https://www.amazon.co.uk/Building-Storybrand-Clarify-Message-Customers/dp/0718033329" target="_blank") Building a StoryBrand
    |!{' '}by Donald Miller where this example comes from.
  h2.under Support
  p Thanks for reading. If you'd like more to learn more about marketing Examples in your inbox joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}is appreciated. I als