extends ../base

block content
  p
    a(href="") no name
    |!{' '}is a “low cost”, no frills” supermarket brand in Canada.
  p Nothing special. A lot of supermarket brands share similar “values”. The hard part is communicating them in a way so that people remember.
  p Most discount brands try and persuade with slogans, packaging, and comparison ads. But that's hardly “no-frills”.
  //- p They strip away the fancy-dress from a brand. Right down to the bare bones. Stark simplicity.
  p  So no name went the other way. What happens if you strip away all the fancy-dress from a brand? You're left with the bare bones. Stark simplicity.
  p The packaging is lowercase Helvetica over a yellow background. The website says “website”. The twitter page says “twitter page”.
  p Their sole ad campaign of the last decade saw them matter-of-factly label Toronto’s subway station.
  //- p What matters is how you communicate your values. It's not enough to tell people who you are. You have to say it in a way that gets people's attention.
  //- p The hard part is communicating your “values” in a way that people remember them. And this is where no name excels.
  //- p Most discount brands run ads showing savings or slap “20% extra free” on their packaging. no name goes the other way.
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn1.jpg" alt="Marketing Examples Product Hunt Comment").img__100
  p Ironically, no name's “anti-brand” approach has attracted a cult following.
  p Since 1978 the product line has grown from!{' '}
    span 16
    |!{' '}to!{' '}
    span 2,900
    |!{' '}items. A simple picture of biscuits on Twitter gets!{' '}
    span 6,000
    |!{' '}likes. Their customers demanded merchandise and it sold out overnight.
    p It's!{' '}
      span football club
      |!{' '}brand power from a!{' '}
      span household product
      |!{' '}line.
  //- p Show me another supermarket brand that could post a picture of their biscuits on Twitter and get 6,000 likes. Or launch a new line of beer that sells out in 48 hours. Or have their customers demand merchandise.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn2.jpg" alt="Marketing Examples Product Hunt Comment").img__95
  h2.under What can we learn from no name?
  //- p no name’s execution can’t be copied. But their approach to brand building can be.
  p The first lesson is!{' '}
    span.bold limitation
    | .
  p Limitation is the essence of branding.
  p no name’s focus is singular. They don’t pretend to be lots of different things. They stand for something simple and narrow:!{' '}
    span.italic The antithesis of superficiality
    | .
  p That’s how you imprint yourself on the mind.
  p The second lesson is!{' '}
    span.bold consistency
    | .
  p Once you know what you stand for it’s a question of!{' '}
    span.bold consistency
    | . Unwavering consistency. Boring consistency. Consistent tone, Consistent aesthetics. Consistent messaging.
  p no name tells the same joke over and over again, and it gets better every time.
  p It reminds me of a running gag on!{' '}
    span.italic Jimmy Kimmel Live
    |!{' '}where Jimmy bumps Matt Damon from the show every night — “Apologies to Matt Damon, we ran out of time”.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn.mp4" class="img__90" playsinline="playsinline" preload="auto" controls="controls")
  p The first time you’re a bit unsure, the 50th time it’s the best thing in the world. That's the power of consistency.
  //- p.asterix * * *
  p
    span.bold Limitation
    |!{' '}combined with!{' '}
    span.bold consistency
    |!{' '}is how brands are built.
  //- p The cheapest rolex you can buy is $5000
  //- p • Subway has sold just one type of sandwich for 54 years
  //- p • Subway has sold just one type of sandwich for 54 years
  p.list.list__top • Rolex will never sell a watch for less than $5000
  p.list • Subway has sold just one type of sandwich for 54 years
  p.list • One more here ...
  //- p.list.list__bottom • Subway has sold just one type of sandwich for 54 years
  h2.under Alternative opening
  p Branding is simple. Tell people who you are. Say it a way that people remember.
  p
    a(href="") no name
    |!{' '}is a “low cost, no frills” supermarket brand in Canada.
  p How can they communicate this in a way that people remember?
  p Most discount brands try and persuade with slogans, packaging, and cost-saving ads. But that's hardly “no-frills”.
  p Most brands run cost-saving ads or slap “20% extra free” on their packaging. But that’s hardly “no frills”.
  p So no name went the other way. They stripped away the persuasive layer of a brand. Right down the bare bones.
  p The packaging is plain. The website says “website”. Their sole ad campaign of the last decade saw them matter-of-factly label parts of Toronto’s subway station.
  p _____________________________________________
  h2.under Support
  p Thank you for taking the time to read. If you liked it, joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}for more case studies or sharing the thread on Twitter is really appreciated.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | &#x1F525; I got 2000 new subscribers from my Product Hunt launch
      br
      br
      | THREAD...
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1162655778173591552?ref_src=twsrc%5Etfw') August 17, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I'd like to thank!{' '}
    a(href="https://seobuddy.com/?utm_content=marketingexamples&utm_medium=sponsorship" target="_blank") SEOBUDDY
    |!{' '}for sponsoring the site. If you're looking for a tool to help grow your website's search traffic, I'd recommend them.
