extends ../base

block content
  p I’m sure a few of you have heard this story. But it’s worth telling again for those who haven’t.
  p Back in 1998, when!{' '}
    a(href="https://sivers.org/") Derek Sivers
    |!{' '}started!{' '}
    a(href="https://cdbaby.com/") CD Baby
    | , their order confirmation email was the regular: “Your order has shipped today. Thank you for your business.”
  p But for Derek, this generic email felt at odds with CD Baby’s mission of putting smiles on faces. So he spent 20 minutes writing up the following:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cdbaby1.png" alt="CD Baby Confirmation Email").img__70
  p Not only did it succeed in putting smiles on faces, people were so enamoured that they flocked to music forums and personal blogs to share the email. This led to discussion after discussion about CD Baby, plenty of valuable backlinks, and in Derek's words: “thousands of new customers.”
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cdbaby2.jpg" alt="CD Baby Confirmation Email").img__90
  p In fact, if you run an exact search on Google for “private CD Baby jet,” you’ll see just over 2000 search results. That’s how many different sites have copied out Derek’s email.
  p Companies like to think that a “better product” is always the answer. Sometimes, 20 minutes of creative writing can be far more effective. To quote Derek:
  p.inwardSpeech It’s tempting to try to think all the big thoughts and come up with world-changing massive-action plans. But please know that it’s often the tiny details that really thrill people enough to make them tell all their friends about you.
  h2 NOD OF APPRECIATION
  p This example is taken from Derek's book,!{' '}
    a(href="https://www.amazon.co.uk/Anything-You-Want-Lessons-Entrepreneur/dp/0241209048" target="_blank") Anything you want
    |, which I'd certainly recommend. I'd also recommend Derek's personal site.!{' '}
    a(href="https://sivers.org/ff") This
    |!{' '}story about leadership is probably his most legendary post.
  h2 Support
  p If you liked the article sharing the thread on Twitter is really appreciated. Thank You!
  blockquote.twitter-tweet
    p(lang='en', dir='ltr')
      | 🔥How Jason Cohen (
      a(href='https://twitter.com/asmartbear?ref_src=twsrc%5Etfw') @asmartbear
      | ) does direct sales.
      br
      br
      | THREAD ...
    | — Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1156233854216298497?ref_src=twsrc%5Etfw') July 30, 2019
  script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
  p I'd like to thank&nbsp;
    a(href="https://emailoctopus.com/?ref=marketingexamples" target="_blank") EmailOctopus
    |&nbsp;for sponsoring the site. They provide email marketing for a&nbsp;
    span.bold fraction of the price
    |&nbsp;of MailChimp. Any questions, or help getting set up feel free to!{' '}
    a(href="mailto:harry@marketingexamples.com" target="_blank") email me.