extends ../base

block content
  p Conversational copy is!{' '}
    span.italic writing how you talk.
  p No sales megaphone. No corporate drone.
  p Just!{' '}
    span.italic a conversation
    | .
  p But that's easier said than done. So here's my guide.
  //- p Conversational copy is!{' '}
  //-   span.italic writing how you talk.
  //- //- p Not writing AT the customer. Instead engaging WITH the customer.
  //- p It works cause it treats customers!{' '}
  //-   span.italic like people
  //-   | .
  //- p No sales megaphone. No corporate drone.
  //- p But that's easier said than done.
  h2.under 1/ Use contractions
  p Only academics say “you are”.
  //- p Politicians say!{' '}
  //-   span.italic you will
  //-   | . People say!{' '}
  //-   span.italic you’ll
  //-   | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con10.png" alt="Andie's CEO email").img__100
  //- h2.under 2/ Load up on pronouns
  h2.under 2/ Load up on personal pronouns
  //- p Talking directly to your customer is the easiest way to engage them.
  p a) They're the easiest way to engage your customer
  p b) People pay attention when!{' '}
    span.bold you
    |!{' '}talk directly to them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con13a.png" alt="Andie's CEO email").img__100
  h2.under 3/ Don't worry about grammar
  p If you break the rules you’ll sound human.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con11.png" alt="Andie's CEO email").img__100
  h2.under 4/ Ditch the thesaurus
  p Regular people use plain English.
  //- h2.under 4/ Ditch corporate jargon
  //- p You're not impressing anyone.
  //- p Plain English is easier to understand.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con14b.png" alt="Andie's CEO email").img__100
  h2.under 5/ Start sentences with conjunctions
  p a) It's less formulaic
  p b) Real conversation doesn't fit into contained sentences
  p c) It reflects how we talk
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con17a.png" alt="Andie's CEO email").img__100
  //- h2.under 4/ Ditch corporate jargon
  //- p You're not impressing anyone.
  //- p Plain English is easier to understand.
  //- h2.under 2/ Use Plain English
  //- p People don't talk with a thesaurus
  h2.under 6/ Don't write AT the reader
  p a) Engage WITH the reader.
  p b) Involve the reader in your copy.
  p c) Good conversations aren't one-sided.
  //- p No one likes a one-sided conversation
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  h2.under 7/ Don't persuade
  p Let the reader!{' '}
    span.italic be persuaded
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con15.png" alt="Andie's CEO email").img__100
  h2.under 8/ Empathise
  p a) When readers feel heard they're happy to listen.
  p b) People buy from people who they relate to.
  p c) Listening to your customer is more important than impressing them.
  p d) Customers want to feel heard.
  //- p When readers feel you understand their problem, their happy to listen to your solution.
  //- p Making your customer feel heard is more important than impressing them.
  //- p “I hear you” over “Check me out”
  //- h2.under Wear your customers' shoes
  //- p All people want is to feel heard.
  //- p People buy when they feel heard
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Andie's CEO email").img__100
  h2.under 9) Respect the competition
  p It's reflects self confidence.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con2a.png" alt="Andie's CEO email").img__100
  //- p Customers see through exaggeration.
  //- h2.under 5/ Respect the competition
  //- p It shows maturity.
  //- p It shows you're comfortable in your own skin.
  //- p Talk about your competitors like you would if you were sharing a beer. Never punch down
  //- p Only say to your customers what you would sharing a beer.
  //- p Little exaggerations kill trust.
  //- p Exaggerations.
  h2.under 10/ Embrace your flaws
  //- p What it signals is 10 times what you sacrifice.
  p It builds trust
  p No example
  h2.under 10a/ Be honest
  p It's disarming.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.png" alt="Andie's CEO email").img__100
  //- p Fusing two words together makes them easier to read
  //- h2.under 9/ Be honest
  //- p It's easier to write non-fiction than fiction.
  //- p Writing fiction is a lot more difficult than non-fiction.
  //- p It's a lot more difficult to write fiction than non-fiction.
  //- p Customers respect honesty
  //- p Explain it like a real person
  //- h2.under 9/ You can't miss if you use you're customer's words
  h2.under 12/ Use your customers' words
  //- p a) And you can't get miss
  p a) And you can't get the tone wrong.
  p b) It's the easiest way to get the tone right.
  p c) They’re your best copywriter
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con12a.png" alt="Andie's CEO email").img__100
  //- h2.under 6/ Invite the reader into the conversation
  //- p Good conversations aren't all about you
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  //- p More about them. Less about you.
  //- h2.under 6/ Less about you. More about them
  //- p The best copy makes the reader feel part of conversation
  //- p The best copy makes the reader feel part of conversation
  //- p Pulls the reader into the conversation
  //- p Write it like a text message
  h2.under 13/ Tell stories
  //- h2.under 10/ Never miss an opportunity to tell a story
  p They’re more memorable than facts and figures.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con16.png" alt="Andie's CEO email").img__100
  h2.under 14/ Don't blend in
  p a) Conversation needs personality.
  p b) Conversation shouldn't be duplicable.
  p c) If you sound like everyone else you haven't found your voice.
  //- p.inwardSpeech You're alive in inverse proportion to the density of cliches in your writing — Nassim Taleb
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 15/ Don’t try too hard
  p Conversation should feel natural.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con3a.png" alt="Andie's CEO email").img__100
  h2.under 16/ Read it aloud at the kitchen table
  //- h2.under 4/ Read your copy at the kitchen table
  //- p If it doesn't sound natural, re-write it.
  p If your partner cringes, re-write it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con5.png" alt="Andie's CEO email").img__100