extends ../base

block content
  p Conversational copy is!{' '}
    span.italic writing how you talk.
  p No sales megaphone. No business speak.
  p But that's easier said than done. So I've put together this guide:
  h2.under 1/ Don't write!{' '}
    span.italic AT
    |!{' '}the reader
  p Involve the reader in your copy.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.jpg" alt="Andie's CEO email").img__100
  h2.under 2/ Use your customers' words
  p It's the easiest way to get the tone right.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con10.png" alt="Andie's CEO email").img__100
  h2.under 3/ Load up on personal pronouns
  p People pay attention when!{' '}
    span.bold you
    |!{' '}talk directly to them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con2.png" alt="Andie's CEO email").img__100
  h2.under 4/ Don't worry about grammar
  p If you break the rules you’ll sound human.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con3.png" alt="Andie's CEO email").img__100
  h2.under 5/ Start sentences with conjunctions
  p It flows better.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con5.png" alt="Andie's CEO email").img__100
  h2.under 6/ Don't persuade
  p Let the reader!{' '}
    span.italic be persuaded
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con7.png" alt="Andie's CEO email").img__100
  h2.under 7/ Use contractions
  p Only academics say “you are”.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  h2.under 8/ Don't imitate
  p.inwardSpeech You're alive in inverse proportion to the density of cliches in your writing — Nassim Taleb
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con12.png" alt="Andie's CEO email").img__100
  h2.under 9/ Ditch the thesaurus
  p You're not impressing anyone.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 10/ Empathise
  p Customers want to feel heard.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Andie's CEO email").img__100
  h2.under 11/ Respect the competition
  p It's reflects self confidence.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con9.png" alt="Andie's CEO email").img__100
  h2.under 12/ Don’t try too hard
  p Customers can see through fake shit.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con13.png" alt="Andie's CEO email").img__100
  h2.under 13/ Tell stories
  p They’re more memorable than facts and figures.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con11.png" alt="Andie's CEO email").img__100
  h2.under 14/ Read it aloud at the kitchen table
  p If your partner cringes, re-write it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con14.png" alt="Andie's CEO email").img__100
  h2.under That's all folks!
  p Before I go, I want to credit!{' '}
    a(href="https://twitter.com/wordmancopy" target="_blank") Dave Harland
    | . A few of these were straight out of his playbook. He shares great tips on!{' '}
    a(href="https://www.linkedin.com/in/daveharland/" target="_blank") LinkedIn
    | . Check him out!
  p If you'd enjoyed it, I'd appreciate if you joined the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    | . I share a new marketing case study (just like this) each week.
  p And if you're feeling generous perhaps share the thread on Twitter.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr') 17 tips for great copywriting:
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1258052549246140416?ref_src=twsrc%5Etfw') May 6, 2020
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
