extends ../base

block content
  p Conversational copy is!{' '}
    span.italic writing how you talk.
  p No sales megaphone. No corporate drone.
  p Just!{' '}
    span.italic a conversation
    | .
  p But that's easier said than done. Here's my guide.
  //- p Conversational copy is!{' '}
  //-   span.italic writing how you talk.
  //- //- p Not writing AT the customer. Instead engaging WITH the customer.
  //- p It works cause it treats customers!{' '}
  //-   span.italic like people
  //-   | .
  //- p No sales megaphone. No corporate drone.
  //- p But that's easier said than done.
  h2.under 1/ Use contractions
  p Only academics say “you are”.
  //- p Politicians say!{' '}
  //-   span.italic you will
  //-   | . People say!{' '}
  //-   span.italic you’ll
  //-   | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con10.png" alt="Andie's CEO email").img__100
  h2.under 2/ Load up on pronouns
  p ________________________________
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con13.png" alt="Andie's CEO email").img__100
  h2.under 3/ Don't worry about grammar
  p If you break the rules you’ll sound human.
  //- p You want to mirror your customer's language
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con11.png" alt="Andie's CEO email").img__100
  h2.under 4/ Ditch the thesaurus
  p People talk in plain English.
  //- p Plain English is easier to understand.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con14b.png" alt="Andie's CEO email").img__100
  //- h2.under 2/ Use Plain English
  //- p People don't talk with a thesaurus
  h2.under 5/ Don't write AT the reader
  p Involve the reader in your copy
  //- p Engage WITH the reader
  //- p Good conversations aren't one-sided
  //- p No one likes a one-sided conversation
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  h2.under 6/ Don't persuade
  p Let the reader!{' '}
    span.italic be persuaded
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 5/ Conversational means empathy
  //- p People buy from people who they relate to.
  p Listening is more important than impressing.
  //- p Listening to your customer is more important than impressing them.
  //- p Customers want to feel heard.
  //- p “I hear you” over “Check me out”
  //- h2.under 5/ Empathy over showboating
  //- h2.under Wear your customers' shoes
  //- p All people want is to feel heard.
  //- p People buy when they feel heard
  //- p People buy when they feel heard.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Andie's CEO email").img__100
  h2.under 6/ Conversational means honest
  p It's disarming.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.png" alt="Andie's CEO email").img__100
  h2.under 9/ Listen to your customers
  p Then say it back to them.
  //- h2.under 9/ Use your customers language
  //- p They’re your best copywriter
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con12.png" alt="Andie's CEO email").img__100
  h2.under 4/ Tell stories
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con7.png" alt="Andie's CEO email").img__100
  h2.under 4/ Conversation means stories
  //- p Fusing two words together makes them easier to read
  //- h2.under 9/ Be honest
  //- p It's easier to write non-fiction than fiction.
  //- p Writing fiction is a lot more difficult than non-fiction.
  //- p It's a lot more difficult to write fiction than non-fiction.
  //- p Customers respect honesty
  //- p Explain it like a real person
  h2.under 7) Be respectful
  h2.under 7) Conversational means respectful
  p It's a sign of self confidence.
  //- h2.under 5/ Respect the competition
  //- p It shows maturity.
  //- p It shows you're comfortable in your own skin.
  //- p Talk about your competitors like you would if you were sharing a beer. Never punch down
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con2.png" alt="Andie's CEO email").img__100
  //- h2.under 6/ Invite the reader into the conversation
  //- p Good conversations aren't all about you
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Andie's CEO email").img__100
  //- p More about them. Less about you.
  //- h2.under 6/ Less about you. More about them
  //- p The best copy makes the reader feel part of conversation
  //- p The best copy makes the reader feel part of conversation
  //- p Pulls the reader into the conversation
  //- p Write it like a text message
  p If you sound like everyone else
  h2.under 10/ Throw out the cookie cutter
  p.inwardSpeech You're alive in inverse proportion to the density of cliches in your writing — Nassim Taleb
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Andie's CEO email").img__100
  h2.under 10/ Don’t try too hard
  p Conversation should feel natural.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con3.png" alt="Andie's CEO email").img__100
  h2.under 11/ Read it aloud at the kitchen table
  //- h2.under 4/ Read your copy at the kitchen table
  //- p If it doesn't sound natural, re-write it.
  p If your partner cringes, re-write it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con5.png" alt="Andie's CEO email").img__100