extends ../base

block content
  //- p No need for an intro. Time is finite. Let's get cracking:
  h2.under 1) Use value-based messaging
  //- p Ask yourself “What do my customers actually care about?”. Then write your landing page to answer this question.
  p Talk less about your!{' '}
    span.bold product!{' '}
    |!{' '}and more about the!{' '}
    span.bold value
    |!{' '}your product brings. People don’t want a!{' '}
    span.bold better toothbrush
    | . They want a!{' '}
    span.bold brighter smile
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc1.jpg" alt="Podia's Intercom message").img__80
  h2.under 2) Break long blocks of text into appetising chunks.
  p Better converting copy is as much about about!{' '}
    span.bold repackaging
    |!{' '}as it is!{' '}
    span.bold rewriting
    | .
  p The 2019 human mind prefers “3 simple steps” to “two long paragraphs”:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc2.png" alt="Podia's Intercom message").img__80
  h2.under 3) Get specific
  p Landing page copy is full of unfalsifiable, blanket claims: “more, easier, faster ...”
  p If you want to stand out!{' '}
    span.bold get specific
    | . You can’t bullshit specifics:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc5.png" alt="Podia's Intercom message").img__85
  h2.under 4) Call out the type of customer you serve
  p People pay attention when they know something is specifically!{' '}
    span.bold for them
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc6.png" alt="Podia's Intercom message").img__70
  p.inwardSpeech “What? Loads of authors are using this. I’m an author. Maybe I should be too ...”
  h2.under 5) Think “Call-to-value” not “Call-to-action”
  p Before someone decides to buy you want to remind them of!{' '}
    span.bold the value
    |!{' '}of doing so. “Create Your Website” is more appetising than “Sign up now”:
  //- p The!{' '}
  //-   span.bold value
  //-   |!{' '}of “Create Your Website” is more appetising than the!{' '}
  //-   span.bold action
  //-   |!{' '}of “Sign up now”.
  //- p Buttons which amplify!{' '}
  //-   span.bold “value”
  //-   |!{' '}over!{' '}
  //-   span.bold “action”
  //-   |!{' '}usually perform better:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc7.png" alt="Podia's Intercom message").img__70
  p *Note - Once a user has decided to buy you want to make the
    span.bold action
    | as clear as possible. You'll see companies open with a “Call-to-value” and close with a “Call-to-action”.
  h2.under 6) Use your customers voice
  p Your copy should read like your customer wrote it.
  p Compare the feature page of!{' '}
    a(href="") Etsy
    |!{' '}and!{' '}
    a(href="") Amazon Handmade
    |!{' '}(two competitors in the handcrafted e-commerce space):
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3a.png" alt="Podia's Intercom message").img__90
  //- p Their archetypal customer is independent, eccentric, and imaginative. Etsy’s voice reflects this. Amazon’s voice sounds like their accounts department:
  p Etsy's voice reflects their customers independence, creativity and imagination. Amazon’s voice sounds like their accounts department:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3b.png" alt="Podia's Intercom message").img__65
  //- p How do you use your customers voice? Talk to them a lot (they’ll end up writing it for you).
  h2 Summary
  p So there we go. In summary:
  p.list.list__top 1) Use value-based messaging
  p.list 2) Break long blocks of text into appetising chunks
  p.list 3) Get specific
  p.list 4) Call out the type of customer you serve
  p.list 5) Think “Call-to-value” not “Call-to-action”
  p.list 6) Use your customers voice
  p.list.list__bottom 7)
  h2 Thanks
  p Originality is non-existant. All these tips are stolen from copywriters superior to myself. Special thanks goes to!{' '}
    a(href="https://medium.com/@anniemaguire" target="_blank") Annie Maguire's blog
    |!{' '} where a lot of these ideas came from.
  //- p This article was written with the help of conversion copywriter!{' '}
  //-   a(href="https://anniemaguire.com/" target="_blank") Annie Maguire
  //-   | .