extends ../base

block content
  h2.under 1) Evo Entertainment cinema
  //- p Evo Entertainmen are the only cinema open in Texas. They converted their parking lot into a drive-in movie theatre.
  //- p And, since it opened a fortnight ago, every show has been sold out:
  p
    a(href="https://www.forbes.com/sites/jamos/2020/03/30/texas-cinemas-drive-in-is-a-blockbuster-opening-weekend-hit/#3db2affc5d6a" target="_blank") Evo Entertainment
    |!{' '}converted their parking lot into a drive-in movie theatre:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv1.jpg", alt="Evo Entertainment's drive in cinema").img__95
  h2.under 2) Joe Wicks
  p Fitness instructor,!{' '}
    a(href="https://www.youtube.com/user/thebodycoach1/videos" target="_blank") Joe Wicks
    | , launched “P.E. with Joe”. 30 minute workouts for kids. Every morning. Live on YouTube:
  //- p After his UK schools tour was cancelled, fitness instructor, Joe Wicks, launched “P.E. with Joe”. 30 minute workouts for kids. Every morning. Live on YouTube.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv2.png", alt="P.E. with Joe").img__95
  h2.under 3) Shake Shack
  //- p Shake Shack coupled “DIY burger kits” with a free cooking tutorial. Now anyone at home could recreate their legendary Shackburger:
  p
    a(href="https://www.shakeshack.co.uk/" target="_blank") Shake Shack!{' '}
    | launched “cook at home” burger kits with a free tutorial:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv3.jpg", alt="Shake Shack's Shackburger kits").img__95
  h2.under 4) El Che Steakhouse
  p
    a(href="https://elchechicago.com/butchershop" target="_blank") El Che Steakhouse
    |!{' '}opened a popup butchers shop:
  //- p All online with curbside pickup:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv4.png", alt="El Che Steakhouse's butcher shop").img__95
  h2.under 5) Lucky Devil Lounge
  p Portland strip club,!{' '}
    a(href="https://www.rollingstone.com/culture/culture-news/boober-eats-lucky-devil-lounge-strip-club-covid-19-coronavirus-quarantine-971544/" target="_blank") Lucky Devil
    | , opened food delivery service,!{' '}
    span Boober Eats:
    //- | . Pay $30, and a pair of dancers deliver to your door:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv5.jpg", alt="Boober Eats").img__95

  h2.under 6) Escape Mail
  p Mobile Escape took their escape room business postal, delivering escape room-esque puzzles to their customers doorsteps:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv6.jpg", alt="Mobile Escape launch Escape Mail").img__95
  h2.under 7) The SnapBar
  p
    a(href="https://keepyourcitysmiling.com/pages/about-us" target="_blank") The SnapBar
    |!{' '}are selling gift boxes full of products sourced from struggling local businesses:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv7.jpg", alt="Keep Your City Smiling Boxes").img__95
  h2.under 8) New Balance
  p New Balance switched production from shoes to masks:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv8.jpg", alt="New Balance Masks and Brewdog sanitiser").img__95
  h2.under 9) Brewdog
  p Brewdog launched!{' '}
    span.italic Lockdown Lager
    |, a beer that could be enjoyed from the shower. They also shipped 50,000 units of hand sanitiser to the NHS and other charities.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv8c.jpg", alt="New Balance Masks and Brewdog sanitiser").img__95