extends ../base

block content
  p Coming soon
  p I've partnered with!{' '}
    a(href="https://social.appsumo.com/wiu4i8" target="_blank") AppSumo
    |!{' '}to share some of the best marketing tools at discounted prices. From!{' '}
    a(href="https://social.appsumo.com/lj7iyz" target="_blank") social media analytics
    |!{' '}to tools which help!{' '}
    a(href="https://social.appsumo.com/iaughi" target="_blank") grow your email list
    |, there's something for everyone.