extends ../base

block content
  p Imagine you run an exec coaching program.
  p Here’s the sales email!{' '}
    a(href="https://www.linkedin.com/in/davegerhardt/" target="_blank") Dave
    |!{' '}would send.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/dave.png", alt="Dave Gerhardt's Sales Email").img__100
  //- p The goal is to get a reply. And the shorter the email, the more chance you have.
  //- p Let’s say someone replies,
  //- p.inwardSpeech Well, we used to. But the execs didn’t rate it so we stopped.
  //- p Then!{' '}
  //-   span.italic.bold you've got something to work with.
  //- p
  //-   span.bold 100x better
  //-   | !{' '}than a hit and hope template asking for a “quick call”.
  //- p The goal is to get a reply. Because that!{' '}
  //-   span.italic gives you something to work with.
  //- p So how do you get a reply?
  //- p
  //-   span.italic Keep it short. And ask a question.
  //- p
  //-   span.bold 100x better
  //-   | !{' '}than a hit and hope template asking for a “quick call”.
  //-
  //- p The goal is to get a reply. That's it.
  //- p Just!{' '}
  //-   span.bold 17 words
  //-   | .
  p The goal is simple.!{' '}
    span.italic.bold Get a reply
    | .
  p A reply!{' '}
    span gives you something to work with.
  p So how does Dave do that?
  p
    span.italic Keeps it short. Asks a question.
  p Much better
    | !{' '}than a hit and hope template asking for a “quick call”.
  //-
  //- p The goal is to get a reply. That's it.
  //- p A reply!{' '}
  //-   span.italic gives you something to work with.
  //- p So how do you do that?
  //- p
  //-   span.italic Keep it short. Ask a question.
  //- p Much better
  //-   | !{' '}than a hit and hope template asking for a “quick call”.