extends ../base

block content
  p For those of you who don’t know,&nbsp;
    a(href="https://news.ycombinator.com/" target="_blank") Hacker News
    |&nbsp;is a news website focusing on computer science and entrepreneurship. If you’re on the hunt for some geeky landing page traffic there is few places you’d rather be on the front page of.
  p Last month my story about&nbsp;
    a(href="https://marketingexamples.com/direct/how-nike-sold-first-shoes").italic How Nike sold its first shoes
    |&nbsp;made it and the traffic spike is … pretty ridiculous.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa1.png", alt="Tweet Photo Before and After").img__80
  p In spite of this success, I’ll be the first to admit that I am pretty clueless when it comes to Hacker News. I throw up my blog posts, cross my fingers, and nine times out of ten times end up feeling dejected.
  p So in putting together this case study I needed to learn from the experts.
  h2 Introducing Adriaan Van Rossum
  p
    a(href="https://twitter.com/adriaanvrossum") Adriaan
    |!{' '}runs a privacy focused analytics platform called!{' '}
    a(href="https://simpleanalytics.com/?ref=marketingexamples.com" target="_blank") Simple Analytics
    | .
  p Since he launched 9 months ago Hacker News has been the&nbsp;
    span.bold number one
    |&nbsp;source of traffic to both his main site and blog. We’re talking more than&nbsp;
    span.bold 30,000
    |&nbsp;total visits. A staggering&nbsp;
    span.bold 60%
    |&nbsp;of total traffic.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa2.png", alt="Tweet Photo Before and After").img__75
  p How is he driving so much traffic from Hacker News?
  p Well, fortunately all Simple Analytics traffic is!{' '}
    a(href="https://simpleanalytics.com/simpleanalytics.com/?start=2018-09-14&end=2019-07-27" target="_blank") open
    |!{' '}so it was possible to compare traffic spikes with Adriaan’s Hacker News activity and!{' '}
    span.bold figure it out
    | .
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa3.png", alt="Tweet Photo Before and After").img__100
  p What follows is everything I've learnt from Adriaan condensed into five simple lessons.
  h2 Lesson 1 - How to write a Hacker News title
  //- p Traditionally, marketers are rewarded for writing titles which lure you into clicking them. On Hacker News, it's the complete opposite. In fact, the more you try and stand out the more you guarantee that you will be ignored.
  p Traditionally, marketers are rewarded for writing titles that lure the Homer Simpson archetype into clicking. On Hacker News, you are rewarded for writing titles that lure the Professor Frink archetype into clicking.
  p Here are a couple of Adriaan's titles:
  p.list.italic.list__top 1. I made a privacy-first minimalist Google Analytics - !{' '}
    a(href="https://news.ycombinator.com/item?id=19526521") 968 points
  p.list.list__bottom 2. We moved our servers to Iceland - !{' '}
    a(href="https://news.ycombinator.com/item?id=19526521") 241 points
  p They are matter-of-fact, unemotional and understated. And that’s what works best.
  p Arguably the most famous Hacker News post of all time is titled!{' '}
    a(href="" class="italic") I sell onions on the internet
    | . If it was titled,!{' '}
    span.italic You won’t believe these 5 crazy reasons why I sell onions online
    |!{' '}I'm not sure it would have got the same attention. You want to bleed out all the superfluousness.
  h2 Lesson 2 - Comments are underappeciated
  p On Hacker News, comments:!{' '}
  p.list.list__top a) Can get!{' '}
    span.bold several thousands
    |!{' '} of views.!{' '}
  p.list.list__bottom b) Allow!{' '}
    span.bold clickable links
    |!{' '} to be included (unlike text posts).
  p This makes them a great alcove for self-promotion. Adriann's reply to someone who made a simple log-based analytics tool is the textbook example:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa5.png", alt="Tweet Photo Before and After").img__95
  p To summarise the steps:
  p.list.list__top 1. Lookout for a post on the front page relevant to your domain
  p.list 2. Offers some thoughtful advice
  p.list.list__bottom 3. Subtly drops in your own product
  p The result:!{' '}
    span.bold 590
    |!{' '}Hacker News users check out his website.
  h2 Lesson 3 - Questions are underappeciated
  p Just like writing!{' '}
    span.bold thoughtful comments
    |!{' '}is an under-appreciated form of marketing, so is asking!{' '}
    span.bold thoughtful questions
    | .
  p Questions work because they're an easy way to engage people. Again, Adriaan provides the textbook example.
  p He asks what questions he should put to Facebook at an upcoming privacy roundtable. This title gets people's attention, and then in the body of the post he drops a subtle link to Simple Analytics and his twitter handle.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa4.png", alt="Tweet Photo Before and After").img__95
  p The result:!{' '}
    span.bold 500
    |!{' '}Hacker News users on his website and!{' '}
    span.bold 100
    |!{' '}more twitter followers.
  h2 Lesson 4 - Create Relevancy
  p I asked Adriaan about his successes asking questions and posting comments. He told me the key was in making sure anything you link is !{' '}
    span.bold relevant
    |. And if it's not relevant well then ...!{' '}
    span.italic you make it relevant
    | .
  p For example, you can't just drop a link to your website or Twitter handle out the blue. But if you say,!{' '}
    span.italic I was invited me because I've been heavily critical of them on Twitter
    |, you!{' '}
    span.bold create relevancy
    | . And then you can link to your hearts content.
  p Just remember to link the HN way with [1] [2]. This shows you know the platform. It also puts your links in a more prominent position.
  h2 Lesson 3 - Launch tips
  p There’s close to!{' '}
    span.bold 1000
    |!{' '}submissions every day on Hacker News. That means no matter how amazing your creation there’s a good chance it will go completely unnoticed.
  p My friend!{' '}
    a(href="https://github.com/mfbx9da4") David
    |!{' '}learned this the hard way last month. He built, “
    a(href="https://www.crowdform.co.uk/hntv/live" target="_blank") A 24/7 TV station
    |&nbsp;made up from the best Hacker News videos”. We both thought it was a shoe-in with the Hacker News audience. It didn’t get one single upvote.
  p How can you turn the odds in your favour? Well, Adriaan let me in on two tips:
  p.list.list__top 1)!{' '}
    span.italic Always post to the!{' '}
      a(href="https://news.ycombinator.com/show" target="_blank" class="bold") Show HN
      |!{' '}page. The lower frequency of posts means you will have more chance of being seen.
  p.list.list__top 2)!{' '}
    span.italic Post a good first comment. For example Adriaan often show a!{' '}
      span.bold technical hurdle
      |!{' '}and explains how he overcame it (HN loves that).
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa9.png", alt="Tweet Photo Before and After").img__85
  //- h2 Lesson 4 - Sharing my post
  p.inwardSpeech But, can’t I just share my post with friends for them to upvote?
  p Err, no! Hacker News isn’t like Product Hunt:
  p.list.list__top 1) Upvotes!{' '}
    span.bold don't count
    |!{' '}from anyone who arrives at your post via direct link
  p.list.list__bottom 2) It’s!{' '}
    span.bold 1 upvote
    |!{' '}per IP address
  p This means that people have to find and upvote your post!{' '}
    span.bold organically
    | .
  p What I’ve noticed some people do is, after they post, they put out a tweet directing their followers to the!{' '}
    a(href="https://news.ycombinator.com/newest" target="_blank" class="italic") newest
    |!{' '}page. This gives people an easy way to find their post “organically”.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa6.jpg", alt="Tweet Photo Before and After").img__95
  p This might only buy one or two upvotes. But that's often all it takes to ignite the spark.
  p Notice how in all the above examples the posters are!{' '}
    span.bold encouraging discussion
    |. Explicitly asking for upvotes is!{' '}
    span.bold 100% banned
    |!
  h2 Power of HN
  p The power of Hacker News is it provides the opportunity for massive leverage. Choose the correct title and your startup is projected to thousands. Write the right comment and you can make 20 sales.
  p And it's that disconnect between your inputs and your outputs which make it such a good opportunity for a marketer.
  h2 Summary
  p So there we have it. 9 months.
  h2 Support
  p If you liked the article sharing the thread on Twitter is really appreciated. Thank You!
  blockquote.twitter-tweet(data-dnt='true', data-theme='light', data-link-color='#4742DE')
    p(lang='en', dir='ltr')
      | 🔥How Fortnite changed the way video games were marketed
      br
      br
      | THREAD ...
    | — Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1147175729853022209?ref_src=twsrc%5Etfw') July 5, 2019
  script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
  p I'd like to thank&nbsp;
    a(href="https://emailoctopus.com/?ref=marketingexamples" target="_blank") EmailOctopus
    |&nbsp;for sponsoring the site. They provide email marketing for a&nbsp;
    span.bold fraction of the price
    |&nbsp;of MailChimp. Any questions, or help getting set up feel free to!{' '}
    a(href="mailto:harry@marketingexamples.com" target="_blank") email me.
