extends ../base

block content
  p 30 years ago “viral” was reserved for companies with Superbowl budgets. Today, all you need is a phone and an idea:
  h2.under 1) Furkids Kitty Kommercial — 6M views
  //- p
  //-   a(href="") Furkids
  //-   |!{' '}is an nonprofit pet shelter in Georgia. Volunteer, Helen Preston, invited her brother Paul to come down a film a promo video.
  //- p Paul improvised with the cats for 30 minutes, drove home and edited the video the same evening. The result was this masterpiece:
  p Furkids volunteer, Helen, invited her brother Paul to the pet shelter to film a promo video. Paul improvised with the cats for 30 minutes. The result was this masterpiece:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/-F_8qaQ3DD0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  //- p The video was posted to!{' '}
  //-   a(href="https://www.reddit.com/r/videos/comments/5lxav1/i_feel_our_local_animal_shelter_deserves_credit/") Reddit
  //-   |. It hit the front page and overnight was all over!{' '}
  //-   a(href="https://www.huffingtonpost.co.uk/entry/animal-shelter-funny-cat-commercial_n_586bc6bce4b0de3a08f98179?ri18n=true") mainstream media
  //-   | .
  h2.under 3) Our Blades Are F***ing Great — 27M views
  //- p The OG low-budget viral video cost $4,500 and was shot in 7 hours:
  //- p Dollar Shave Club delayed the announcement of their seed round to time it with their videos launch.
  p Dollar Shave Club raised a seed round a month before shooting the video. Cleverly, they delayed the announcement.
  p This meant when!{' '}
    a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/") startup media
    |!{' '}wrote about their funding, they all linked to the launch video!{' '}
    span.bold which came out the same day
    | :
  //- p Dollar Shave Club raised a seed round a month before the video was shot. Cleverly, they delayed the announcement to coincide with the videos launch.
  //- p This meant when!{' '}
  //-   //- a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/") Techcrunch et al.
  //-   a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/") startup media
  //-   |!{' '}wrote about Dollar Shave Club’s funding, they all linked to the launch video which came out the same day. Smart.
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/ZUG9qYTJMsI' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 3) Say NO to Crack, Say YES! to Roller Skating — 13M views
  //- p Comedy duo!{' '}
  //-   span.italic Rhett & Link
  //-   |!{' '}offered to make a free commercial for local roller skating business,!{' '}
  //-   span.italic Roller Kingdom
  //-   | :
  p How do you promote a roller skating park?<br>By pitching it as the solution to local gang violence. Duh!
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/t0LSkX46dS4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  //- p The video went viral on!{' '}
  //-   a(href="https://twitter.com/8ALTON8/status/1084064178027917312" target="blank") Twitter
  //-   |!{' '}after being shared by Complex News and Andy Richter.
  h2.under 4) Alamo's angry voicemail — 5M views
  p How do you handle an angry voicemail?<br>Turn it into an ad and play it before every movie in all your theatres:
  p Alamo Drafthouse is a cinema chain in America. Back in 2011 a customer left an angry voicemail after getting kicked out for using their phone.
  p Most companies would delete the voicemail. Alamo's turned it into an ad which they played before every movie in all their theatres:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/1L3eeC2lJZs' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  //- p
  //-   span.bold How it went viral:
  //-   |!{' '}Alamo started playing the video before every movie in all their theatres.
  //- p They started playing the ad  before every movie in all their theatres.
  //-   a(href="https://www.youtube.com/watch?v=tRuLRuBTy8w") ABC and CNN
  //-   | .
  h2.under 5) Burglers just want Tacos — 5M views
  //- p A local Taco restaurant turns a burglary into a story about the thieves just wanting their delicious tacos:
  p On the 16th December 2015, Frijoles & Frescas Tacos gets robbed.
  p The next day store manager, Greg Carlson, adds captions turning the burglary into a story about the thieves just wanting tacos:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/kzdv4FUHqP8' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  //- p The video hit the front page of!{' '}
  //-   a(href="https://www.reddit.com/r/videos/comments/3xwp1q/taco_shop_near_my_house_got_robbed_last_week_they/" target="_blank") Reddit
  //-   |!{' '}and the TV interviews rolled in.
  h2.under 6) Flea Market Montgomery — 12M views
  //- p If you're a born entertainer. The internet makes it
  //- p Everyone's got a friend who's impossible to dislike.
  p On Monday they laugh at you.<br>On Tuesday they see you on!{' '}
    span.italic Ellen
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/FJ3oHpup-pk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
