extends ../base

block content
  p 30 years ago “viral” was reserved for companies with Superbowl budgets. Today, all you need is a phone and an idea:
  h2.under 1) Furkids Kitty Kommercial — 6M views
  //- p
  //-   a(href="") Furkids
  //-   |!{' '}is an nonprofit pet shelter in Georgia. Volunteer, Helen Preston, invited her brother Paul to come down a film a promo video.
  //- p Paul improvised with the cats for 30 minutes, drove home and edited the video the same evening. The result was this masterpiece:
  p Furkids volunteer, Helen, invited her brother Paul down to the pet shelter to film a promo video. Paul improvised with the cats for 30 minutes and came up with this masterpiece:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/-F_8qaQ3DD0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p The video was uploaded to Reddit.
    |!{' '} Furkids uploaded the video to their Facebook page to a handful of likes. A week later it was reposted to!{' '}
    a(href="https://www.reddit.com/r/videos/comments/5lxav1/i_feel_our_local_animal_shelter_deserves_credit/") Reddit
    |!{' '}where it hit the front page.
  p Mainstream media cherrypick from Reddit and overnight the Furkids commercial was all over national!{' '}
    a(href="") TV
    |,!{' '}
    a(href="") radio
    |, and!{' '}
    a(href="https://www.huffingtonpost.co.uk/entry/animal-shelter-funny-cat-commercial_n_586bc6bce4b0de3a08f98179?ri18n=true") press
    | .
  //- p The result was a massive uptake in donations, gifts, and pet adoption applications.
  h2.under 3) Dollar Shave Club — 27M views
  p You knew it was coming. The OG of low-budget viral videos cost just $4,500 and was shot in 7 hours.
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/ZUG9qYTJMsI' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p
    span.bold How it went viral:
    |!{' '}Dollar Shave club raised a seed round a month before shooting the video. Cleverly, they delayed the announcement to time it with the videos launch.
  p This meant when!{' '}
    //- a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/") Techcrunch et al.
    a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/") startup media
    |!{' '}wrote about Dollar Shave Club’s funding, they all linked to the launch video which had come out on the same day. Smart.
  h2.under 3) Roller Kingdom — 13M views
  p Comedy duo!{' '}
    span.italic Rhett & Link
    |!{' '}offered to make a free commercial for local roller skating business,!{' '}
    span.italic Roller Kingdom
    | :
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/t0LSkX46dS4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p
    span.bold How it went viral:
    |!{' '}Got initial momentum after being uploaded to Rhett and Links's YouTube channel.
  p Properly exploded last year, after a!{' '}
    a(href="https://twitter.com/8ALTON8/status/1084064178027917312" target="_blank") viral tweet
    | , tweet was shared by Complex News and Andy Richter.
  h2.under 4) Angry Voicemail — 5M views
  p Alamo Drafthouse is a cinema chain in America. Back in 2011 a customer left an angry voicemail after getting kicked out for using their phone.
  //- p Alamo turned the voicemail into a brilliant ad which they started playing before every movie in all their theatres.
  p Most companies would delete the voicemail. Alamo's turned it into an ad which they played before every movie in all their theatres:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/1L3eeC2lJZs' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  //- p
  //-   span.bold How it went viral:
  //-   |!{' '}Alamo started playing the video before every movie in all their theatres.
  p Movie go-ers found it hilarious and online media picked up on it. Before long it was being talked about on ABC and CNN!{' '}
  //- p They started playing the ad  before every movie in all their theatres.
  //-   a(href="https://www.youtube.com/watch?v=tRuLRuBTy8w") ABC and CNN
  //-   | .
  h2.under 5) Burglers just want Tacos — 5M views
  p On the 16th December 2015, Frijoles & Frescas Tacos gets robbed. The next day, store-owner, Greg Carlson, releases the security footage. Except he adds captions which turn the burglary into a story about the thieves just wanting tacos:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/kzdv4FUHqP8' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p
    span.bold How it went viral:
    |!{' '}So
  h2.under 6) Flea Market Montgomery — 12M views
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/FJ3oHpup-pk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p
    span.bold How it went viral:
    |!{' '}So