extends ../base

block content
  p I don’t need to tell you that GIFs have taken over. Each day!{' '}
    span.bold 7 billion
    |!{' '}are “served” to!{' '}
    span.bold 500 million
    |!{' '}people worldwide.
  p They all come from the same place: Giphy. Their!{' '}
    a(href="https://developers.giphy.com/") API
    |!{' '}powers pretty much every messaging app out there: Facebook, Instagram, Snap, Tik Tok, etc.
  p This has opened up quite a novel way for brands to get exposure. All you need is a free!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019977992-Apply-For-A-Brand-Channel") Giphy brand channel
    | . Then any GIF (or sticker) you upload is publically available on Giphy's search engine. And nothing is stopping you slipping in your logo, product or even a URL.
  p For example, if you open up Facebook Messenger and search for a Premier League footballer (e.g. - “De Gea”) you'll (most likely) see the BT Sport logo in the top right-hand corner. A reminder that they own the rights to Premier League matches:
  //- p For example, at the start of this year's football season BT Sport began uploading!{' '}
  //-   a(href="https://giphy.com/BTSport/") GIFs
  //-   |!{' '}of all Premier League players (embedding their own logo in the top right).
  //- p Now if you search for any player (e.g. - “De Gea”) you're reminded that BT have the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp1.png" class="img__70" playsinline="playsinline" controls)
  h2 Karla and Co.
  p Unlike Google Search which is dominated by big companies and backlinks, Giphy search is more of a level playing field.
  p For instance,!{' '}
    a(href="") Karla and Co.
    | , a small, home-run, Latina clothing brand pull in!{' '}
    span.bold 100,000
    |!{' '}views each day from their!{' '}
    span.bold 16
    |!{' '}sticker uploads:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p The key is creating GIFs which both!{' '}
    span.bold match what your audience might search for
    |!{' '}and!{' '}
    span.bold do not have much competition
    | . You then tag each GIF with the relevant keywords once you upload to Giphy.
  p For example, one of Karla's stickers is of the Latin American phrase “Ay Mama” (500,000 total views). It's the only sticker on Giphy with this tag so anyone searching just sees their sticker (and crucially their URL):
  //- p The key is creating GIFs which match!{' '}
  //-   span.bold what your audience might be searching for
  //-   | . You then tag each GIF with the relevant keywords once you upload to Giphy.
  //- p For example, Karla and Co’s choose phrases like “Latina vibes” (150k views) or “Ay Mama” (500k views) and, of course, add their URL for brand recognition):
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" controls)
  //- h2 Bigger brands
  //- p Bigger brands are getting in on the action as well. Let’s look at a few more examples:
  h2 Who should be doing this?
  p Currently, consumer brands targeting a younger demographic are the ones jumping on this strategy e.g.!{' '}
    a(href="https://giphy.com/prettylittlething") Starbucks
    | ,!{' '}
    a(href="https://giphy.com/angrybirds") Think Protein
    |!{' '}:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy1a.jpg" alt="Marketing Examples Product Hunt").img__95
  p But that's also where most of the competition is at. If you’re in the tech world!{' '}
    span.bold no one is doing this
    | .
  p Sooner or later coworkers are going to be sending “I ❤️Javascript” GIF’s to each other on Slack and the brands which tag those keywords first will get some nice exposure.
  //- p *Note - I was planning on doing this myself. I had a made a bunch of marketing themed GIF’s with the my URL embedded. But I was told by Giphy that “brand channels” must produce original content. So I turned the idea into Startup GIF’s instead.
  h2 Stickers or GIFs?
  p One last thing to consider is whether to create!{' '}
    a(href="") GIFs
    |!{' '}or!{' '}
    a(href="") stickers
  p GIFs have solid backgrounds. Stickers have transparent backgrounds. And Giphy has separate APIs for each which different apps plug into.
  p Facebook, Twitter, and WhatsApp use the GIF API. Instagram, TikTok, and Snap use the sticker API. So your decision to create GIFs or stickers depends on what platform your audience hangs out on.
  p For example,!{' '}
    a(href="") Tennis TV's
    |!{' '}audience exists on Twitter and WhatsApp. So they make GIFs.!{' '}
    a(href="") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap. So they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  h2 Summary
  p To summarise the steps needed to make this work:
  p.list.list__top 1. Create GIF’s which match what your audience might search for
  p.list 2. Remember to add your logo, product or URL for brand awareness
  p.list 3. Upload to Giphy and tag them with relevant keywords
  p.list 4. Once you have made!{' '}
    span.bold 5 GIF’s
    |!{' '}you can apply for a brand channel
  p.list.list__bottom 5. Once you have a brand channel your GIF’s are available everywhere
  p Oh, and finally, to be accepted as a brand channel the GIFs you make must be!{' '}
    span.bold original content
    | . I learned this the hard way after all my!{' '}
    a(href="") startup GIF's
    |!{' '}were rejected.
  //- p *Note - I was planning on doing this myself. I had a made a bunch of marketing themed GIF’s with the my URL embedded. But I was told by Giphy that “brand channels” must produce original content. So I turned the idea into Startup GIF’s instead.