extends ../base

block content
  p I don’t need to tell you that GIF’s have taken over. Each day!{' '}
    span.bold 7 billion
    |!{' '}are “served” to!{' '}
    span.bold 500 million
    |!{' '}people worldwide.
  p They all come from the same place: Giphy. Their!{' '}
    a(href="https://developers.giphy.com/") API
    |!{' '}powers pretty much every messaging app out there: Facebook, Instagram, Snap, Tik Tok, etc.
  p This has opened up quite a novel way for brands to get exposure. Because if you get your GIF (or sticker) on Giphy you get it everywhere. And there's nothing stopping you overlaying the GIF with your own logo, product or even a URL.
  //- p For example everytime someone “pumpkin spice” they see the Starbucks logo:
  p For example, if you open up Facebook Messenger and search for a Premier League footballer (e.g. - “De Gea”) you're shown the BT Sport logo, reminding you that they own the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" class="img__70" playsinline="playsinline" controls)
  //- p Let's run through exactly how this works:
  h2 Karla and Co.
  p Unlike Google Search which is dominated by big companies and backlinks, Giphy search is more of a level playing field.
  p Karla and Co. is a small, Latina clothing brand ran by Karla and her husband Brian. Since August they’ve uploaded!{' '}
    span.bold 16
    | !{' '}stickers to Giphy which pull in!{' '}
    span.bold 100,000
    |!{' '}views each day:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p The key is creating GIF's which are both:
  p.list.list__top Relevant to what your audience might search for
  p.list.list__bottom Do not have much competition
  p You then tag them with the relevant keywords once you upload to Giphy.
  p For example, one of Karla and Co’s stickers reads “Ay Mama”, a well known Latin American phrase. There is no other sticker on Giphy with the same tag so anyone searching just sees their GIF.
  p And, of course, they drop in their web address to benefit from the exposure. Let's see it in action:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" controls)
  p You can simulate search volume by looking. And you can see competition by directly typing the keywords into Giphy.
  //- h2 Bigger brands
  //- p Bigger brands are getting in on the action as well. Let’s look at a few more examples:
  //- p At the start of this year's football season BT Sport began uploading!{' '}
  //-   a(href="https://giphy.com/BTSport/") GIF's
  //-   |!{' '}of all Premier League players (embedding their own logo in the top right).
  //- p Now if you search for any player (e.g. - “De Gea”) you're reminded that BT have the rights to Premier League matches:
  //- video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" class="img__70" playsinline="playsinline" controls)
  h2 Who should be doing this?
  p Currently, consumer brands targeting a younger demographic are the ones jumping on this strategy (e.g.!{' '}
    a(href="https://giphy.com/prettylittlething") Starbucks
    | ,!{' '}
    a(href="https://giphy.com/angrybirds") Starbucks
    | ,!{' '}
    a(href="https://giphy.com/liljon") Lil Jon
    |!{' '}etc .):
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy1a.jpg" alt="Marketing Examples Product Hunt").img__85
  p But that's also where most of the competition is at. If you’re in the tech world, for example,!{' '}
    span.bold literally no one is doing this
    | .
  p Sooner or later coworkers are going to be sending “I ❤️Javascript” GIF’s to each other on Slack and the brands which tag those keywords first will get some nice exposure.
  //- p *Note - I was planning on doing this myself. I had a made a bunch of marketing themed GIF’s with the my URL embedded. But I was told by Giphy that “brand channels” must produce original content. So I turned the idea into Startup GIF’s instead.
  h2 Stickers or GIF's?
  p
    a(href="") GIF's
    |!{' '}have solid backgrounds.!{' '}
    a(href="") Stickers
    |!{' '}have transparent backgrounds. And Giphy has different API's for each which different apps plug into.
  p Facebook, Twitter and Whats App use the GIF API. Instagram, TikTok and Snap use the sticker API. So your decision to create GIF's or stickers depends on what platform your audience hangs out on.
  //- p.list.list__top • Facebook - GIF API
  //- p.list • Whats App - GIF API
  //- p.list • Instagram - Sticker API
  //- p.list.list__bottom • TikTok - Sticker API
  p For example,!{' '}
    a(href="") Tennis TV's
    |!{' '}audience exists on Twitter and Whats App so they make GIF's.!{' '}
    a(href="") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap so they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  h2 Summary
  p To summarise the steps to make this work:
  p.list.list__top 1. Create GIF’s relevant to what your target audience might search for
  p.list 2. Tag them with relevant keywords
  p.list 3. Remember to add logo / url back to your product
  p.list 4. Once you have 5 GIF’s you can apply for a brand account
  p.list.list__bottom 5. Once you have have a brand account your GIF’s go public on Giphy’s API