extends ../base

block content
  p Giphy serves!{' '}
    span.bold 7 billion
    |!{' '}GIFs and stickers to!{' '}
    span.bold 500 million
    |!{' '}people every single day. Their API powers pretty much every messaging app out there: Facebook, Instagram, Snap, Tik Tok, etc.
  p This has opened up quite a novel way for brands to get exposure. All you need is a free!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019977992-Apply-For-A-Brand-Channel") Giphy brand channel
    | . Then any GIF or sticker you upload is publically available on Giphy's search engine. And nothing is stopping you slipping in your logo, product or even URL.
  p Let's run through an example
  h2 Karla and Co.
  p Karla and Co. is a small, Latina clothing brand ran by Karla and her husband Brian. Since August they’ve uploaded 16 stickers to Giphy pulling in around 100,000 views each day:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p The first step is creating GIFs which match what your audience might search for. For Karla it's phrases like “Latina vibes” or “Ay Mama”. Next, you slip in their URL and upload to Giphy tagging relevant keywords.
  p Once you have 5 GIFs you can apply for a brand channel and then your GIFs are publicly available and can be found on any messaging platform:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" controls)
  //- p The key is creating GIFs which both!{' '}
  //-   span.bold match what your audience might search for
  //-   |!{' '}and!{' '}
  //-   span.bold do not have much competition
  //-   | . You then tag each GIF with the relevant keywords once you upload to Giphy.
  //- p For example, one of Karla's stickers is of the Latin American phrase “Ay Mama” (500,000 total views). It's the only sticker on Giphy with this tag so anyone searching just sees their sticker (and crucially their URL):
  //- p The key is creating GIFs which match!{' '}
  //-   span.bold what your audience might be searching for
  //-   | . You then tag each GIF with the relevant keywords once you upload to Giphy.
  //- p For example, Karla and Co’s choose phrases like “Latina vibes” (150k views) or “Ay Mama” (500k views) and, of course, add their URL for brand recognition):
  p Bigger brands are also starting to jump on this strategy.
  h2 BT Sport
  p At the start of this year's football season!{' '}
    span.bold BT Sport
    |!{' '}began uploading!{' '}
    a(href="https://giphy.com/BTSport/") GIFs
    |!{' '}of all Premier League players (embedding their own logo in the top right).
  p Now if you search for any player (e.g. - “De Gea”) you're reminded that BT have the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketingNicole Passat/bb1.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp1.png" class="img__70" playsinline="playsinline" controls)
  h2 Starbucks
  p
    span.bold Starbucks
    |!{' '}domination of the!{' '}
    a(href="") Pumpkin Spice Latte
    |!{' '}search term alone pulls in more than 1M+ daily views.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy1a.jpg" alt="Marketing Examples Product Hunt").img__95
  //- p Search for a Premier League footballer (e.g. - “De Gea”) and you're reminded that BT Sport owns the rights to Premier League matches:
  h2 How do I execute this?
  p The first thing to consider is whether to create
    a(href="") GIFs
    |!{' '}or!{' '}
    a(href="") Stickers
    |!{' '}. Stickers are transparent. GIFs aren't. And Giphy has separate APIs for each which different apps plug into.
  p Facebook, Twitter, and WhatsApp use the GIF API. Instagram, TikTok, and Snap use the sticker API. So your decision depends on what platform your audience hangs out on.
  p For example,!{' '}
    a(href="") Tennis TV's
    |!{' '}audience exists on Twitter and WhatsApp. So they make GIFs.!{' '}
    a(href="") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap. So they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  p You also want to think carefully about what sort of GIFs and stickers to make. You're looking for the golden combination of!{' '}
    span.bold high search volume
    |!{' '}and!{' '}
    span.bold little competition.
  p Instagram hashtag numbers give an rough idea of search volume. And you can judge competition by typing the keyword straight into Giphy. For example, “Ay Mama” with good numbers on Instagram and no competition on Giphy made perfect sense for Karla and Co.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy7.png" alt="Marketing Examples Product Hunt").img__95
  h2 Summary
  p To summarise the steps needed to make this work:
  p.list.list__top 1. Create GIFs which match what your audience might search for
  p.list 2. Remember to add your logo, product or URL for brand awareness
  p.list 3. Upload to Giphy and tag them with relevant keywords
  p.list 4. Once you have made!{' '}
    span.bold 5 GIFs
    |!{' '}you can apply for a brand channel
  p.list.list__bottom 5. Once you have a brand channel your GIFs are available everywhere
  p Oh, and finally, to be accepted as a brand channel the GIFs you make must be!{' '}
    span.bold original content
    | . I learned this the hard way after all my!{' '}
    a(href="") startup GIF's
    |!{' '}were rejected.
  //- p *Note - I was planning on doing this myself. I had a made a bunch of marketing themed GIFs with the my URL embedded. But I was told by Giphy that “brand channels” must produce original content. So I turned the idea into Startup GIFs instead.