extends ../base

block content
  p Giphy serves!{' '}
    span.bold 7 billion
    |!{' '}GIFs and stickers to!{' '}
    span.bold 500 million
    |!{' '}people every single day. Their API powers pretty much every messaging app out there: Facebook, Twitter, Instagram, TikTok etc .
  p This has opened up a novel way for brands to get exposure. All you need is a!{' '}
    a(href="") Giphy brand channel
    | . Then any GIF you upload is publically available on Giphy's search engine. And there's nothing stopping you slipping in your logo, product, or even URL.
  p For example, if you open up Facebook Messenger and search for a Premier League footballer you'll see the BT Sport logo in the top right-hand corner. A reminder that they own the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp1.png" class="img__70" playsinline="playsinline" controls)
  h2 Levelling the playing field
  p While Google Search is dominated by big companies and backlinks, Giphy search is more of a level playing field.
  p Take!{' '}
    a(href="") Karla and Co.
    |, a home-run, Latina clothing brand. They have no real presence on Google. But on Giphy they can pull in!{' '}
    span.bold 100,000
    |!{' '}views each day from just!{' '}
    span.bold 16
    |!{' '}sticker uploads:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p Firstly, they create GIFs which match what thier audience might search for. Phrases such as “Latina vibes” or “Ay Mama”.
  p Then, they apply for a brand channel and their GIFs are publicly available and can be found on any messaging platform:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" controls)
  //- h2 Step 2 - GIF creation
  //- p The key is creating GIFs which:
  //- p.list.list__top 1) Match what your audience might search for
  //- p.list 2) Have good search volume
  //- p.list.list__bottom 3) Do not have much competition
  //- p Instagram hashtag numbers give an rough idea of search volume. And you can judge competition by typing the keyword straight into Giphy.
  //- p For example, one of Karla's most popular stickers is the Latin American phrase “Ay Mama” (500k total views). This isn't surprising. It has good search volume and no competitor GIFs.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy7.png" alt="Marketing Examples Product Hunt").img__85
  h2 Execution
  p One final consideration is whether to make GIFs or stickers.
  p
    a(href="") GIFs
    |!{' '}have solid backgrounds.!{' '}
    a(href="") Stickers
    |!{' '}have transparent backgrounds. And Giphy has separate APIs for each which different apps plug into.
  p Facebook, Twitter, and WhatsApp use the GIF API. Instagram, TikTok, and Snap use the sticker API. So your decision depends on what platform your audience hangs out on.
  p For example,!{' '}
    a(href="") Tennis TV's
    |!{' '}audience exists on Twitter and WhatsApp. So they make GIFs.!{' '}
    a(href="") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap. So they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  h2 How to tag
  p Tagging your GIFs is ult
  p You're looking for the golden combination of!{' '}
    span.bold high search volume
    |!{' '}and!{' '}
    span.bold little competition.
  p Instagram hashtag numbers give an rough idea of search volume. And you can judge competition by typing the keyword straight into Giphy. For example, “Ay Mama” with good numbers on Instagram and no competition on Giphy made perfect sense for Karla and Co.
  h2 In Summary
  p.list.list__top 1) Create GIFs which match what your audience might search for
  p.list 2) Add your logo, product, or URL
  p.list 3) Upload to Giphy and tag them with relevant keywords
  p.list 4) Make!{' '}
    span.bold 5 GIFs
    |. Then you can apply for a brand channel.
  p This last step is crucial. Only with a brand channel are your GIFs publically searchable. Oh, and to be accepted the GIFs you make must be!{' '}
    span.bold original content
    | . I learned this the hard way after all my!{' '}
    a(href="") Startup GIF's
    |!{' '}were rejected.
  //- h2 Step 1 - Stickers or GIFs
  //- p Giphy has separate search APIs for stickers and GIFs which different apps plug into. So any decision to create GIFs or stickers depends on what platform your audience hangs out on.
  //- p As a fashion brand Karla's audience lives on Instagram which is powered by the sticker API. So stickers it is.