extends ../base

block content
  p Giphy serves!{' '}
    span.bold 7 billion
    |!{' '}GIFs and stickers to!{' '}
    span.bold 500 million
    |!{' '}people every single day. Their API powers pretty much every messaging app out there: Facebook, Twitter, Instagram, TikTok etc .
  p This has opened up a novel way for brands to get exposure. All you need is a!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019977992-Apply-For-A-Brand-Channel" target="_blank") Giphy brand channel
    | . Then any GIF you upload is publically available on Giphy's search engine. And there's nothing stopping you slipping in your logo, product, or even URL.
  p For example, if you open up Facebook Messenger and search for a Premier League footballer you'll see the BT Sport logo in the top right-hand corner. A reminder that they own the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp1.jpg" class="img__70" playsinline="playsinline" controls)
  h2 Levelling the playing field
  p While Google Search is dominated by big companies and backlinks, Giphy search is more of a level playing field.
  p Take!{' '}
    a(href="" target="_blank") Karla and Co.
    |, a home-run, Latina clothing brand. They have no real presence on Google. But on Giphy they can pull in!{' '}
    span.bold 100,000
    |!{' '}views each day from just!{' '}
    span.bold 16
    |!{' '}sticker uploads:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p The key is creating GIFs which both match what your audience might search for and have little competition.
  p For example, one of Karla's stickers is of the Latin American phrase “Ay Mama”. It's the only sticker on Giphy with this tag, so anyone searching just sees their sticker and crucially their URL:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp2.jpg" class="img__50" playsinline="playsinline" controls)
  h2 Stickers or GIFs
  p One final consideration is whether to make GIFs or stickers.
  p
    a(href="https://support.giphy.com/hc/en-us/articles/360019674452-How-To-Make-A-GIF" target="_blank") GIFs
    |!{' '}have solid backgrounds.!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019683332-What-Is-A-GIPHY-Sticker-" target="_blank") Stickers
    |!{' '}have transparent backgrounds. And Giphy has separate APIs for each which different apps plug into.
  p Facebook, Twitter, and WhatsApp use the GIF API. Instagram, TikTok, and Snap use the sticker API. So your decision depends on what platform your audience hangs out on.
  p For example,!{' '}
    a(href="https://giphy.com/tennistv" target="_blank") Tennis TV's
    |!{' '}audience exists on Twitter and WhatsApp. So they make GIFs.!{' '}
    a(href="https://giphy.com/prettylittlething" target="_blank") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap. So they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  //- h2 How to tag
  //- p Tagging your  You're looking for the golden combination of!{' '}
  //-   span.bold high search volume
  //-   |!{' '}and!{' '}
  //-   span.bold little competition.
  //- p Instagram hashtag numbers give an rough idea of search volume. And you can judge competition by typing the keyword straight into Giphy. For example, “Ay Mama” with good numbers on Instagram and no competition on Giphy made perfect sense for Karla and Co.
  h2 In Summary
  p.list.list__top 1) Create GIFs which match what your audience might search for
  p.list 2) Add your logo, product, or URL
  p.list 3) Upload to Giphy and tag them with relevant keywords
  p.list 4) Make!{' '}
    span.bold 5 GIFs
    |. Then you can apply for a brand channel.
  p This last step is crucial. Only with a brand channel are your GIFs publically searchable. Oh, and to be accepted the GIFs you make must be!{' '}
    span.bold original content
    | . I learned this the hard way after all my!{' '}
    a(href="https://marketingexamples.com/gifs" target="_blank") Startup GIF's
    |!{' '}were rejected.
  h2 Appreciation
  p Thank you to!{' '}
    a(href="https://blog.stephsmith.io/" target="_blank") Bryan Butvidas
    |!{' '}from!{' '}
    a(href="https://www.boardme.app/" target="_blank") Board Me
    |!{' '}for explaining this trick to me.
  h2 Support
  p And thank you for taking the time to read. If you liked it, joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}or sharing on Twitter is really appreciated:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr') &#x1F525; 6 keys to sharing content on Twitter:
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1192978126059581441?ref_src=twsrc%5Etfw') November 9, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I'd also like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.