extends ../base

block content
  p I don’t need to tell you that GIF’s have taken over. Each day!{' '}
    span.bold 7 billion
    |!{' '}are “served” to!{' '}
    span.bold 500 million
    |!{' '}people worldwide.
  p They all come from the same place: Giphy. Their!{' '}
    a(href="https://developers.giphy.com/") API
    |!{' '}powers pretty much every messaging app out there: Facebook, Instagram, Snap, Tik Tok, etc.
  p This has opened up quite a novel way for brands to get exposure. If you get your GIF (or sticker) on Giphy you get it everywhere. And you can then overlay the GIF with your logo, product or even a URL to increase brand awareness.
  //- p For example everytime someone “pumpkin spice” they see the Starbucks logo:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy1a.jpg" alt="Marketing Examples Product Hunt").img__95
  //- p For example, if you open up Facebook Messenger, and search for a Premier League footballer (e.g. - “De Gea”), you're reminded that BT Sport owns the rights to Premier League matches:
  //- video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" class="img__70" playsinline="playsinline" loop controls)
  //- p Let's run through exactly how this works:
  h2 Karla and Co.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" class="img__50" playsinline="playsinline" loop controls)
  h2 Bigger brands
  p Bigger brands are getting in on the action as well. Let’s look at a few more examples:
  p At the start of this year's football season BT Sport began uploading!{' '}
    a(href="https://giphy.com/BTSport/") GIF's
    |!{' '}of all Premier League players (embedding their own logo in the top right).
  p Now if you search for any player (e.g. - “De Gea”) you're reminded that BT have the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" class="img__70" playsinline="playsinline" loop controls)
  h2 Who's this for?
  p Consumer brands and influencers targeting a young, hip audience are the ones jumping on this strategy (e.g.!{' '}
    a(href="https://giphy.com/prettylittlething") Pretty Little Thing
    | ,!{' '}
    a(href="https://giphy.com/angrybirds") Angry Birds
    | ,!{' '}
    a(href="https://giphy.com/liljon") Lil Jon
    |!{' '}etc .) But that’s also where the competition is at.
  p If you’re an “influencer” in the web development space!{' '}
    span.bold literally no one is doing this
    | . Sooner or later youngsters are going to start sending “I ❤️Javascript” GIF’s to each other and if you hit those keywords first you’ll see some nice returns.
  p I was planning on doing this myself. I had a made a bunch of marketing themed GIF’s with the Marketing Examples URL embedded but I was told by Giphy that “brand channels” must produce original content. So I turned the idea into Startup GIF’s instead.
  h2 Stickers or GIF's
  p One thing worth thinking about is whether to create!{' '}
    a(href="") GIF’s
    |!{' '}or!{' '}
    a(href="") stickers
    | .
  p GIF's have solid backgrounds, stickers have transparent backgrounds. And Giphy has seperate API's for each which different apps plug into:
  p.list.list__top • Facebook - GIF API
  p.list • Whats App - GIF API
  p.list • Instagram - Sticker API
  p.list.list__bottom • TikTok - Sticker API
  p Your decision to create stickers or GIF’s or stickers depends on what platform your audience hangs out on. For example Pretty Little audience exists on Instagram so
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  p.list.list__top • Pretty Little Thing - Audience Instagrma
  p.list.list__bottom • Facebook - GIF API
  h2 Summary
  p To summarise the steps to make this work:

  1. Create GIF’s relevant to what your target audience might search for
2. Tag them with relevant keywords
3. Remember to add logo / url back to your product
3. Once you have 5 GIF’s you can apply for a brand account
4. Once you have have a brand account your GIF’s go public on Giphy’s API
