extends ../base

block content
  p Ask a marketer, “How does my product grow?”. The default reply is:
  p.inwardSpeech Ads, affiliates, sales, SEO, social media, yada yada yada
  p They’re describing top-down growth. Your classic funnel. Pour more in. Get more out. Here’s the problem.
  p.list.list__top • Funnels flow in one direction
  p.list • Inputs are tied to outputs
  p.list.list__bottom • Growth is linear
  //- p.list.list__bottom • Eventually you run out of inputs
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1a.png" alt="Online marketing groups").img__100
  p So, how!{' '}
    span.italic do
    |!{' '}the best products grow?
  p Well, it's less about!{' '}
    span.italic throwing inputs
    |!{' '}into a funnel. More about!{' '}
    span.italic creating loops
    |!{' '}which compound.
  //- p Well, it's less about!{' '}
  //-   span.italic pouring resources
  //-   | . More about!{' '}
  //-   span.italic creating loops
  //-   |.
  p The!{' '}
    span.bold actions
    |!{' '}of one user creates an!{' '}
    span.bold output
    |!{' '}which creates a!{' '}
    span.bold new user
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1b.png" alt="Online marketing groups").img__100
  h2.under Examples
  p Some products improve with more users. So we invite more users.
  p
    span.italic e.g. Fantasy football, Slack, Loom
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl6.jpg" alt="Online marketing groups").img__100
  p Some products offer a!{' '}
    span financial incentive
    |!{' '}to invite new users.
  p
    //- span.italic e.g. Dropbox's 16GB, PayPal's $5, Tesla's 1000 miles
    span.italic e.g. Dropbox, PayPal, Tesla
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Online marketing groups").img__100
  p Some products are so good, you want to share them.
  //- p The product is so good, you just want to talk it.
  p
    span.italic e.g. DoubleTree, Stripe, Cards Against Humanity
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl7.jpg" alt="Online marketing groups").img__100
  p Some products use users content to grow their organic traffic.
  //- p Some products encourage users to do their content marketing for them.
  //- p Some products use users content to improve their own SEO.
  p
    span.italic e.g. Genius, Quora, Reddit, Stack Overflow, Yelp
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl5.png" alt="Online marketing groups").img__100
  p Some products are physical. Passers-by see them and sign up.
  p
    span.italic e.g. Lime bikes, Square, ChargedUp
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3.jpg" alt="Online marketing groups").img__100
  p Some products incentivise users to promote their content for them.
  //- p Some products incentivise users to promote content which lives on their platform.
  p
    span.italic e.g. ProductHunt, Typeform, Surveymonkey
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl4.jpg" alt="Online marketing groups").img__100
  p Some products grow by embedding themselves on other platforms
  p
    span.italic e.g. Trustpule, Intercom, Algolia
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl8.jpg" alt="Online marketing groups").img__100
  h2.under One last thing
  p Most people build something!{' '}
    span.bold then
    |!{' '}do the marketing.
  p The point of loops is you build marketing!{' '}
    span.italic into
    |!{' '}your product.
  p Remember Lil Nas X's story. He wrote virality into!{' '}
    span.italic Old Town Road.
  p.list.list__top 1) Apple’s “Sent from my iPhone”
  p.list 2) Drake’s Toosie Slide dance
  p.list.list__bottom 3) TikTok’s share button
  p Same thing. The product doesn't precede the marketing. The product!{' '}
    span.bold is
    |!{' '}the marketing.
