extends ../base

block content
  p Ask a marketer, “How does my product grow?”. The default reply is:
  p.inwardSpeech Ads, affiliates, sales, SEO, social media, yada yada yada
  p They’re describing top-down growth. Your classic funnel. Pour more in. Get more out. Here’s the problem.
  p.list.list__top • Funnels flow in one direction
  p.list • Inputs are tied to outputs
  p.list.list__bottom • Growth is linear
  //- p.list.list__bottom • Eventually you run out of inputs
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1a.png" alt="Online marketing groups").img__100
  p So, how!{' '}
    span.italic do
    |!{' '}the best products grow?
  p Well, it's less about!{' '}
    span.italic pouring inputs
    |. More about!{' '}
    span.italic creating loops
    |.
  p The!{' '}
    span.bold actions
    |!{' '}of one user creates an!{' '}
    span.bold output
    |!{' '}which creates a!{' '}
    span.bold new user
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1b.png" alt="Online marketing groups").img__100
  p For example, look at Quora's loop.
  p.list.list__top 1) User posts questions on Quora -!{' '}
    span.italic Action
  p.list 2) Google indexes each question -!{' '}
    span.italic Output
  p.list 3) People find Quora's content on Google -!{' '}
    span.italic New users
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl5a.png" alt="Online marketing groups").img__100
  p Technically, this is a!{' '}
    span.italic “user-generated content loop”
    | . Reddit, Pinterest, and Stack Overflow have grown the same way. Let's look at some more examples.
  //- p Well, it's less about!{' '}
  //-   span.italic throwing resources
  //-   |!{' '}at acquiring  customers. More about!{' '}
  //-   span.italic leveraging existing customers
  //-   |!{' '}to acquire customers.
  h2.under 1) Personal viral loop
  p.list.list__top 1) Product improves with every new user
  p.list 2) Personal incentive to invite new users
  p.list 3) Existing users send invites
  p.list.list__bottom 4) New users sign up
  p
    span.italic e.g. Fantasy football, Trello, Slack,
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl6.jpg" alt="Online marketing groups").img__100
  h2.under 2) Financial viral loop
  //- p For produts where there's a financial incentive to invite new users
  p.list.list__top 1) Financial incentive to invite new users
  p.list 2) Existing users send invites
  p.list.list__bottom 3) New users sign up
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Online marketing groups").img__100
  p
    span.italic Other examples: PayPal's free $5, Tesla's free 1000 miles
  h2.under 3) Social viral loop
  p.list.list__top 1) Social incentive to invite new users
  p.list 2) Existing users send invites
  p.list.list__bottom 3) New users sign up
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Online marketing groups").img__100
  p
    span.italic e.g. DoubleTree, Stripe, Cards Against Humanity
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1.png" alt="Online marketing groups").img__100
  h2.under 4) Physical content loop
  p.list.list__top 1) Physical product deployed
  p.list 2) Passers-by interact with the product
  p.list 3) And decide to sign up
  p.list.list__bottom 4) More capital → More product deployed
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3.jpg" alt="Online marketing groups").img__100
  p
    span.italic e.g. Lime bikes, Square, ChargedUp
  h2.under 5) Supply-side content loop
  p.list.list__top 1) User creates a piece of content
  p.list 2) Incentive to share this content with their network
  p.list 3) A % sign up
  p.list.list__bottom 4) And go on to create future content
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl4.jpg" alt="Online marketing groups").img__100
  p
    span.italic Other examples: Product Hunt, Typeform, Surveymonkey
  h2.under 6) Embedded loop
  p.list.list__top 1) User creates a piece of content
  p.list 2) Incentive to share this content with their network
  p.list 3) A % sign up
  p
    span.italic e.g. Trustpule, Intercom, Algolia
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl8.jpg" alt="Online marketing groups").img__100
  h2.under One last thing
  p Most people build something!{' '}
    span.italic then
    |!{' '}do the marketing.
  p The point of loops is you build marketing!{' '}
    span.italic into
    |!{' '}your product.
  p Remember Lil Nas X. He didn’t write!{' '}
    span.italic Old Town Road!{' '}
    span.italic then
    |!{' '}market it. He wrote virality into!{' '}
    span.italic Old Town Road.
  p.list.list__top 1) Apple’s “Sent from my iPhone”
  p.list 2) Drake’s Toosie Slide dance
  p.list.list__bottom 3) TikTok’s share button
  p It's the same thing. The product doesn't precede the marketing. The product!{' '}
    span.bold is
    |!{' '}the marketing.