extends ../base

block content
  p Ask a marketer, “How does my product grow?”. The default reply is:
  p.inwardSpeech Ads, affiliates, sales, SEO, social media, yada yada yada
  p They’re describing top-down growth. Your classic funnel. Pour more in. Get more out. Here’s the problem.
  p.list.list__top • Funnels flow in one direction
  p.list • Inputs are tied to outputs
  p.list.list__bottom • Growth is linear
  //- p.list.list__bottom • Eventually you run out of inputs
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1a.png" alt="Online marketing groups").img__100
  p So, how!{' '}
    span.italic do
    |!{' '}the best products grow?
  //- p Well, it's less about!{' '}
  //-   span.italic pouring inputs
  //-   |. More about!{' '}
  //-   span.italic creating loops
  //-   |.
  p Well, think less about!{' '}
    span.italic pouring inputs
    |!{' '}into a funnel. More about!{' '}
    span.italic creating loops
    |!{' '}which compound.
  p The!{' '}
    span.bold actions
    |!{' '}of one user creates an!{' '}
    span.bold output
    |!{' '}which creates a!{' '}
    span.bold new user
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1b.png" alt="Online marketing groups").img__100
  p For example, look at Quora.
  p.list.list__top 1) User posts questions on Quora -!{' '}
    span.italic Action
  p.list 2) Google indexes each question -!{' '}
    span.italic Output
  p.list 3) People find Quora's content on Google -!{' '}
    span.italic New users
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2aa.png" alt="Online marketing groups").img__100
  //- p Technically, this is a!{' '}
  //-   span “user-generated content loop”
  //-   | . Also behind Reddit, Pinterest and Yelp's growth. Let's run though some more examples.
  p Technically, this is a!{' '}
    span “user-generated content loop”
    //- | . But there's loads of different types of loops driving growth. Let's run through them.
    | . It's one of loads of different kinds of growth loops. Let's run through them.
  h2.under 1) Personal viral loop
  p.list.list__top 1) Product improves with every new user
  p.list 2) Personal incentive to invite new users
  p.list 3) Existing users send invites
  p.list.list__bottom 4) New users sign up
  //- p Some products improve with more users. So there's a personal incentive to invite new users.
  //- p Some products get better with more users. So personal incentives can drive a loop.
  //- p Some products get better with more users. So we invite more users.
  p
    span.italic e.g. Fantasy football, Slack, Trello
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3ab.jpg" alt="Online marketing groups").img__100
  h2.under 2) Financial viral loop
  //- p For produts where there's a financial incentive to invite new users
  p.list.list__top 1) Financial incentive to invite new users
  p.list 2) Existing users send invites
  p.list.list__bottom 3) New users sign up
  //- p Some products build in!{' '}
  //-   span financial incentives
  //-   |!{' '}to invite new users.
  p
    //- span.italic e.g. Dropbox's 16GB, PayPal's $5, Tesla's 1000 miles
    span.italic e.g. Dropbox, PayPal, Tesla
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl4aa.png" alt="Online marketing groups").img__100
  h2.under 3) Social viral loop
  //- p Some products are so good, you want to share them.
  //- p Users invite users because the product is simply that awesome.
  p Some products are so good, users just want to invite other users.
  //- p Some products are so good, people just like talking about them.
  p
    span.italic e.g. DoubleTree, Stripe, Game of Thrones
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl5aa.jpg" alt="Online marketing groups").img__100
  h2.under 4) Physical content loop
  //- p Some products are physical. Passers-by see them and sign up.
  //- p Noticeable physical products have the ability to market themselves.
  //- p Noticeable physical products can attract new users by themselves.
  //- p Noticeable physical products can attract new users by just being visible.
  p Some physical products attract new users by just being noticeable.
  p
    span.italic e.g. Lime bikes, Square, ChargedUp
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl6aa.jpg" alt="Online marketing groups").img__100
  h2.under 5) Supply-side content loop
  p Some products incentivise users to promote their content for them.
  //- p Some products incentivise users to promote content which lives on their platform.
  p
    span.italic e.g. ProductHunt, Typeform, Surveymonkey
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl8aa.png" alt="Online marketing groups").img__100
  h2.under 6) Embedded loop
  p Some products grow by embedding themselves on other platforms.
  p
    span.italic e.g. Trustpule, Intercom, Algolia
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl7aa.jpg" alt="Online marketing groups").img__100
  p.asterix * * *
  p Consensus view is that you build something!{' '}
    span.bold then
    |!{' '}you market it. The point of loops is you build marketing!{' '}
    span.italic into
    |!{' '}your product.
  p Remember Lil Nas X's story. He didn’t write!{' '}
    span.italic Old Town Road!{' '}
    span.bold then
    |!{' '}market it. He wrote virality!{' '}
    span.bold into!{' '}
    span.italic Old Town Road.
  p.list.list__top 1) Apple’s “Sent from my iPhone”
  p.list 2) Drake’s Toosie Slide dance
  p.list.list__bottom 3) TikTok’s share button
  p It's the same thing. The product doesn't precede the marketing. The product!{' '}
    span.bold is
    |!{' '}the marketing.
  //- p.list.list__top • Why are there so many TikTok's on Twitter?
  //- p.list.list__bottom • TikTok makes sharing videos easy
  //- p.list.list__top Q. How does Joyner Lucas get Will Smith to share his song?
  //- p.list.list__bottom A. Writes a song about Will Smith
  //- p.list.list__top Q. How do Apple get billions of impressions each day
  //- p.list.list__bottom A.!{' '}
  //-   span.italic Sent from my iPhone
  //-   |!{' '}at the bottom of emails
  //- p.list.list__top Q. How does Drake get!{' '}
  //-   span.italic Toosie Slide
  //-   |!{' '}all over TikTok?
  //- p.list.list__bottom A. Funny dance in the music video
  //- p.list.list__top 1) Apple’s “Sent from my iPhone”
  //- p.list 2) Drake’s!{' '}
  //-   span.italic Toosie Slide
  //-   |!{' '}dance
  //- p.list.list__bottom 3) TikTok’s share button
  //- p The product doesn't precede the marketing. The product!{' '}
  //-   span.bold is
  //-   |!{' '}the marketing.
  //- h2.under More than a hat tip
  //- p Brian Balfour, Casey Newton and Andrew Chen from Reforge
  //- p This article is built on all the work they've put in to this topic.