extends ../base

block content
  p Acquiring new customers from scratch is overrated.
  p Leveraging existing customers to acquire new customers is underrated.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl.png" alt="Online marketing groups").img__100
  h2.under Let's go through some loops
  h2.under 1) Personal viral loop
  p.list.list__top 1) Personal incentive for existing users to invite non-users
  p.list 2) A % of existing users send invites
  p.list.list__bottom 3) A % of non-users sign up
  p
    span.italic Other examples: Fantasy football, Trello, Slack
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Online marketing groups").img__100
  h2.under 2/ Financial viral loop
  p.list.list__top 1) Financial incentive for existing users to invite non-users
  p.list 2) Existing users send invites
  p.list.list__bottom 3) A % of non-users sign up
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Online marketing groups").img__100
  p
    span.italic Other examples: PayPal free $5, Tesla free 1000 miles
  h2.under 1) User generated content loop
  p.list.list__top 1) User posts content on platform
  p.list 2) Google indexes content
  p.list 3) Non-users search for content
  p.list.list__bottom 4) A % become new users
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1.png" alt="Online marketing groups").img__100
  p
    span.italic e.g. How Quora grew from!{' '}
    span.bold 85M
    |!{' '}monthly users in 2016 to!{' '}
    span.bold 300M
    |!{' '}by 2018.
  p
    span.italic Other examples: Reddit, Pinterest, Stack Overflow, Genius, Yelp
  h2.under 3/ Physical content loop
  p.list.list__top 1) Physical product deployed
  p.list 2) A % of non-users interact with the product
  p.list 3) And decide to sign up
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3.jpg" alt="Online marketing groups").img__100
  p.list.list__top 1) Physical product deployed
  p.list 2) A % of non-users interact with the product
  p.list 3) And decide to sign up
  p.list.list__bottom 4) More capital → More product deployed
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3.jpg" alt="Online marketing groups").img__100
  p
    span.italic Other examples: Square,
  h2.under Supply content loop
  p.list.list__top 1) User creates a piece of content
  p.list 2) Incentive to distribute this content with their network
  p.list 3) A % sign up
  p.list.list__bottom 4) And go on to create future content
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl4.jpg" alt="Online marketing groups").img__100
  p
    span.italic Other examples: Product Hunt, Typeform, Surveymonkey
  //- h2.under 1/ User generated content loop
  //- p How Quora grew from!{' '}
  //-   span.bold 85M
  //-   |!{' '}monthly users in 2016 to!{' '}
  //-   span.bold 300M
  //-   |!{' '}by 2018.
  //- p.list.list__top 1) User posts questions on Quora
  //- p.list 2) Google indexes each question
  //- p.list 3) People find Quora's content on Google
  //- p.list.list__bottom 4) And become new users
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1.png" alt="Online marketing groups").img__100
    h2.under 1/ User generated content loop
  //- p How Quora grew from!{' '}
  //-   span.bold 85M
  //-   |!{' '}monthly users in 2016 to!{' '}
  //-   span.bold 300M
  //-   |!{' '}by 2018.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1.png" alt="Online marketing groups").img__100
  //- p
  //-   span.italic Other examples: Reddit, Pinterest, Stack Overflow, Genius, Yelp