extends ../base

block content
  p
    a(href="https://indiehackers.com/?ref=marketingexamples.com" target="_blank") Indie Hackers
    |!{' '}is a online community of independent entrepreneurs, with a pretty sizeable email list.
  p Throughout 2019 they’ve moved away from one!{' '}
    span.bold generic
    |!{' '}email digest and started offering users the option of up to 8!{' '}
    span.bold tailored!{' '}
    a(href="https://www.indiehackers.com/newsletters" target="_blank") newsletters:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih1.png" alt="Indie Hackers Newsletter").img__90
  p It's vintage self-serve email segmentation. Instead of “batch and blasting” their entire list, users cherrypick the specific topics they!{' '}
    span.bold actually want to hear about
    | .
  p Not only, is the result an!{' '}
    span.bold improved user experience
    | , but also many!{' '}
    span.bold more clicks
    |!{' '}to the Indie Hackers website:
  p.list.list__top 3 email digests / week has become up to 20.
  p.list.list__bottom Cramming a digest with lots of different topics will only result in one click. Splitting digest topics into several emails, incentives a click each time.
  p For example, on the old newsletter it’s easy to scroll by the podcast. But now, getting a bespoke email about the podcast with a note from the host creates a much greater incentive to listen.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih2.png" alt="Indie Hackers Newsletter Graph").img__90
  p This change visualised by this graph.
  p I’m not suggesting you go to these depths for your own business. It works for Indie Hackers because of the sheer volume of material they produce.
  //- p If you just want the podcast updates your not going to be bombarded with interviews and growth bites.
  //- h2.under 2) Better Click Through
  //- p The objective of the Indie Hacker emails are to
  //- p It's vintage self serve email segmentation. And it works for a few reasons:
  //- h2.under 1) Better User Experience
  //- p Instead of “batch and blasting” their entire list with a “one size fits all” email, users can cherrypick the specific topics they!{' '}
  //-   span.bold actually want to hear about
  //-   | .
  //- h2.under 2) More click throughs
  //- p It's. 3 emails / week has become 20 / week.
  //- h2 3) Better deliverability
  //- p A consequence of “better user experience” is more emails being opened and clicked. These are considered “postive actions” by mail providers and increase the chances of your future emails arriving in their primary inbox.