extends ../base

block content
  p Yesterday I saw this letter Liverpool manager, Jürgen Klopp, wrote to a young schoolboy dealing with anxiety.
  p It’s remarkably thoughtful. But it didn’t surprise me. Klopp's been making people smile ever since he became a manager.
  //- p Klopp is the master of the little details.
  //- Making people smile is a habit for Klopp.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen1.png" alt="Andrew Schulz comedy roasts").img__100
  p Back in 2014 he was managing Borussia Dortmund. They were having a spectacularly awful season, sitting at the bottom of the Bundesliga.
  p As a thank you to the fans, for sticking with the team, Klopp ordered players to serve behind the bar and pull pints at the Christmas Party.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen2.jpg" alt="Andrew Schulz comedy roasts").img__100
  p In England it's no different. He’s!{' '}
    span.italic the only
    |!{' '}Premier League manager who does interviews with fan-run YouTube channels.
  p Pre-lockdown he'd drop in on fan events and enjoy a beer with supporters. During lockdown he did Zoom calls with fans who were self-isolating.
  p After winning the league he wrote an open letter in the!{' '}
    span.italic Liverpool Echo
    | !{' '}paying respect to the fans.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen5b.jpg" alt="Andrew Schulz comedy roasts").img__100
  p To mark the end his first season he challenged lifelong supporters to an impromptu bowls game.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/jurgen4.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen4.jpg" onclick="this.paused ? this.play() : this.pause();")
  p I'm telling you about Klopp to make a simple point.
  p.inwardSpeech.list__bottom If you can find a way to make people smile, they’ll remember you more for that smile than for any fancy business-model stuff.
  p When Klopp left Dortmund in 2015 they'd just had their!{' '}
    span.italic worst season in seven years
    | . Most teams' fans would be booing. The whole stadium was in tears.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen6.jpg" alt="Andrew Schulz comedy roasts").img__100
  p
    span.italic PS: That smiling line is from a!{' '}
      a(href="https://sive.rs/cdbf" target="_blank") Derek Sivers blog
      | .
  p
    span.italic Thanks for reading — Harry