extends ../base

block content
  p Jan 2018. Mark Hoyle was a graphic designer with 50k YouTube subscribers.
  p Last week he and his wife Rox beat Mariah Carey
    |!{' '}to win their third consecutive UK Christmas No.1.
  p Their story is quite remarkable. And a masterclass in!{' '}
    span.italic how to run a marketing campaign
    | . Let me share some lessons.
  h2.slab.bg1 1/ Start with story
  p Every movement needs a story. Mark and Rox's is about raising money for food banks.
  p Without it they're!{' '}
    span two weirdos singing about sausage rolls.
    |!{' '}With it they're!{' '}
    span a husband and wife on a mission. And people can rally behind the latter.
  //- p Every movement needs a story. It creates purpose. It makes you memorable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad1b.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 2/ Make something shareable
  p Instead of writing something original Mark and Rox wrote suasage roll parodies of famous songs.
  p.list.list__top • We Built This City... on Sausage Rolls (2018)
  p.list • I Love Rock 'N Roll → I Love Sausage Rolls (2019)
  p.list.list__bottom • Don’t Stop Believing → Don’t Stop Me Eatin’ (2020)
  p The familiar tune makes it easy to sing along. The suasage roll adds absurdity. The combination make for videos people couldn't stop sharing.
  //- p The viral blend of!{' '}
  //-   span.italic relatable
  //-   |!{' '}and!{' '}
  //-   span.italic ridiculous
  //-   | .
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.png" onclick="this.paused ? this.play() : this.pause();")
  h2.slab.bg3 3/ Bring people on the journey
  p So each year Mark and Rox launch their song. And then vlog their entire Christmas No.1 attempt on YouTube.
  p The vlogs aren't anything special. Just 2 minutes on an iPhone with something silly to promote the song.
  p But they're raw. And you can't help feel part of their journey.
  //- p In one memorable vlog Mark tells you that they're No.2 in the charts but he's ran out of holiday days from work.
  //- p The vlogs aren't fancy. But they're relatable. And you can't help feel part of the journey.
  //- p.inwardSpeech Car park dancing, open top bus parades,
  //- p It's reality TV.
  //- p The vlogs aren't anything special. Just 2 minutes on an iPhone with something to promote the song.
  //- p But they're raw. And make!{' '}
  //-   span.italic you
  //-   |!{' '}feel part of the journey.
  //- p The vlogs aren't anything special. Just 2 minutes on an iPhone with something silly to promote the song.
  //- p That's all it takes to make!{' '}
  //-   span.italic you
  //-   |!{' '}feel part of the journey.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad3.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad3.png" onclick="this.paused ? this.play() : this.pause();")
  h2.slab.bg4 4/ Galvanize followers
  p The great thing about bringing people on the journey is they'll help you bring even more people.
  p For example, watch how Mark motivates his followers to get #LadBaby trending on Twitter. All perfectly timed for their song launch.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad4.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad4.png" onclick="this.paused ? this.play() : this.pause();")
  h2.slab.bg5 5/ Know what turns the needle
  p Momentum or not, there's no way Mark and Rox can outstream Mariah Carey.
  p But they don’t have to. The way UK charts are calculated 1 paid download equals 100 streams.
  p So Mark and Rox’s focus exclusively on downloads. And they treat every vlog, radio, TV appearance as mini-adverts to download the track.
  p Based on streaming numbers they don’t make the charts. But the weighting of downloads makes them pretty much untouchable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad5.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg1 5/ So there we go
  p How to run a marketing campaign:
  p.inwardSpeech Have a story. Make something viral. Bring people on the journey. Use momentum to create more momentum. And you'll create potential energy
  p But the one thing missing is soul.


