extends ../base

block content
  //- p To quote David Ogilivy:
  //- p.inwardSpeech Five times as many people read the headline as read the body copy. When you have written your headline, you have spent eighty cents out of your dollar.
  p 95% of things in marketing are!{' '}
    span.bold unimportant
    | . And we stress about them. Landing page headlines are!{' '}
    span.bold important
    | . And we don't stress about them.
  p It’s “CEO lucky dip”. Or a quick brainstorm. And that’s your headline for the next 12 months. Signed and delivered.
  p We don’t stress because we can't measure. No one gets fired for writing a bad headline.
  p If you have a great headline, the rest of your copy can suck. You’ll still sell more than if you had great copy with a bad headline.
  p I've spent the past fortnight reading 500 landing page titles. And talking to the.  This is what I've learnt:
  //- h2.under 1) Match your title to your customers mindset
  h2.under 1) There is no universal approach
  //- p Imagine you’re trying to persuade two friends to join your Yoga studio. One's never done Yoga before. The other has practiced at another studio for five years. You’re not going to want give them both the same spiel.
  //- p It's the same with landing pages:
  //- p Your title should reflect your customers position in the sales funnel.
  p Your title should reflect your customers mindset.
  p
    a(href="https://anniemaguire.com/" target="_blank") Annie
    |!{' '}is a copywriter. Her traffic are warm leads looking to solve a problem. So, she leads with a!{' '}
    span.bold solution
    | .
  p
    a(href="https://zenbu.ai/" target="_blank") Zenbu
    |!{' '}is a social media intelligence app. Their traffic are cold leads unaware any problem exists. So, Zenbu highlights the!{' '}
    span.bold problem
    | .
  //- p Annie Maguire is a conversion copywriter. The majority of her traffic come through personal recommendations. They're warm leads looking to solve a problem. So she leads with a!{' '}
  //-   span.bold solution
  //-   | !
  //- p Zenbu is a social media intelligence app. The majority of their traffic comes organically to their blog. Cold leads unaware any problem exists. So they highlight it!{' '}
  //-   span.bold problem
  //-   | !
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do7.png" alt="Get specific in copywriting").img__90
  //- h2.under 2) Original product → Lead with product
  h2.under 2) Eradicate fancy bullshit
  p If you’re blessed with an original product do not complicate it. You’re a copywriter not Vladamir Nabakov:
  p Failed poets turned copywriters have a soft spot for fancy titles which say, quite literally, nothing. Avoid these at all costs:
  p You're selling a product. No one wants to read your vapid poetry:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do1.png" alt="Get specific in copywriting").img__90
  h2.under 3) You're on a speed date
  p The majority of people look at your site for 30 seconds and never return.
  p If you can't make your!{' '}
    span.bold product
    |!{' '}interesting in six words sell the!{' '}
    span.bold benefits
    |!{' '}instead:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do2.png" alt="Get specific in copywriting").img__90
  //- h2.under 1) Punch the reader in the face
  //- p The majority of people look at your site for 30 seconds and never return.
  h2.under 4) Your customer will believe whatever you write
  p So be the biggest, baddest, version of yourself. Zero doubt. 100% conviction.
  p.list.list__top • Don't say!{' '}
    span “We help”
    |!{' '}say!{' '}
    span “It's how”
    | .
  p.list.list__bottom • Don't say “alternative” say “replaces”
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/do8.png" alt="Get specific in copywriting").img__90
  h2.under 4) Punch the reader in the face
  p Over the past fortnight I've read 500 landing page titles. These two are the best I've found. One sentence value propositions spoken with conviction:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/do6.png" alt="Get specific in copywriting").img__90
  h2.under 5) How to choose a title:
  p.list.list__top 1) Write down 10 titles
  p.list 2) Show them to your friends
  p.list 3) Ignore their advice
  p.list 4) Wait 24 hours
  p.list.list__bottom 5) Ask which one they remember
  p Being!{' '}
    span memorable
    |!{' '}is more important than!{' '}
    span likeable
    | . People jump from site to site and come back to what they!{' '}
    span.bold remember
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do5.png" alt="Get specific in copywriting").img__90
  h2.under Thanks & Support
  p If you'd enjoyed the article I'd really appreciate it if you joined the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}or shared the article:
  p If you'd like more copywriting tips give!{' '}
    a(href="https://marketingexamples.com/conversion/copywriting") this one
    |!{' '}a read.
  p Thanks to!{' '}
    a(href="https://anniemaguire.com/" target="_blank") Annie Maguire
    | . Most of these examples are inspired by her work.
  p And finally, thank you to!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.
