extends ../base

block content
  p A good landing page is simple. I’ve made hundreds. It was my old job, then I did it for clients.
  p When I started Id' . Throwing shapes on a page and crossing my fingers. But after a dozen I found a formula that converted. Here it is:
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (image)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1a.png" alt="Marketing Examples Product Hunt").img__100
  p Let's go into on each component.
  h2.slab.bg1 1/ Title
  p There’s 50 ways to write a great title. The majority fall into two categories.
  p
    span.bold 1/ Value + Hook
  p Explain the value you provide. Add a hook to make it more appetising. There’s two ways to write hooks:
  p.inwardSpeech.ni a) Ask “what can we say about our product that no-one else can?”
  span.isBreak
  p.inwardSpeech.ni b) Ask, “what's stopping people buying?”
  span.isBreak
  p.inwardSpeech.ni c) Ask, “what's the implication?”
  //- p.inwardSpeech b) Indentify your customer's biggest buying objection. Address it. That’s your hook.
  //- p
  //-   span.bold 2/ One line summary
  //- p
  //-   span.italic The goal is to own your niche in one line. The trick is conviction. Write like you’ve got no competitors.
  //- p
  //-   span.italic Boil what you do into a line so powerful you don’t need a hook. The goal is to own your niche. Write like you’ve got no competitors.
  p
    span.bold 2/ Own your niche
  p
    span.italic Boil what you do into a line so powerful you don’t need a hook. The trick is conviction. Write like you’ve got no competitors.
  //- p.inwardSpeech • Don’t say “We help” say “It's how”.<br>• Don’t say “A” say “The”.
  h2.slab.bg2 2/ Subtitle
  p A good title!{' '}
    span.italic explains the value
    | . A good subtitle
  p.list.list__top a) Introduces the product
  p.list.list__bottom b) Explains!{' '}
    span.bold how
    |!{' '}it creates the value in your title
  //- p Your title!{' '}
  //-   span.italic explains the value
  //-   | . Your subtitle
  //- p.list.list__top a) Introduces the product
  //- p.list.list__bottom b) Explains!{' '}
  //-   span.bold how
  //-   |!{' '}it creates the value in your title
  //- p The role of your subtitle is to
  //- p.list.list__top a) Introduce the product
  //- p.list.list__bottom b) Explain!{' '}
  //-   span.bold how
  //-   |!{' '}it create this value
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2b.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg4 3/ Image
  p Your image is your chance to show off your product. Don’t waste it with stock images or illustrations.
  p.inwardSpeech The greatest thing to be achieved in advertising is believability, and nothing is more believable than the product itself — Leo Burnett
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp3.png" alt="Marketing Examples Product Hunt").img__100
  p Show off your product. Make me want it. Don’t rely on stock images or illustrations.
  h2.slab.bg3 4/ Social Proof
  p Good social proof shows credibility. Great social proof inspires action.
  p It's not “a box to be ticked”. It's an opportunity to sell your product. Think!{' '}
    mark.ss4 real customers
    | ,!{' '}
    mark.ss1 real words
    |,!{' '}
    mark.ss3 real numbers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp4a.png" alt="Marketing Examples Product Hunt").img__100
  //- p Here's my social proof manifesto:
  //- p.list.list__top • Real customers
  //- p.list • Real words
  //- p.list.list_bottom • Real numbers
  h2.slab.bg5 5/ CTA
  p The role of the CTA is to make taking the next step easy.
  p Most buttons amplify action:!{' '}
    span.italic Sign Up, Start Trial etc.
    |!{' '} They're clear, but not compelling. Here's 3 more persuasive CTA types.
  //- Lon
  p.ni.inwardSpeech
    span.bold 1/ Call to value
  p.ni.inwardSpeech Fulfils!{' '}
    span.bold the value
    |!{' '}promised in your title. Buttons which emphasise “value” over “action” usually perform better.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5a.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- p.inwardSpeech Emphasises “value” over “action”.
  p.ni.inwardSpeech
    span.bold 2/ Handle common objection
  span.isBreak
  p.ni.inwardSpeech Add a few words to the CTA to handle the users biggest objection to clicking.
  //- p.inwardSpeech Emphasises “value” over “action”.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5b.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 3/ Email capture + CTA
  p.ni.inwardSpeech Pair email capture with CTA to reduce dropoff from two-stage sign up.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5c.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- p.list.list__top 1/ Capture Email with CTA (Frictionless signup)
  h2.slab.bg1 Putting it all together
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (image)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1.png" alt="Marketing Examples Product Hunt").img__100