extends ../base

block content
  //- p To quote David Ogilivy:
  //- p.inwardSpeech Five times as many people read the headline as read the body copy. When you have written your headline, you have spent eighty cents out of your dollar.
  p 95% of things in marketing are!{' '}
    span.bold unimportant
    | . And we stress about them. Landing page headlines are!{' '}
    span.bold important
    | . And we don't stress about them.
  p It’s “CEO lucky dip”. Or a quick brainstorm. And that’s your headline for the next 12 months. Signed and delivered.
  p If you have a great headline, the rest of your copy can suck. You’ll still sell more than if you had great copy with a bad headline.
  h2.under 1) Match your words to your customers mindset
  //- p Imagine you’re trying to persuade two friends to join your Yoga studio. One's never done Yoga before. The other has practiced at another studio for five years. You’re not going to want give them both the same spiel.
  //- p It's the same with landing pages:
  p Annie is a conversion copywriter. The majority of her traffic are warm leads looking to solve a problem. So she leads with a!{' '}
    span.bold solution
    | !
  p Zenbu is a social media intelligence app. The majority of their traffic are cold leads unaware any problem exists. So Zenbu highlights the!{' '}
    span.bold problem
    | !
  //- p Zenbu is a social media intelligence app. The majority of their traffic are cold leads unaware any inefficiency exists. So Zenbu highlights the!{' '}
  //-   span.bold problem
  //-   | !
  //- p Annie Maguire is a conversion copywriter. The majority of her traffic come through personal recommendations. They're warm leads looking to solve a problem. So she leads with a!{' '}
  //-   span.bold solution
  //-   | !
  //- p Zenbu is a social media intelligence app. The majority of their traffic comes organically to their blog. Cold leads unaware any problem exists. So they highlight it!{' '}
  //-   span.bold problem
  //-   | !
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do7.png" alt="Get specific in copywriting").img__90
  //- h2.under 2) Original product → Lead with product
  h2.under 2) Eradicate fancy bullshit
  p If you’re blessed with an original product don’t complicate the messaging. You’re a copywriter not Vladamir Nabakov:
  p Do not complicate an original product with vapid prose. You’re a copywriter not Vladamir Nabakov:
  //- p Failed poets turned copywriters have a soft spot for vapid titles which say quite literally nothing.
  //- p Avoid these titles at all costs.
  p You're selling a product. No one wants to read your vapid poetry:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do1.png" alt="Get specific in copywriting").img__90
  h2.under 3) You’re on a 30 second speed date
  p If you can't make your!{' '}
    span.bold product
    |!{' '}interesting in six words sell the!{' '}
    span.bold benefits
    |!{' '}instead:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do2.png" alt="Get specific in copywriting").img__90
  //- h2.under 1) Punch the reader in the face
  h2.under 4) Try writing your value proposition in 6 words
  p The majority of people look at your site for 30 seconds and never return. It’s speed dating.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/do6.png" alt="Get specific in copywriting").img__90
  h2.under 5) How to choose a title:
  p.list.list__top 1) Write down 10 titles
  p.list 2) Show them to your friends
  p.list 3) Ignore their advice
  p.list 4) Wait 24 hours
  p.list.list__bottom 5) Ask which one they remember
  p
    span Memorable
    |!{' '}is more important than!{' '}
    span likeable
    | . People jump from site to site and come back to what they!{' '}
    span.bold remember
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do5.png" alt="Get specific in copywriting").img__90
