extends ../base

block content
  //- p Landing pages are simple. So simple people make them complicated.
  //- p I’ve made hundreds of landing pages. It was my old job. Then I did it for clients. Here’s the formula that converted best:
  p There’s two parts to every landing page: what’s immediately visible!{' '}
    span.italic (above the fold)
    | and what the user scrolls to!{' '}
    span.italic (below the fold)
  p
    span.italic Above the fold
    |!{' '}is your first impression. Let's start there. Here’s my formula:
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (image)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp.png" alt="Marketing Examples Product Hunt").img__100
  p Let's go into on each component.
  h2.slab.bg1 1/ Title
  p There’s one hundred ways to write a great title. I'm going to focus on three.
  p.ni.inwardSpeech
    span.bold 1/ What you do
  span.isBreak
  p.ni.inwardSpeech When your product is unique all you have to do is explain the value you provide as simply as possible.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1a.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Value + Hook
  span.isBreak
  p.ni.inwardSpeech Most products aren't unique. So a hook adds!{' '}
    span.italic oomph
    | . The easiest way to write hooks is to address your customer's biggest objection.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1b.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- p
  //-   span.italic The goal is to own your niche in one line. The trick is conviction. Write like you’ve got no competitors.
  p.ni.inwardSpeech
    span.bold 3/ Own your niche
  span.isBreak
  p.inwardSpeech.ni Some startups transcend hooks. Another pattern is to!{' '}
    span.italic own your niche in one line
    | . Write with conviction. You're!{' '}
    span.italic the
    |!{' '}solution.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1c.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- //-   span.italic The goal is to own your niche in one line. The trick is conviction. Write like you’ve got no competitors.
  //- p.ni.inwardSpeech Your product solves a problem. Identify the problem you solve. Throw your net around it. The goal is to own a word in the customers mind.
  h2.slab.bg2 2/ Subtitle
  p If your title explains the value you provide. Your subtitle
  p.list.list__top a) Introduces the product
  p.list.list__bottom b) Explains!{' '}
    span how
    |!{' '}it creates the value in your title
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2c.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg3 3/ Image
  p The role of your image is to show off your product in all it's glory.
  p Don't use stock images or illustrations. People want to see what they're buying. Or even better show the product in action.
  //- p Show people what they're buying.
  //- p Don't use stock images or illustrations. Nothing is more persuasive than the product itself.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp3b.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg4 4/ Social Proof
  p The role of social proof (above the fold) is to establish credibility in as few pixels as possible.
  p It’s the laughter track that enhances your punchline.
  //- steal the show
  //- It’s not the star of the show.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp4a.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg5 5/ CTA
  p The role of the CTA is to make taking the next step easy.
  p Most buttons are quite uninspiring:!{' '}
    span.italic Sign Up, Start Trial etc.
    |!{' '} Here's three more compelling CTA types.
  p.ni.inwardSpeech
    span.bold 1/ Call to value
  p.ni.inwardSpeech Buttons which emphasise “value” over “action” usually perform better. The trick is to fulfil the value your title promises.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5a.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Objection handle
  span.isBreak
  p.ni.inwardSpeech Add a few words to your CTA to handle the users biggest objection to clicking.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5b.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 3/ Email capture + CTA
  p.ni.inwardSpeech Pair email capture with CTA to reduce dropoff from multi-stage sign up.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5c.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- h2.slab.bg5 “Above the fold” recap
  //- p.inwardSpeech Clarity over creativity
  //- p In five seconds customers establish whether or not you can help them. If they can't work this out they leave. Make it easy for them.
  //- p.list.list__top 1/ Explain the value you provide!{' '}
  //-   span.italic (title)
  //- p.list 2/ Explain how you'll create it!{' '}
  //-   span.italic (subtitle)
  //- p.list 3/ Let the user visualise it!{' '}
  //-   span.italic (image)
  //- p.list 4/ Making it believable!{' '}
  //-   span.italic (social proof)
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  h2.slab.bg2 “Below the fold”
  //- p In five seconds customers try to establish whether or not you can help them. The role of above the fold is to make it easy for them.
  p
    span.italic Above the fold
    |!{' '}you earn the customer's attention.!{' '}
    span.italic Below the fold
    |!{' '}you earn the sale. Here's my formula:
  p.list.list__top 1/ Your sales pitch!{' '}
    span.italic (features and objections)
  p.list 2/ Inspire action!{' '}
    span.italic (social proof)
  p.list 3/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 4/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 5/ Make yourself memorable!{' '}
    span.italic (Founder's note)
  //- p E.g. Imagine your title promises “podcasts that sound amazing”. Your features turn “
  //-   span.ss3 sound
  //-   | !{' '}amazing” into concrete statements. Lay out each one just like a mini landing page:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6a.png" alt="Marketing Examples Product Hunt").img__100
  //- p E.g. Riverside's title promises “podcasts that look and sound amazing”. Their features turn this “
  //-   span.ss4 “look”
  //-   |!{' '}and!{' '}
  //-   span.ss3 “sound”
  //-   | !{' '}” into concrete statements.
  //- p Let's use Riverside as an example. Their title promises “podcasts that!{' '}
  //-   span.ss4 look
  //-   |!{' '}and!{' '}
  //-   span.ss3 sound
  //-   |!{' '}amazing”. Immediately below the fold they make these promises concrete.
  h2.slab.bg1 6/ Features
  p Your first job!{' '}
    span.italic below the fold
    |!{' '}is making concrete the value you promise!{' '}
    span.italic above the fold
    | .
  p Take Riverside for example. Their title promises “podcasts that!{' '}
    span.ss4 look
    |!{' '}and!{' '}
    span.ss3 sound
    |!{' '}amazing”. Their first two features make this title concrete.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6c.png" alt="Marketing Examples Product Hunt").img__100
  p Same principle with Smile Direct. Their title promises “a smile you love in 4-6 months”. Immediately below the fold they make it concrete.
  p Their!{' '}
    span.italic how it works
    |!{' '} make this title concrete.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6y.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg1 7/ Objections
  p Next handle your customer's biggest objections. This means talking to customers.
  p Group together reoccurring objections. And use their own words to handle their pain.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6q.png" alt="Marketing Examples Product Hunt").img__100
  //- p.ni.inwardSpeech
  //-   span.bold 1/ Features
  //- span.isBreak
  //- p.ni.inwardSpeech Your features make concrete the value promised “above the fold”.
  //- span.isBreak
  //- p.ni.inwardSpeech Imagine your tite promises “podcasts that look and sound amazing”. Their features turn “look and sound” into something concrete.
  //- span.isBreak
  //- p.ni.inwardSpeech Lay out each one just like a mini landing page:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6a.png" alt="Marketing Examples Product Hunt").img__100
  //- p.ni.inwardSpeech
  //-   span.bold 2/ Objections
  //- span.isBreak
  //- p.ni.inwardSpeech Handing customer's objections are less formulaic.
  //- span.isBreak
  //- p.ni.inwardSpeech For example, one might be “This sounds complicated”. And to handle it you'd show!{' '}
  //-   span.italic how your product works in three easy steps.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6q.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 2/ More social proof
  p Above the fold social proof is about!{' '}
    span.italic credibility
    | . Below the fold social proof is about!{' '}
    span.italic inspiring action
    | .
  p It's not a box you tick. It’s an opportunity to sell. Logos don't sell things. The trick is to!{' '}
    span.italic bring to life the value your page promises.
  p.list.list__top • “Get a smile you love” ⟶ Customers smiling
  p.list • “Email reinvented” ⟶ Customers describing the difference
  p.list.list_bottom • “How small brands sell more” ⟶ Sales numbers
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp7.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg3 3/ FAQ
  p There's going to be objections and selling points that don’t fit neatly into your sales pitch. Your FAQ ties up these loose ends.
  p Write down every unhandled objection and unarticulated selling point. Reframe into questions and answers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp8.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg4 4/ 2nd CTA
  p It's time for our 2nd CTA.
  p Except this time we’ve got the luxury of space. So instead of dropping one measly button lets properly tee it up.
  //- p Except this time we’ve got the luxury of space. So instead of dropping one measly button lets give one last friendly push.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp9.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg5 5/ Founder's note
  //- p Finally, you compress your landing page into a story that makes you memorable.
  //- p Finally, put yourself in your customer's shoes, and leave them with a simple story.
  //- p Finally, you compress your landing page into a story that makes you memorable. This takes the form of a personal founder's note.
  p Finally, you compress your landing page into a story that makes you memorable. The best medium for this is a personal note.
  p.list.list__top 1/ Put yourself in your customer's shoes.
  p.list 2/ Explain their problem.
  p.list.list__bottom 3/ Take ownership of it.
  //- p The goal is to leave the customer with something cohesive. A way of
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp12.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 Putting it all together
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  p.list 6/ Deliver your sales pitch!{' '}
    span.italic (features, benefits, how it works)
  p.list 7/ Bring to life your offer!{' '}
    span.italic (social proof)
  p.list 8/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 9/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 10/ Make yourself easy to sum up!{' '}
    span.italic (Founder's note)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp11.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 One last thing
  p I can't stress the following words enough.
    span.italic Your landing page is nothing more than your sales pitch.
  p Examine each element and ask
  p.inwardSpeech Would this help me sell if I met the customer in person?
  p If no, remove it. If you don't know!{' '}
    span.italic go out and sell to customer's in person.
  p You'll soon learn that fancy words and random images of smiling women don't get you far.
  p But more importantly, you'll learn the customers attitude. And what you need to say to convince them.
  //- p You'll learn that fancy words and random images of smiling women don't get you far. But more importantly, you'll learn what it takes to open their wallets.
  //- p You'll learn the words your customer's want to hear.
  //- p People don’t read websites for amusement. Your landing page is your sales pitch. Examine each element and ask
  //- p.inwardSpeech Would this help me sell if I met the buyer in person?
  //- p If no, remove it.
  //- p Salespeople aren't interested in awards for creativity. They're interested in!{' '}
  //-   span.italic the customer
  //-   | . And solving their problems.
  //- p.inwardSpeech That's a line from Donald Miller.
  //- p Salespeople don’t use fancy words or show random images of smiling women. They're not interested in button color or awards for creativtiy.
  //- p They introduce the product. Demonstrate it's value. Handle your objections. Show happy customers. Solve your problems.
