extends ../base

block content
  p Landing pages are simple. So simple people make them complicated.
  p I’ve made hundreds. It was my old job. Then I did it for clients. Here’s the formula that converted best:
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (image)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1a.png" alt="Marketing Examples Product Hunt").img__100
  //- p Let's go into on each component.
  h2.slab.bg1 1/ Title
  //- p There’s 50 ways to write a great title. The majority fall into two categories.
  p Good titles fall into one of two categories.
  p
    span.bold 1/ Value + Hook
  p
    span.italic Explain the value you provide. Then add a hook to make it more appetising. There’s two ways to write hooks:
  p.inwardSpeech.ni a) Ask “what can we say about our product that no-one else can?” That’s your hook.
  span.isBreak
  p.inwardSpeech.ni b) Ask, “what's stopping people buying?”. Address this objection. That’s your hook.
  //- p.inwardSpeech b) Indentify your customer's biggest buying objection. Address it. That’s your hook.
  //- p
  //-   span.bold 2/ One line summary
  //- p
  //-   span.italic The goal is to own your niche in one line. The trick is conviction. Write like you’ve got no competitors.
  //- p
  //-   span.italic Boil what you do into a line so powerful you don’t need a hook. The goal is to own your niche. Write like you’ve got no competitors.
  p
    span.bold 2/ Own your niche
  p
    span.italic Boil what you do into a line so powerful you don’t need a hook. The trick is conviction. Write like you’ve got no competitors.
  //- p.inwardSpeech • Don’t say “We help” say “It's how”.<br>• Don’t say “A” say “The”.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1a.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 2/ Subtitle
  p Good subtitles do two things:
  p.list.list__top a) Introduce the product
  p.list.list__bottom b) Explain how sit creates the value promised in your title
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2a.png" alt="Marketing Examples Product Hunt").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2b.png" alt="Marketing Examples Product Hunt").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2c.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 3/ Image
  //- p Landing pages are a speed date.
  //- p Your image is your Tinder picture.
  p Good images let the user!{' '}
    span.italic visualise the value
    | .
  p Good images persuade. And there's nothing more persuasive than the product itself.
  p So show it off. Could be a GIF.
  p Don't waste the opportunity on stock images or illustrations.
  p It’s your job to persuade the user. Nothing is more persuasive than the product itself.
  p Street sellers don’t show you illustrations. Nothing is more convincing than the product itself.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp3a.png" alt="Marketing Examples Product Hunt").img__80
  h2.slab.bg4 4/ Social Proof
  p 99% of marketers are doing social proof wrong.
  p They treat it like a box to be ticked, “throw on some logos, job done”. But the best social proof
    span.italic sells your product for you
    | .
  p Logos don’t sell things. REAL customers, words, and numbers sell things.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp4.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg5 5/ CTA
  p The role of your CTA is to make taking the next step easy.
  p Most buttons amplify action:!{' '}
    span.italic Sign Up, Start Trial etc.
    |!{' '}And they work!{' '}
    span.italic as long as the user wants to buy
    | . But most users are on the fence.
  p Here's 3 more effective CTA types.
  //- p.list.list__top 1/ Capture Email with CTA (Frictionless signup)
  p.list.list__top 1/ Email capture with CTA (
    span.italic One click signup ⟶ Onboarding
    | )
  //- p.list 2/ Amplify value (CTA fulfills the value promised in your title)
  //- p.list  2/ Amplify value (CTA fulfills the value in your title)
  p.list 2/ Amplify value (
    span.italic Fulfills the value in your title
    | )
  p.list.list__bottom 3/ Remove friction (
    span.italic Classic CTA with objection handling
    | )
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5.png" alt="Marketing Examples Product Hunt").img__100
  //- h2.under Putting it all together
  //- p.list.list__top 1/ Explain the value you provide!{' '}
  //-   span.italic (title)
  //- p.list 2/ Explain how you'll create it!{' '}
  //-   span.italic (subtitle)
  //- p.list 3/ Let the user visualise it!{' '}
  //-   span.italic (image)
  //- p.list 4/ Make it believable!{' '}
  //-   span.italic (social proof)
  //- p.list.list__bottom 5/ Make taking the next step easy!{' '}
  //-   span.italic (CTA)
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1.png" alt="Marketing Examples Product Hunt").img__100
