extends ../base

block content
  //- p A good landing page is simple. I’ve made hundreds. It was my old job, then I did it for clients.
  //- p When I started I'd copy sections from other sites. But after a dozen I found a formula that converted:
  p There’s two parts of a landing page: what’s immediately visible!{' '}
    span.italic (above the fold)
    |!{' '}and what the user scrolls to!{' '}
    span.italic (below the fold)
    | .
  p Let's start!{' '}
    span.italic above the fold
    |. A caveman should be able to glance at it and immediately grunt back what you offer. Here’s my formula:
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg1 1/ Title
  p There’s one hundred ways to write a great title. I'm going to focus on three.
  //- p The role of your title is to explain the value you provide. There's one hundred ways of doing this. I'm going to focus on three.
  p.ni.inwardSpeech
    span.bold 1/ Explain what you do
  span.isBreak
  p.ni.inwardSpeech When your product is unique all you have to do is explain what you do as simply as possible.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1a.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Hooks
  span.isBreak
  p.ni.inwardSpeech Most products aren't unique. So a hook adds!{' '}
    span.italic oomph
    | . The easiest way to write hooks is to address your customer's biggest objection.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1b.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  //- p
  //-   span.italic The goal is to own your niche in one line. The trick is conviction. Write like you’ve got no competitors.
  p.ni.inwardSpeech
    span.bold 3/ Own your niche
  span.isBreak
  p.inwardSpeech.ni Some startups transcend hooks. Another pattern is to!{' '}
    span.italic own your niche in one line
    | . Write with conviction. You're!{' '}
    span.italic THE
    |!{' '}solution.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1c.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  h2.slab.bg2 2/ Subtitle
  //- p The role of your subtitle is to:
  //- p.list.list__top a) Introduce the product
  //- p.list.list__bottom b) Explain!{' '}
  //-   span how
  //-   |!{' '}it creates the value in your title
  p Subtitles are where you get specific. Introduce the product. Explain how it creates the value in your title.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp2.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg4 3/ Visual
  p Show off your product in all it's glory. The goal is to get as close to reality as possible.
  p Don't show me random images. Show me your product. Or even better, your product!{' '}
    span.italic in action
    | .
  //- p.inwardSpeech Illustrations → Your product → Your product in action
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp3b.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg3 4/ Social Proof
  //- p The role of social proof (above the fold) is to establish credibility. Credibility adds weight to your title.
  p The role of social proof (above the fold) is to establish credibility in as few pixels as possible. Credibility adds weight to your title.
  //- p E.g. “How small brands sell more online” works reinforced by 18,000 customer reviews, “A Proven podcast framework” is reinforced by 900,000 donwloads, etc...
  p.inwardSpeehc E.g. “How small brands sell more online” is just a claim. The 18,000 reviews make you believe it.
  //- p.list.list__top • “How small brands sell more” is made real by 18,000 reviews.
  //- p.list • “A Proven podcast framework” is reinforced by 900,000 downloads.
  //- p.list.list__bottom • “Email's new heyday” is reinforced by awards from renowned sites.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp4a.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg5 5/ CTA
  p Your CTA makes taking the next step easy.
  p Most buttons emphasise the action:!{' '}
    span.italic Sign Up, Start Trial etc.
    |!{' '} Clear, but not compelling. Here's three more persuasive CTA types.
  p.ni.inwardSpeech
    span.bold 1/ Call to value
  p.ni.inwardSpeech Buttons which emphasise “value” over “action” usually perform better. The trick is to fulfil the value your title promises.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5a.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Objection handle
  span.isBreak
  p.ni.inwardSpeech Add a few words to your CTA to handle the users biggest objection to clicking.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5b.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 3/ Email capture + CTA
  p.ni.inwardSpeech Pair email capture with your CTA to make signing up as easy as possible.
  //- p.ni.inwardSpeech Pair email capture with your CTA to make initial sign up as easy as possible. This doesn't mean sacrificing info. Collect it whilst onboarding.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp5c.mp4" playsinline="playsinline" autoplay muted loop="false").img__100.sesquon
  h2.slab.bg1 “Above the fold” recap
  //- p In seconds customers try to establish whether or not you can help them. If they can't work this out they'll leave. Make their life easy.
  //- Clarity over creativity.
  p In five seconds customers try to establish whether or not you can help them. Make their life easy.
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp1.png" alt="Marketing Examples Product Hunt").img__100.sesquon
  h2.slab.bg2 “Below the fold”
  p
    span.italic Above the fold
    |!{' '}you earn the customer's attention.!{' '}
    span.italic Below the fold
    |!{' '}you earn the sale. Here's the last five steps:
  p.list.list__top 6/ Deliver your sales pitch!{' '}
    span.italic (features and objections)
  p.list 7/ Inspire action!{' '}
    span.italic (social proof)
  p.list 8/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 9/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 10/ Make yourself memorable!{' '}
    span.italic (Founder's note)
  h2.slab.bg1 1/ Features and Benefits
  p This is where you deliver your product’s sales pitch. You want 3-6 different features. Each one follows a similar pattern:
  p.list.list__top 1/ State feature
  p.list 2/ Explains feature. States a real world benefit
  p.list.list__bottom 3/ Brings to life with a visual element
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6.png" alt="Marketing Examples Product Hunt").img__100




  //- h2.slab.bg1 6/ Features and objections
  //- p Your “sales pitch” consists of features and objections. Most websites spray noise here. You want to be deliberate.
  //- p.ni.inwardSpeech
  //-   span.bold 1/ Start with features
  //- span.isBreak
  //- //- p.list.list__top 1/ Explain the value you provide!{' '}
  //- //-   span.italic (title)
  //- //- p.list 2/ Explain how you'll create it !{' '}
  //- //-   span.italic (subtitle)
  //- //- p.list.list__bottom 3/ Let the user visualise it!{' '}
  //- //-   span.italic (visual)
  //- //- p This is where you deliver your sales pitch. Most websites spray noise here.
  //- //- Start with writing down the features which make concrete the value in your title.
  //- p.ni.inwardSpeech Grab a notebook. Write your landing page title at the top. Next write the features that reinforce the value in your title.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6f.png" alt="Marketing Examples Product Hunt").img__100
  //- span.isBreak
  //- p.ni.inwardSpeech This is your feature outline. Lay out each one just like a mini landing page:
  //- span.isBreak
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6a.png" alt="Marketing Examples Product Hunt").img__100
  //- p Next, handle your customer's biggest objections.
  //- p.ni.inwardSpeech
  //-   span.bold 1/ Start with features
  //- p For example, one might be “This sounds complicated”. To handle it you'd show how your product works in three easy steps.
  //- //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp6b.png" alt="Marketing Examples Product Hunt").img__100
  //- //- p In other cases it's not as formulaic. E.g. An objection might be “This sounds complicated”. In which case you'd show a “How it works section”
  h2.slab.bg2 7/ More social proof
  p Your open goal to blow away potential customers. Use existing customers to!{' '}
    span.italic bring to life the value your page promises.
  //- p Above the fold social proof is about!{' '}
  //-   span.italic credibility
  //-   | . Below the fold social proof is about!{' '}
  //-   span.italic inspiring action
  //-   | .
  //- p It's not a box you tick. It’s an opportunity to sell your product. Again, the trick is to!{' '}
  //-   span.italic bring to life the value your page promises.
  p.list.list__top • “Get a smile you love” ⟶ Customers smiling
  p.list • “Email reinvented” ⟶ Customers describing the difference
  p.list.list_bottom • “How small brands sell more” ⟶ Sales numbers
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp7.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg3 8/ FAQ
  p There's going to be features and objections that don’t fit neatly into your sales pitch. This is where your FAQ comes in.
  p Write down every unhandled objection and unarticulated selling point. Reframe into questions and answers.
  //- p There's going to be features and objections that don’t fit neatly into your sales pitch. Write them down. Reframe into questions and answers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp8.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg4 9/ 2nd CTA
  p We've done the selling. It's time for our 2nd CTA.
  //- p This time we’ve got the luxury of space. So instead of dropping one measly button lets reiterate the value one last time.
  p This time we've got the luxury of space. So instead of dropping one measly button remind the customer why they're clicking.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp9a.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg5 10/ Founder's note
  p Finally, you leave the customer with a story that make you easy to sum up.
  p.list.list__top 1/ Put yourself in their shoes.
  p.list 2/ Explain their problem
  p.list 3/ Take ownership of it
  p.list.list__bottom 4/ Show the happy ending
  //- p.inwardSpeech Put yourself in their shoes. Explain their problem. Take ownership of it. Show the happy ending.
  p You're walking them down a path they'll want to walk themselves.
  //- p Oh, and!{' '}
  //-   spam.italic people buy from people
  //-   | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp12.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 Putting it all together
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  p.list 6/ Deliver your sales pitch!{' '}
    span.italic (features and objections)
  p.list 7/ Bring to life your offer!{' '}
    span.italic (social proof)
  p.list 8/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 9/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 10/ Make yourself memorable!{' '}
    span.italic (Founder's note)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lsp11.png" alt="Marketing Examples Product Hunt").img__100
  h2.slab.bg2 One last thing
  p People don’t read websites for amusement. Your landing page is nothing more than your sales pitch. Examine each element and ask
  p.inwardSpeech Would this help me sell if I met the buyer in person?
  p If the answers no, remove it.
  //- p Salespeople don’t use words like!{' '}
  //-   span.italic empower
  //-   | . They don't show random images of smiling women. They're not interested in an award for creativity.
  p Salespeople don’t use fancy words. They don't show random images of smiling women. They're not interested in awards for creativity.
  p They're interested in!{' '}
    span.italic the customer
    | . And solving their problems.
