extends ../base

block content
  p
    span.italic Clermont-Ferrand, 1889.
  p Andre and Edouard Michelin had just started making tyres.
  p The problem was!{' '}
    span.italic no one was buying tyres
    | . There were less than 300 cars in France.
  //- p The problem was there were less than 300 cars in France.
  p So hoping to encourage car ownership they published the!{' '}
    span.italic Michelin Guide
    | .
  p It was the ultimate guide for new motorists. Including maps, instructions on how to change tires, locations of fine restaurants, etc.
  p And they printed 35,000 copies and gave them away for free.
  p Over the next decade the number of motorists soared. And so did demand for the guide.
  p The brothers started charging 7 francs and ramped up distribution. By 1908 different versions were being sold throughout Europe.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich1.jpg" alt="Marketing Examples Product Hunt").img__100
  p It would have been easy to rest on their laurels. But each year the brothers took pride in improving the guide.
  p Shortly after the First World War they hired inspectors to visit restaurants. And the first!{' '}
    span.italic Michelin stars
    |!{' '}were awarded.
  p By 1930 the guide was a regular on France’s bestseller list.
  p.inwardSpeech Why am I telling you this?
  p Well, The Michelin brothers made something so useful they never had to worry about selling tyres.
  p Car enthusiasts loved the!{' '}
    span.italic Michelin Guide
    | . What sort of tyres do you think they bought?
  h2.under 1/ Confessions of an Advertising Man
  p In 1962 David Olgivy had!{' '}
    span.italic 19
    |!{' '}clients.
  p He took a long vacation to write about everything he’d learnt from 14 years in advertising.
  p
    span.italic Confessions of an Advertising Man
    |!{' '}sold 1 million copies. And in two decades Ogilvy's agency grew to!{' '}
    span.italic 3000
    |!{' '}clients and!{' '}
    span.italic 267
    |!{' '}offices around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich2a.png" alt="Marketing Examples Product Hunt").img__100
  //- p Car owners loved the!{' '}
  //-   span.italic Michelin Guide
  //-   | . What type of tyres do you think they wanted?
  //- p.inwardSpeech It was impossible to walk into a garage and not see a Michelin Guide. What sort of tyres do you think they sold?
  //- p.inwardSpeech Every car owner sold Michelin guides. What sort of tyres do you think they sold?
  //- p.inwardSpeech Every garage sold Michelin guides. What sort of tyres do you think they sold?
  //- p.inwardSpeech You'd own a garage. You'd own a Michelin guide. You'd import Michelin tyres.
  p I'm re-telling these stories because their lessons have been forgotten.
  p Throwing a blog on a website and churning out content for content's sake is the status quo. But... it's worthless.
  p You're competing against billions of blogs, videos, podcasts, etc. And it's winner takes all.
  p You want to be creating!{' '}
    span.italic Michelin Guides
    | . Here's two modern day examples.
  h2.under 1/ River Pools
  p After the 2008 recession River Pools were on the brink of collapse.
  p They cut their $250k marketing budget and started writing blog posts answering!{' '}
    span.italic every single question
    |!{' '}customers had ever asked them.
  p 700 articles later they'd built the!{' '}
    span.italic Wikipedia for Fibreglass pools
    |. Every month it pulls in!{' '}
    span.italic 300k
    |!{' '}visitors to their website.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich7.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Planterina
  //- p Planterina sells plants all over the US. They also run the biggest houseplant YouTube channel in the world.
  //- p The goal isn't to sell plants. But to be!{' '}
  //-   span.italic the place
  //-   |!{' '}to learn plantcare.
  //- p Each day the channel pulls in!{' '}
  //-   span.italic 110k
  //-   |!{' '}views!
  p When Planterina started selling plants, their founder, Amanda, set up a YouTube channel.
  p The goal wasn’t to sell plants. But to be!{' '}
    span.italic the place
    |!{' '}to learn plantcare. Two years (and 180 videos) later the channel pulls in!{' '}
    spam.italic 110,000
    |!{' '}views every single day!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="Marketing Examples Product Hunt").img__100
  p There’s a line from Jason Fried which sums it up.
  p.inwardSpeech Instead of trying to outspend, outsell, or out sponsor your competitors, try to out-teach them.
  p Teaching compounds in a way spending, selling, and sponsoring can't.
  p Your mission is to create!{' '}
    span.italic.bold the place
    |!{' '}to learn about _______
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich5a.png" alt="Marketing Examples Product Hunt").img__100