extends ../base

block content
  p
    span.italic Clermont-Ferrand, 1889.
  p Andre and Edouard Michelin had just started making tyres.
  p The problem was there were less than 300 cars in France.
  p So hoping to encourage car ownership they published the!{' '}
    span.italic Michelin Guide
    | .
  p It was the ultimate guide for new motorists. Including maps, instructions on how to change tires, locations of fine restaurants, etc.
  p And they printed 35,000 copies and gave them away for free.
  p Over the next decade the number of motorists soared. And so did demand for the guide.
  p The brothers started charging 7 francs and ramped up distribution. By 1908 different versions were being sold throughout Europe.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich1.jpg" alt="Marketing Examples Product Hunt").img__100
  p Each year the brothers took pride in improving the guide.
  p Shortly after the First World War they hired inspectors to visit restaurants. And the first!{' '}
    span.italic Michelin stars
    |!{' '}were awarded.
  p By 1930 each new edition was a regular on France’s bestseller list.
  p.inwardSpeech Why am I telling you this?
  p Well, The Michelin brothers made something so useful they never had to worry about selling tyres.
  p Every car enthusiast loved the!{' '}
    span.italic Michelin Guide
    | . What sort of tyres do you think they bought?
  p It was content marketing before!{' '}
    span.italic content marketing
    | .
  p.asterix * * *
  p That's the power of content marketing. And I think people have forgotten it.
  p Slapping a blog on a website and churning out content for content's sake is the status quo. But... it's worthless.
  p You're competing against literally billions of blog posts, videos, podcasts, etc.
  p And it's winner takes all. It's the top 1% get 99% of the attention.
  p Let me give you some more examples.
  h2.under 1/ Confessions of an Advertising Man
  p In 1962 David Olgivy had!{' '}
    span.italic 19
    |!{' '}clients.
  p He took a long vacation to write about everything he’d learnt from 14 years in advertising.
  p
    span.italic Confessions of an Advertising Man
    |!{' '}sold 1 million copies. And in two decades Ogilvy's agency grew to!{' '}
    span.italic 3000
    |!{' '}clients and!{' '}
    span.italic 267
    |!{' '}offices around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich2a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Planterina
  p Planterina sells plants all over the US. They also run the single biggest houseplant YouTube channel in the world.
  p Every day!{' '}
    span.bold one hundred thousand
    |!{' '}people watch their founder, Amanda, talk about plants.
  p It's
  p She's a born YouTuber. Hilarious. Mad about plants. And never tries to sell you anything.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 3/ Basecamp
  p Basecamp is a project management tool for startups.
  p Startup people read books. So Basecamp set out to own the publishing space.
  p.inwardSpeech How to build apps, run your business, work remotely, etc.
  p You read the books. You’re inspired. You try Basecamp.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich4.png" alt="Marketing Examples Product Hunt").img__100
  p.asterix * * *
  p There’s a quote by Jason Fried which sums it up.
  p.inwardSpeech Instead of trying to outspend, outsell, or out sponsor your competitors, try to out-teach them.
  p
    span.italic Teaching
    |!{' '}compounds in a way!{' '}
    span.italic spending
    | ,!{' '}
    span.italic selling
    |!{' '}and!{' '}
    span.italic sponsoring
    |!{' '}can’t.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich5a.png" alt="Marketing Examples Product Hunt").img__100
  //- p.inwardSpeech Don’t build a marketing team. Build a media company for your niche. — Dave Gerhardt