extends ../base

block content
  p
    span.italic Clermont-Ferrand, 1889.
  p Andre and Edouard Michelin had just started making tyres.
  p The problem was!{' '}
    span.italic no one was buying tyres
    | . There were less than 300 cars in France.
  //- p The problem was there were less than 300 cars in France.
  p So hoping to encourage car ownership they published the!{' '}
    span.italic Michelin Guide
    | .
  p It was the ultimate guide for new motorists. Including maps, instructions on how to change tires, locations of fine restaurants, etc.
  p And they printed 35,000 copies and gave them away for free.
  p Over the next decade the number of motorists soared. And so did demand for the guide.
  p The brothers started charging 7 francs and ramped up distribution. By 1908 different versions were being sold throughout Europe.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich1.jpg" alt="Marketing Examples Product Hunt").img__100
  p It would have been easy to rest on their laurels. But each year the brothers took pride in improving the guide.
  p Shortly after the First World War they hired inspectors to visit restaurants. And the first!{' '}
    span.italic Michelin stars
    |!{' '}were awarded.
  p By 1930 the guide was a regular on France’s bestseller list.
  p.inwardSpeech Why am I telling you this?
  p Well, The Michelin brothers made something so useful they never had to worry about selling tyres.
  p Car enthusiasts loved the!{' '}
    span.italic Michelin Guide
    | . What sort of tyres do you think they bought?
  //- p Car owners loved the!{' '}
  //-   span.italic Michelin Guide
  //-   | . What type of tyres do you think they wanted?
  //- p.inwardSpeech It was impossible to walk into a garage and not see a Michelin Guide. What sort of tyres do you think they sold?
  //- p.inwardSpeech Every car owner sold Michelin guides. What sort of tyres do you think they sold?
  //- p.inwardSpeech Every garage sold Michelin guides. What sort of tyres do you think they sold?
  //- p.inwardSpeech You'd own a garage. You'd own a Michelin guide. You'd import Michelin tyres.
  h2.under Confessions of an Advertising Man
  p In 1962 David Olgivy had just!{' '}
    span.italic 19
    |!{' '}clients.
  p He took a long vacation to write about everything he’d learnt from 14 years in advertising.
  p
    span.italic Confessions of an Advertising Man
    |!{' '}sold 1 million copies. And in two decades Ogilvy's agency grew to!{' '}
    span.italic 3000
    |!{' '}clients and!{' '}
    span.italic 267
    |!{' '}offices around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich2a.png" alt="Marketing Examples Product Hunt").img__100
  p I'm re-telling these stories because content marketers have forgotten them.
  p Throwing a blog on a website and churning out content is the new status quo. But it's worthless.
  p You want to be creating!{' '}
    span.italic Michelin Guides.
    |!{' '}Stuff that stands the test of time.
  p Let me remind you of a few lessoms.
  h2.under 1/ Content is winner takes all
  p It's the top 1% that gets 99% of the attention.
  p Michelin wrote!{' '}
    span.italic the guide
    |!{' '}for motorists. Whoever wrote the 2nd best guide didn't get half the attention.
  //- Option2
  //- h2.under 1/ Content is winner takes all
  //- p It's the top 1% that gets 99% of the attention.
  //- h2.under 2/ Out-teach the competition
  //- p The easiest way to get in that 1% is to!{' '}
  //-   span.italic “out-teach”
  //-   |!{' '}the competition.
  //- p Michelin wrote!{' '}
  //-   span.italic the guide
  //-   |!{' '}for motorists. Ogilvy wrote!{' '}
  //-   span.italic the book
  //-   |!{' '}for advertisers.
  //- p
  //-   span.italic Michelin Guide marketing
  //-   |!{' '}means creating the!{' '}
  //-   span.italic single best place
  //-   |!{' '}to learn about your niche.
  //- p Imagine you're selling houseplants. Your mission is to create!{' '}
  //-   span.italic the place
  //-   |!{' '}to learn about houseplants.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 1/ Out-teach your competition
  p Your mission is to create!{' '}
    span.italic the place
    |!{' '}to learn about your niche.
    span.italic
  h2.under 3/ Content compounds in a way other marketing channels don't.
  p Consistency is rewarded
  p When Planterina started on!{' '}
    a(href="https://www.youtube.com/c/Planterina") YouTube
    |!{' '}they averaged 1k views each day. Two years (and 181 videos) later they average 100k views every day.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich5a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 4/ Create the type of content your customers consume
  p.list.list__top • LEGO made a movie because kids watch movies
  p.list • Michelin made a guide because motorists like guides
  p.list.list__bottom • Basecamp wrote a book because entrepreneurs read books
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich6.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under And that's pretty much it
  h2.under And that's it
  p Start laying the foundations because the rewards are high.
  p The goal is a media company to accompany your product. Ahrefs is perhaps the best example.
  p Every month, without lifting a finger, 2M people visit their site. The result of a decade dedicated to being!{' '}
    span.italic the place
    |!{' '}to learn SEO.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="Marketing Examples Product Hunt").img__100