extends ../base

block content
  p
    span.italic Clermont-Ferrand, 1889.
  p Andre and Edouard Michelin had just started making tyres.
  p The problem was there were less than 300 cars in France.
  p So hoping to encourage car ownership they published the!{' '}
    span.italic Michelin Guide
    | .
  p It was the ultimate guide for new motorists. Including maps, instructions on how to change tires, locations of fine restaurants, etc.
  p And they printed 35,000 copies and gave them away for free.
  p Over the next decade the number of motorists soared. And so did demand for the guide.
  p The brothers started charging 7 francs and ramped up distribution. By 1908 different versions were being sold throughout Europe.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich1.jpg" alt="Marketing Examples Product Hunt").img__100
  p Each year the brothers took pride in improving the guide.
  p Shortly after the First World War they hired inspectors to visit restaurants. And the first!{' '}
    span.italic Michelin stars
    |!{' '}were awarded.
  p By 1930 each new edition was a regular on France’s bestseller list.
  p.inwardSpeech Why am I telling you this?
  p Well, The Michelin brothers made something so useful they never had to worry about selling tyres.
  p Car enthusiasts loved the!{' '}
    span.italic Michelin Guide
    | . What sort of tyres do you think they bought?
  h2.under Confessions of an Advertising Man
  p In 1962 David Olgivy had!{' '}
    span.italic 19
    |!{' '}clients.
  p He took a long vacation to write about everything he’d learnt from 14 years in advertising.
  p
    span.italic Confessions of an Advertising Man
    |!{' '}sold 1 million copies. And in two decades Ogilvy's agency grew to!{' '}
    span.italic 3000
    |!{' '}clients and!{' '}
    span.italic 267
    |!{' '}offices around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich2a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under River Pools
  p After the 2008 recession River Pools were on the brink of collapse.
  p They cut their $250k marketing budget and started writing blog posts answering!{' '}
    span.italic every single question
    |!{' '}customers had ever asked them.
  p 700 articles later they'd built the!{' '}
    span.italic Wikipedia for Fibreglass pools
    |. Every month it pulls in!{' '}
    span.italic 300k
    |!{' '}visitors to their website.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich7.png" alt="Marketing Examples Product Hunt").img__100
  p I'm re-telling these stories because their lessons have been forgotten.
  p Throwing a blog on a website and churning out content for content's sake is the status quo. But... it's worthless.
  p You're competing against billions of blogs, videos, podcasts, etc. And it's winner takes all.
  p Let me give you a crash course
  p The easiest way to stand out that 1% is to!{' '}
    span.italic “out-teach”
    |!{' '}your competitors.
  p Your mission is to create!{' '}
    span.italic the place
    |!{' '}to learn about your niche.
  p This means consistency. Because content compounds in a way other marketing channels don't.
  //- p Because unlike other marketing channels, content compounds. And the benefits of compound interest come at the end of the compounding.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich5a.png" alt="Marketing Examples Product Hunt").img__100
  p It also means depth over breadth.
    span.italic Going big
    |!{' '}on one platform means you'll compound faster.
  p So pick the type of content which your customers are consuming.
  p.inwardSpeech River Pools wrote blogs because people buying pools use Google
  h2.under And that’s it
  p Get to work and you’ll have a full blown media company to accompany your product. Ahrefs is perhaps the best example.
  p Every month, without lifting a finger, 2M people visit their site. The result of ten years dedicated to being the single best place to learn SEO.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="Marketing Examples Product Hunt").img__100