extends ../base

block content
  p Last week Molly-Mae did an!{' '}
    a(href="https://www.instagram.com/p/CE7P2L8F42o/" target="_blank") Instagram giveaway
    | . She spent £8k on gifts.
  p So far it's returned:
  p.list.list__top • 270k new YouTube subscribers
  p.list • 210k new Instagram followers
  p.list.list__bottom • 550k new followers of her brand,!{' '}
    span.italic Filter by Molly-Mae
  p That's < 1p / fan. Possibly the best ROI I've seen. Let's break it down:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly1.png" alt="Molly-Mae's Instagram and YouTube graph growth").img__100
  p The most important thing Molly-Mae did was time her giveaway with reaching 1M YouTube subscribers.
  p This gave it!{' '}
    span.italic purpose
    | .
  p It wasn't just an attempt to get some new followers. It was a!{' '}
    span.italic celebration
    | . And people would rather support the latter.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly2.jpg" alt="Molly-Mae's Instagram giveaway").img__100
  p Next, let's look at the specifics.
  p Molly-Mae asked followers to “like and tag”. She also offered bonus entries for “multiple tags” or if users shared the post to their stories.
  p Each one created a mini viral loop which helped the post spread.
  p And it worked. Her post got 1.9M comments (1900x her average).
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly3.png" alt="Molly-Mae's Instagram giveaway case study").img__100
  p The giveaway exploded. To the point where it was becoming a meme. Boys started sarcastically offering £5 for girls to!{' '}
    span.italic not
    |!{' '}enter.
  p The easy thing was to not respond. But Molly did. And her self-awareness nipped the meme in the bud.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly5.png" alt="Molly-Mae's Twitter giveaway response").img__95
  p Finally, let's talk results.
  p The aim of most giveaways is to grow the account hosting the giveaway.
  p But the problem with that is the people you’re targeting!{' '}
    span.italic already follow you
    | . It's like running an ad!{' '}
    span.italic to your followers
    |!{' '}asking them!{' '}
    span.italic to follow you.
  //- p Molly-Mae realised giveaways are more effective at convertig existing followers!{' '}
  //-   |!{' '}to!{' '}
  //-   span.italic new platforms.
  p Molly-Mae saw her giveaway as an opportunity to convert existing followers!{' '}
    |!{' '}to!{' '}
    span.italic new platforms.
  p She prioritised YouTube and her brand,!{' '}
    span.italic Filter by Molly-Mae
    | . And managed to pull 820k across!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly4b.png" alt="Instagram giveaway conversions").img__100
  p Okay. Last thing. Yes, it’s well-executed. But for £8k the return is still insane.
  p If a fashion brand runs the same giveaway the numbers don't compare.
  p Molly-Mae's!{' '}
    span.italic personal brand
    |!{' '}is what makes the difference.
  //- p People prefer people to brands
  //- p We don't celebrate!{' '}
  //-   span.italic individuals
  //-   | . We celebrate!{' '}
  //-   span.italic brands
  //-   | .
  p We celebrate!{' '}
    span.italic individuals
    | . Not!{' '}
    span.italic brands
    | . And Molly-Mae leveraged that.
  h2.under Support
  p Thanks for reading. If you'd enjoyed this one, I'd love it if you joined the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    | . I share a new marketing case study, like this one, each week.
  p Thanks to!{' '}
    a(href="https://ahrefs.com" target="blank") Ahrefs
    |!{' '}for sponsoring. I rely on them to grow my own search traffic.
  p
    span.italic Over and out — Harry