extends ../base

block content
  p Last week Molly-Mae did an!{' '}
    a(href="https://www.instagram.com/p/CE7P2L8F42o/" target="_blank") Instagram giveaway
    | .
  p She spent £8k on gifts. Her reward was!{' '}
    span.italic 1M new followers and subscribers
    |!{' '}across Instagram and YouTube.
  p That's < 1p / new fan. Possibly the best ROI I've seen.
  p Let's break it down:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly1.png" alt="Molly-Mae's").img__100
  p Firstly, Molly's giveaway had a purpose.
  p She timed it!{' '}
    span.italic with reaching 1M subscribers on YouTube
    | .
  p It wasn't just an!{' '}
    span attempt
    |!{' '}to get some new followers. It was a celebration. And people were happy to support the latter.
  //- p And people would much rather support the latter.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly2.jpg" alt="Marketing Examples Product Hunt").img__100
  //- p There's a checklist of seven items. Four created loops which helped the post spread.
  //- p Next up, Molly had the challenge of taking the giveaway viral.
  //- p Molly knew if the post went “viral”, the followers would take of themselves.
  p Let's look at the specifics of the giveaway.
  p Molly asked followers to “like and tag”. She also offered bonus entries for “multiple tags” or if users shared to their stories.
  p Each one created a mini viral loop which helped the post spread.
  p It amassed 1.9M comments. 1900x her average.
  //- Option 2
  //- p Next, let's look at the specifics.
  //- p Molly's focus was building engagement on the post itself.
  //- p Her checklist prioritised!{' '}
  //-   span.italic likes
  //-   | ,!{' '}
  //-   span.italic tags
  //-   | ,!{' '}and people!{' '}
  //-   span.italic sharing stories
  //-   |!{' '}to help the post spread.
  //- p This made it practically impossible to open Instagram and not see something about the giveaway.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly3.png" alt="Marketing Examples Product Hunt").img__100
  p Finally, let's talk results. The goal of most giveaways is to grow the following of the account hosting the giveaway.
  p But the people you're targeting!{' '}
    span.italic already follow you
    | . So you're wasting your “ask”.
  p Molly realised giveaways are more effective at converting!{' '}
    span.italic existing followers
    |!{' '}to!{' '}
    span.italic new platforms.
  p She prioritised YouTube and her brand Instagram. 820k converted. In comparison, her own account only grew by 210k.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly4b.png" alt="Marketing Examples Product Hunt").img__90
  p Last thing. Yes, it’s well executed. But for £8k the return is insane.
  p Molly's!{' '}
    span.italic personal brand
    |!{' '}is the invisible multiplier.
  p If a fashion brand ran the same giveaway the numbers wouldn't compare.
  p We don't celebrate!{' '}
    span.italic brands
    | . We celebrate!{' '}
    span.italic individuals
    | . And Molly leveraged that.