extends ../base

block content
  //- p
  //-   a(href="https://www.noname.ca/en_CA" target="_blank") no name
  //-   |!{' '}is a “no-nonsense, no frills” supermarket brand in Canada.
  //- p Nothing special. A lot of supermarket brands share these “values”. The hard part is communicating them in a way that people remember.
  //- p Most discount brands try and persuade people with slogans, packaging, and comparison ads. But that's hardly “no-frills”.
  //- p.asterix ***
  p no name is a “no nonsense, no frills” supermarket brand in Canada.
  p Nothing special. A lot of discount brands share these “values”.
  p But they all communicate them through similar slogans, packaging, and comparison ads.
  //- p But competition leads to copy-catting, and they all communicate them through similar slogans, packaging, and comparison ads.
  //- p _________________________________________________
  //- p no name is a “no nonsense, no frills” supermarket brand in Canada.
  //- p Nothing special. A lot of discount brands share similar “values”. And they all rely on fancy slogans, packaging, and cost-saving ads to communicate them.
  //- p But that's hardly “no-frills”. All that jazz is designed to persuade.
  //- p _________________________________________________
  p no name tried something completely different. What happens if you strip away all the fancy-dress from a brand? You're left with the bare bones. Stark simplicity.
  p The packaging is lowercase Helvetica over a yellow background. The website says “website”. The Twitter page says “twitter page”. Their sole ad campaign of the last decade saw them matter-of-factly label Toronto’s subway station:
  //- p What matters is how you communicate your values. It's not enough to tell people who you are. You have to say it in a way that gets people's attention.
  //- p The hard part is communicating your “values” in a way that people remember them. And this is where no name excels.
  //- p Most discount brands run ads showing savings or slap “20% extra free” on their packaging. no name goes the other way.
    | :
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn1.jpg" alt="no name brand products").img__100
  p Ironically, no name's “anti-brand” approach has attracted a cult following.
  p Since 1978 the product line has grown from!{' '}
    span 16
    |!{' '}to!{' '}
    span 2,900
    |!{' '}items. A simple picture of biscuits on Twitter gets!{' '}
    span 6,000
    |!{' '}likes. Their customers demanded merchandise and it sold out overnight.
  p It's!{' '}
    span football club
    |!{' '}brand power from a!{' '}
    span household product
    |!{' '}line.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn2f.jpg" alt="no name twitter and merch").img__100
  h2.under What can we learn from no name?
  p The first lesson is!{' '}
    span.bold separation
    | .
  p To quote Ted Morgan, “positioning is like finding a seat on a crowded bus”.
  p Most brands walk on the bus, glance left, glance right, and end up sitting on top of each other. no name marched straight up to the top deck, found an empty seat, painted it yellow, and no one else can sit there.
  p You escape competition through separation.
  p The second lesson is!{' '}
    span.bold limitation
    | .
  p Limitation is the essence of branding.
  p no name’s focus is singular. They don’t pretend to be lots of different things. They stand for something simple and narrow:!{' '}
    span.italic The rejection of superficiality
    | .
  p The final lesson is!{' '}
    span.bold consistency
    | .
  p Once you know what you stand for consistency is how you imprint yourself. Consistent tone, Consistent aesthetics. Consistent messaging.
  p no name tells the same joke over and over again, and it gets better every time. It reminds me of a running gag on!{' '}
    span.italic Jimmy Kimmel Live
    |!{' '}where Jimmy bumps Matt Damon from the show every night.
  //- p  — “Apologies to Matt Damon, we ran out of time”.
  p The first time you're unsure, the 50th time it’s the best thing in the world. That's the power of consistency:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn.mp4" class="img__90" playsinline="playsinline" preload="auto" controls="controls")
  p.asterix * * *
  p
    span.bold Limitation
    | ,
    |!{' '}
    span.bold consistency
    |, and!{' '}
    span.bold separation
    |!{' '}is how brands are built:
  p.list.list__top • Rolex will never sell a watch for less than $5000
  p.list • Subway has sold just one type of sandwich for 54 years
  p.list.list__bottom • Doubletree has given out free chocolate chip cookies for 39 years
  h2.under Cheers
  p Thanks to!{' '}
    a(href="https://www.amazon.co.uk/dp/B000FC10H0/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank") Al and Laura Ries
    | ,!{' '}
    a(href="https://twitter.com/mkobach" target="_blank") Matthew Kobach
    | ,!{' '}
    a(href="https://twitter.com/davegerhardt" target="_blank") Dave Gerhardt
    |, and!{' '}
    a(href="https://twitter.com/Marcus_Andrews" target="_blank") Marcus Andrews
    |!{' '}where I got some ideas from.
  h2.under Support
  p Thank you for taking the time to read. If you liked it, joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}for more case studies or sharing the thread on Twitter is really appreciated.
  blockquote.twitter-tweet
    p(lang='en', dir='ltr')
      | 💡 The genius of no name's brand
      br
      br
      | THREAD ...
    | — Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1231978688918556674?ref_src=twsrc%5Etfw') February 24, 2020
  script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
  p I'd like to thank!{' '}
    a(href="https://seobuddy.com/?utm_content=marketingexamples&utm_medium=sponsorship" target="_blank") SEOBUDDY
    |!{' '}for sponsoring the site. If you're looking for a tool to help grow your website's search traffic, I'd recommend them.
