extends ../base

block content
  p Lil Nas X was an unknown artist sleeping on sister’s coach. 5 months later he breaks the record for the longest running  No. 1 single in Billboard history. This is the story:
  //- p Lil Nas X was an unknown artist sleeping on sister’s coach.
  //- p.asterix * * *
  //- p Failed musicians think like failed startups. Too much time writing songs. Not enough time promoting them.
  h2.under November 2018
  //- p Lil Nas X drops out of college to pursue music. He doesn't write many songs, instead, he lives on Twitter where he develops a talent for making memes go viral. His account quickly grows to 30,000 followers.
  p Lil Nas X drops out of college to pursue music. He doesn't write many songs. Instead he lives on Twitter, where he makes online friends and posts funny memes. Quickly his account grows to 30,000 followers.
  p The plan is to use this following to promote his music. But it isn't that simple. In Nas’ words:
  p.inwardSpeech I’d post a meme and get 2,000 retweets. Then I’d post a song and get 10.
  //- p So Nas changed his strategy. He knows he can make memes go viral, so he sets out to write a song that he could promote through memes.
  h2.under December 2018
  p So Nas changes his strategy. He stops tweeting Soundcloud links and starts writing a song he can promote through memes.
  //- p In his words:
  //- p.inwardSpeech It had to be short. It had to be quotable. It had to be funny.
  //- p The plan was to use his following to springboard his music. But it wasn’t that simple. Nas could make memes go viral, but his followers didn't care about his soundcloud. So Nas came up with a solution. He wrote a song he could promote using memes
  p
    span.italic Old Town Road
    |!{' '}is the result. And Nas gets the self promotion underway:
  //- p
  //-   span.italic Old Town Road
  //-   |!{' '}was the result. Here’s the first video of Nas promoting it online!{' '}
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | country music is evolving
      a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p He doesn't link directly to the song.
  //- p And this was the formula he stuck to: Funny video, set to the tune of!{' '}
  //-   span.italic Old Town Road
  //-   | , with a link to the full song underneath.
  p And for the next this is the strategy he sticks to:
  p.list.list__top 1) Funny video
  p.list 2) Set to the tune of!{' '}
    span.italic Old Town Road
  p.list.list__bottom 3) Link to the full song underneath
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | country music is evolving
      a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  h2.under 16th March 2019
  p Powered by memes and TikTok!{' '}
    span.italic Old Town Road
    |!{' '}sneaks onto Billboard’s country music charts.
  p Yes, the!{' '}
    span.bold country music charts
    //- | . Nas listed it as a country song knowing the charts were less competitive.
    | . Nas listed it as a country song benefitting from less competitive charts.
  //- p He'd got his foot on the ladder. And an unknown black artist on the country charts was a story to get behind.
  h2.under 26th March 2019
  p Billboard removes!{' '}
    span.italic Old Town Road
    //- |!{' '}from the country charts for “not embracing enough elements of country music”.
    |!{' '}from the country charts for not being a country song.
  //- p Ironically, this is the best thing that could happen to Old Town Road.
  //- p Mainstream media loves a controversy and opinion is split on whether Billboards disqualification carries racial undertones. The song becomes a national talking point.
  //- p The controversy thrusts
  //-   span.italic Old Town Road!{' '}
  //-   |!{' '}into the spotlight. Opinion is split on whether Billboards disqualification carries racial undertones.!{' '}
  p Mainstream media love a controversy. Opinion is split on whether the disqualification carries racial undertones. And!{' '}
    span.italic Old Town Road
    |!{' '}becomes a national talking point.
  h2.under 13th April 2019
  //- p Two weeks, and one remix with Billy Rae Cyrus later, Old Town Road became the No. 1 song in the USA.
  //- p Two weeks, and a remix with country legend, Billy Rae Cyrus, later Old Town Road climbs 50 places to the top of the Billboard charts.
  p Two weeks, and a remix with Billy Rae Cyrus later, Old Town Road climbs to the top of the Billboard charts.