extends ../base

block content
  //- p November 2018 Lil Nas X was a college dropout sleeping on sister’s coach with a negative balance in his Wells Fargo account.
  //- p 5 months later he broke Mariah Carey’s record for the most consecutive weeks at No. 1 on the Billboard Hot 100 chart.
  //- p.asterix * * *
  //- p So Nas changed his strategy. He stopped tweeting Soundcloud links and began writing a song he could promote through memes. The formula was simple:
  //- p So Nas got creative. He knew he could make videos go viral, so he started promoting his music through them. The strategy was simple:
  h2.under Part 1
  p Failed musicians think like failed startups. Too much time writing songs. Not enough time promoting them.
  p When Lil Nas X dropped out of college to pursue music he didn’t write many songs. Instead he lived on Twitter, made online friends and got popular posting memes. His account quickly grew to 30,000 followers.
  p The plan was to use his following to promote his music. But it wasn’t that simple. In Nas’ words:
  p.inwardSpeech I’d post a funny meme and get 2,000 retweets. Then I’d post a song and get 10.
  p So Nas got creative. He stopped tweeting SoundCloud links and starting writing a song he could promote through memes. In his words:
  p.inwardSpeech It had to be short. It had to be catchy. It had to be funny.
  p
    span.italic Old Town Road
    |!{' '}was the result. And on the 3rd December 2018 Nas paired it with a video of a dancing cowboy and shared it with his followers:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | country music is evolving
      a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p The video went viral. So Nas double down on this strategy:
  p.list.list__top 1) Short viral videos
  p.list 2) Set to the tune of!{' '}
    span.italic Old Town Road
  p.list.list__bottom 3) Link the full song underneath
  p And the views started piled up:
  p By February short videos featuring Old Town Road were everywhere on Twitter. The problem was none of them included the words!{' '}
    span.italic Old Town Road.
  p This made searching the song difficult. People would type “I got the horses in the back” and find nothing. Nas clocked this and changed the song title on YouTube and SoundCloud. He also made a post on the Name That Song subreddit which displayed on Google. Problem solved:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/otr1.png" alt="Hilton Doubletree cookie").img__90
  h2.under Part 2
  p The rest of the story is less about marketing and more about momentum.
  //- p Inspired by!{' '}
  //-   span.italic Old Town Road's
  //-   |!{' '}success on Twitter TikTok influencers took note.
  p Inspired by!{' '}
    span.italic Old Town Road's
    |!{' '}success on Twitter it spread to TikTok.!{' '}
    span The “Yee Haw Challenge” swept the platform and in a matter of weeks!{' '}
    | the whole of TikTok was dressed up as cowboys:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/otr3.mp4" class="img__50" playsinline="playsinline" preload="auto" controls="controls")
  p This momentum carried!{' '}
    span.italic Old Town Road
    |!{' '}onto Billboard’s country music charts, where it was quickly removed for “not being a country song”.
  p Ironically, this was the best thing that could have possibly happened. Billboard's decision turned
    span.italic Old Town Road
    |!{' '}into a national talking point and two weeks later it was No. 1 on Billboard.
  p Nas started recording remixes with some of music's biggest stars.
  p Billboard has a rule whereby remix plays count towards the original song's chart placement. When one remix waned Nas released another, and!{' '}
    span.italic Old Town Road
    |!{' '}, became impossible to budge.
  p Billboard has a rule whereby remix plays count towards the original song's chart placement.
  p Nas recorded remixes with Billy Rae Cyrus, Diplo, BTS, Young Thug and Mason Ramsey. When one remix waned another would came out, and it made!{' '}
    span.italic Old Town Road
    |!{' '}, impossible to displace.
  p 17 weeks later he'd broken Mariah Carey’s record for the most consecutive weeks at No. 1.
  h2.under So there you go
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | here&rsquo;s the full song
      a(href='https://t.co/K471dssOD7') https://t.co/K471dssOD7
    | &mdash; motiv8&#x1F617; (@customnigga)
    a(href='https://twitter.com/customnigga/status/1077240508622213120?ref_src=twsrc%5Etfw') December 24, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
