extends ../base

block content
  //- p November 2018 Lil Nas X was a college dropout sleeping on sister’s coach with a negative balance in his Wells Fargo account.
  //- p 5 months later he broke Mariah Carey’s record for the most consecutive weeks at No. 1 on the Billboard Hot 100 chart.
  //- p.asterix * * *
  //- p So Nas changed his strategy. He stopped tweeting Soundcloud links and began writing a song he could promote through memes. The formula was simple:
  //- p So Nas got creative. He knew he could make videos go viral, so he started promoting his music through them. The strategy was simple:
  //- p When Lil Nas X dropped out of college to pursue music he didn’t write many songs. Instead he lived on Twitter, made online friends and got popular posting memes. His account quickly grew to 30,000 followers.
  //- p Failed musicians think like failed startups. Too much time writing songs. Not enough time promoting them.
  //- p When Lil Nas X dropped out of college to pursue music he didn’t write many songs. Instead he lived on Twitter. He made online friends and posted funny memes. Quickly his account grew to 30,000 followers.
  //- p The plan was to use his following to promote his music. But it wasn’t that simple. In Nas’ words:
  //- p.inwardSpeech I’d post a funny video and get 2,000 retweets. Then I’d post a song and get 10.
  //- p So Nas got creative. He stopped tweeting soundcloud links and he started writing a song he could promote through memes. In his words:
  //- p.inwardSpeech It had to be short. It had to be catchy. It had to be funny.
  //- p
  //-   span.italic Old Town Road
  //-   | was the result. And Nas announced it to the world.
  //- p It worked.
  //- p.list.list__top 1) Go viral with funny video
  //- p.list 2) Set the audio to!{' '}
  //-   span.italic Old Town Road
  //- p.list.list__bottom 3) Link the full song underneath
  //- blockquote.twitter-tweet
  //-   p(lang='en' dir='ltr')
  //-     | country music is evolving
  //-     a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
  //-   | &mdash; nope (@LilNasX)
  //-   a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  //- p And it worked. Nas would pull in millions of views. And people started paying attention to the background song.
  //- v2
  p Failed musicians think like failed startups. Too much time writing songs. Not enough time promoting them.
  p When Lil Nas X dropped out of college to pursue music he didn’t write many songs. Instead he lived on Twitter where he got popular posting memes.
  p On January 1st 2018 he had 500 followers. By December 1st he had 35,000. The next day he recorded and released Old Town Road.
  p The plan was to use his following to promote his music. But it wasn’t that simple. In Nas’ words:
  p.inwardSpeech I’d post a funny video and get 2,000 retweets. Then I’d post a song and get 10.
  p So Nas got creative. He stopped tweeting Soundcloud links and started promoting his music through popular memes. The strategy was simple:
  p.list.list__top 1) Go viral with funny video
  p.list 2) Set the audio to!{' '}
    span.italic Old Town Road
  p.list.list__bottom 3) Link the full song underneath
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | country music is evolving
      a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p It was the only way to get the word out. And it worked. Nas would pull in millions of views. And people started paying attention to the background song.
  //- end
  h2.under 16th March 2019
  p Powered by memes and TikTok!{' '}
    span.italic Old Town Road
    |!{' '}sneaks onto Billboard’s country music charts.
  p Yes, the!{' '}
    span.bold country music charts
    //- | . Nas listed it as a country song knowing the charts were less competitive.
    | . Nas listed it as a country song benefitting from less competitive charts.
  //- p He'd got his foot on the ladder. And an unknown black artist on the country charts was a story to get behind.
  h2.under 26th March 2019
  p Billboard removes!{' '}
    span.italic Old Town Road
    //- |!{' '}from the country charts for “not embracing enough elements of country music”.
    |!{' '}from the country charts for not being a country song.
  //- p Ironically, this is the best thing that could happen to Old Town Road.
  //- p Mainstream media loves a controversy and opinion is split on whether Billboards disqualification carries racial undertones. The song becomes a national talking point.
  //- p The controversy thrusts
  //-   span.italic Old Town Road!{' '}
  //-   |!{' '}into the spotlight. Opinion is split on whether Billboards disqualification carries racial undertones.!{' '}
  p Mainstream media love a controversy. Opinion is split on whether the disqualification carries racial undertones. And!{' '}
    span.italic Old Town Road
    |!{' '}becomes a national talking point.
  h2.under 13th April 2019
  //- p Two weeks, and one remix with Billy Rae Cyrus later, Old Town Road became the No. 1 song in the USA.
  //- p Two weeks, and a remix with country legend, Billy Rae Cyrus, later Old Town Road climbs 50 places to the top of the Billboard charts.
  p Two weeks, and a remix with Billy Rae Cyrus later, Old Town Road climbs to the top of the Billboard charts.

