extends ../base

block content
  p I love this line by Ted Morgan.
  p.inwardSpeech Positioning is like finding a seat on a crowded bus
  p Most brands sleepwalk onto the bus and sit on top of one another.
  p The smart brands look left, right, find an empty row, paint their logo on it and no one else can sit there.
  //- p Positioning is an easy thing to complicate so lets keep it simple.
  //- p 'Experts' love to complicate it but you can boil positioning into a line.
  //- p.inwardSpeech Find what separates you. Eliminate everything else.
  p 'Experts' love to complicate it so lets keep it simple.
  p.inwardSpeech The goal is to own a space in the prospect’s mind. You do this by differentiation.
  p Differentiation is not a dark art. It's something you can learn. Let's run through the different ways brands differentiating themselves.
  //- p.inwardSpeech The goal is to!{' '}
  //-   span own a space in the prospect’s mind
  //-   | . You do this by!{' '}
  //-   span differentiating yourself
  //-   | .
  h2.under 1/ Contrast
  p Point at the status quo and pit yourself against it. Contrast burns your brand into the prospect's mind.
  //- p You point at the status quo and pit yourself against it. Contrast burns your product into the prospect's mind.
  p This is what I did with Marketing Examples. Marketing content was!{' '}
    span.italic long and fluffy
    | . So I positioned Marketing Examples as!{' '}
    span.italic short and practical
    | .
  p Same principal with Supply. The shaving industry was full of big corps. So Supply positioned themselves as the husband and wife fighting them.
  //- 2
  //- p This is what I did with Marketing Examples. Marketing content was!{' '}
  //-   span.italic long and impractical
  //-   | . So I positioned Marketing Examples as!{' '}
  //- p.inwardSpeech Half the words. Twice the examples.
  //- p Same principal with Supply. Shaving's dominated by heartless VC's. Supply are the husband and wife fighting them.
  //- 3
  //- p Marketing content was!{' '}
  //-   span.italic long and impractical
  //-   | . So I positioned Marketing Examples as!{' '}
  //-   span.italic short, sweet, and practical
  //- p Shaving was dominated by heartless VC's. So Supply positioned themselves as the husband and wife fighting against them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos2a.png" alt="Marketing Examples Product Hunt").img__100
  p Once you recognise this principle you see it everywhere.
  //- p Once you see the power of contrast you can't unsee it.
  p.list.list__top •!{' '}
    a(href="https://hey.com" target="_blank") Hey
    |!{' '}pit themselves against mainstream email
  p.list •!{' '}
    a(href="https://www.lemonade.com") Lemonde
    |!{' '}pit themselves against insurance stereotypes
  p.list.list__bottom • The “
    a(href="https://www.youtube.com/watch?v=sdF5IsyOxU4") I'm a Mac
    |” ads pit themselves against the PC
  //- p The contrast burns your product into the prospect's mind.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos3.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Through values
  //- p Memorable brands serve a purpose bigger than themselves.
  p Serving a purpose bigger than yourself gives your brand story to tell.
  p Patagonia's story is the environment, Ben and Jerry's is social justice, Black Rifle coffee's is gun rights.
  p Some will hate it. Others will rally behind you. And!{' '}
    span.italic that's the point
    | . Fence sitters don't buy.
  //- p Patagonia's purpose is the environment, Ben and Jerry's is social justice, Black Rifle coffee's is gun rights.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos4.jpg" alt="Marketing Examples Product Hunt").img__100
  //- Offcuts
  //- p
  //-   span.italic We sell chocolate
  //-   |!{' '}is forgettable.
  //-   span.italic We sell chocolate to eliminate child labour on cocoa farms
  //-   |!{' '}is memorable.
  //- p A company that sells chocolate is forgettable. A company that sells chocolate to eliminate child labour on cocoa farms is memorable.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos4c.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 3/ Through category creation
  p Invent a new category and you haven't got any competitors.
  p When Drift launched in 2016 they were just!{' '}
    span.italic another
    |!{' '}startup in the mushy bucket of customer communication. Impossible to stand out.
  p So, Drift reframed!{' '}
    span customer communication
    |!{' '}as!{' '}
    span.italic conversational marketing
    |!{' '}and set out to own this whole new category.
  p Website copy, blogs, and a book later it was mission accomplished. Drift became synonymous with conversational marketing.
  //- p So, Drift limited their product to!{' '}
  //-   span.italic chat for sales
  //-   | , reframed it as!{' '}
  //-   span.italic conversational marketing
  //-   | , and set out to own this whole new category.
  //- p Website copy, blogs, and a book later it was mission accomplished. Drift became synonymous with conversational marketing. They'd found their wedge.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos6a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 4/ Personality
  p Another way of differentiating is by productising yourself. Competitors can’t copy the!{' '}
    span.italic you
    |!{' '}in your product.
  p Another way of differentiating is by turning yourself into the product. Competitors might be bigger, cheaper, faster, but they can't copy!{' '}
    span.italic you
    | .
  p I don't want any old cookbook. I want Nigella's cookbook.
  //- p Competitors might be bigger, cheaper, faster. But customers will want!{' '}
  //-   span.italic you
  //-   | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos2.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 5/ Through limitation
  p Limitation is the essence of positioning.
  p Trying to be everything for everybody is the most sure fire way of getting ignored. So limit yourself to...
  p Instead of trying to be everything for everyone you zero in on a specific group.
  p Instead of trying to be everything for everybody you limit your brand to a specific trait or audience.
  p Got to add diagram.
  p
  h2.under One last thing
  p I can't write about positioning without mentioning story.
  p Positioning is the one line summary. Story makes it memorable.
  p Take Hey.!{' '}
    span.italic We've reinvented email
    |!{' '}is the take away. Their story makes it make sense.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos7a.png" alt="Marketing Examples Product Hunt").img__100
  p Same principle with Drift.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos7c.png" alt="Marketing Examples Product Hunt").img__100



