extends ../base

block content
  p I love this line by Ted Morgan.
  p.inwardSpeech Positioning is like finding a seat on a crowded bus
  p My translation:
  p.inwardSpeech Positioning is like owning a space on a crowded mind
  p Positioning is!{' '}
    span.italic owning a space in the prospect’s mind.
  p You do this by
    span.italic differentiation
    | .
  p So to understand positioning let's look at the different ways of differentiation.
  p In this article I’m going to teach the five fundamentals of positioning.
  h2.under 1/ Through contrast
  p You point at the status quo and pit yourself against it. The contrast helps burn yourself into the prospect's mind.
  p This is what I did with Marketing Examples.
  p Marketing content was!{' '}
    span.italic long, fluffy, and impractical
    | . So I positioned Marketing Examples as!{' '}
    span.italic short, sweet, and practical
    | .
  p Same principal with Lemonade. Insurance was!{' '}
    span.italic slow, expensive, and heartless
    | . So Lemonade positioned themselves as !{' '}
    span.italic instant, affordable, and fair.
  p One more for luck.
  p.asterix * * *
  p Let me give you 3 examples.
  p Marketing content was!{' '}
    span.italic long, fluffy, and impractical
    | . So I positioned Marketing Examples as!{' '}
    span.italic short, sweet, and practical
    | .
  p Insurance was!{' '}
    span.italic slow, expensive, and heartless
    | . So Lemonade's hook was!{' '}
    span.italic Forget Everything You Know About Insurance
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos3.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Through personality
  //- p No one can compete with you on being you.
  //- p Competitors can’t copy the!{' '}
  //-   span.italic you
  //-   |!{' '}in your product.
  p Turn yourself into the product no one can compete with you.
  p Think Kanye’s shoes, Nigella’s cookbook, Wicks’s workout, Wes's courses.
  //- p Also, it's the easiest way to differentiate an agency. Competitors might be bigger, cheaper, faster. But clients will want!{' '}
  //-   span.italic you
  //-   | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos2.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 1/ Separate through personality
  h2.under 1/ Separate through personality
  p No one can compete with you on being you.
  //- p.asterix * * *
  //- p I love this line by Ted Morgan.
  //- p.inwardSpeech Positioning is like finding a seat on a crowded bus
  //- p Most brands sleepwalk onto the bus and sit on top of one another.
  //- p Occasionally a brand looks left, right, find an empty row, paints their logo on it, and now no one else can sit there.

