extends ../base

block content
  p I love this line by Ted Morgan.
  p.inwardSpeech Positioning is like finding a seat on a crowded bus
  p Most brands sleepwalk onto the bus and sit on top of one another.
  p The smart brands look left, right, find an empty row, paint their logo on it and start singing sweetly like the Sirens.
  //- p A clone or a siren. That's positioning.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos1.jpg" alt="Marketing Examples Product Hunt").img__100
  //- 1
  p Positioning is an easy thing to complicate so lets keep it simple.
  p.inwardSpeech Your goal is to!{' '}
    span own a space in the prospect’s mind
    | . You do this by!{' '}
    span differentiation
    | .
  p Let's run through all the different ways brands achieve this.
  h2.under 1/ Through contrast
  p Point at the status quo and pit yourself against it. Contrast burns your brand into the prospect's mind.
  //- p Contrast burns your brand into the prospect's mind. Find the enemy and pit yourself against it.
  p.list.list__top •!{' '}
    a(href="https://hey.com" target="_blank") Hey
    |!{' '}pit themselves against mainstream email
  p.list •!{' '}
    a(href="https://www.lemonade.com") Lemonde
    |!{' '}pit themselves against insurance stereotypes
  p.list.list__bottom • The “
    a(href="https://www.youtube.com/watch?v=sdF5IsyOxU4") I'm a Mac
    |” ads pit themselves against the PC
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos3.png" alt="Marketing Examples Product Hunt").img__100
  //- p Also what I did with Marketing Examples. Marketing content was!{' '}
  //-   span.italic long and fluffy
  //-   | . So I positioned Marketing Examples as!{' '}
  //-   span.italic short and practical
  //-   | .
  h2.under 2/ Through values
  p Think Patagonia and the environment, Ben and Jerry's and social justice, Black Rifle coffee and gun rights.
  p Some will hate it. Others will rally behind you. And!{' '}
    span.italic that's the point
    | . Fence sitters don't buy.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos4.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 3/ Through category creation
  p When Drift launched in 2016 they were just!{' '}
    span.italic another
    |!{' '}startup in the mushy bucket of live chat software. How to stand out?
  p Well, they reframed live chat as!{' '}
    span.italic conversational marketing
    |!{' '}and made it their mission to own this whole new category.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos6b.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 4/ Through personality
  p If you turn yourself into the product no one can compete with you.
  p Think Kanye’s shoes, Nigella's cookbook, Wicks’s workout, Wes's courses.
  //- p This Christmas thousands of parents are going to unwrap Joe Wicks' workout DVD. Other DVD's might be cheaper, faster. But parents want Joe Wicks.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos2.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 5/ Through limitation
  p Instead of trying to be everything for everybody you limit yourself to...
  p Unfinished.
  h2.under One last thing
  //- p Behind great positioning is a story that makes it memorable.
  //- p Positioning isn't something you make up on the spot.
  p Positioning isn't something you make up on a whim to stand out.
  p Behind great positioning is a story. Positioning is the one line summary. The story makes it memorable.
  p Look at Drift.!{' '}
    span.italic Conversational marketing
    |!{' '}isn't plucked out the sky. It's the final bullet point in their story.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos7d.png" alt="Marketing Examples Product Hunt").img__100
  p Same principle with Hey. Their story makes it make sense.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos7b.png" alt="Marketing Examples Product Hunt").img__100
  //- p.asterix * * *
  //- p I love this line by Ted Morgan.
  //- p.inwardSpeech Positioning is like finding a seat on a crowded bus
  //- p Most brands sleepwalk onto the bus and sit on top of one another.
  //- p Occasionally a brand looks left, right, find an empty row, paints their logo on it, and now no one else can sit there.

