extends ../base

block content
  p Carrie Rose is the co-founder of!{' '}
    span.italic Rise at Seven
    | , a creative SEO agency.
  p Over the last year I’ve been consistently blown away by how easy she makes getting press look.
  p And it’s not!{' '}
    span.italic press for press's sake
    | .
  p The reward is high quality backlinks which help her clients rank for!{' '}
    span.bold ultra competitive
    |!{' '}search terms.
  h2.under Lets me give you an example
  p Misguided is fashion retailer who came to Rise last year.
  p Carrie looked at their site for 5 minutes, saw they sold dog jumpers, and knew there was a story there.
  p So she found some similar looking regular jumpers, and wrote the headline:
  p.inwardSpeech Missguided launch matching jumpers for you and your dog this winter
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2a.jpg" alt="Marketing Examples Product Hunt").img__100
  p The media loved it. The campaign pulled in!{' '}
    span.bold 80
    |!{' '}links. And Missguided soared from!{' '}
    span.bold #30
    |!{' '}to!{' '}
    span.bold #1
    |!{' '}for the search “dog jumpers”.
  p No big budget or photo shoot. Just!{' '}
    span.italic the idea
    |!{' '}to link two pre-existing products with a clever headline.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie1b.png" alt="Marketing Examples Product Hunt").img__100
  //- p Let me give you another example.
  //- h2.under 2/ The Christmas Tinner
  //- p November 2019. Game launch a new webpage full of gaming chairs.
  //- p The challenge is to rank this page in time for Christmas.
  //- p Now, getting press to link to a bunch of gaming chairs is near impossible. So, instead, Carrie dreams up the “Christmas Tinner”.
  //- p A 3-course meal in a tin for hardcore gamers who don’t want to leave their gaming chair on Christmas day.
  //- p The media loves it. The “Christmas Tinner” pulls in 160 links. And this page that then links to Game’s “gaming chair”.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie3.jpg" alt="Marketing Examples Product Hunt").img__100
  //- p A % of the link juice flows down.
  //- p Within 3 weeks organic traffic to Game’s “gaming chair” page is up!{' '}
  //-   span.bold 6x
  //-   | .
  //- p But, getting press to link to a bunch of gaming chairs is near impossible. So, Carrie gets creative.
  //-
  //- h2.under 2/ The Christmas Tinner
  h2.under Let me give you another example
  p November 2019, Game came to Rise.
  p They'd just launched a new webpage full of gaming chairs. The challenge was to rank this page in time for Christmas.
  //- p November 2019, Game launched a new webpage full of gaming chairs. The challenge was to rank this page in time for Christmas.
  p Now, getting press to link to a bunch of gaming chairs is near impossible. So, instead, Carrie dreamt up!{' '}
    span.italic The Christmas Tinner
    | .
  //- p A 3-course meal in a tin for hardcore gamers who didn't want to leave their gaming chair on Christmas Day. And it was!{' '}
  p A 3-course meal in a tin for hardcore gamers. And it was!{' '}
    span.italic this page
    |!{' '}that then linked to their gaming chairs.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2b.png" alt="Marketing Examples Product Hunt").img__100
  p
    span.italic The Christmas Tinner
    |!{' '}went viral.
  p “SEO juice” passed down. And within 3 weeks Game's gaming chair page had ranked for over 400 keywords.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie3.jpg" alt="Marketing Examples Product Hunt").img__100
  p What I’ve learnt from Carrie is the importance of!{' '}
    span.italic thinking in headlines
    | . That’s what journalists care about.
  p For example, last Easter she worked with a sex toy startup. Day one they worked out the headline:
  p.inwardSpeech World’s first “Kinder-Inspired” Easter egg with sex toy inside
  p Then they worked backwards and made it a reality.
  p Most people plough ahead with an idea. And, only when they start talking to press, realise there’s no headline to back it up.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie1.jpg" alt="Marketing Examples Product Hunt").img__100
  p Okay, once you've got your story, how do you actually pitch the press?
  p.inwardSpeech.list__bottom Most journos write!{' '}
    span.bold 6
    |!{' '}stories a day. So if you do the work for them, the more likely they’ll go with it.
  p.inwardSpeech.letter The subject line is my headline. The body we write the draft article. I'll embed my best image at the very top. And we'll even include quotes for them.
  p.inwardSpeech.list__top Another tip is timing. Journos start hunting for stories at 8:30. So we schedule outreach for 8. Journos inboxes get crazy. Whoever's at the top usually wins
  //- Option 2
  h2.under One last thing
  p There's this quote I like from Arsène Wenger which reminds me of Carrie's link building:
  p.inwardSpeech The goal of anything in life should be to do it so well that it becomes an artform.
  p At the top end marketing is less about!{' '}
    span.italic grinding
    | . More about!{' '}
    span.italic creativity
    | .
  p One 5 minute idea can do more damage than 100 guest posts.