extends ../base

block content
  p Carrie Rose is the co-founder of UK based SEO agency.
  p Except it's not your typical SEO agency.
  p They specialise in wild campaigns. Which go!{' '}
    span viral
    | . Which result in!{' '}
    span quality backlinks
    | . Which help clients rank for!{' '}
    span ultra-competitive
    |!{' '}keywords.
  p I find it fascinating. So I spoke to Carrie about how it works.
  p But first, lets start with an example
  //- p Over the last
  //- h2.under 1/ Misguided
  //- p Carrie looked at their site for 5 minutes and spotted they sold dog jumpers. She then found regular jumpers that looked similar, and wrote the headline
  //- p.inwardSpeech Misguided launch matching jumpers for you and your dog this winter
  //- p She emails the story round and it spreads like wildfire.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2a.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 1/ Missguided
  //- p Misguided is fashion retailer who came to Carrie for help building links.
  //- p The first thing Carrie looks for is an angle. So she scanned their site, and the dog jumpers caught her eye.
  //- p She found some similar looking “human” jumpers, and wrote the headline:
  //- p.inwardSpeech Missguided launch matching jumpers for you and your dog this winter
  //- //- p Carrie scans their site and the dog jumpers caught her eye. She knew there was
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2a.jpg" alt="Marketing Examples Product Hunt").img__100
  p Misguided is fashion retailer who came to Carrie for help building links.
  p Carrie looked at their site, saw they sold dog jumpers, and knew there was a story there. So she found some similar looking “human” jumpers, and wrote the headline:
  //- p Carrie saw they sold dog jumpers and knew there was a story there. So she found some similar looking “human” jumpers, and wrote the headline:
  p.inwardSpeech Missguided launch matching jumpers for you and your dog this winter
  //- p Carrie emails the story round and it starts spreading.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2a.jpg" alt="Marketing Examples Product Hunt").img__100
  p The media loved it. The campaign pulled in!{' '}
    span.bold 80
    |!{' '}links. And Missguided soared from!{' '}
    span.bold #30
    |!{' '}to!{' '}
    span.bold #1
    |!{' '}for the search “dog jumpers”.
  p No big budget or photoshoot. Just!{' '}
    span.italic the idea
    |!{' '}to link two pre-existing products with a clever headline.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie1b.png" alt="Marketing Examples Product Hunt").img__100
  //- p Let me give you another example.
  //- h2.under 2/ The Christmas Tinner
  //- p November 2019. Game launch a new webpage full of gaming chairs.
  //- p The challenge is to rank this page in time for Christmas.
  //- p Now, getting press to link to a bunch of gaming chairs is near impossible. So, instead, Carrie dreams up the “Christmas Tinner”.
  //- p A 3-course meal in a tin for hardcore gamers who don’t want to leave their gaming chair on Christmas day.
  //- p The media loves it. The “Christmas Tinner” pulls in 160 links. And this page that then links to Game’s “gaming chair”.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie3.jpg" alt="Marketing Examples Product Hunt").img__100
  //- p A % of the link juice flows down.
  //- p Within 3 weeks organic traffic to Game’s “gaming chair” page is up!{' '}
  //-   span.bold 6x
  //-   | .
  //- p But, getting press to link to a bunch of gaming chairs is near impossible. So, Carrie gets creative.
  //-
  //- h2.under 2/ The Christmas Tinner
  h2.under Let me give you another example
  p November 2019, Game launched a new webpage full of gaming chairs. They challenge Rise is to rank this page in time for Christmas.
  p Now, getting press to link to a bunch of gaming chairs is near impossible. So, instead, Carrie dreams up!{' '}
    span.italic The Christmas Tinner
    | .
  p A 3-course meal in a tin for hardcore gamers. And it's!{' '}
    span.italic this page
    |!{' '}that then links to their gaming chairs.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie2b.png" alt="Marketing Examples Product Hunt").img__100
  p
    span.italic The Christmas Tinner
    |!{' '}goes viral.
  p “Link juice” flows towards Game's gaming chair page. And within 3 weeks it's ranked for over 400 keywords.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie3.jpg" alt="Marketing Examples Product Hunt").img__100
  //- p When you see a bizarre campaign like!{' '}
  //-   span.italic The Christmas Tinner
  //-   | it's odd to think that the purpose is to help Game sell more chairs.
  //- p But that's!{' '}
  //-   span.bold exactly
  //-   |!{' '}what's going on.
  h2.under 3/ Ricky
  p Ricky is an small sex toy startup in need of some backlinks.
  p Easter was approaching. So Carrie came up with the idea of!{' '}
    span.italic
      a(href="" target="_blank") Ricky's Easter Egg Surprise
    | . An adult version of the kinder egg with a sex toy inside.
  p The press loved it. Ricky sold out of Easter eggs. And the backlinks helped Ricky's organic traffic climb from 0 to 3k/mo.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie1.jpg" alt="Marketing Examples Product Hunt").img__100
  p For most people getting press seems surreal. Carrie makes it look simple. So I asked her about it.
  p.inwardSpeech Journos have already decided based on your title. So we think in titles and work backwards. If you get that right the rest of the story flows into place.
  p Okay, once you've got your story, how do you actually pitch the press?
  p.inwardSpeech.list__bottom It’s not rocket science. You just gotta make their life as easy as possible.
  p.inwardSpeech.letter The subject line is my headline. I'll dr the article in the body. And embed my best image at the very top.
  //- p.inwardSpeech.letter Most journos are writing 6 stories a day. So the more you spoon feed them them the more likely they’ll go with it.
  p.inwardSpeech.letter Most journos are writing 6 stories a day. They want to be spoonfed. Cause then they’ll get another hour at lunch.
  p.inwardSpeech.list__top Another tip is timing. Journos start hunting for stories at 8:30. I’ll schedule my outreach for 8. So I’m at the top of their inbox.
  h2.under Conclusion
  p I like Carrie’s link building because it turns SEO from an art to a science.
  p Less grinding. More creativity.
  p One 5 minute idea can do more damage than 100 guest posts.
