extends ../base

block content
  p Last Wednesday I launched Marketing Examples on!{' '}
    a(href="https://www.producthunt.com/posts/marketing-examples-2" target="_blank") Product Hunt
    | . It received more than 1300 upvotes, was voted Product of the Week, and my email list zoomed from 1300 to 2900 in the space of 48 hours.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph1.png" alt="Marketing Examples Product Hunt").img__75
  p This is the step by step account of how I did it.
  h2 Step 1 - Don't launch straight away
  p 28th May 2019 Marketing Examples v1.0 went live. The site had just a few case studies, several bugs and an email box which didn’t convert well. The old version of myself would have thrown it up on Product Hunt straight away. This would have given me a quick buzz and my first few email subscribers. But I decided to wait.
  p Firstly, it’s not every day you can launch on Product Hunt. I didn’t want to waste my “turn” with the very first iteration of my site.
  p Secondly, I didn’t want to launch in a vacuum.!{' '}
    span.bold Product Hunt multiplies current momentum
    | . Having a small following of “fans” who are happy to shout about your product on launch day goes a long way.
  p So I set myself a target.!{' '}
    span.bold 1000
    |!{' '}email subscribers and!{' '}
    span.bold 1000
    |!{' '}twitter followers. And then I could launch.!{' '}
    span.bold 65
    |!{' '}days later I reached that number. It was show time.
  h2 Step 2 - Define your goal
  p As I prepared for my launch I wanted clearly define what my goal was.
  p In the past I’ve fallen into the trap of using upvotes as my barometer of success. But when you think about it, upvotes are really just a!{' '}
    span.bold means to an end
    | . They are coupons you exchange for traffic. It’s what you do with that traffic which matters.
  p So, what is my goal? Well, I wanted to!{' '}
    span.bold maximise email subscribers
    | . So I spent the day before my launch making sure my site was in the best possible shape to collect emails. After all, 100 upvotes and 100 email sign ups is more valuable than 1000 upvotes and a site which can’t convert anyone.
  h2 Step 3 - Your Post
  p Now I had the foundations in place it was time to schedule my post on Product Hunt. I chose!{' '}
    span.bold 12:01AM PST
    |!{' '}and!{' '}
    span.bold Wednesday 7th August
    |!{' '}(the very next day).  New products hit the homepage at midnight so this would give me the full 24hrs of exposure. And I’d also avoid the weekend traffic lull.
  p I filled in the description, added some images and my friend, Jana, made a nice GIF to help me stand out. Things were starting to take shape.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ph2.mp4" class="img__20" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline")
  p Next I began writing my first comment. This was my opportunity to connect with potential users. All going well, it would be read by several hundred people so I spent some time thinking about it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph2.png" alt="Marketing Examples Product Hunt Comment").img__70
  h2 Step 4 - Banner time
  p The next morning I woke up early, excited for what lay in store. The first thing I did was add a banner to my website. On any given day Marketing Examples averages around 500 unqiue users. This would give anyone coming!{' '}
    span.bold directly
    |!{' '}to my site an easy route to support my launch.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph3.png" alt="Marketing Examples Product Hunt Comment").img__55
  h2 Step 5 - Leverage your audience
  p In holding fire for a few months I had earnt the luxury of an audience to share with. I tweeted from my!{' '}
    a(href="https://twitter.com/goodMarketingHQ") Marketing Examples account
    |!{' '}and also from my!{' '}
    a(href="https://twitter.com/harrydry") personal account
    | .
  p Product Hunt will use the!{' '}
    span.bold first image in your post
    |!{' '}as the meta image (the image everyone sees when you share on social media). So it’s worth putting effort into this one.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph7b.jpg" alt="Marketing Examples Product Hunt Comment").img__75
  p Next, I started sharing with my email list. Beforehand, I clarified with Product Hunt that this was within their rules. They told me!{' '}
    span.bold it was
    | , but that!{' '}
    span.italic multiple new accounts signing up and voting one product in the same period of time may trigger our spam detection
    | .
  //- p.inwardSpeech multiple new accounts signing up and voting one product in the same period of time may trigger our spam detection
  p So as a precaution I told subscribers to!{' '}
    span.italic only support if you already have a Product Hunt account
    | . I also split my email list into segments and scheduled emails throughout the day to avoid a rush of upvotes in one go. And yes, I did use!{' '}
    a(href="https://emailoctopus.com?ref=marketingexamples") EmailOctopus
    | .
  p The results:
  p.list.list__top Emails Sent: 1345
  p.list Open Rate: 633 (47%)
  p.list.list__bottom Click to Product Hunt: 208 (15%)
  h2 Step 6 - Indie Hackers and Startup School
  p Next I posted on the Startup School forum and also added a Milestone to my Indie Hackers product page. These forums work well because both audiences are familiar with Product Hunt. Both posts sat at the very top for the whole day and drove considerable traffic to my launch.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph51.jpg" alt="Marketing Examples Startup School Post").img__80
  //- p Bear in mind, the following numbers are purely people being driven to!{' '}
  //-   span.bold my website
  //-   | . I'd expect a!{' '}
  //-   span.bold greater number
  //-   |!{' '}went directly to my Product Hunt post.
  p Why were these posts so well received? Well, I wasn’t just screaming, “Everyone look at me!” at the top of my voice. In my post, I included some tips on!{' '}
    span.italic how best to launch to Product Hunt
    | . And I think people appreciated that.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph6.png" alt="Marketing Examples Indie Hackers Traffic").img__70
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph4.png" alt="Marketing Examples Indie Hackers Traffic").img__55
  h2 Step 7 - Telegram and Slack
  p There’s literally thousands of Telegram and Slack groups out there for startup folk: Entrepreneurs, bootstrappers, venture capitalists, solo founders, developers, designers, marketers, the list is endless.
  p These can be a good place to post your launch because of the huge crossover with the Product Hunt audience.
  p What I quickly realised posting to these is that the more help I’d offered the more people were willing to help me. Joining these groups on the day of your launch and won’t get you anywhere. For this to work you have to put in the time supporting others. And on your launch day is where your Karma comes back around.
  h2 The best marketing strategy
  p I think all this stuff is well and good. But when all is said and done the best Product Hunt strategy is just having a great product. Look at Remove.bg, the most upvoted product of 2018. I don’t think David Fankhauser or Benjamin Grössing (the two makers) followed any of the tips in this article.
  p But people really loved their product. David’s launch tweet was shared 7,700 times. And that made all the difference.
