extends ../base

block content
  p Currently work in progress
  p Last Wednesday I launched Marketing Examples to Product Hunt. The post got more than 1000 upvotes and my email list zoomed from 1300 to 2900.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph1.png" alt="Marketing Examples Product Hunt").img__70
  p This is the step by step account of how I did it.
  h2 Step 1 - Don't launch straight away
  p The classic mistake people make is throwing their startup on Product Hunt straight away. This is certainly tempting. It gives you a buzz and hopefully your first few users. But you also waste your “turn” with the very first iteration of your site.
  p For instance, Marketing Examples v1.0 had just a few case studies, several bugs, and an email box which didn’t convert well. The next three months I spent improving the site whilst simultaneously writing more case studies and building up a small following.
  p
    span.bold Product Hunt multiplies your current momentum
    | . Having a bunch of “fans” who are happy to shout about your product on launch day goes a long long way.
  h2 Step 2 - Define your goal
  p The goal of a Product Hunt launch is!{' '}
    span.bold not upvotes
    | . I can’t stress this enough. Upvotes are a means to an end. They are little coupons you exchange for traffic. What you do with that traffic is far more important.
  p So, what is my goal? Well, the short term goal is to grow an audience and email subscribers are my metric in tracking that. So, I spent Tuesday afternoon making sure my site was in the best possible state to collect emails.
  p After all, 100 upvotes and 100 email sign ups is more valuable than 1000 upvotes and a broken email box.
  h2 Step 3 - Your Product Hunt Post
  p This whole process is pretty simple. You upload some pictures, write a description and that's pretty much it. There's a couple of
  h3 3.1 - Schedule
  p.point1 To take some stress out of launch day, Product Hunt allows you to schedule your post up to a week in advance.
  p.point1 I'd recommend!{' '}
    span.bold 12:00AM PST
    |!{' '}and!{' '}
    span.bold any weekday
    | . This gives you the full 24 hours of exposure and you avoid the traffic lull on weekends.
  p.point1 I chose 12:00 AM PST and Wednesday.
  h3 3.2 - Make a gif
  p.point1 The front page of Product Hunt is a sea of product all vying for your attention. Making a nice gif is an easy way to!{' '}
    span.bold stand out
    | . The extra effort incurred signals that you mean business.
  p.point1 The day before launch I asked my friend!{' '}
    a(href="https://www.janadesomer.be/about" target="_blank") Jana
    |!{' '}to make one. Needless to say she did a great job.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ph2.mp4" class="img__20" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline")
  h3 3.3 - Your first comment
  p.point1 Your first comment is an opportunity to connect with potential users. If your launch goes well it will be read by!{' '}
    span.bold several hundred
    |!{' '}so it’s worth thinking about.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph2.png" alt="Marketing Examples Product Hunt Comment").img__70
  h2 Step 4 - Banner time
  p On any regular day Marketing Examples averages around 500 users. I added a banner to let any passers-by know that they could support my launch.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph3.jpg" alt="Marketing Examples Product Hunt Comment").img__45
  h2 Step 5 - Tweet and Email
  h2 Step 6 - Karma
  p Remember Step 0:  Well this is where karma comes back around.
  h2 Bigger Forums -
  p On the day of my launch I posted on the Startup School forum and also added a Milestone on Indie Hackers. Both posts sat at the very top for the whole day and drove considerable traffic to my launch.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph51.jpg" alt="Marketing Examples Startup School Post").img__80
  p Bear in mind, the following numbers are purely people being driven to!{' '}
    span.bold my website
    | . I'd expect a!{' '}
    span.bold greater number
    |!{' '}went directly to my Product Hunt post.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph4.png" alt="Marketing Examples Indie Hackers Traffic").img__55
  p Why were these posts so well received? Well, the best way to!{' '}
    span.bold get help
    |!{' '}is to!{' '}
    span.bold offer up something yourself.
    |!{' '}. Given I run a Marketing site it seemed suitable to share!{' '}
    span.italic some tips on how to launch to Product Hunt
    | . And I think people appreciated that. I wasn’t!{' '}
    span.italic just
    |!{' '}screaming, “Everyone, look at my startup”, but was offering some insight in return.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph6.png" alt="Marketing Examples Indie Hackers Traffic").img__70
  h2 The best marketing strategy
  p I think all this stuff is well and good, but really, the Product Hunt strategy out there is having a great product. Dozens of people shared Marketing Examples on social media throughout the day.
