extends ../base

block content
  p If I ever write a marketing book this image will be the front cover.
  p Same title. Same painting. Same subreddit. One gets!{' '}
    span.bold 300
    |!{' '}votes. The other gets!{' '}
    span.bold 70,000
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  p People love!{' '}
    span.italic REAL
    |!{' '}stuff. But it's rare.
  p Lifeless marketing is everywhere and we copy it without thinking:
  p So I thought I'd share some examples of REAL marketing.
  //- p Let's look at some REAL stuff.
  h2.under 1) Privy's website
  p Real people don’t care about buzzwords and graphics. They care about selling stuff, real customers, and 5* reviews.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.png" alt="Passive voice").img__100
  h2.under 2) Taleb's social proof
  p For his latest book, Taleb replaced praise from highbrow media with words from real readers.
  p Readers connect with readers in a way academics can't.
  //- p There's nothing realer than your readers own words.
  //- p Which line hits harder?
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4.png" alt="Passive voice").img__100
  h2.under 3) Patagonia's images
  p Most outdoor brands hire models and go on fake hikes. Patagonia's asks customers to send in real photos.
  p.inwardSpeech A real surfer showing a little skin is a lot sexier than a half-dressed, anonymous model.
  p.inwardSpeech Fiction is much harder to write than nonfiction.
  span.isBreak
  p.inwardSpeech — Yvon Chouinard, Founder of Patagonia
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/rw8a.jpg" alt="Passive voice").img__100
  h2.under 4) Fenty's copy
  p Less cliche's. More personality. And real people pay attention.
  //- p Rhianna replaced cliche's with personality.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs6a.png" alt="Passive voice").img__100
  h2.under 5) People's Vote Ads
  p The!{' '}
    span.italic People's Vote Campaign
    |!{' '}spent more than £1M in the lead up to the 2019 UK election. Fancy cameras, expensive lighting, etc ...
  p Their best performing ad? Staff talking to an iPhone on their way to work.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.mp4" class="img__55" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/rs1mp4.jpg" onclick="this.paused ? this.play() : this.pause();")
  h2.under 6) Marketing Examples' popup
  p Real people don't care about a random newsletter. Add a real face, real words, and real readers and you can make them care.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs5.png" alt="Passive voice").img__100
  h2.under 7) Twitter's ads
  p Most brands advertise with agency slogans. Twitter uses real tweets.
  p Nothing realer than customers words on your own app.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.png" alt="Passive voice").img__100
  //- p Contrast agency slogans with real Tweets on billboards.
  //- p Facebook uses agency slogans.
  //- p When it comes to agency slogans and real words from customers there's no comparison.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.png" alt="Passive voice").img__100
  //- h2.under 7) Chanel's drawings
  //- p Chanel asking kids to hand draw products for Mother's day is REAL.
  //- //- p It stands out in a sea of superficial BS trying to guilt trip you into buying.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs9.png" alt="Passive voice").img__100
  //- h2.under 9) Beachbody's Ad
  //- p An out of breath CEO, drenched in sweat, on his iPhone feels
  //-   span.italic REAL
  //- p An out of breath CEO, drenched in sweat, on his iPhone epitomises!{' '}
  //-   span.italic REAL
  //-   | .
  //- p “I'm the CEO of Beachbody and I just finished my workout — and it felt great
  h2.under So there we go
  p.inwardSpeech Keep it REAL<br>Cause customers are people.<br>Regular people. Like you and me<br>They snooze the alarm and sing in the shower<br>Say something REAL, you get their attention<br>Say something generic, they scroll by
  //- p.inwardSpeech Never forget customers are just people<br>Regular people<br>They snooze the alarm and sing in the shower<br>Say something REAL, you get their attention<br>Say something generic, it's goodnight Vienna.
  p — Thanks for reading, Harry
  h2.under Support
  p If you'd like more case studies like this in your inbox, I'd really appreciate it if you joined the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    | . If you're feeling generous perhaps show some love to the thread on Twitter.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | Growth Loops
      br
      br
      | THREAD...
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1268565213311311872?ref_src=twsrc%5Etfw') June 4, 2020
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p Thanks to!{' '}
    a(href="https://ahrefs.com" target="blank") Ahrefs
    |!{' '}for sponsoring. I rely on them to grow my own search traffic.
