extends ../base

block content
  p Let's start with this image.
  p Same title. Same painting. Same subreddit. One gets!{' '}
    span.bold 300
    |!{' '}votes. The other gets!{' '}
    span.bold 70,000
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  p People love!{' '}
    span.italic REAL
    |!{' '}stuff. But it's rare.
  p Lifeless marketing is everywhere and we copy it without thinking.
  p So I've written my real marketing manifesto. The revolution will not be Googled.
  h2.under 1) Real people don’t care about buzzwords and graphics
  p They care about selling stuff, real customers, and 5* reviews.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.png" alt="Passive voice").img__100
  h2.under 2) Real marketing feels like regular content
  p Compare these two ads from Beachbody's CEO. The first feels like a classic ad. The second feels like a fitness vlog.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/rs6d.jpg" onclick="this.paused ? this.play() : this.pause();")
  h2.under 3) Customers are REALER than the media
  p For his latest book Nassim Taleb replaced praise from highbrow media with words from real readers.
  p Readers connect with other readers in a way academics can't.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4.png" alt="Passive voice").img__100
  h2.under 4) There’s nothing realer than your customers words
  p Compare Facebook and Twitter's out-of-home ads.
  p Agency slogan rarely  Real tweets
  p One's insincere. One's authentic.
  h2.under 2) There's nothing realer than you own customers words.
  p For his latest book, Taleb replaced praise from highbrow media with words from real readers.
  p Most brands rely on agency slogans. Twitter uses real tweets.
  h2.under 3) Real images
  p Most outdoor brands hire models and go on fake hikes. Patagonia's asks customers to send in real photos.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs7.jpg" alt="Passive voice").img__100
  h2.under 3) Less cliche's. More personality.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs6a.png" alt="Passive voice").img__100
  h2.under 1) Real marketing is human

