extends ../base

block content
  p If I ever write a marketing book this image will be the front cover.
  p Same title. Same painting. Same subreddit. One gets!{' '}
    span.bold 300
    |!{' '}votes. The other gets!{' '}
    span.bold 70,000
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
  p People love!{' '}
    span.italic REAL
    |!{' '}marketing. But it's rare. We blindly copy the status quo without thinking:
  p.inwardSpeech Would a real person actually get this?
  p So I thought I'd share some examples of how to make your marketing REALER.
  h2.under 1) Privy's website
  p Most sites look like the left hand side.
  p But real people don't care about buzzwords and graphics. They care about selling stuff, real customers, and 5* reviews.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.png" alt="Passive voice").img__100
  h2.under 2) My newsletter
  p Real people don’t care about a random popup. Add a real person, their passion, and some real readers and you can make them care.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs5.png" alt="Passive voice").img__100
  h2.under 3) Taleb's social proof
  p Publisers say bestsellers need endorsements from highbrow media.
  p Nassim Taleb disagreed. For So he replaced quotes from
    span.italic Economist et al.
    |!{' '}with words from real readers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4.png" alt="Passive voice").img__100
  h2.under 3) Patagonia's images
  p In the 1980's all outdoor fashion catalogs looked the same.
  p Paid models. Fake hikes.
  p Patagonia’s founder, Yvon Chouinard, was sick of it. So he placed a note in their catalog asking customers to send in real photos.
  p Suddenly Patagonia stood out. They still only use real customers today.
  //- p Most outdoor brands hire models and go on fake hikes. Patagonia's asks customers to send in real photos.
  //- p.inwardSpeech A real surfer showing a little skin is a lot sexier than a half-dressed, anonymous model.
  //- span.isBreak
  //- p.inwardSpeech — Yvon Chouinard, Founder of Patagonia
  //- p.inwardSpeech Fiction is much more difficult to write than nonfiction.
  //- p.inwardSpeech Marketing at Patagonia is very simple. We just tell people who we are. Writing fiction is a lot more difficult than non-fiction. I don’t have any agencies to thank.
  //- span.isBreak
  //- p.inwardSpeech — Yvon Chouinard, Founder of Patagonia
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rw8a.jpg" alt="Passive voice").img__100
  h2.under 4) Rihanna's copywriting
  p
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs6.png" alt="Passive voice").img__100
  h2.under 5) Chanel's Mother's Day Ad
  p Employee's children to draw some of their most beloved products to celebrate Mother's Day.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs9.png" alt="Passive voice").img__100
  h2.under 6) Twitter v Facebook
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.png" alt="Passive voice").img__100
  h2.under 4) People's Vote Ads
  p My brother worked on the People's Vote Campaign in the lead up to the 2019 UK election.
  p They spent £1M on ads. Fancy cameras, expensive lighting, etc ...
  p What performed best? Staff talking to an iPhone on the morning commute.
  p Real people ...
  h2.under 9) Beachbody's Ad
  p Look at this ad from Beachbody. It’s the CEO. On his iPhone. He’s just done a workout. He’s out of breath. He’s drenched in sweat. Telling you about Beachbody. Without No script.