extends ../base

block content
  p For two and and a half years Rev. Chris Lee's!{' '}
    a(href="https://www.instagram.com/p/B5cmnDuA5G9/" target="_blank") Instagram
    |!{' '}account was growing steadily at around!{' '}
    span.bold 1,000
    |!{' '}new followers every month.
  p He mostly posted pictures of himself, his family, and the church.
  p July 2019 things changed. Chris started posting!{' '}
    a(href="https://www.instagram.com/p/BzsoGX7gHe3/" target="_blank") “60 second sermons”
    |!{' '}to Instagram, where he distilled some kind of bible teaching into. The following 5 months has seen Chris's account average!{' '}
    span.bold 10,000
    |!{' '}new followers each month.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/revchris1.png" alt="Rev Chris 60s sermon Instagram Growth").img__95
  p What can we learn from Chris? “60 second sermons”
  p Firstly, it's a great example of.
  h2 Support
  p Thank you for taking the time to read. If you liked it, sharing the thread on Twitter is really appreciated.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | &#x1F525; A lesson in pricing
      br
      br
      | THREAD ...
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1168862670189150208?ref_src=twsrc%5Etfw') September 3, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I'd like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.


