extends ../base

block content
  p For two and and a half years Rev. Chris Lee's!{' '}
    a(href="https://www.instagram.com/p/B5cmnDuA5G9/" target="_blank") Instagram
    |!{' '}account grew steadily, averaging!{' '}
    span.bold 1,000
    |!{' '}new followers every month.
  p He mostly posted pictures of himself, his family, and the church.
  p July 2019 things changed. Chris started uploading!{' '}
    a(href="https://www.instagram.com/p/BzsoGX7gHe3/" target="_blank") “60 second sermons”
    |!{' '}, and the next five months saw him go from averaging!{' '}
    span.bold 1,000
    |!{' '}new followers each month to averaging!{' '}
    span.bold 10,000
    |.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/revchris1.png" alt="Rev Chris 60s sermon Instagram Growth").img__95
  p For two and a half years Rev. Chris Lee's Instagram account grew steadily. He mostly posted pictures of himself, his family, and the church.
  p In July 2019 things changed. Chris started uploading “60 second sermons”. Overnight he went from averaging!{' '}
    span.bold 30
    |!{' '}new followers each day to!{' '}
    span.bold 300.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/revchris1.png" alt="Rev Chris 60s sermon Instagram Growth").img__95
  p Here's a clip of Chris in action.
  p Firstly, it's a great example of.
  h2 Support
  p Thank you for taking the time to read. If you liked it, sharing the thread on Twitter is really appreciated.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | &#x1F525; A lesson in pricing
      br
      br
      | THREAD ...
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1168862670189150208?ref_src=twsrc%5Etfw') September 3, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I'd like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.


