extends ../base

block content
  p Last week I asked people on!{' '}
    a(href="https://twitter.com/GoodMarketingHQ/status/1316053333463969792") social media
    |!{' '}to submit their websites and I’d rewrite them
    | .
  p I wanted to make it awesome. So I asked!{' '}
    a(href="https://anniemaguire.com/" target="_blank") Annie Maguire
    | , one of the best copywriters in the business, for help.
  //- p I wanted to make it awesome. So I drafted in!{' '}
  //-   a(href="https://anniemaguire.com/" target="_blank") Annie Maguire
  //-   | , the best copywriter in the business.
  p Hopefully this gives you an insight into!{' '}
    span.italic the mind of a pro copywriter
    | !
  h2.under 1) JobBoardSheet
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie1a.png" alt="Volkswagon old ads").img__100
  p Their current copy is!{' '}
    span.italic clear
    | . But it's also!{' '}
    span.italic forgetful
    | . So I looked down their page and found this new line.
  p Much more specific. It handles the customer's!{' '}
    span.italic four main objections in one sentence
    | . Bravo!
  h2.under 2) Silva
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie3.png" alt="Volkswagon old ads").img__100
  p Firstly, “Trail Runner Free” is very confusing. Is that the product?
  //- p Also, there's no!{' '}
  //-   span emotional pull
  //-   | . People don't want a!{' '}
  //-   span.italic new headlamp
  //-   | . They want!{' '}
  //-   span.italic new adventures
  //-   | . So I'd rather sell the latter.
  p Also, there's no!{' '}
    //- span emotional pull. People don't get excited by!{' '}
    //- span.italic the headlamp
    //- | . They get excited by!{' '}
    //- span.italic the adventure
    //- | . So I'd rather sell the latter.
    span emotional pull. People don't get excited by a new!{' '}
    span.italic headlamp
    | . They get excited by new!{' '}
    span.italic adventures
    | . So I'd rather sell the latter.
  //-  the prospect of
  //- sell the former via
  h2.under 3) Dormio
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie6b.png" alt="Volkswagon old ads").img__100
  p Customers' buy!{' '}
    span.italic outcomes
    |!{' '} not!{' '}
    span.italic products
    | . So I tweaked Dormio's copy to reflect that. What's more appealing:
  p.inwardSpeech.list__bottom a) A calming tea
  p.inwardSpeech.list__top b) A calming tea that helps you relax, unwind, and drift into deep, restorative sleep
  h2.under 4) Haako
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie5a.png" alt="Volkswagon old ads").img__100
  p This one's more about!{' '}
    span.italic repackaging
    |!{' '}than!{' '}
    span.italic rewriting
    | . You can't expect people to read one huge text block to understand your product.
  p So I condensed their text block into!{' '}
    span.italic ten
    |!{' '}words. And added an image to help bring it to life.
  h2.under 5) Ladybird driving school
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie4.png" alt="Volkswagon old ads").img__100
  p Ladybird's uniqueness is that!{' '}
    span.italic all their instructors are female
    | . So don't bury it half way down the page. Lead with it.
  p
    span.italic Write the title only you can
    | .
  h2.under 6) Banquist
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie2.jpg" alt="Volkswagon old ads").img__100
  p Banquist is a original product. And when you've got an original product the golden rule is!{' '}
    span.italic let the product speak for itself
    | .
  p All I've done is write their value prop out as clearly as possible.
  h2.under 7) IronNet
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie7.png" alt="Volkswagon old ads").img__100
  p My concern with the current title is it!{' '}
    span.italic assumes knowledge
    | . What % of visitors have heard of “Collective Defense”?
  p So I wrote a clearer mission statement. Then got into the specifics below.
  //- p It alienates those who haven't heard of “Collective Defense”.
  h2.under 8) Everydae
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie8a.png" alt="Volkswagon old ads").img__100
  p Put yourself in the customers' shoes. Kids don't care about “the next generation of SAT prep”. They care about “Acing the SAT”.
  p I also pulled up the $1 trial. And made the “five stars” feel REALER.
  h2.under 9) Socios
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie9.png" alt="Volkswagon old ads").img__100
  p “Fan tokens”, “exclusive surveys”, “rewards”. I'm just not sure football fans care about this stuff.
  p Take ownership of a real problem.!{' '}
    span.italic Fans are crying out to have their voices heard
    | . Your app solves this. So own it.
  //- h2.under 10) Coming
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie9.png" alt="Volkswagon old ads").img__100
  p.asterix * * *
  p
    span.italic So there you go. I hope you found this useful. Massive thank you to!{' '}
      a(href="https://www.linkedin.com/in/maguireannie/" target="_blank") Annie
      | . She did all the hard work.
  p
    span.italic If you'd like to work with an awesome copywriter, do!{' '}
      a(href="https://anniemaguire.com/#contact" target="_blank") get in touch
      |!{' '}with her.