extends ../base

block content
  p
  p Unfinished
    a(href="https://kapwing.com" target="_blank") Kapwing
    |!{' '}is an online video editor founded by Julia Enthoven and Eric Lu.
  p 2 years ago it was just like every other new startup. No funding. No organic traffic. No users.
  p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first 15 paying users came from Google.
  p To quote Julia, “We learned that, for our product, SEO is king.” So herself and Eric set out on a mission to climb the Google rankings.
  //- p Julia and Eric learned that for their product SEO was king. So they set out on a mission to climb the Google rankings.
  p Two years later it’s mission accomplished. Kapwing has accumulated more than!{' '}
    span.bold 2000
    |!{' '}unique Dofollow backlinks (36,000 total) and gets an estimated!{' '}
    span.bold 1.8M
    |!{' '}organic traffic from Google each month.
  p This case study focuses on one particular link building strategy they employed. I’m going to call it!{' '}
    span.bold SEO Project Marketing
    | . It works like this:
  p.list.list__top 1. Make side projects
  p.list 2. Host them on your own domain
  //- p.list.list__bottom 3. Get exposure
  p.list.list__bottom 3. Get them in front of press
  //- p Because the projects are hosted on your own domain the “link juice” flows to other pages on your website helping them rank better.
  p Press exposure then results in articles (and backlinks). And because the projects are hosted on your own domain any “backlink juice” flows to other pages on your website helping them rank better.
  //- p Kapwing have launched!{' '}
  //-   span.bold 13
  //-   |!{' '}of these side projects over the past two years. And this strategy has resulted in over!{' '}
  //-   span.bold 1000
  //-   |!{' '}unique DoFollow backlinks including: The Verge, Flipboard, Wired.
  p Using this strategy Kapwing have pulled in more than!{' '}
    span.bold 1000
    |!{' '}unique DoFollow backlinks over the past two years.
  h2 Press Exposure?!
  p How do I get my side project in front of the press?
  p Well, the direct approach is outreach to journalists / bloggers who work in your niche. You can get emails from!{' '}
    a(href="https://idb.buzzstream.com/" target="_blank") Buzzstream Discovery
    |!{' '}&!{' '}
    a(href="https://presshunt.co/" target="_blank") Press Hunt
  p But for any “startup” related project all you've got to do is post on Product Hunt. Journalists browse Product Hunt for article inspiration. So if you do well there you’re rewarded with articles and backlinks.
  p Julia and Eric clocked this. Every side project they launched was accompanied by a Product Hunt launch. They also started building side projects specifically for the Product Hunt audience. The bigger the Product Hunt reaction, the more press exposure and the greater chance of backlinks.
  //- p The gameplan was pretty much get to the top of Product Hunt with a minimal effort as possible.
  p Let's look at some examples.
  h2 Example 1 - Startup Demo videos
  p
    span.bold Idea
    | : Inspired by the success of Startup Pitch Decks (9000+ PH votes, 260 unique backlinks), Julia and Eric came up with Startup demo videos: A collection of demo videos from the early days of successful startups.
  p
    span.bold Results
    | : The project got 1000+ votes on Product Hunt resulting in 17 unique backlinks including in Wired and Codrops.
  p I'd like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. They help organize the chaos of growing your business by making it easy to get your teams up to speed and aligned. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.
