extends ../base

block content
  p
    a(href="https://kapwing.com" target="_blank") Kapwing
    |!{' '}is an online video editor founded by Julia Enthoven and Eric Lu.
  p Two years ago it was just like every other new startup. No funding. No organic traffic. No users.
  p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first fifteen paying users came from Google.
  p To quote Julia, “We learned that, for our product, SEO is king.” So she and Eric set out on a mission to climb the Google rankings.
  //- p Two years later it’s mission accomplished. Kapwing has accumulated more than!{' '}
  //-   span.bold 2000
  //-   |!{' '}unique Dofollow backlinks (36,000 total) and gets an estimated!{' '}
  //-   span.bold 1.8M
  //-   |!{' '}organic traffic from Google each month.
  //- p Two years later it’s mission accomplished. Today, Kapwing receives an estimated!{' '}
  //-   span.bold 1.8M
  //-   |!{' '}organic traffic from Google each month.
  p This case study focuses on one particular link building strategy they employed. I’m going to call it!{' '}
    span.bold SEO Project Marketing
    | . It works like this:
  p.list.list__top 1. Make side projects
  p.list 2. Host them on your own domain
  p.list.list__bottom 3. Get them in front of the press
  p The idea is!{' '}
    span.bold press exposure results in articles
    |!{' '}(and backlinks). And because the projects are hosted on your own domain any “link juice” flows to other pages on your website helping them rank better.
  p Using this strategy Kapwing has pulled in more than!{' '}
    span.bold 480
    |!{' '}unique!{' '}
    a(href="https://raventools.com/marketing-glossary/dofollow-link/") DoFollow
    |!{' '}backlinks. Today they get an estimated!{' '}
    span.bold 1.8M
    |!{' '}organic traffic from Google each month. Fair to say it's mission accomplished.
  h2 Press Exposure?!
  p How do I get my side project in front of the press?
  p Well, the direct approach is outreach to journalists / bloggers who work in your niche. You can get emails from!{' '}
    a(href="https://idb.buzzstream.com/" target="_blank") Buzzstream Discovery
    |!{' '}&!{' '}
    a(href="https://presshunt.co/" target="_blank") Press Hunt
    | .
  //- p But for any “startup” related project the easiest way is to use Product Hunt as your launchpad. Journalists browse Product Hunt for article inspiration. So if you do well there you’re rewarded with articles and backlinks.
  p The indirect approach is to utilise!{' '}
    a(href="https://producthunt.com") Product Hunt
    | . Journalists browse Product Hunt for article inspiration. So if you do well there you’re rewarded with articles and backlinks.
  p Julia and Eric clocked this. Every side project was accompanied by a Product Hunt launch. They even started building side projects!{' '}
    span.bold specifically for Product Hunt's audience
    | . After all, the bigger the reaction on Product Hunt, the more exposure to press and the greater the chance of backlinks.
  p Let's look at some examples.
  h2 Example 1 -!{' '}
    a(href="https://www.kapwing.com/startup-demo-videos") Startup Demo videos
  p
    span.bold Idea
    | : Inspired by the success of!{' '}
    a(href="https://www.producthunt.com/posts/startup-pitch-decks") Startup Pitch Decks
    |!{' '}(9000 Product Hunt upvotes), Julia and Eric put together a collection of demo videos from the early days of successful startups.
  p
    span.bold Why it worked
    |: Most companies would package this content as a blog post. But in packaging it as a!{' '}
    span.bold stand-alone project
    |!{' '}Kapwing gets far more exposure. It’s 10x easier to “launch” a stand-alone project than a blog post.
  p
    span.bold Notable backlinks
    | :!{' '}
    a(href="https://www.wired.it/internet/web/2018/01/10/google-snapchat-iphone-video-startup/") Wired
    |,!{' '}
    a(href="https://tympanus.net/codrops/collective/collective-381/") Codrops
    |,!{' '}
    a(href="https://refind.com/link/10032755") Refind
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing1a.png" alt="Startup Demo Videos: Review").img__80
  h2 Example 2 -!{' '}
    a(href="https://www.kapwing.com/cartoonify") Cartoonify
  p
    span.bold Idea
    | : Back in 2018 a polaroid camera was getting attention for being able to turn photos into cartoon drawings. Eric came across the!{' '}
    a(href="https://github.com/danmacnish/cartoonify") open-sourced code
    |!{' '}and turned it into a simple web app illustrating what would happen if you “cartoonify” an image on your computer.
  p
    span.bold Why it worked
    | : The success of the original camera was validation the media found this a newsworthy topic. Julia and Eric also sent their version to all the journalists who wrote about the original. Some of which added to their article.
  p
    span.bold Notable backlinks
    | :!{' '}
    a(href="https://www.theverge.com/2018/7/6/17539798/ai-powered-doodle-camera-quick-draw-dan-macnish") The Verge
    |,!{' '}
    a(href="https://www.makeuseof.com/tag/ai-based-photo-editing-apps/") Make Use Of
    |,!{' '}
    a(href="https://experiments.withgoogle.com/collection/ai") With Google
    |,!{' '}
    a(href="http://resourcemagonline.com/2018/07/let-this-non-sentient-being-sketch-your-photos/91603/") Resource Magazine
    |,!{' '}
    a(href="https://blog.adafruit.com/2019/08/13/draw-this-machine-learning-powered-instant-sketches-machinelearning-diy-ai-raspberrypi-quickdraw-tensorflow-cartoonify/") Adafruit
    |,!{' '}
    a(href="https://www.androidpolice.com/2018/08/03/remember-ai-camera-made-doodles-instead-photos-google-shares-browser-based-version-can-try/") Android Police
    |,!{' '}
    a(href="https://www.neoteo.com/cartoonify-la-ia-que-no-sabe-dibujar-pero-lo-intenta/") Neoteo
    |,!{' '}
    a(href="https://www.ticbeat.com/socialmedia/quieres-ver-como-era-facebook-google-o-amazon-en-sus-inicios/") Ticbeat
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing1a.png" alt="Startup Demo Videos: Review").img__80
  h2 Example 3 -!{' '}
    a(href="https://www.kapwing.com/museum-of-websites") Museum of Websites
  p
    span.bold Idea
    | : Screenshots showing how internet companies landing pages evolved over time.
  p
    span.bold Why it worked
    | : A super simple project perfect for Product Hunt's audience. Their first launch flopped so Julia and Eric changed the name and relaunched it a few months later.
  p
    span.bold Notable backlinks
    | :!{' '}
    a(href="https://www.ticbeat.com/socialmedia/quieres-ver-como-era-facebook-google-o-amazon-en-sus-inicios/") Ticbeat
    |,!{' '}
    a(href="https://uxdesignweekly.com/issue-181/") UX Design Weekly
    |,!{' '}
    a(href="https://www.microsiervos.com/archivo/internet/museo-sitios-web-kapwing.html") Microsiervos
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing1a.png" alt="Startup Demo Videos: Review").img__80
  h2 Results
  p In total Kapwing has launched!{' '}
    span.bold ten
    |!{' '}of these side projects. You only have to add together the numbers to see what an effective link building strategy it has been:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing5a.png" alt="Startup Demo Videos: Review").img__90
  p.list.list__top •!{' '}
    span.bold 15
    |!{' '}days
  p.list •!{' '}
    span.bold 106
    |!{' '}links > 60 DR
  p.list.list__bottom •!{' '}
    span.bold 481
    |!{' '}total links
  p To put these numbers in context a guest posting strategy would do well to exceed!{' '}
    span.bold 15
    |!{' '}backlinks in!{' '}
    span.bold 15
    |!{' '}days.
  //- p This contrast illustrates the great strength of SEO Project Marketing: It creates a disconnect between your!{' '}
  //-   span.bold inputs
  //-   |!{' '}(time) and your!{' '}
  //-   span.bold outputs
  //-   | (backlinks). Creativity is rewarded.!{' '}
  //-   span.bold One
  //-   |!{' '}fantastic idea can yield!{' '}
  //-   span.bold 100’s
  //-   |!{' '}of unique backlinks.
  //- p Contrast this to a guest posting strategy where inputs and outputs are closely connected:
  //-   span.bold 15
  //-   |!{' '}days.!{' '}
  //-   span.bold 15
  //-   |!{' '}guest posts.!{' '}
  //-   span.bold 15
  //-   |!{' '}backlinks.!{' '}
  h2 Summary
  p SEO project marketing is an example of!{' '}
    span.bold permissionless leverage
    | .
  p
    span.bold Permissionless
    |!{' '}because any startup can implement it. It doesn't require funding or a strong domain score.
  p
    span.bold Leverage
    |!{' '}because it doesn't tie your outputs (backlinks) to your inputs (time). One great idea can yield 100s of backlinks.
  p Contrast this to a guest posting strategy where outputs and inputs are connected:!{' '}
    span.bold 15
    |!{' '}days.!{' '}
    span.bold 15
    |!{' '}guest posts.!{' '}
    span.bold 15
    |!{' '}backlinks.!{' '}
  h2 My own Experiment
  p I’ve decided to give Julia and Eric's strategy a go myself. The past week I've spent building!{' '}
    a(href="/gifs") Startup Gifs
    |!{' '} and today, I’m launching it on!{' '}
    a(href="/gifs") Product Hunt
    | . The objective is to pull in some backlinks and give Marketing Examples some exposure:
  video(src="https://media.giphy.com/media/H6cCvL59dxBb9PaDzf/giphy.mp4" class="img__50" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" preload="auto")
  p I'd like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.
