extends ../base

block content
  p
    a(href="https://kapwing.com" target="_blank") Kapwing
    |!{' '}is an online video editor founded by Julia Enthoven and Eric Lu.
  p 2 years ago it was just like every other new startup. No funding. No organic traffic. No users.
  p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first 15 paying users came from Google.
  p To quote Julia, “We learned that, for our product, SEO is king.” And so herself and Eric set out on a mission to climb the Google rankings.
  //- p Julia and Eric learned that for their product SEO was king. So they set out on a mission to climb the Google rankings.
  p Two years later it’s mission accomplished. Kapwing has accumulated more than!{' '}
    span.bold 2000
    |!{' '}unique Dofollow backlinks (36,000 total) and gets an estimated!{' '}
    span.bold 1.8M
    |!{' '}organic traffic from Google each month.
  p This case study focuses on one particular link building strategy they employed. I’m going to call it!{' '}
    span.bold SEO Project Marketing
    | . It works like this:
  p.list.list__top 1. Make side projects
  p.list 2. Host them on your own domain
  p.list.list__bottom 3. Get exposure
  p The idea is that exposure results in backlinks . And because the projects are hosted on your own domain the “link juice” flows to other pages on your website helping them rank better.
  p Kapwing have launched!{' '}
    span.bold 13
    |!{' '}of these side projects over the past two years. And this strategy has resulted in over!{' '}
    span.bold 1000
    |!{' '}unique DoFollow backlinks including: The Verge, Flipboard, Wired.
  h2 How to get exposure?