extends ../base

block content
  p
    a(href="https://kapwing.com" target="_blank") Kapwing
    |!{' '}is an online video editor founded by Julia Enthoven and Eric Lu.
  p 2 years ago it was just like every other new startup. No funding. No organic traffic. No users.
  p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first 15 paying users came from Google.
  p To quote Julia, “We learned that, for our product, SEO is king.” And so herself and Eric set out on a mission to climb the Google rankings.
  //- p Julia and Eric learned that for their product SEO was king. So they set out on a mission to climb the Google rankings.
  p Two years later it’s mission accomplished. Kapwing has accumulated more than!{' '}
    span.bold 2000
    |!{' '}unique Dofollow backlinks (36,000 total) and gets an estimated!{' '}
    span.bold 1.8M
    |!{' '}organic traffic from Google each month.
  p This case study focuses on one particular link building strategy they employed. I’m going to call it!{' '}
    span.bold SEO Project Marketing
    | . It works like this:
  p.list.list__top 1. Make side projects
  p.list 2. Host them on your own domain
  p.list.list__bottom 3. Get exposure
  //- p.list.list__bottom 3. Get them in front of press
  p The idea is that exposure results in backlinks. And because the projects are hosted on your own domain the “link juice” flows to other pages on your website helping them rank better.
  //- p Exposure to press results in backlinks. And because the projects are hosted on your own domain any “link juice” flows to other pages on your website helping them rank better.
  //- p Kapwing have launched!{' '}
  //-   span.bold 13
  //-   |!{' '}of these side projects over the past two years. And this strategy has resulted in over!{' '}
  //-   span.bold 1000
  //-   |!{' '}unique DoFollow backlinks including: The Verge, Flipboard, Wired.
  p Using this strategy Kapwing have pulled in more than!{' '}
    span.bold 1000
    |!{' '}unique DoFollow backlinks including sites such as over the past two years.
  h2 Get Exposure
  p "Woah, back up. How do I get my side project in front of the press."
  p For any tech / startup related project, launching on Product Hunt is by far the easiest way. Journalists browse Product Hunt for article inspiration. So if you do well there you’re often rewarded with articles and backlinks.
  p Julia and Eric clocked this. Every side project was accompanied by a Product Hunt launch. (I believe Julia and Eric launched more times on Product Hunt than anyone else in the world throughout 2018).
  p
  p
  h2 Get exposure?
  p Before we look at some examples I want to zoom in on the “Get Exposure” step.
  p Anyone can make a fun side project. The question is how do you get them in front of the media / bloggers so they can write about it?
  p For Kapwing, Product Hunt was the answer. Journalists browse Product Hunt for article inspiration. So if you do well there you’re often rewarded with backlinks.
  p Julia and Eric clocked this. And started building projects specifically for the Product Hunt audience. The bigger the Product Hunt reaction. The more chance of backlinks.
  p *Note - Product Hunt rewards tech / startup related products. If you're side project idea isn't suited for Product Hunt direct outreach to journalists / bloggers who work in your niche is another good option. Buzzstream.Discovery (free) and Press.Hunt (paid) are my two favourite resources.
  h2 Startup Demo videos
  p
    span.bold Idea
    | : Inspired by the success of Startup Pitch Decks (9000+ PH votes, 260 unique backlinks), Julia and Eric came up with Startup demo videos: A collection of demo videos from the early days of successful startups.
  p
    span.bold Results
    | : The project got 1000+ votes on Product Hunt resulting in 17 unique backlinks including in Wired and Codrops.
