extends ../base

block content
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000.
  p No ads. No connections. No existing audience.
  p The site grew because I learned how to promote my content on the internet.
  h2.under Here's my process
  p First, I found all the different places where marketers hang out online.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Marketing Examples Product Hunt").img__100
  p Then, I asked myself, “how can I add value!{' '}
    span.bold directly
    |!{' '}to these platforms?”
  p This question is my strategy in a nutshell.
  p Self promotion isn't dumping links. It's the art of persuading someone to check your thing.
  p You do this by!{' '}
    span.bold wowing
    |!{' '}them on the platform they're!{' '}
    span.bold already
    |!{' '}using. Not by redirecting them.
  p There's no “one-size-fits all” formula. You tailor your content to fit each platform.
  h2.under Let's get into the specifics
  p
    a(href="https://twitter.com/GoodMarketingHQ") Twitter
    | ,!{' '}
    a(href="https://www.reddit.com/user/harrydry") Reddit
    |!{' '}and!{' '}
    a(href="https://www.indiehackers.com/harrydry") Indie Hackers
    |!{' '}are places where!{' '}
    span.bold long-form sharing
    |!{' '}works.
  p My strategy is simple. I share my whole article. Then, I politely ask if the reader would like to join my email list:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul.mp4" class="img__100" controls playsinline="playsinline" poster="")
  p Facebook and Slack groups are a different ball game. Attention spans are shorter. Self promoters get lynched.
  p I break my articles into visual tips. Subtly branding each one. Upfront value. No hard sell:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul5.png" alt="Marketing Examples Product Hunt").img__100
  //- p Then there's a bunch of sites. Low effort. Low reward.
  p Twitter is it's own ball game. No platform distributes content like it.
  p I type each article out as a thread. One tap “forwards” my article to 1,000 new people.
  p Readers result in more readers.
  p So it's my CTA. I don't really
  p I don't want 10 people to share it on LinkedIn. 10 in Slack. 10 on Facebook. 10 on email.
  p I want everyone to retweet the same. And I make this clear.
  p.list.list__top 1/ Newsletter readers
  p.list 2/ Anyone reading the article is pushed to Twitter
  p.list.list__bottom 3/ My welcome email grows the Twitter account
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under Putting it all together
  p.list.list__top 1) Add value to platforms which compound value
  p.list 2) Convert this value to your own platform
  p.list.list__bottom 3) Store value with an email list
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  h2.under Results
  p Here's what a year of sharing content online looks like:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul6.png" alt="Marketing Examples Product Hunt").img__100
  p The platforms where I add the most value!{' '}
    span.bold upfront
    |!{' '}are the platforms which generate the most new subscribers.