extends ../base

block content
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000.
  p No ads. No connections. No existing audience.
  p The site grew because I learnt how to push my content round the internet.
  //- p The site grew because I learned how to promote my content on the internet.
  h2.under Here's my process:
  p First, I found all the different places where my audience hangs out online.
  //- p Then, you start hanging out there.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Marketing Examples Product Hunt").img__100
  p Then, I asked myself, “how can I add value!{' '}
    span.bold directly
    |!{' '}to these platforms?”
  //- p Then, I told myself, “Forget self promotion. How can I add value!{' '}
  //-   span directly
  //-   |!{' '}to these platforms?”
  p Most people don't ask this. They go straight for self promotion.
  p Sharing content isn't dumping links. You have to add on the platform itself. Otherwise there's no incentive to click.
  //- p But that makes no sense. Why would I click a random link?
  //- p Then, I asked myself, “how can I adapt my content to add value!{' '}
  //-   span.bold
  //-   |to these platforms?”
  //- p Most people don't ask this. They go straight for self promotion.
  p This means there's no “one-size-fits all” approach. You have to adapt your content to fit the platform.
  //- p This meant is to adapt my content. No “one-size-fits all” approach to sharing content online.
  //- p Some platforms like long form. Some short form. Some encourage self promotion. Some lynch it.
  h2.under Longform Sharing
  p Twitter, Reddit, and Indie Hackers are places where longform works. So I
  //- p Twitter is not Facebook. Facebook is not Instagram. Instagram is not Slack.
  h2.under Shortform Sharing
  h2.under
  p The more value you add the more energy you create. Except it's just potential energy.
  p So
  p The more value you add the bigger your ask.
  p So you've added value. A bunch of people like your style. That's
    span.italic potential energy
    | . It's your job to channel this!{' '}
    span.italic potential energy
    |!{' '}onto your own platform.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.png" alt="Marketing Examples Product Hunt").img__100
  h2.under The results
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul2.png" alt="Marketing Examples Product Hunt").img__100
