extends ../base

block content
  p
    span.bold How
    |!{' '}you share is just as important as!{' '}
    span.bold what
    |!{' '}you share.
  p In one second someone subconsciously decides whether to engage with your content or to scroll by.
  p These tips are about optimising for that one second:
  h2.under 1) Use your characters
  p Use your characters to build interest
    | . Don’t waste them rewriting your article title. It’s already visible on your Twitter card.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter4a.png" alt="Sharing Content on Twitter").img__100
  h2.under 2) Use video to draw attention
  p People are too busy to click your content. So show them how good it is instead.
  p People are happy to retweet an awesome video. Your link then gets more attention as a result.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter3.png" alt="Sharing Content on Twitter").img__100
  h2.under 3) Your SEO title doesn't need to match your meta title.
  p 99% of articles have just one title. But if your SEO title is keyword heavy there's nothing stopping you going for a more engaging social sharing title:
  p.list.list__top • “How!{' '}
    span.bold Jeff Johnson
    |!{' '}sold Nike’s first shoes” - SEO title
  p.list.list__bottom • “How Nike sold its first shoes” - Social sharing title
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter2.png" alt="Sharing Content on Twitter").img__100
  h2.under 4) A bespoke meta image signals a higher quality article
  p “If they took the time to make an image then it must be good”
  //- p.inwardSpeech If they took the time to make an image then it must be good
  p And it’s less work than you think. Hone one template, then you’re just tweaking the copy / colours for each new article:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter6.png" alt="Sharing Content on Twitter").img__100
  h2.under 5) People retweet clean tweets
  p Some people are conscious about what they retweet. Excessive blue text can look like an ad.
  p.list.list__top • Strip away hashtags
  p.list.list__bottom • Place URL at end of the tweet to hide it
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter5.png" alt="Sharing Content on Twitter").img__100
  h2 Summary
  p So there we go:
  p.list.list__top 1) Use your tweet to build interest.
  p.list 2) Use video to draw attention
  p.list 3) Your SEO title doesn't need to match your meta title.
  p.list 4) Bespoke meta image signals higher quality article
  p.list.list__bottom 5) People RT clean tweets
  h2 Appreciation
  p Thank you to!{' '}
    a(href="https://blog.stephsmith.io/") Steph Smith
    |!{' '}for helping.
  h2 Support
  p Thank you for taking the time to read. If you liked it, joining the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}or following on Twitter is really appreciated.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | &#x1F525; I got 2000 new subscribers from my Product Hunt launch
      br
      br
      | THREAD...
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1162655778173591552?ref_src=twsrc%5Etfw') August 17, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I'd like to thank!{' '}
    a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
    |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.
