extends ../base

block content
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000.
  p No ads. No connections. No existing audience.
  //- p The site grew because I learnt how to push my content round the internet.
  p The site grew because I learned how to promote my content on the internet.
  h2.under Here's my process
  p First, I found all the different places where marketers hang out online.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Marketing Examples Product Hunt").img__100
  p Then, I asked myself, “how can I add value!{' '}
    span.bold directly
    |!{' '}to these platforms?”
  //- p This question is the heart of my strategy.
  p This question is my strategy in a nutshell.
  //- p Most people don't consider it.
  p Self promotion isn't dumping links. It's the art of persuading someone to check your thing.
  p You do this by!{' '}
    span.bold wowing
    |!{' '}them on the platform they're!{' '}
    span.bold already
    |!{' '}using. Not by redirecting them.
  //- p This means tailoring your content to fit the platform.
    //- |!{' '}them on the platform they're using. Not by trying to redirect them.
  p There's no “one-size-fits all” formula. Twitter is not Facebook is not Instagram is not Slack.
  //- p Some platforms like long form, no images. Some the complete opposite.
  //- p Some platforms like long-form. Some short-form. Some like images. Some don't.
  p You adapt your content to fit each platform.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul2.png" alt="Marketing Examples Product Hunt").img__100
  //- p You adapt your content to fit the platform.
  h2.under Let's get into the specifics
  //- p I hold nothing back. I give the whole article away for free. Every last word.
  p
    a(href="https://twitter.com/GoodMarketingHQ") Twitter
    | ,!{' '}
    a(href="https://www.reddit.com/user/harrydry") Reddit
    |!{' '}and!{' '}
    a(href="https://www.indiehackers.com/harrydry") Indie Hackers
    |!{' '}are places where!{' '}
    span.bold long-form sharing
    |!{' '}works.
  //- p Word for word. My approach is simple.
  p My strategy is simple. I share my whole article. Then, I politely ask if the reader would like to join my email list:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.mp4" class="img__100" playsinline="playsinline" poster="" onclick="this.paused ? this.play() : this.pause();")
  //- p And it works! 350,000 people have read my articles on these platforms. 9,000 joined my email list.
  //- p.inwardSpeech Harry, own your distribution bro!
  //- p 350,000 people have read my articles on these platforms. I want to
  //-   span.bold own your distribution
  //-   | . So I politely ask if they'd like to join my email list:
  //- p Do I care that people don't read it on my site?
  //- p Well, I dump a link they wouldn't read it anyway.
  //- p Well, they weren't going to anyway.
  //- p Facebook and Slack groups are a different ball game. You're limited to a handful of words and one image.
  p Facebook and Slack groups are a different ball game. Attention spans are shorter. Self promoters gets lynched.
  //- p Asking someone to join your email list will see you lynched.
  //- p Facebook and Slack groups are a different ball game. Attention spans are shorter. Linking your email list will see you lynched.
  p I break my articles into visual tips. And subtly brand each image. Upfront value. No hard sell.
  //- p So I break my articles into visual tips. Upfront value. No hard sell.
  //- p Each image is subtly branded. People know where to go for more.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul5.png" alt="Marketing Examples Product Hunt").img__100
  p Finally there's a bunch of link-sharing sites. There's no secrets here.
  h2.under Putting it all together
  //- p A birds-eye view.
  p I create value on other platforms. I convert this value to my own platform:
  //- p Email is — by far — the best place to build an audience. Medium can't slap a paywall on it.
  //- p Mark Zukerberg can't screw up so bad that people boycott it.
    span.italic Create value on other platforms. I convert this value to my own platform. Email.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.png" alt="Marketing Examples Product Hunt").img__100
  p Email. If you write online you want email subscribers at all costs.
  p Email is — by far — the best place to build an audience
  p Open rates are higher. It converts better. Medium can't slap a paywall on it. I could go on all day.
  h2.under Compound interest
  h2.under The results
  p Since I started!{' '}
    span.bold 350,000
    |!{' '}have read my articles on these platforms.!{' '}
    span.bold 9,000
    |!{' '}have joined the list.
  h2.under Numbers don't lie
  p Twitter is my power channel. So I feed it:
  p Each article and newsletter
  p It also has compound effects.
  h2.under Compound
  p Twitter is my power channel. So I feed it:
  p Each article and newsletter includes a line
  p It also has compound effects.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4a.png" alt="Marketing Examples Product Hunt").img__100
  p.list.list__top 1/ Email
  p.list 2/
  p.list.list__bottom 3/ My welcome email pushes people towards it
  h2.under A closing thought
  p A friend sent me text me the other day, “Now you have a following you can link people straight to your site”.
  p Sigh. The reason I have a following is because I don't do that.
