extends ../base

block content
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000.
  p No ads. No connections. No existing audience.
  //- p The site grew because I learnt how to push my content round the internet.
  p The site grew because I learned how to promote my content online.
  h2.under Here's my process
  p First, I found all the different places where marketers hang out online.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Marketing Examples Product Hunt").img__100
  p Then, I asked myself, “how can I add value!{' '}
    span.bold directly
    |!{' '}to these platforms?”
  p This question is my strategy in a nutshell.
  //- p Most people don't consider it.
  p Self promotion isn't dumping links. It's the art of persuading someone to check your thing.
  p You do this by!{' '}
    span.bold wowing
    |!{' '}them on the platform they're!{' '}
    span.bold already
    |!{' '}using. Not by redirecting them.
  //- p This means tailoring your content to fit the platform.
    //- |!{' '}them on the platform they're using. Not by trying to redirect them.
  p There's no “one-size-fits all” formula. Some platforms like long form, no images. Some the complete opposite.
  p You tailor your content to fit each platform.
  //- p Twitter is not Facebook is not Instagram is not Slack.
  //- p You tailor your content to fit each platform.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul2.png" alt="Marketing Examples Product Hunt").img__100
  //- p You adapt your content to fit the platform.
  h2.under The specifics
  //- p I hold nothing back. I give the whole article away for free. Every last word.
  p
    a(href="https://twitter.com/GoodMarketingHQ") Twitter
    | ,!{' '}
    a(href="https://www.reddit.com/user/harrydry") Reddit
    |!{' '}and!{' '}
    a(href="https://www.indiehackers.com/harrydry") Indie Hackers
    |!{' '}are places where!{' '}
    span.bold long-form sharing
    |!{' '}works.
  //- p Word for word. My approach is simple.
  p My strategy is simple. I share my whole article. Then, I politely ask if the reader would like to join my email list:
  //- video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.mp4" class="img__100" playsinline="playsinline" poster="" onclick="this.paused ? this.play() : this.pause();")
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul.mp4" class="img__100" controls playsinline="playsinline" poster="")
  //- p And it works! 350,000 people have read my articles on these platforms. 9,000 joined my email list.
  //- p.inwardSpeech Harry, own your distribution bro!
  //- p 350,000 people have read my articles on these platforms. I want to
  //-   span.bold own your distribution
  //-   | . So I politely ask if they'd like to join my email list:
  //- p Facebook and Slack groups are a different ball game. You're limited to a handful of words and one image.
  p Facebook and Slack groups are a different ball game. Attention spans are shorter. Self promoters get lynched.
  //- p Asking someone to join your email list will see you lynched.
  //- p Facebook and Slack groups are a different ball game. Attention spans are shorter. Linking your email list will see you lynched.
  p I break my articles into visual tips. Subtly branding each one. Upfront value. No hard sell:
  //- p So I break my articles into visual tips. Upfront value. No hard sell.
  //- p Each image is subtly branded. People know where to go for more.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul5.png" alt="Marketing Examples Product Hunt").img__100
  //- p Then there's a bunch of link-sharing sites. No secrets there.
  //- Option 1
  //- h2.under Putting it together
  //- p.list.list__top 1/ Create value on other platforms
  //- p.list 2/ Convert this value to your own platform
  //- p.list.list__bottom 3/ Store value with your email list
  //- p Without a store of value you're pouring water into a bottomless bucket.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  //- Option 2
  h2.under Putting it all together
  p
    span.italic Create value on other platforms. Convert this value to your own platform. Store value with your email list.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  p Email subscribers are gold bars in the bank.
  //- p They're value isn't tied to 3rd party.
  p
    span.italic Medium
    |!{' '}can't paywall them. Facebook can't screw up so bad they lose value. My whole strategy revolves round it.
  //- It's the only direct line to your audience.
  //- p  If Mark Zuckerberg screws up they retain value.
  //- Option 3
  //- h2.under Putting it all together
  //- p
  //-   span.italic Create value on other platforms. Convert this value to your own platform. Store value with your email list.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  //- p My whole strategy revolves round it.
  //- p Email is the best place to build an audience. It's the only direct line to your audience.
  //- span.italic Medium
  //-   | can't paywall them.
  //- p But you need a way of storing value.
  //- p No platform distributes content like it. One tap “forwards” my article to 1,000 new people.
  h2.under Compound interest
  p Email is the objective. Twitter is the power channel.
  //- p Every article is written out in a thread.
  p No platform distributes content like it. One tap “forwards” my article to 1,000 new people.
  //- p Create value on platforms which compound value
  p I don't want someone to
  p When people say, “share with a friend”
  p Anyone reading the article is pushed to Twitter.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under Results
  //- p A year of sharing content online and here's the results:
  //- p Here's the results of a year sharing content:
  p Here's what a year of sharing content online looks like:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul6.png" alt="Marketing Examples Product Hunt").img__100
  //- p It's not rocket science:
  p The platforms where I add the most value!{' '}
    span.bold upfront
    |!{' '}are the platforms which generate the most new subscribers.
  p People are busy. You have 5 seconds. Don't redirect them. Wow them.
  //- p People are busy. You have 5 seconds. Don't redirect them. Stop them in their tracks.
  //- p Yet, everyone has it backwards. You give away the whole
  //- p Next time your promoting something remember this:
  //- p To reiterate:
  //- p The more value I add, the more people are persuaded to join my email list.
  //- h2.under A closing thought
  //- p A friend sent me text me the other day, “Now you have a following you can link people straight to your site”.
  //- p Sigh. The reason I have a following is because I don't do that.
  //- p Since I started!{' '}
  //-   span.bold 350,000
  //-   |!{' '}have read my articles on these platforms.!{' '}
  //-   span.bold 9,000
  //-   |!{' '}have joined the list.
