extends ../base

block content
  p June 2019 I wrote my first marketing article. A year later my email list hit 19,000.
  p No ads. No connections. No existing audience.
  p The site grew because I learned how to promote my content online.
  h2.under Here's the process
  p First, I found all the different places where marketers hang out:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Marketing Examples Product Hunt").img__100
  p Then, I asked myself, “how can I add value!{' '}
    span.bold directly
    |!{' '}to these platforms?”
  p This question is my strategy in a nutshell.
  p Self promotion isn't dumping links. It's the art of persuading someone to check your thing.
  p You do this by!{' '}
    span.bold wowing
    |!{' '}them on the platform they're!{' '}
    span.bold already
    |!{' '}using. Not by redirecting them.
  p There's no “one-size-fits all” formula. Some platforms like long-form. Some short-form. Some images. Some text.
  p You tailor your content to fit each platform.
  //- p There's no “one-size-fits all” formula. You tailor your content to fit the platform. Some like long-form. Some short-form. Some images. So text.
  h2.under Let's get into the specifics
  p
    a(href="https://twitter.com/GoodMarketingHQ") Twitter
    | ,!{' '}
    a(href="https://www.reddit.com/user/harrydry") Reddit
    |!{' '}and!{' '}
    a(href="https://www.indiehackers.com/harrydry") Indie Hackers
    |!{' '}are places where!{' '}
    span.bold long-form sharing
    |!{' '}works.
  p My strategy is simple. I share my whole article. Then, I politely ask if the reader would like to join my email list:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul.mp4" class="img__100" controls playsinline="playsinline" poster="")
  p Facebook and Slack groups are a different ball game. Attention spans are shorter. Self promoters get lynched.
  p I break my articles into visual tips. Subtly branding each one. Upfront value. No hard sell:
  //- p I break my articles into visual tips. Subtly branding each one. This wets people's appetite. If people ask, I direct.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul5.png" alt="Marketing Examples Product Hunt").img__100
  //- p Finally, there's a bunch of sites (Hacker News, Designer News, Growth Hackers, Zest.is, etc ...) where you can post direct links. No secrets there. Although an upvote from a co-worker doesn't hurt.
  p Then, there's a bunch of sites where I share direct links:!{' '}
    a(href="") Hacker News
    | ,!{' '}
    a(href="") Designer News
    | ,!{' '}
    a(href="") Growth Hackers
    | ,!{' '}
    a(href="") Zest.is.
  p Same principal applies.!{' '}
    span.italic Tailor content to fit the platform:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul7.png" alt="Marketing Examples Product Hunt").img__100
  p The whole process takes 8 hours. 4 hours posting. 4 hours replying.
  //- p Replying is key. It turns you from a!{' '}
  //-   span.italic self-promoter
  //-   |!{' '}into a!{' '}
  //-   span.italic genuine
  //-   |!{' '}member of a community. Everyone hates self promoters.
  //- Option 1
  h2.under Let me tell you something everyone neglects
  p How!{' '}
    span.italic other people
    |!{' '}share your content is just as important as how!{' '}
    span.italic you
    |!{' '}share it.
  p The key is depth over breadth:
  p.list.list__top •!{' '}
    span 50
    |!{' '}people sharing, scattered across social media doesn’t compound.
    //- |!{' '}people sharing, scattered across Facebook, LinkedIn, Slack, Twitter doesn’t compound.
  p.list.list__bottom •!{' '}
    span 50
    |!{' '}people all retweeting the same thing does compound.
  //- p I ask everyone who likes the article to retweet the same thing.
  //- p No platform distributes content like Twitter.
  p I direct everyone who likes my article to the same!{' '}
    a(href="") Twitter thread
    | .
  p 50 retweets turns into 500 retweets.
  //- p One tap “forwards” my article to 1,000 new people.
  //- | . Don’t spread thin. Go all-in.
  //- p I push everyone reading my article to the same!{' '}
  //-   a(href="") Twitter thread
  //-   | . Don’t spread thin. Go all-in.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4a.png" alt="Marketing Examples Product Hunt").img__100
  //- h2.under How other people share
  //- p Companies have content sharing strategies. But they all neglect how!{' '}
  //-   span.italic other people
  //-   |!{' '}share their content.
  //- p The key is depth over breadth.
  //- p You don't want a handful of people sharing on different platforms. You want everyone sharing on the same platform.
  //- p Twitter is my power channel. I ask everyone who likes the article to retweet the same thing.
  //- p Numbers compound on Twitter. 1 to 100 is the same distance as 100 to 1000.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4a.png" alt="Marketing Examples Product Hunt").img__100
  h2.under Putting it all together
  //- p.list.list__top 1) Create value on other platforms.
  p.list.list__top 1) Create value on platforms which compound value.
  p.list 2) Convert!{' '}
    span.italic this value
    |!{' '}to your own platform.
  p.list.list__bottom 3) Store value with your email list.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  p Email subscribers are gold bars in the bank.
  p
    span.italic Medium
    |!{' '}can't paywall them. Facebook can't screw up so bad they lose value. They're the goal.
  p Here's the results of a year sharing content online:
  //- p Here's what a year of sharing content online looks like:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul6.png" alt="Marketing Examples Product Hunt").img__100
  p It's not rocket science:
  p The platforms where I add the most value!{' '}
    span.bold upfront
    |!{' '}are the platforms which generate the most new subscribers.
  p.inwardSpeech People are busy. Don't redirect them. Wow them.
  h2.under One last thing
  //- p Everyone hates!{' '}
  //-   span.italic self-promoters
  //-   | .
  p The best self-promoters aren't!{' '}
    span self-promoters
    |. They're!{' '}
    span.italic genuine
    |!{' '}members of the community.
    //- |. They take the time to become!{' '}
    //- span.italic genuine
    //- |!{' '}members of lots of different communities.
  //- p Praise other people's content. Write comments. Make friends.
  p Share others' content. Write comments. Make friends.
  p Give more than you take. It's a positive sum game.
  //- p Your own “self-promotion” will return tenfold.
  //- p Returns on your own “self-promotion” will increase tenfold.
  //- Give more than you take
  //- p I promise, your own “self-promotion” will be recieved better.
  //- p That gives you the licence to self-promote.
  //- p I’ve built a business promoting my content online. But I’m not a!{' '}
  //-   span.italic self-promoter
  //-   | . Everyone hates!{' '}
  //-   span.italic self-promoters
  //-   | .
  h2.under Support
  p Keeping in the spirits of the piece, if you enjoyed it, please do join the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    |!{' '}or share the thread below:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr') &#x1F525; 7 practical ways to write copy that converts:
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1185140588552818688?ref_src=twsrc%5Etfw') October 18, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p Thanks to!{' '}
    a(href="https://emailoctopus.com/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=article_mentions" target="_blank") EmailOctopus
    |!{' '}for sponsoring. I use them for all my own email marketing.
  p — Over and out, Harry
  //- Edits
  //- p
  //-   span.italic Create value on other platforms. Convert this value to your own platform. Store value with your email list.
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1b.png" alt="Marketing Examples Product Hunt").img__100
  //- p Email is the best place to build an audience. It's the only direct line to your audience. And the objective of my strategy.
  //- Options 1
