extends ../base

block content
  p In my humble opinion “Shot On iPhone” is pretty close to the perfect campaign. Here’s three lessons you can learn from it:
  h2.under 1/ Customers buy outcomes, not features
  p Coming soon
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/soi1.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Don't expect customer's to burn calories
  p “Shot On IPhone” is three words. Apple’s Instagram is solely dedicated to “Shot on iPhone”. All 757 photos. Nothing about battery life, AirPods, Apple Music.
  p Limitation and consistency is how you earn a space in the customer’s mind
  h2.under 2/ The power of a campaign is inversely proportional to its scope
  p I must have seen one-hundred mobile phone ads last year. I don’t remember any of them. Too much information. Too many different messages.
  p Apple's been repeating the same three words for five years.!{' '}
    a(href="https://www.instagram.com/apple" target="_blank") Their Instagram
    |!{' '}is solely dedicated to!{' '}
    span.italic Shot on iPhone
    | . All 757 photos.
  p Stand for something simple and narrow to own a space in the customer’s mind.
  p Limitation and consistency is how you own a space in the customer’s mind.
  p The power of a campaign is inversely proportional to its scope
  p Limitation and consistency is how become memorable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/soi2.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 3/ Always think user generated content
  p Imagine the same ads!{' '}
    span.italic except
    |!{' '}Apple take the photos.
  p The key is relatability. REAL photos from REAL people. If they can do it so can we.
  p We want to see REAL photos from REAL people. Because we can relate to them. If they can do it. Then so can we.
  p Nothing is more believable than customers using your product.
  p.asterix * * *
  p That's all I've got. Nice and short :)
  p
    span.italic Over and out — Harry