extends ../base

block content
  p I love Apple's “Shot On iPhone” campaign. Here’s three lessons from it:
  h2.under 1/ Sell outcomes, not features
  p Coming soon
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/soi1.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 2/ Narrow your focus
  p I must have seen 100 Samsung ads last year. I don’t remember any of them. Too much information. Too many different messages.
  p
    span.italic Shot On IPhone
    |!{' '}is three words. It's intuitive. It highlights one feature. Apple's!{' '}
    a(href="https://www.instagram.com/apple" target="_blank") Instagram
    |!{' '}is solely dedicated to it. That why it's memorable.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/soi2.jpg" alt="Marketing Examples Product Hunt").img__100
  h2.under 3/ Always think UGC
  p The power is!{' '}
    span.italic REAL
    |!{' '}photos from regular people. Not Apple with tripods, lighting, photoshop.
  p Nothing is more believable than customers using your product.
  p.asterix * * *
  p
    span.italic Thanks for reading. If you liked this you might like my guide to!{' '}
    a(href="https://marketingexamples.com/misc/real-marketing") Real Marketing
    |.
  p
    span.italic Over and out — Harry