extends ../base

block content
  p Traditional advertising is!{' '}
    span.bold less
    |!{' '}effective than ever before. <br>Building fans (who sell your product) is!{' '}
    span.bold more
    |!{' '}effective than ever before.
  p One tweet, one YouTube video, one podcast can beam your product to millions of people.
  //- p Having fans sell your product is more effective than ever before. One tweet, one YouTube video, one podcast can beam your product to millions of people.
  p Tesla grasp this. They have zero advertising budget. The focus is on building a brand and turning customers into fans. And they've succeeded:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla1.png" alt="Marketing Examples Product Hunt").img__90
  h2.under 1) It starts with a noble mission
  p Tesla’s mission to “accelerate the world's transition to sustainable energy” resonates. And going!{' '}
    a(href="https://www.tesla.com/en_GB/blog/all-our-patent-are-belong-you") open source
    |!{' '}gives it real credibility. The mission is more important than profit maximising.
  h2.under 2) And actually caring / Their not politicians
  p.list.list__top • Their multibillionare CEO is known for customer support on Twitter
  p.list • Their multibillionare CEO is known for customer support on Twitter
  p.list.list__bottom • Their multibillionare CEO is known for customer support on Twitter
  h2.under 3) Add some controversy
  p Kim Kardashian once had a sex tape. Now every time she walks outside she gets free publicity. Controversy attracts eyeballs. Musk understands this.
  p Smoking weed with Joe Rogan, selling flamethrowers, dissing Mark Zukerburg, he's building potential energy.
  p And now, when it's time to unveil a product, we all want to know what he's cooked up.
  p Imagine any other automobile company in the world, running a launch event, presell 250k unites upfront with $100 deposit. That
  p.under 4 - All the
  p Tesla owners stranded in Florida extra range so they could escape Hurricane Irma.
  p Sum all these little things together and the result is a brand people f**k with.

