extends ../base

block content
  p Traditional advertising is!{' '}
    span.bold less
    |!{' '}effective than ever before. It interrupts. It can’t get through ad blockers. We’ve learned to ignore it.
  p Having fans sell your product is!{' '}
    span.bold more
    |!{' '}effective than ever before.
  //- p Building fans (who sell your product) is!{' '}
  //-   span.bold more
  //-   |!{' '}effective than ever before.
  //- p One tweet, one YouTube video, one podcast can beam your product to millions of people.
  p Tesla grasp this. They have zero advertising budget. The focus is on!{' '}
    span.bold turning customers into fans
    | . And it's fair to say they've succeeded:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla1.png" alt="Marketing Examples Product Hunt").img__90
  //- h2.under 1) A noble mission
  p If I had one just one line to summarise Tesla's success it would be:
  p.inwardSpeech Escape competition through authenticity
  p You can’t compete with Elon Musk because Elon Musk is our generations Elon Musk.
  //- p Their genius is in simultaneously being one of the most relatable and one of the most ambitious brands on the planet.
  p His genius lies in!{' '}
    span.bold simultaneously
    |!{' '}being one of the most!{' '}
    span.bold relatable
    |!{' '}and one of the
    span.bolld ambitious
    |!{' '}CEO's on the planet.
  p He’s the “guy next door” smoking weed, sharing memes, playing Kerbal. He's also launches cars into space and is trying to populate Mars.
  p And yet their crazy goals thety still remain, “one of the gang”
  p In response to Hurricane Irma they extended the battery life of all Tesla's in Florida to helping drivers escape.
  p Their software is open source, their multibillionare CEO is known for handling customer support on Twitter

  //- p Tesla’s mission is to “accelerate the world's transition to sustainable energy”. And it resonates.
  //- p Going!{' '}
  //-   a(href="https://www.tesla.com/en_GB/blog/all-our-patent-are-belong-you") open source
  //-   |!{' '}gives this mission real credibility. It's more important than profit maximising.
  //- h2.under 2) Actually caring
  //- p.list.list__top • Their multibillionare CEO is known for customer support on Twitter. [Image]
  //- p.list.list__bottom • When Hurricane Irma hit they automatically They extending the battery life of any Tesla's in Florida to help drivers escape.
  //- h2.under 3) Embrace controversy
  //- p Kim Kardashian once had a sex tape. Now every time she walks outside she gets free publicity. Musk gets this.
  //- p He smokes weed with Joe Rogan, sells flamethrowers, disses Mark Zukerburg, and then when it’s time to sell a product he’s got our attention.
  //- p Imagine any other automobile company attracting the world's media to a launch event, smashing two windows, and selling 250k+ units upfront.
  p.asterix ***
  p Sum all these little things together and the result is a brand people love.
  p Their competitors spending hundreds of thousands of dollars for a 30s commercial to play during a basketball game. No one watches it.
  p Tesla sit back and watch their fans make those videos for them.