extends ../base

block content
  p Pieter Thiel spends 6 months writing down everything he knows about business. His book sells for!{' '}
    span.bold $10
    |!{' '}on Amazon.
  p Adam Wathan and Steve Schoger spend 6 months writing down everything they know about design. Their “book” sells for!{' '}
    span.bold $149
    |!{' '}online.
  p Believe it or not, both these prices make perfect sense.
  p Thiel is selling to the!{' '}
    span.bold masses
    |!{' '}and the masses are!{' '}
    span.bold price elastic
    |!{' '}(sensitive to price increases). If he raises the price to $30 his audience wouldn’t think twice before substituting his book for one of the many cheaper alternatives on Amazon.
  p Adam and Steve are selling to an audience of!{' '}
    span.bold hardcore
    |!{' '}fans. Hardcore fans are!{' '}
    span.bold price inelastic
    |!{' '}(insensitive to changes in price).
  p They've all been following the twitter tips, watching the screencasts, reading the Medium Posts. In their minds, there are no substitute resources available. They don’t want any old design book, they want a!{' '}
    span.italic Steve Schoger + Adam Wathan
    |!{' '}design book.
  p When demand for your good is inelastic, you raise your price. In the case of Steve and Adam, all the way up to $150. As the illustrative diagram shows, a!{' '}
    span.bold 10x
    |!{' '}price increase (from $15 to $150) results in just a!{' '}
    span.bold 2x
    |!{' '}drop in books sold (20k to 10k) and!{' '}
    span.bold 5x
    |!{' '}more revenue.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui3.png" alt="Refactoring UI: Inelastic demand").img__70
  h2 Step 2 - Escape the context of an e-book
  p So quite rightly Adam and Steve elected to charge a high price, but that created one problem:!{' '}
    span.italic You can't just sell an e-book for $100+
    | . People are anchored to what they're used to paying on Amazon. To quote Adam:
  p.inwardSpeech The
    |!{' '}format commands the price. No matter what the content is. That's why a lot of people are selling courses these days instead of books, because you can put the exact same information in a course, and people will be like, “Oh but it’s a course. So I’ll pay $200 for a course”.
  p So Adam and Steve set up their own website, added in video tutorials, an icon pack, color palettes, font recommendations, a component library. And then!{' '}
    span.bold the context changed
    | .
  p They were no longer selling an!{' '}
    span.italic Amazon e-book
    |, they were selling an!{' '}
    span.italic exhaustive design package
    | . And they could charge whatever they liked.
  h2 Step 3 - A Persuasive Higher Tier
  p Originally their “book” was set to release at just one flat price of $149. But after several complaints they also introduced a lower tier of $79.
  p This threw up a new challenge. Adam and Steve still wanted to persuade people to pay the full $149. How could they present the higher tier in such a way to make it the more compelling option?
  p Well, firstly, look at the hierarchy of the two packages. The $149 package takes up twice as much screen space, the font size is larger, and the button color is primary. It doesn't feel right pressing the “Buy Now” button on the lower tier.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui4.png" alt="Refactoring UI: Pricing Tiers").img__100
  p Secondly, look at the disproportionately sized discounts. The!{' '}
    span.italic Complete Package
    |!{' '}is reduced by!{' '}
    span.bold $100
    |!{' '}(or 40%) and!{' '}
    span.italic The Essentials
    |!{' '}is only reduced by!{' '}
    span.bold $20
    |!{' '}(or 25%). To quote Adam:
  p.inwardSpeech If you want people to buy the more valuable package why not make the discount more compelling.
  p And thirdly, look at the labelling of the higher tier option.!{' '}
    span.italic The Complete Package
    |!{' '}infers that!{' '}
    span.bold if you choose anything less you're missing out
    | . It could just as accurately be labelled!{' '}
    span.italic The Bonus Package
    |!{' '}but that would infer it's!{' '}
    span.bold full of optional extras
    | .
  //- p Thirdly, look at the name of the higher tier option. There is a big psychological difference between labelling something,!{' '}
  //-   span.italic The Complete Package
  //-   |!{' '}and!{' '}
  //-   span.italic The Bonus Package
  //-   | . The former infers that if you choose anything less then you're!{' '}
  //-   span.bold missing out
  //-   | . The latter infers that it’s full of!{' '}
  //-   span.bold optional extras
  //-   | .
  h2 Results
  p And the subtle tweaks in the presentation of the higher tier seemed to work. Quite ironically, in spite of complaints regarding it's high price,!{' '}
    span.bold 78%
    |!{' '}of the total purchases (6765) favoured the higher tier (as of Jan 10, 2019).
  h2 Summary
  p So, there we have it. Adam and Steve:
  p.list.list__top • Identified that a hardcore audience required high pricing
  p.list • Escaped the dogma of e-book pricing
  p.list.list__bottom • Packaged the higher pricing tier in a more compelling way
  p and Refactoring UI ended up grossing over $1.5M.
  p It's worth mentioning that not everybody can just charge $149 and expect it to work.!{' '}
  p My own heuristic is:!{' '}
    span.italic The price you can charge is equal to the value you’ve already created
    | . Only through two years of free tips, screencasts, and articles were they able to justify this price.




