extends ../base

block content
  h2.under 1) Write with your eraser
  p You get 100 bucks for every word you rub out from your title:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt1.png" alt="Value-based messaging").img__100
  h2.under 2) Don't exaggerate
  p An honest line always feels warmer:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt2.jpg" alt="Value-based messaging").img__100
  h2.under 3) No one cares what you can do
  p Everyone cares what you can do!{' '}
    span.italic for them
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt3.jpg" alt="Value-based messaging").img__100
  h2.under 4) Avoid the passive voice
  p It's indirect and awkward:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt4.png" alt="Value-based messaging").img__100
  h2.under 5) Don't kill your personality
  p The best brands feel “real”:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt11a.png" alt="Value-based messaging").img__100
  h2.under 6) Avoid “landing page words”
  p
    span.italic Unlock
    | ,!{' '}
    span.italic unleash
    | ,!{' '}
    span.italic enhance
    | ,!{' '}
    span.italic exceed
    | ,!{' '}
    span.italic empower
    | ,!{' '}
    span.italic supercharge
    | , etc.
  p Real people don't use them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt13.png" alt="Value-based messaging").img__100
  h2.under 7) Find the tension
  p “Pleasant” gets forgotten. Conflict creates interest:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt12d.png" alt="Value-based messaging").img__100
  //- h2.under 14) Find the tension
  //- p Pleasant copy gets forgotten.
  //- p e.g, Insurance sucks. You're an insurance startup. Tension. Address it:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt12d.png" alt="Value-based messaging").img__100
  h2.under 8) Write how you talk
  p Casual. Colloquial. Full of pronouns:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt5.png" alt="Value-based messaging").img__100
  h2.under 9) Avoid “contained” titles
  p Write something that pulls your reader down your page:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt14.png" alt="Value-based messaging").img__100
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt12f.png" alt="Value-based messaging").img__100
  h2.under 10) Write scannable copy
  p Formatting matters:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt6.png" alt="Value-based messaging").img__100
  h2.under 11) Stories make you memorable
  p I couldn't list The Ten Commandments. I could tell you what happened to Adam and Eve:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt8.png" alt="Value-based messaging").img__100
  h2.under 12) More periods, fewer commas.
  p Periods mean short sentences. We like short sentences.
  p Commas mean long, painful sentences, like this one, which!{' '}
    span.italic New Yorker
    |!{' '}writers think are clever, but real people find torturous, because they wind on and on without actually saying anything.
  p h/t!{' '}
    a(href="https://twitter.com/david_perell/status/1250149037837176834" target="_blank") David Perell
  h2.under 13) Kill adverbs. Kill adjectives.
  p They're flowery. They're vague. They try too hard:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt9.png" alt="Value-based messaging").img__100
  //- h2.under 14) Go to the conflict
  //- h2.under 14) Find the tension
  //- p Pleasant copy gets forgotten. You need to find the friction between tire and road.
  //- p e.g. Insurance sucks. You're an insurance startup. Tension. Go to the heart of :
  //- h2.under 14) Nice copy finishes last
  //- p Find the tension. Conflict = Interest.
  //- p e.g. Insurance sucks. You're an insurance startup. Tension. Go there:
  h2.under 14) Think slippery slide
  p Every line of copy should lead to the next.
  p Watch this ad. You won't be able to stop:
  .yt
    iframe(width='' height='' src='https://www.youtube.com/embed/eXL2YukS6Sc' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 15) Fence sitters don't buy
  p Go to the edge:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt7.png" alt="Value-based messaging").img__100
  h2.under 16) Your first line is crucial
  p If people don’t read it, they’re not going to read your second line either.
  p Keep it short:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt10.png" alt="Value-based messaging").img__100
  h2.under 17) Copywriting is selling
  p Don’t romanticize it. The goal isn't to be clever or cute.
  p The goal is to inspire action:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt16.png" alt="Value-based messaging").img__100
  h2.under You made it!
  p Damn. This was a long one. I won't lie.
  p If you'd enjoyed it, I'd appreciate it if you joined the!{' '}
    a(href="https://marketingexamples.com/subscribe") email list
    | . I share a new marketing case study each week.
  p If your feeling generous perhaps like or retweet the thread on Twitter. This one really did take a long while to make:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr') 17 tips for great copywriting:
    | &mdash; Marketing Examples (@GoodMarketingHQ)
    a(href='https://twitter.com/GoodMarketingHQ/status/1258052549246140416?ref_src=twsrc%5Etfw') May 6, 2020
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p Thanks to!{' '}
    a(href="https://emailoctopus.com/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") EmailOctopus
    |!{' '}for sponsoring. I use them for all my own email marketing.