extends ../base

block content
  //- h2.under 2/ Threads
  //- p People don't click links. So for anything longerform write a thread.
  //- p People don't click links. So if you want people to read what you've wrote, write a thread.
  //- p Tell stories, share updates, teach people. Stories, updates, lessons.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt2.jpg" alt="TT1").img__100.img__caption
  //- p.caption
  //-   a(href="" target="_blank") FC Barcelona
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Ryan Reeves
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Product Hunt
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Tesla
  //- h2.under 3/ Memes
  //- p Makes your brand relatable.
  //- p
  //-   span.italic Cc: How Sparknotes use pop-culture to make literature relatable.
  //- p
  //-   span.italic E.g. Sparknotes' pop-culture memes to explain classic literature.
  //- p
  //-   span.italic Cc: How Sparknotes uses pop-culture memes to explain classic literature
  //- p
  //-   span.italic Cc: How Sparknotes' pop-culture memes make classic literature relatable
  //- p Sparknotes sells literature study guides. Twitter and literature analysis don't mix. So Sparknotes explains literature via pop-culture memes.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3a.jpg" alt="TT1").img__100.img__caption
  //- p.caption
  //-   a(href="" target="_blank") Monterey Bay Aquarium
  //-   | ,!{' '}
  //-   a(href="" target="_blank") SparkNotes
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Chiptole
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Fast
  //- h2.under 6/ Replies
  //- p An underated way of getting in front of your audience.
  //- p Write the reply only your brand can.
  //- p The key is to!{' '}
  //-   span.italic get in early
  //-   | . Make a list of a few people in your niche. Turn on notifications. Comment something witty or thoughtful.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt6.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  //- h2.under 7/ Questions
  //- p Get to know your customer whilst building a sense of community.
  //- p Help you get to know your customer whilst building a sense of community. Replies create visibility for your own brand.
  //- p An easy way to get to know your customer and build a sense of community. Replies create visibility for your own brand.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt17.png" alt="TT1").img__100.img__caption
  h2.under 10/ Giveaway
  p Builds followers. Builds brand awareness.
  p More followers. More brand awareness.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt11.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPies
  h2.under 13/ Transparency
  p Talk openly about your product and people will care more about your product.
  //- p.inwardSpeech More transparency, more visibility. More visibility, more attention. More attention, more opportunity. — Jack Butcher
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt12.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPies
  //- h2.under 12/ Commercials
  //- p Twitter is a viral machine. You don't need a TV budget. Entertain people and they'll retweet the hell out of it.
  //- p You don't need a TV budget. Entertain people.
  //- p.inwardSpeech Nobody watches ads. People watch what entertains them. Sometimes it's an ad — Howard Gossage
  //- video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  //- p.caption
  //-   a(href="" target="_blank") LEGO
  //-   | ,!{' '}
  //-   a(href="" target="_blank") OREO Cookie
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Southampton FC
  //-   | ,!{' '}
  //-   a(href="" target="_blank") MoonPie
  h2.under 15/ Galvanize your followers
  p This tweet from Spotify deserves a category of it's own.
  p Create the right conditions and you can encourage your followers to tweet about your product for you.
  //- p This tweet from Spotify got 65,000 people to post photos of their playlist.
  //- p
  //-   span.italic This tweet from Spotify saw 65k people post photos of their playlist:
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  p.caption
    a(href="" target="_blank") Spotify
  h2.under 17/ Consistency
  p And finally, consistency is how you imprint yourself. Your followers should recognise you without looking at the icon.
  p.inwardSpeech Consistent tone. Consistent aesthetics. Consistent message.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt19a.png" alt="TT1").img__100.img__caption
  //- p.asterix * * *
  //- p And finally consistency is how you imprint yourself. Consistent tone. Consistent aesthetics. Consistent message.
  //- p Your followers should recognise you without looking at the icon. There's no better example than no name.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt19a.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
  //- h2.under 9/ Light content
  //- p Don't complicate it. Most people just want some light entertainment. Provide that, and people will follow you.
  //- p Twitter is a light medium. Don't expect people to burn calories.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt14a.png" alt="TT1").img__100.img__caption
  //- p.caption
  //-   a(href="" target="_blank") LEGO
  //-   | ,!{' '}
  //-   a(href="" target="_blank") OREO Cookie
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Southampton FC
  //-   | ,!{' '}
  //-   a(href="" target="_blank") MoonPie