extends ../base

block content
  p When I started on Twitter I had no idea what I was doing.
  //- p So I made one big Google Doc where I started saving all the best “brand tweets” and grouped them into categories.
  p So I made one big Google Doc where I started saving all the best “brand tweets”. Grouped into categories.
  p Today, it's ready to share. I hope you find it useful.
  //- p So two years ago I made one big Google Doc where I'd save all the best “brand tweets”. Grouped into categories.
  //- p Category by category.
  h2.under 1/ Quick tips
  p Teach people something new in a tweet. Short, sweet, and shareable.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") Steve Schoger
    | ,!{' '}
    a(href="" target="_blank") Tasty
    | ,!{' '}
    a(href="" target="_blank") Vizualize Value
    | ,!{' '}
    a(href="" target="_blank") Harry's Marketing Examples
  h2.under 2/ Threads
  //- p People don't click links. So don't share an article. Write a thread.
  p People don't click links. So if you've got a story worth sharing write a thread.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt2.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") FC Barcelona
    | ,!{' '}
    a(href="" target="_blank") Ryan Reeves
    | ,!{' '}
    a(href="" target="_blank") Product Hunt
    | ,!{' '}
    a(href="" target="_blank") Tesla
  h2.under 3/ Memes
  p Make your brand relatable.
  p Sparknotes sells literature study guides. Twitter and literature study guides don't mix. So Sparknotes use pop-culture to make literature relatable.
  //- p Sparknotes sells literature study guides. Twitter's not the medium for literature analysis. So Sparknotes uses pop-culture to make literature relatable.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3a.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") Monterey Bay Aquarium
    | ,!{' '}
    a(href="" target="_blank") SparkNotes
    | ,!{' '}
    a(href="" target="_blank") Chiptole
    | ,!{' '}
    a(href="" target="_blank") Fast
  h2.under 4/ “Quick reaction” tweets
  p Each day a new story consumes Twitter. Think fast and you can go viral.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt4.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 5/ Build in public
  p Makes your brand feel!{' '}
    span.italic ALIVE
    | .  People want to come on the journey.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt10.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 6/ Brand beef
  p Conflict creates interest. T-Mobile bragging about their 5G is boring. T-Mobile roasting Verizon's 5G is hilarious.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt9.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 7/ Replies
  p Make a list of a few people in your niche. Turn on notifications. Comment something witty or thoughtful.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt6.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 8/ Questions
  p Get to know your customers whilst building a sense of community.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt17.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
  h2.under 9/ Casual content
  p Don't complicate it. Most people just want some light entertainment.
  //- p Casual content works. Most people just want some light entertainment.
  //- p So bend your message in a way that fits on social media.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt14a.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 10/ “Reply to this tweet and we'll...”
  p Turns causal followers into brand advocates.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt13.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 11/ Live tweeting
  //- p Another underrated way of getting in front of your audience.
  p Your audience watch a cult show. That show trends every week. You live-tweet each episode.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt7.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 12/ Transparency
  p Twitter loves transparency. Talk openly about your product you'll sell more ofyour product.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt12.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 13/ Celebrate customers
  p Making customers look good makes you look good. It's marketing without!{' '}
    span.italic marketing
    | .
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt15.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 14/ Giveaways
  //- p Builds follower count. Creates brand awareness.
  p Grows follower count. Builds brand awareness.
  p Grows followers. Builds brand awareness.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt11.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  //- h2.under 16/ “Surprise and Delight”
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt16.png" alt="TT1").img__100.img__caption
  //- p.caption
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //- h2.under 12/ Ads
  //- p Twitter is a viral machine. You don't need a TV spot. You need to entertain people.
  //- video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  //- p.caption
  //-   a(href="https://twitter.com/VancityReynolds/status/1203118775815622664" target="_blank") Aviation Gin
  //-   | ,!{' '}
  //-   a(href="https://twitter.com/VancityReynolds/status/1073250892076457984" target="_blank") More Aviation Gin
  //-   | ,!{' '}
  //-   a(href="https://twitter.com/VancityReynolds/status/1257315754740834304" target="_blank") Mint Mobile
  //-   | ,!{' '}
  //-   a(href="https://twitter.com/GreggsOfficial/status/1080403000722710528" target="_blank") Greggs
  //-   | ,!{' '}
  //-   a(href="https://twitter.com/GreggsOfficial/status/1001772174305308673" target="_blank") More Greggs
  //-   | ,!{' '}
  //-   a(href="https://twitter.com/nike/status/1232002271266758661?lang=en" target="_blank") Nike
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Burger King
  h2.under 15/ Galvanize followers
  p This tweet deserves a category of it's own.
  p 65,000 people posting photos of their Spotify playlist. All from one tweet.
  p Create the right conditions and your followers will tweet about your product for you.
  p This tweet from Spotify got 65,000 people to post photos of their playlist.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  p.caption
    a(href="" target="_blank") Spotify
  h2.under 16/ Share your product
  p You're allowed to share your product. Just don't make it look like an ad.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt18a.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
  h2.under 17/ Consistency
  p And finally, consistency is how you imprint yourself. Your followers should recognise you without looking at the icon.
  p There's no better example than no name. Consistent tone, aesthetics and message.
  //- p Look at no name. Consistent tone, aesthetics and message.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt19a.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name