extends ../base

block content
  p When I started on Twitter I had no idea what I was doing.
  p So I made one big Google Doc where I'd save all the best “brand tweets”. Grouped by categories.
  //- p So two years ago I made one big Google Doc where I'd save all the best “brand tweets”. Grouped into categories.
  p Today, it's ready to share. Here's my!{' '}
    span.italic Twitter Inspiration Handbook
    | . Hope you find it useful.
  h2.under 1/ Quick tips
  p
    span.italic Teach people something new in a tweet.
    |!{' '}Short, sweet, and shareable.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") Steve Schoger
    | ,!{' '}
    a(href="" target="_blank") Tasty
    | ,!{' '}
    a(href="" target="_blank") Vizualize Value
    | ,!{' '}
    a(href="" target="_blank") Harry's Marketing Examples
  h2.under 2/ Threads
  p People rarely click links. So for anything longerform write a thread.
  p Works well if the topic captures the Twitter zeitgeist.
  p Tell stories, share updates, teach people. Stories, updates, lessons.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt2.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") FC Barcelona
    | ,!{' '}
    a(href="" target="_blank") Ryan Reeves
    | ,!{' '}
    a(href="" target="_blank") Product Hunt
    | ,!{' '}
    a(href="" target="_blank") Tesla
  h2.under 3/ Memes
  p Makes your brand relatable.
  p
    span.italic E.g. Sparknotes' pop-culture memes to explain classic literature.
  p E.g. Sparknotes sells literature study guides. Twitter and literature study guides don't mix. So Sparknotes uses pop-culture memes to make literature relatable.
  //- p E.g. Sparknotes sells literature study guides. Twitter doesn't care about literature study guides. Sparknotes explains literature via pop-culture memes.
  //- p
  //-   span.italic Cc: How Sparknotes uses pop-culture memes to explain classic literature
  //- p
  //-   span.italic Cc: How Sparknotes' pop-culture memes make classic literature relatable
  //- p Memes are the language of millennials. So if you want millennials to listen to you it's a good idea to use memes.
  //- p The key is to!{' '}
  //-   span.italic make memes relevant to your brand
  //-   | . And, don't force it.!{' '}
  //-   span.italic Dad Jokes
  //-   |!{' '}turn you into a!{' '}
  //-   span.italic Dad Brand
  //-   | .
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") Monterey Bay Aquarium
    | ,!{' '}
    a(href="" target="_blank") SparkNotes
    | ,!{' '}
    a(href="" target="_blank") Chiptole
    | ,!{' '}
    a(href="" target="_blank") Fast
  h2.under 4/ “Quick Reaction”
  p Each day a new story consumes Twitter. React in the way!{' '}
    span.italic only your brand can
    |!{' '}and you can go viral.
  p Each week a new story consumes Twitter. Seize the moment and you can go viral.
  p Every day a new story consumes Twitter. Loop your brand into the conversation. And you can go viral.
  //- p.list.list__top • Lego’s reaction to the Cybertruck
  //- p.list • Oreo’s reaction to the Superbowl power cut
  //- p.list • Southampton’s reaction to Donald Trump’s tweet
  //- p.list.list__bottom • Moonpie’s reaction to Hostess' solar eclipse tweet
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt4.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 5/ Replies
  p An underated way of getting in front of your audience.
  p The key is to!{' '}
    span.italic get in early
    | . Make a list of a few people in your niche. Turn on notifications. Comment something witty or thoughtful.
  p Make a list of a few people in your niche. Turn on notifications. Write the reply only your brand can.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt6.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 6/ Live tweeting
  p Another underrated way of getting in front of new followers.
  p E.g. Boohoo’s niche watch!{' '}
    span.italic Love Island
    | .!{' '}
    span.italic Love Island
    |!{' '}trends every week. Boohoo live-tweets every episode.
  p Innocent does the same with!{' '}
    span.italic Bake Off
    |. Same idea. Different audience.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt7.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 7/ Questions
  p Help you get to know your customer whilst building a sense of community. Replies create visibility for your own brand.
  p An easy way to get to know your customer and build a sense of community.
  p Useful tool to get to know your customer whilst building a little community.
  //- p An easy way to get to know your customer and build a sense of community. Replies create visibility for your own brand.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt17.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
  h2.under 8/ Show and tell
  p Makes your brand feel!{' '}
    span.italic ALIVE
    | .  People want to come on the journey.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt10.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 9/ Light content
  p Don't complicate it. Most people just want some light entertainment. Provide that, and people will follow you.
  p Twitter is a light medium. Don't expect people to burn calories.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt14a.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 10/ Giveaways
  //- p A funner way of building a brand than running paid ads.
  p Builds brand awareness. Creates emotional connection.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt11.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPies
  h2.under 11/ Tweets that don't scale
  p
    span.italic Reply to this tweet and we'll...!{' '}
  p Turns causal followers into brand advocates.
  //- p Turns followers into brand advocates. One by one.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt13.png" alt="TT1").img__100.img__caption
  //- h2.under 13/ Interactive Tweets
  //- p Reminds your audience that there's a real person behind the brand.
  //- p Interacting
  //-   span.italic one to one
  //- p A way to make your audience feel special.
  //- p Builds an army of fans one by one.
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt13.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 12/ Brand beef
  h2.under 12/ Beef
  p Makes the mundane exciting.
  p Wendy's bragging about their own fresh beef is boring. Wendy's roasting McDonald's frozen beef is hilarious.
  //- p If T-Mobile brags about their own 5G no one cares. But roast Verizon's awful 5G and it's hilarious.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt9.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  h2.under 13/ Transparency
  p Twitter loves!{' '}
    span.italic TRANSPARENCY
    | . Talking openly about your product is a great way of selling your product.
  p Transparent brands are rare. That's what makes them exciting. Talking openly about your product is a great way of selling your product.
  p.inwardSpeech More transparency, more visibility. More visibility, more attention. More attention, more opportunity. — Jack Butcher
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt12.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPies
  h2.under 14/ Celebrate customers
  p Making customers look good makes!{' '}
    span.italic you
    |!{' '}look good. It's marketing without!{' '}
    span.italic marketing
    | .
  //- p No better social proof than happy customers. It's marketing without!{' '}
  //-   span.italic marketing
  //-   | .
  p Makes customers feel good. Makes!{' '}
    span.italic you
    |!{' '}look good. Double whammy.
  //- p Builds customer affinity. Builds brand awareness. No better social proof than happy customers.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt15.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") LEGO
    | ,!{' '}
    a(href="" target="_blank") OREO Cookie
    | ,!{' '}
    a(href="" target="_blank") Southampton FC
    | ,!{' '}
    a(href="" target="_blank") MoonPie
  //- h2.under 15/ “Surprise and Delight”
  //- img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt16.png" alt="TT1").img__100.img__caption
  //- p.caption
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //-   | ,!{' '}
  //-   a(href="" target="_blank") no name
  //- h2.under 12/ Commercials
  //- p Twitter is a viral machine. You don't need a TV budget. Entertain people and they'll retweet the hell out of it.
  //- p You don't need a TV budget. Entertain people.
  //- p.inwardSpeech Nobody watches ads. People watch what entertains them. Sometimes it's an ad — Howard Gossage
  //- video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  //- p.caption
  //-   a(href="" target="_blank") LEGO
  //-   | ,!{' '}
  //-   a(href="" target="_blank") OREO Cookie
  //-   | ,!{' '}
  //-   a(href="" target="_blank") Southampton FC
  //-   | ,!{' '}
  //-   a(href="" target="_blank") MoonPie
  h2.under 15/ Galvanize your followers
  p Combine the right idea with some clever copywriting and you can encourage your followers to tweet about your product for you.
  p
    span.italic This tweet from Spotify saw 65k people post photos of their playlist:
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt3.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/ttt5.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
  p.caption
    a(href="" target="_blank") Spotify
  h2.under 16/ Share your product
  p Just don't make it look like like an ad.
  //- p You're allowed to tweet about your product. Just don't make it look like an ad.
  //- p You're allowed to tweet about your product. Just try and make it blend in with your regular content.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt18.jpg" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
  h2.under 17/ Consistency
  p And finally,!{' '}
    span.italic consistency
    |!{' '}is how you imprint yourself. Black out your icon and followers should still recognise you.
  p.inwardSpeech Consistent tone. Consistent aesthetics. Consistent messaging.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt19a.png" alt="TT1").img__100.img__caption
  p.caption
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name
    | ,!{' '}
    a(href="" target="_blank") no name