img(src=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${card.img}.${card.imgType}`).post__top-img
.pCard(data-slug=`${card.slug}`)
  img(src=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${card.img}.${card.imgType}`)
  h2=card.title
  .pCard__bottom
    .pCard__bottom-link
      .ideaSVG!=icon("ideaSVG")
      a(href=`${card.sUrl}` target="_blank").pCard__bottom-link-text=card.sText
    .pCard__bottom-tag(class=`ct__${card.tBack}`)=card.tFront