mixin filter(fFilter, bFilter, activeFilters=[])
  - var active = activeFilters.indexOf(bFilter) > -1 ? "filters__active" : "";
  .filters__spec(data-slug=`${bFilter}` data-term=`${bFilter}` class=active)
    .filters__spec-inner
      .filters__spec-inner-icon!=icon(`./filters/${bFilter}`)
      .filters__spec-inner-text=fFilter

mixin filters(activeFilters)
  .filters
    +filter("Cold Email", "coldemail", activeFilters)
    +filter("Viral", "viral", activeFilters)
    +filter("Giveaway", "giveaway", activeFilters)
    +filter("Conversion", "conversion", activeFilters)
    +filter("Content", "content", activeFilters)
    +filter("Referral", "referral", activeFilters)
    +filter("Goodwill", "goodwill", activeFilters)
    +filter("SEO", "seo", activeFilters)