include ./card
include ./filters

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__icon!=icon("search")
            input(placeholder="Search for marketing ideas here (doesn't work)").search__inner-text
          .home__right-header-icons
            a(href="/subscribe") get new tips
            //- a(href="/subscribe") album
            //- a(href="/slack")!=icon("slackSVG")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      if (title)
        h1.filterH1 #{title} Marketing Examples
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            !=icon("emailoctopus")
            .sponsor__inner-p I use EmailOctopus for my email marketing. So should you.
            a.sponsor__inner-button(href="https://www.emailoctopus.com?ref=marketingexamples" target="_blank") Get started
        .sponsor.sponsor2
          .sponsor__inner
            !=icon("emailoctopus")
            .sponsor__inner-p All the essential email marketing.<br> Made affordable.
            a.sponsor__inner-button(href="https://emailoctopus.com/savings-calculator?ref=marketingexamples" target="_blank") See your savings
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/eoBros.jpg", alt="EmailOctopus Indie Hackers Interview")
            .sponsor__inner-p How two brothers bootstrapped their email marketing platform to profitability.
            a.sponsor__inner-button(href="https://www.indiehackers.com/podcast/042-gareth-and-jonathan-bull-of-emailoctopus?ref=marketingexamples" target="_blank") Play the interview
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)