include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Get one new case study every week").search__inner-text
            .search__text Stay updated
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
            //- a(href="https://www.instagram.com/marketing_examples" target="_blank")!=icon("instagram")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      .outerCard
        if (title)
          h1.filterH1 #{title} Marketing Examples
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/as1.png", alt="Trainual logo")
            .sponsor__inner-p  I've partnered with AppSumo to share some of the best marketing tools at discounted prices
            a.sponsor__inner-button(href="https://social.appsumo.com/wiu4i8" target="_blank") Check out the deals
        .sponsor.sponsor2
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/as2.png", alt="Evidence logo")
            .sponsor__inner-p Evidence is real-time social proof which helps improve site conversions
            a.sponsor__inner-button(href="https://social.appsumo.com/2xu8it" target="_blank") Get a big discount
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/as3.png", alt="Rebump logo")
            .sponsor__inner-p Automate friendly follow up emails with Rebump
            a.sponsor__inner-button(href="https://social.appsumo.com/lkfzer" target="_blank") Get a big discount
        .sponsor.sponsor4
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/as4.png", alt="Vaizle logo")
            .sponsor__inner-p Sleek social media analytics for you and your clients
            a.sponsor__inner-button(href="https://social.appsumo.com/lkfzer" target="_blank") Get a big discount
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)