include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  //- +ph()
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Get two new case studies every week").search__inner-text
            .search__text Stay updated
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            //- a(href="/subscribe") album
            //- a(href="/slack")!=icon("slackSVG")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      if (title)
        h1.filterH1 #{title} Marketing Examples
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/trainual.png", alt="Trainual logo")
            .sponsor__inner-p Trainual is the easiest way to train your team and keep things running smooth as you scale.
            a.sponsor__inner-button(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Try it out
        .sponsor.sponsor2
          .sponsor__inner
            !=icon("emailoctopus")
            .sponsor__inner-p I use EmailOctopus for my email marketing. So should you.
            a.sponsor__inner-button(href="https://www.emailoctopus.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Get started
        .sponsor.sponsor3
          .sponsor__inner
            img.sponsor__inner-center(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/chris.jpg", alt="Trainual logo")
            .sponsor__inner-p Zero to $2M in annual recurring revenue in 15 months
            a.sponsor__inner-button(href="https://trainual.com/press/freelance-to-founder-podcast/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Learn how
        .sponsor.sponsor4
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/trainual.png", alt="Trainual logo")
            .sponsor__inner-p Trainual is easier-than-ever onboarding and training to scale your business faster
            a.sponsor__inner-button(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Get started
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)