include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      //- +phBase()
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Twice a month I send the best tips to the newsletter").search__inner-text
            .search__text Subscribe
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
            a(href="https://www.youtube.com/marketingexamples" target="_blank")!=icon("yt")
            a(href="https://www.instagram.com/marketing_examples" target="_blank")!=icon("instagram")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      .outerCard
        if (title)
          h1.filterH1 #{title} Marketing Examples
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p I rely on Ahrefs to grow my search traffic.<br> It makes SEO dead simple
            a.sponsor__inner-button(href="https://ahrefs.com" target="_blank") Check it out
        //- .sponsor.sponsor2
        //-   .sponsor__inner
        //-     //- img(src="https://pbs.twimg.com/profile_images/1208177788789899272/5qFvBb7Q_400x400.png", alt="Growth Design")
        //-     img.sponsor2Img(src="https://pbs.twimg.com/profile_images/1160705348694675458/sY8zJjeg_400x400.jpg", alt="Growth Design")
        //-     .sponsor__inner-p No brainer. I've just bought Dave's<br>“10 laws of copywriting”
        //-     a.sponsor__inner-button(href="https://lawsofcopywriting.com/?ref=marketingexamples" target="_blank") Check it out
        .sponsor.sponsor2
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p They've also got an awesome YouTube channel for anyone wanting to learn SEO
            a.sponsor__inner-button(href="https://www.youtube.com/channel/UCWquNQV8Y0_defMKnGKrFOQ" target="_blank") See their YouTube
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p And a free website backlink-checker. So you can see who links to you and your competition!
            a.sponsor__inner-button(href="https://ahrefs.com/backlink-checker" target="_blank") Check your backlinks
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)