include ./card
include ./filters

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__icon!=icon("search")
            input(placeholder="Search for marketing ideas here (doesn't work)").search__inner-text
          .home__right-header-icons
            a(href="/subscribe") get new tips
            //- a(href="/subscribe") album
            a(href="/slack")!=icon("slackSVG")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      if (title)
        h1.filterH1 #{title} Marketing Examples
      .outerCard
        .sponsor.sponsor2
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/heymarketers1.png", target="_blank" alt="Hey Marketers")
            .sponsor__inner-p Discover The Best Marketing Jobs In Tech, SaaS, & E-Commerce
            a.sponsor__inner-button(href="https://www.heymarketers.com?ref=marketingexamples") Get hired
        .sponsor.sponsor1
          .sponsor__inner
            !=icon("rh2")
            .sponsor__inner-p Add a viral mechanism to your app in minutes. No coding required. From $49/month
            a.sponsor__inner-button(href="https://referralhero.com/?utm_source=marketingexamples&utm_medium=banner&utm_campaign=sponsor" target="_blank") Learn more
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)