include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Get one new case study every week").search__inner-text
            .search__text Stay updated
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
            //- a(href="https://www.instagram.com/marketing_examples" target="_blank")!=icon("instagram")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      .outerCard
        if (title)
          h1.filterH1 #{title} Marketing Examples
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/eo.png", alt="Email Octopus")
            .sponsor__inner-p I use EmailOctopus to send my weekly newsletter
            a.sponsor__inner-button(href="https://emailoctopus.com/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=landing_page" target="_blank") Check it out
        .sponsor.sponsor2
          .sponsor__inner
            //- img(src="https://pbs.twimg.com/profile_images/1208177788789899272/5qFvBb7Q_400x400.png", alt="Growth Design")
            img.sponsor2Img(src="https://pbs.twimg.com/profile_images/1160705348694675458/sY8zJjeg_400x400.jpg", alt="Growth Design")
            .sponsor__inner-p No brainer. I've just bought Dave's<br>“10 laws of copywriting”
            a.sponsor__inner-button(href="https://lawsofcopywriting.com/?ref=marketingexamples" target="_blank") Check it out
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/eo.png", alt="Email Octopus")
            .sponsor__inner-p I switched from MailChimp to EmailOctopus and now save $104 every month.
            a.sponsor__inner-button(href="https://emailoctopus.com/savings-calculator/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=landing_page" target="_blank") See your savings
        .sponsor.sponsor4
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/eoBros.jpg", alt="Johnathan and Gareth Bull")
            .sponsor__inner-p Excellent deliverability. Easy automation. Responsive designs.
            a.sponsor__inner-button(href="https://emailoctopus.com/features/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=landing_page" target="_blank") See all features
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)