include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Get one new case study every week").search__inner-text
            .search__text Stay updated
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
            //- a(href="https://www.instagram.com/marketing_examples" target="_blank")!=icon("instagram")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      .outerCard
        if (title)
          h1.filterH1 #{title} Marketing Examples
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/explodingtopics.png", alt="Trainual logo")
            .sponsor__inner-p Want to uncover the “next big thing”? Exploding Topics finds the latest trends before they take off.
            a.sponsor__inner-button(href="https://explodingtopics.com/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") See the latest trends
        .sponsor.sponsor2
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/explodingtopics.png", alt="Evidence logo")
            .sponsor__inner-p They also run a great newsletter. Weekly trending topics in your inbox. All free.
            a.sponsor__inner-button(href="https://explodingtopics.com/newsletter/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") Subscribe
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/explodingtopics.png", alt="Rebump logo")
            .sponsor__inner-p Want to uncover the “next big thing”? Exploding Topics finds the latest trends before they take off.
            a.sponsor__inner-button(href="https://explodingtopics.com/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") See the latest trends
        .sponsor.sponsor4
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/explodingtopics.png", alt="Vaizle logo")
            .sponsor__inner-p They also run a great newsletter. Weekly trending topics in your inbox. All free.
            a.sponsor__inner-button(href="https://explodingtopics.com/newsletter/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") Subscribe
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)