include ./card
include ./filters
include ./mobfilters
include ./ph

mixin home(cards, title, activeFilters, filters, titlenum, displaynone = "")
  .home(class=`${displaynone}`)
    +phBase()
    .cegm__top.cegm__top-ph
      a(href="/inspiration")
        //- img(src="https://ik.imagekit.io/o08ysq9vx/cebits/cegLogo.png", alt="Logo")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo")
      .cegm__top-right
        .cegm__top-right-minus!=icon("cegfilterminus3")
        .cegm__top-right-plus.cegmtr__active!=icon("cegfilterplus1")
        .cegm__top-right-menu.cegmtr__active!=icon("cegmail1")
        .cegm__top-right-menuminus!=icon("cegmail3a")
    .home__left
      //- a.home__left-logo(href="/")!=icon("meLogoBig")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/me1a.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceg1c.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/logo1.png", alt="Logo" class="home__left-logo")
      a(href="/")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo" class="home__left-logo")
      +filters(activeFilters, titlenum)
    .home__right
      .home__right-header
        a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
        .ceTop__left
          .ceTop-mail
            .ceTop-mail-left
              .ceTop-mail-left-icon!=icon("mail")
              input(type="text" placeholder="Get 6 new tips in your inbox every Monday").cmt2
            a(href="/newsletter").cmt1.cmtGlitch Yes Please :)
        .ceTop__right
          //- a(href="/inspiration").ceTop__right-sign Copywriting Examples
          a(href="https://www.youtube.com/marketingexamples" target="_blank")!=icon("ytnu")
          a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linu")
          a(href="https://twitter.com/harrydry" target="_blank")!=icon("tnu")
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p I rely on Ahrefs to grow my search traffic.<br> It makes SEO dead simple
            a.sponsor__inner-button(href="https://ahrefs.com" target="_blank") Check it out
        .sponsor.sponsor2
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p They've also got an awesome YouTube channel for anyone wanting to learn SEO
            a.sponsor__inner-button(href="https://www.youtube.com/channel/UCWquNQV8Y0_defMKnGKrFOQ" target="_blank") See their YouTube
        .sponsor.sponsor3
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/ahrefs.png", alt="Ahrefs Logo")
            .sponsor__inner-p And a free website backlink-checker. So you can see who links to you and your competition!
            a.sponsor__inner-button(href="https://ahrefs.com/backlink-checker" target="_blank") Check your backlinks
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    +mobfilters(activeFilters, titlenum)
    //- .hm__filters