include ./card
include ./filters
include ./ph

mixin home(cards, activeFilters, title, displaynone = "")
  .home(class=`${displaynone}`)
    .home__left
      a.home__left-logo(href="/")!=icon("meLogoBig")
      +filters(activeFilters)
    .home__right
      .home__right-header
        .home__right-header-wrap
          a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
          .search
            .search__left
              .search__icon!=icon("mail1")
              input(placeholder="Get two new case studies every week").search__inner-text
            .search__text Stay updated
            .search__text-info
          .home__right-header-icons
            a.home__right-header-icons-gnt(href="/subscribe") get new tips
            a(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
            a(href="https://www.instagram.com/marketing_examples" target="_blank")!=icon("instagram")
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank")!=icon("twitter")
      if (title)
        h1.filterH1 #{title} Marketing Examples
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/sb.png", alt="Trainual logo")
            .sponsor__inner-p SEOBuddy makes SEO fun! Grow your search traffic with just 20 minutes work each day
            a.sponsor__inner-button(href="https://seobuddy.com/?utm_content=marketingexamples&utm_medium=sponsorship" target="_blank") Check it out
        .sponsor.sponsor2
          .sponsor__inner
            !=icon("emailoctopus")
            .sponsor__inner-p I use EmailOctopus for my email marketing. So should you.
            a.sponsor__inner-button(href="https://www.emailoctopus.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Get started
        .sponsor.sponsor3
          .sponsor__inner
            img.sponsor__inner-center(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/sb.png", alt="Trainual logo")
            .sponsor__inner-p Read SEO Buddy's origin story
            a.sponsor__inner-button(href="https://seobuddy.com/blog/why-we-built-seobuddy/?utm_content=marketingexamples&utm_medium=sponsorship" target="_blank") Read Romain's story
        .sponsor.sponsor4
          .sponsor__inner
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sponsors/sb.png", alt="Trainual logo")
            .sponsor__inner-p SEOBUDDY turns the daunting world of SEO into easy-to-complete daily missions
            a.sponsor__inner-button(href="https://seobuddy.com/?utm_content=marketingexamples&utm_medium=sponsorship" target="_blank") Start a free trial
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    .hm__button Show filters
    .hm__filters
      +filters(activeFilters)