mixin tick(text)
  .tick
    .tick__icon!=icon("check")
    .tick__text=text

mixin mail(subscribePage)
  .outerMail(class=`${subscribePage}`)
    .mail
      .mail__icon!=icon("cross")
      h2 Join 13,719 marketers getting one practical case study every week.
      .mail__tickouter
        +tick("Real startups")
        +tick("Actionable tips")
        +tick("2 minute read")
        +tick("< 0.4% unsubscribe")
        +tick("Free, forever")
      .mail__bc
        .mail__input
          .mail__input-icon!=icon("mail")
          input(placeholder="example@example.com")
        .mail__button Upgrade my marketing
        .mail__bc-red
      //- a(href="https://emailoctopus.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="blank").mailO Powered by EmailOctopus
