mixin tick(text)
  .tick
    .tick__icon!=icon("check")
    .tick__text=text

mixin mail(subscribePage)
  .outerMail(class=`${subscribePage}`)
    .mail
      .mail__icon!=icon("cross")
      h2 Join 7,897 marketers getting two practical case studies every week.
      .mail__tickouter
        +tick("Real startups")
        +tick("Actionable tips")
        +tick("2 minute read")
        +tick("< 0.4% unsubscribe")
        +tick("Free, forever")
      .mail__bc
        .mail__input
          .mail__input-icon!=icon("mail")
          input(placeholder="example@example.com")
        .mail__button Upgrade my marketing
        .mail__bc-red
