mixin filter(fFilter, bFilter, activeFilters=[], num)
  - var active = activeFilters.indexOf(bFilter) > -1 ? "filters__active" : "";
  a.filters__spec(href=`/${bFilter}` data-slug=`${bFilter}` data-term=`${bFilter}` data-num=`${num}` class=`${active} cegi-shade${num}`)=fFilter

mixin mobfilters(activeFilters, titlenum)
  .filterContainer.cegm__bottom(class=`cegfilters__active${titlenum}`)
    .cegm__bottom-inner
      //- .cegm__bottom-ns ACQUISITION
      //- .cegm__bottom-ns ACQUISITION
      .cegm__bottom-ns!=icon("ra1")
      +filter("Content", "content", activeFilters, "1")
      +filter("SEO", "seo", activeFilters, "2")
      +filter("Sales", "sales", activeFilters, "3")
      +filter("Social", "social", activeFilters, "4")
      +filter("Ads", "ads", activeFilters, "5")
      +filter("Affiliate", "affiliate", activeFilters, "6")
    .cegm__bottom-sep
    .cegm__bottom-inner
      .cegm__bottom-ns!=icon("ra2")
      //- .cegm__bottom-ns CONVERSION
      +filter("Copywriting", "copywriting", activeFilters, "7")
      +filter("Landing Page", "landing-page", activeFilters, "8")
    .cegm__bottom-sep
    .cegm__bottom-inner
      .cegm__bottom-ns!=icon("ra3")
      //- .cegm__bottom-ns MORE
      +filter("Retention", "retention", activeFilters, "9")
      +filter("Brand", "brand", activeFilters, "10")
      +filter("Referral", "referral", activeFilters, "11")
      +filter("Creative", "creative", activeFilters, "12")