extends base

include ../general/menu
include ../home/mixins/mailth
include ../home/mixins/ph

block content
  .iosOverflow.th
    +mailth()
    +ph()
    +menu()
    .th.thTop
      //- a.phthContainer
      //-   .phth(href="https://www.youtube.com/watch?v=_OMrvqU4Blk" target="_blank") Live on Product Hunt. Show some love
      h1 My Twitter Inspiration Handbook
      h1.small My Twitter <br>Inspiration Handbook
      p When I started on Twitter I had no idea what I was doing.
      p So I made one big Google Doc where I started saving all the best “brand tweets” and grouped them into categories.
      p Today, it's ready to share. I hope you find it useful.
    .thTags
      .thTags__inner
        .thTags__tag.thc1.thczz1 Quick tips
        .thTags__tag.thc2.thczz2 Threads
        .thTags__tag.thc3.thczz3 Memes
        .thTags__tag.thc4.thczz4 Quick reaction
        .thTags__tag.thc5.thczz5 Build in public
        .thTags__tag.thc1.thczz6 Beef
        .thTags__tag.thc2.thczz7 Casual content
        .thTags__tag.thc3.thczz8 Replies
        .thTags__tag.thc4.thczz9 Questions
        .thTags__tag.thc5.thczz10 “Reply and we'll”
        .thTags__tag.thc1.thczz11 Live tweeting
        .thTags__tag.thc2.thczz12 Transparency
        .thTags__tag.thc3.thczz13 Giveaways
        .thTags__tag.thc4.thczz14 Celebrate Customers
        .thTags__tag.thc5.thczz15 Galvanize followers
        .thTags__tag.thc1.thczz16 Product
        .thTags__tag.thc2.thczz17 Consistency
    img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tharrow.png", alt="" class="thArrow")
    .thLay
      .thLay__section.thcz1
        .thLay__top
          h1.thc1 1/ Quick tips
          p Teach people something new in a tweet. Short, sweet, and shareable.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc1.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      //- 2
      .thLay__section.thcz2
        .thLay__top
          h1.thc2 2/ Threads
          p People don't click links. So if you've got a story worth sharing write a thread.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc2.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      //- 3
      .thLay__section.thcz3
        .thLay__top
          h1.thc3 3/ Memes
          p Make your brand relatable.
          p Sparknotes sells literature study guides. Twitter and literature study guides don't mix. So Sparknotes use pop-culture to make literature relatable.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc3.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      //- 4
      .thLay__section.thcz4
        .thLay__top
          h1.thc4 4/ “Quick reaction” tweets
          p Each day a new story consumes Twitter. Think fast and you can go viral.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc4.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      //- 5
      .thLay__section.thcz5
        .thLay__top
          h1.thc5 5/ Build in public
          p Makes your brand feel!{' '}
            span.italic ALIVE
            | . People want to come on the journey.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc5.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      //- 6
      .thLay__section.thcz6
        .thLay__top
          h1.thc1 6/ Brand beef
          p Conflict creates interest. T-Mobile bragging about their 5G is boring. T-Mobile roasting Verizon's 5G is hilarious.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc6.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz7
        .thLay__top
          h1.thc2 7/ Casual content
          p Don't complicate it. Most people just want some light entertainment.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc7.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz8
        .thLay__top
          h1.thc3 8/ Replies
          p Make a list of a few people in your niche. Turn on notifications. Comment something witty or thoughtful.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc8.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz9
        .thLay__top
          h1.thc4 9/ Questions
          p Get to know your customers whilst building a sense of community.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc9.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz10
        .thLay__top
          h1.thc5 10/ “Reply and we'll...”
          p Turns causal followers into brand advocates.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc10.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz11
        .thLay__top
          h1.thc1 11/ Live tweeting
          p Your audience watch a cult show. That show trends every week. You live-tweet each episode.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc11.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz12
        .thLay__top
          h1.thc2 12/ Transparency
          p Twitter loves transparency. Talk openly about your product you'll sell more of your product.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc12.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz13
        .thLay__top
          h1.thc3 13/ Giveaways
          p Grows your follower count. Builds brand awareness.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc13.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz14
        .thLay__top
          h1.thc4 14/ Celebrate customers
          p Making customers look good makes you look good. It's marketing without!{' '}
            span.italic marketing
            | .
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc14.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz15
        .thLay__top
          h1.thc5 15/ Galvanize followers
          p This tweet deserves a category of it's own.
          p 65,000 people posting photos of their Spotify playlist. All from one tweet.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc14.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz16
        .thLay__top
          h1.thc1 16/ Share your product
          p You're allowed to share your product. Just don't make it look like an ad.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc16.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section.thcz17
        .thLay__top
          h1.thc2 17/ Consistency
          p And finally, consistency is how you imprint yourself. Your followers should recognise you without looking at the icon.
          p There's no better example than no name. Consistent tone, aesthetics and message.
        .thSection
          picture
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/tttc17.webp" type="image/webp")
            source(srcset="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg" type="image/jpeg")
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ttt1.jpg", alt="" class="")
      .thLay__section
        .thLay__top
          h1.thc3 You made it :)
          p Thanks for reading. This took a while.
          p It'd be amazing if you could share with a pal. Or on!{' '}
            a(href="" target="_blank" class="thUnderline") Twitter
            | ,!{' '}
            a(href="https://www.producthunt.com/posts/my-twitter-inspiration-handbook" target="_blank" class="thUnderline") Product Hunt
            | , Slack, wherever! Really would appreciate it.
          p Oh, and if you found it useful, you might like my!{' '}
            a(href="https://marketingexamples.com/subscribe" target="_blank" class="thUnderline") marketing newsletter
            | . It's 50+ hours of work boiled into one short, sweet, practical case study.
          p Over and out,!{' '}
            a(href="https://twitter.com/GoodMarketingHQ" target="_blank" class="thUnderline") Harry