mixin pCard({num, title, sUrl, sText, tFront, tBack, slug, img, imgType})
  .post__top
    img(src=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${img}.${imgType}`).post__top-img
    .pCard(data-slug=`${slug}`)
      picture
        source(srcset=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${img}.webp` type="image/webp")
        source(srcset=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${img}.${imgType}` type="image/jpeg")
        img(src=`https://s3.amazonaws.com/harrydry/gdmarketing/main/${img}.${imgType}` alt=`${sText}`)
      h1=title
      .pCard__bottom
        .pCard__bottom-link
          .ideaSVG!=icon("ideaSVG")
          a(href=`${sUrl}` target="_blank").pCard__bottom-link-text=sText
        .pCard__bottom-tag(class=`ct__${tBack}`)=tFront