extends ../home/base
include ../home/mixins/home
include ../home/mixins/mail
include ../home/mixins/cardPopup

block head
  title #{title} Marketing Examples
  meta(property='og:title', content=`${title} Marketing Examples`)
  meta(name='twitter:title', content=`${title} Marketing Examples`)
  meta(property='og:url', content=`https://marketingexamples.com/${filters}`)
  link(rel='canonical', href=`https://marketingexamples.com/${filters}`)
  meta(name='description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(property='og:description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(name='twitter:description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(property='og:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/main/coldemail`)
  meta(name='twitter:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/main/coldemail`)

block content
  .iosOverflow
    +home(cards, activeFilters, title)
    +mail()
    +cardPopup()