h2.under 1) Use value-based messaging
p Talk less about your!{' '}
  span.bold product!{' '}
  |!{' '}and more about the!{' '}
  span.bold value
  |!{' '}your product brings. People don’t want a!{' '}
  span.bold better toothbrush
  | . They want a!{' '}
  span.bold brighter smile
  | :
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc1.jpg" alt="Podia's Intercom message").img__80
h2.under 2) Break long blocks of text into appetising chunks.
p Better converting copy is as much about!{' '}
  span.bold repackaging
  |!{' '}as it is!{' '}
  span.bold rewriting
  | .
p The 2019 human mind prefers “3 simple steps” to “two long paragraphs”:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc2.png" alt="Podia's Intercom message").img__80
h2.under 3) Get specific
p Landing page copy is full of unfalsifiable, blanket claims: “more, easier, faster ...”
p If you want to stand out!{' '}
  span.bold get specific
  | . You can’t bullshit specifics:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc5.png" alt="Podia's Intercom message").img__85
h2.under 4) Call out the type of customer you serve
p People pay attention when they know something is specifically!{' '}
  span.bold for them
  | :
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc6.png" alt="Podia's Intercom message").img__75
p.inwardSpeech “What? Loads of authors are using this. I’m an author. Maybe I should be too ...”
h2.under 5) Think “Call-to-value” not “Call-to-action”
p Buttons which amplify!{' '}
  span.bold “value”
  |!{' '}over!{' '}
  span.bold “action”
  |!{' '}usually perform better. “Create Your Website” is more enticing than “Sign up now”:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc7.png" alt="Podia's Intercom message").img__70
h2.under 6) Use your customers' voice
p Your copy should read like your customer wrote it.
p Compare the feature page of!{' '}
  a(href="") Etsy
  |!{' '}and!{' '}
  a(href="") Amazon Handmade
  |!{' '}(two competitors in the handcrafted e-commerce space):
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3a.png" alt="Podia's Intercom message").img__90
p Etsy's voice reflects their customers independence, creativity and imagination. Amazon’s voice sounds like their accounts department:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3b.png" alt="Podia's Intercom message").img__70
h2.under 7) Write for one reader
p You're not talking to!{' '}
  span.bold 1000 people
  | . You're talking to the!{' '}
  span.bold single person
  |!{' '}reading your page. So write like it.
p An informal tone and addressing your users personally (“you”) makes a big difference:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc9.png" alt="Podia's Intercom message").img__85
h2 Summary
p So there we go:
p.list.list__top 1) Use value-based messaging
p.list 2) Break long blocks of text into appetising chunks
p.list 3) Get specific
p.list 4) Call out the type of customer you serve
p.list 5) Think “Call-to-value” not “Call-to-action”
p.list 6) Use your customers' voice
p.list.list__bottom 7) Write for one reader
h2 Thanks
p Special thanks to!{' '}
  a(href="https://medium.com/@anniemaguire/?ref=marketingexamples" target="_blank") Annie Maguire's
  |!{' '}and!{' '}
  a(href="https://copyhackers.com//?ref=marketingexamples" target="_blank") Joanna Wiebe's
  |!{' '}blogs where a lot of these ideas came from.
h2 Support
p This one took a while to write. If you liked it joining the email list or sharing the thread on Twitter is really appreciated. Thank You!
blockquote.twitter-tweet
  p(lang='en' dir='ltr')
    | &#x1F4A1; Podia&apos;s hub of competitor comparison page
    br
    br
    | THREAD...
  | &mdash; Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1181918596609560580?ref_src=twsrc%5Etfw') October 9, 2019
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
p I'd like to thank&nbsp;
  a(href="https://emailoctopus.com/?ref=marketingexamples" target="_blank") EmailOctopus
  |&nbsp;for sponsoring the site. They provide email marketing for a&nbsp;
  span.bold fraction of the price
  |&nbsp;of MailChimp. Any questions, or help getting set up feel free to!{' '}
  a(href="mailto:harry@marketingexamples.com" target="_blank") email me.
.undera
  .undera__center
    .undera__center-text Share on Twitter
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/conversion/copywriting&via=GoodMarketingHQ%20&text=${encodeURI("7 practical ways to write copy that converts")}` target="_blank")!=icon("twitter")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 6,709
    |!{' '}marketers getting<br> 2 case studies every Tuesday and Friday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth, Sportstack
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad