//- p March 24. Popular Instagram account!{' '}
//-   a(href="https://www.instagram.com/dudewithsign/" targe="_blank")
//-     span.italic DudeWithSign
//-   |!{' '}takes aim at home workout videos. Us Weekly shares the post:
p March 24. Popular Instagram account!{' '}
  a(href="https://www.instagram.com/dudewithsign/" target="_blank")
    span.italic DudeWithSign
  |!{' '}holds up a sign reading, “stop posting your home workouts”.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp1.jpg", alt="New Balance").img__60
//- p March 26. Beachbody’s CEO fires back, rallying his followers to,!{' '}
//-   span “do your home workout with pride”
//-   |!{' '}and!{' '}
//-   span “hold up your signs”
//-   |!{' '}this Saturday.
p Beachbody is a home workout company.
p 48 hours later, their CEO,!{' '}
  a(href="https://www.instagram.com/p/B-ND2L9DD1x/" target="_blank") Carl Daikeler
  | , responds with his own sign reading, “keep posting your home workouts (you're inspiring people)”.
p Carl then rallies his followers to hold up their own signs on Saturday:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp2.png", alt="New Balance").img__100
p Saturday comes round. Thousands join in with Carl's protest. And Beachbody gets a load of free publicity:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp3a.jpg", alt="New Balance").img__100
p Why does it work?
p The secret ingredient is!{' '}
  span.bold conflict
  | .
p Without!{' '}
  span.italic DudeWithSign
  |, Carl's campaign is a movie with just the good guy. There’s no story. No one cares about shiny happy people.
p Opposing forces create energy. And Carl leverages that.
h2.under Support
p Thanks for reading. If you'd like more Marketing Examples in your inbox joining the!{' '}
  a(href="https://marketingexamples.com/subscribe") email list
  |!{' '}is appreciated.
blockquote.twitter-tweet
  p(lang='en' dir='ltr')
    | &#x1F56F;&#xFE0F;How to counterpunch in marketing
    br
    br
    | THREAD ...
  | &mdash; Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1250469311342403584?ref_src=twsrc%5Etfw') April 15, 2020
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
h2.under New Sponsor
p Thanks to!{' '}
  a(href="https://emailoctopus.com/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=article_mentions" target="_blank") EmailOctopus
  |!{' '}for sponsoring. I use them for all my own email marketing.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/viral/counterpunch` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/viral/counterpunch&via=GoodMarketingHQ%20&text=${encodeURI("Counterpunch like Carl")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/viral/counterpunch` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 19,567
    |!{' '}marketers getting<br> one practical case study every Thursday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad