p
  a(href="http://tadabase.io/" target="_blank") Tadabase
  |!{' '}is a no-code startup looking to raise money.
p Their CEO, Moe Levine, was a fan of investor!{' '}
  a(href="https://en.wikipedia.org/wiki/Mark_Suster" target="_blank") Mark Suster
  | . So he set up some Google ads targeting Suster’s name, reminding him that he's yet to invest in no-code startups:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/suster1.png" alt="Mark Suster Tadabase Ad").img__95
p Levine had read that Suster used Google Alerts to track mentions of his own name. So in theory he'd see the ad.
p As it happened, Product Hunt's founder, Ryan Hoover, beat him to it:
blockquote.twitter-tweet
  p(lang='en' dir='ltr') Love it! Just checked out the website
  | &mdash; Mark Suster (@msuster)
  a(href='https://twitter.com/msuster/status/1238604502808137730?ref_src=twsrc%5Etfw') March 13, 2020
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
p Suster saw Hoover's tweet and immediately contacted Levine to set up a call.
h2.under Creative marketing is underrated
p I'm sure Levine could have tracked down Suster's email. But then he'd be one of a hundred other emails sitting in his inbox.
p The extra effort Levine took!{' '}
  span.bold signalled
  |!{' '}he was someone worth talking to.
p He skipped the queue. And was also rewarded with a write up in!{' '}
  a(href="https://techcrunch.com/2020/03/14/this-startup-got-a-meeting-with-mark-suster-by-getting-clever-with-google-ads/" target="_blank") TechCrunch
  | .
h2.under Support
p If you enjoyed the article and would like more Marketing Examples in your inbox joining the!{' '}
  a(href="https://marketingexamples.com/newsletter" target="_blank") email list
  |!{' '}is appreciated.
h2.under New sponsor
p Thanks to!{' '}
  a(href="https://ahrefs.com" target="blank") Ahrefs
  |!{' '}for sponsoring. I rely on them to grow my own search traffic.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad&via=GoodMarketingHQ%20&text=${encodeURI("How a creative Google ad got an investor's attention")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 85,273
    |!{' '}marketers getting<br> the weekly case study
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get new case studies
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad