p Imagine you run an exec coaching program.
p Here’s the sales email!{' '}
  a(href="https://www.linkedin.com/in/davegerhardt/" target="_blank") Dave
  |!{' '}would send.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/dave.png", alt="Dave Gerhardt's Sales Email").img__100
//- p The goal is to get a reply. And the shorter the email, the more chance you have.
//- p Let’s say someone replies,
//- p.inwardSpeech Well, we used to. But the execs didn’t rate it so we stopped.
//- p Then!{' '}
//-   span.italic.bold you've got something to work with.
//- p
//-   span.bold 100x better
//-   | !{' '}than a hit and hope template asking for a “quick call”.
//- p The goal is to get a reply. Because that!{' '}
//-   span.italic gives you something to work with.
//- p So how do you get a reply?
//- p
//-   span.italic Keep it short. And ask a question.
//- p
//-   span.bold 100x better
//-   | !{' '}than a hit and hope template asking for a “quick call”.
//-
//- p The goal is to get a reply. That's it.
//- p Just!{' '}
//-   span.bold 17 words
//-   | .
p The goal is simple.!{' '}
  span.italic.bold Get a reply
  | .
p A reply!{' '}
  span gives you something to work with.
p So how does Dave do that?
p
  span.italic Keeps it short. Asks a question.
p Much better
  | !{' '}than a hit and hope template asking for a “quick call”.
//-
//- p The goal is to get a reply. That's it.
//- p A reply!{' '}
//-   span.italic gives you something to work with.
//- p So how do you do that?
//- p
//-   span.italic Keep it short. Ask a question.
//- p Much better
//-   | !{' '}than a hit and hope template asking for a “quick call”.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/dave-gerhardt` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/dave-gerhardt&via=GoodMarketingHQ%20&text=${encodeURI("Dave Gerhardt's 1 line sales email")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/dave-gerhardt` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 30,989
    |!{' '}marketers getting<br> the weekly case study
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Stay updated
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad