p Chicago, 2004. The food delivery service,!{' '}
  a(href="https://grubhub.com/" target="_blank") Grubhub
  | , launched.
p By 2007 they were established and had raised $1.1 million. The next challenge was to expand to New York.
p A big part of this expansion plan was SEO. Every day, thousands of Americans search for food delivery on Google. Ranking at the top would mean thousands of new customers.
p So Grubhub hired their first marketer,!{' '}
  a(href="https://caseyaccidental.com/" target="_blank") Casey Winters
  | .
p Casey's!{' '}
  span first challenge
  |!{' '}was organising!{' '}
  span site structure
  | . First he generated a parent page for!{' '}
  span New York
  | . Then, child pages for!{' '}
  span specific foods within New York
  | .
p Now, no-matter, whether New Yorkers were searching for!{' '}
  span.italic Food Delivery
  |,!{' '}
  span.italic Pizza delivery
  |,!{' '}
  span.italic or Vegan delivery
  |, Grubhub had an indexed page of aggregated restaurants waiting:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/grubhub1.jpg" alt="Grubhub's SEO site structure").img__100
p The!{' '}
  span second challenge
  |!{' '}was!{' '}
  span backlinks
  | . In order for Grubhub’s new pages to rank well, Google needed to recognise them as!{' '}
  span sources of authority
  | . Casey's solution was simple:
p.inwardSpeech We went to the local press, to tell them we were launching in New York, and that we wanted to give their readers $10 off their first order.
span.isBreak
p.inwardSpeech All they had to do was link to our /new-york page which explained the discount. After a while, that page built enough local links and it would rank #1.
p The “link juice” then flowed downstream to each city's specific food pages, helping them climb the search results.
p And for every new market they entered, Casey replicated this strategy.
h2.under Thirteen years later
p Alongside Grubhub, US food delivery is now dominated by Doordash and Uber Eats.
p All have similar site structure. Grubhub's organic traffic is 50% higher. Thirteen years later, Casey's link-building is still paying off:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/grubhub2.png" alt="Grubhub and Doordash Organic traffic").img__80
p That's the power of good SEO.
p Plant an orchard. And you're eating fruit everyday.
p The long game is the shortcut.
p
  span.italic * The majority of “food delivery” search is local. This makes it hard to precisely measure organic traffic. The numbers are estimates from!{' '}
  a(href="https://ahrefs.com/" target="_blank") Ahrefs
  | .
h2.under Support
p Thanks for reading. If you'd like more Marketing Examples in your inbox joining the!{' '}
  a(href="https://marketingexamples.com/subscribe") email list
  |!{' '}is appreciated. Sharing on social media also makes a big difference:
blockquote.twitter-tweet
  p(lang='en' dir='ltr')
    | &#x1F4A1;The power of good SEO
    br
    br
    | THREAD ...
  | &mdash; Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1243935151358455808?ref_src=twsrc%5Etfw') March 28, 2020
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
h2.under New Sponsor
p Thanks to!{' '}
  a(href="https://emailoctopus.com/?utm_source=marketing_examples&utm_medium=website&utm_campaign=marketing_examples" target="_blank") EmailOctopus
  |!{' '}for sponsoring. I use them for all my own email marketing.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building&via=GoodMarketingHQ%20&text=${encodeURI("Grubhub's link building strategy")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 18,681
    |!{' '}marketers getting<br> one practical case study every Thursday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad