p
  a(href="https://indiehackers.com/?ref=marketingexamples.com" target="_blank") Indie Hackers
  |!{' '}is an online community of independent entrepreneurs, with a pretty sizeable email list.
p Throughout 2019 they’ve moved away from one!{' '}
  span.bold generic
  |!{' '}email digest and started offering users the option of up to eight!{' '}
  span.bold tailored!{' '}
  a(href="https://www.indiehackers.com/newsletters" target="_blank") newsletters:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih1.png" alt="Indie Hackers Newsletter").img__90
p It's vintage self-serve!{' '}
  a(href="https://www.campaignmonitor.com/resources/glossary/segmentation/" target="_blank") email segmentation
  | . And it has four big benefits:
h2.under 1) Better subscriber experience
p Instead of “batch and blasting” their entire email list, users can cherrypick the specific topics they!{' '}
  span.bold actually want to read about
  | .
p If you just want podcast updates you're not going to be bombarded with “Top Milestones” and “Growth Bites”.
h2.under 2) More email opens
p.list.list__top • Previously Indie Hackers would send!{' '}
  span.bold 150,000
  |!{' '}emails / week.
p.list.list__bottom • With tailored newsletters they're sending!{' '}
  span.bold 310,000
  | :
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih2.png" alt="Indie Hackers Newsletter Graph").img__90
p It's not rocket science. The result is more Indie Hackers in your inbox. More clicks to the website. And a greater % of total users engaged.
h2.under 3) More valuable emails
p The sheer volume of items in the old digest made it impossible to go into any!{' '}
  span.bold depth
  | . A podcast episode or text interview would be summarised by just a quote and a title.
p Now, with a bespoke email for each part of the digest, there’s actually space to add value. For example, the!{' '}
  a(href="https://www.indiehackers.com/podcast" target="_blank") podcast newsletter
  |!{' '}is filled with “exclusive commentary from host, Courtland Allen.”
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih3.png" alt="Indie Hacker Email Digest v Indie Hacker Podcast").img__100
h2.under 4) Improved deliverability
p And finally, there's a!{' '}
  span.bold second-order benefit
  |!{' '}of segmentation.
p “More valuable emails” results in a greater % of emails being opened and clicked. Both of which are considered “positive actions” by mail providers and the result is!{' '}
  span.bold improved deliverability
  |!{' '}to primary inboxes.
p.asterix * * *
p Voila! There's nothing left to say except it's light years ahead of the competition and only a matter of time before Product Hunt try and copy it!
p
  span.italic Thanks to!{' '}
    a(href="https://twitter.com/csallen" target="_blank") Courtland
    |!{' '}and!{' '}
    a(href="https://twitter.com/channingallen" target="_blank") Channing
    |!{' '}for providing subscriber numbers. And to!{' '}
    a(href="https://twitter.com/alecbee" target="_blank") Alec
    |!{' '}from!{' '}
    a(href="http://emailmastery.org/" target="_blank") Email Mastery
    |!{' '}for helping me understand the benefits of segmentation.
h2 Support
p If you'd enjoyed the article I'd really appreciate it if you joined the!{' '}
  a(href="https://marketingexamples.com/subscribe") email list
  |!{' '}or shared the article.
p If you've got a few of minutes for another, I'll recommend!{' '}
  a(href="https://marketingexamples.com/pricing/refactoring-ui") this gem
  |!{' '}about Refactoring UI's high prices.
p Thanks to!{' '}
  a(href="https://emailoctopus.com/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=article_mentions" target="_blank") EmailOctopus
  |!{' '}for sponsoring. I use them for all my own email marketing.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/email/indie-hackers-newsletter` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/email/indie-hackers-newsletter&via=GoodMarketingHQ%20&text=${encodeURI("The Indie Hackers' Newsletters ")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/email/indie-hackers-newsletter` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 26,941
    |!{' '}marketers getting<br> one practical case study whenever it's 10/10
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Stay updated
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad