p Back in February 2010,!{' '}
  a(href="https://twitter.com/asmartbear") Jason Cohen
  |!{' '}had an idea: A new Wordpress hosting service, that would help with speed, scalability, and security.
p He now faced the challenge that everyone with a startup idea once faces:!{' '}
  span.italic How do I get my first customers
  | ?
p Jason's approach was simple and brilliant. He logged onto Linkedin, searched for Wordpress consultants and sent them the following email:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/wpengine.png", alt="Jason Cohen's Sales Email").img__75
h2 The results
p Jason sent!{' '}
  span.bold 40
  |!{' '}of these emails.!{' '}
  span.bold 100%
  |!{' '}agreed to talk to him on the phone.!{' '}
  span.bold Not one
  |!{' '}asked for any money. And after talking to him!{' '}
  span.bold 30
  |!{' '}verbally agreed to pay!{' '}
  span.bold $50 / mo
  |!{' '}once the product was ready.
p To quote Jason:
p.inwardSpeech Before I had a company name, before I had a powerpoint presentation, before I had any employees, before I had a server, before I had anything, I already had 30 customers willing to pay.
h2 Why does it work so well?
p Well, Jason's email is a masterclass.
p He puts himself in the consultant's shoes, shows respect for their time, and even calls out the elephant in the room - that the majority of these emails are just people trying to grab your time. Oh, and it's an!{' '}
  a(href="https://marketingexamples.com/coldemail/advice-emails") advice email
  | .
p But undoubtedly, the!{' '}
  span.bold killer line
  |!{' '}is Jason “offering to pay!{' '}
  span.bold whatever you think is fair
  |!{' '}for an hour of your time. Even if it’s more than your normal rate”. Why?
p.list.list__top 1. It signals that he's not a time-waster.
p.list 2. It signals that he is fair to do business with.
p.list.list__bottom 3. And it's flattering (that he's willing to pay for your expertise).
p These three reasons coalesce and the default response is:
p.inwardSpeech Sure, let’s chat. You seem like a decent guy, so don’t worry about the money!
h2 Summary
p Today,!{' '}
  a(href="https://wpengine.com" target="_blank") WP Engine
  |!{' '}is a business with!{' '}
  span.bold 500+ employees
  |!{' '}making more than!{' '}
  span.bold $100M / yr
  | .
p I bet they've still got people logging onto Linkedin, finding Wordpress consultants, sending similar emails, just like Jason did nine years earlier.
h2 NOD OF APPRECIATION
p This example is taken from a talk Jason did at MicroConf 6 years ago, titled, “
  a(href="https://vimeo.com/74338272" target="_blank") Designing the Ideal Bootstrapped Business
  | ”. I'd definitely recommend it.
h2 Support
p If you liked the article sharing the thread on Twitter is really appreciated. Thank You!
blockquote.twitter-tweet
  p(lang='en', dir='ltr')
    | 🔥How Jason Cohen (
    a(href='https://twitter.com/asmartbear?ref_src=twsrc%5Etfw') @asmartbear
    | ) does direct sales.
    br
    br
    | THREAD ...
  | — Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1156233854216298497?ref_src=twsrc%5Etfw') July 30, 2019
script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
p I'd like to thank!{' '}
  a(href="https://trainual.com/?utm_campaign=marketingexamples&utm_medium=paid&utm_source=online-sponsorship" target="_blank") Trainual
  |!{' '}for sponsoring the site. If you're hiring, training, or just gearing up for growth, I'd certainly recommend them.
.undera
  .undera__center
    .undera__center-text Share on Twitter
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/direct/jason-cohen-sales&via=GoodMarketingHQ%20&text=${encodeURI("How Jason Cohen does direct sales")}` target="_blank")!=icon("twitter")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 7,897
    |!{' '}marketers getting<br> 2 case studies every Tuesday and Friday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth, Sportstack
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad