p
  a(href="https://kapwing.com" target="_blank") Kapwing
  | is an online video editor founded by Julia Enthoven and Eric Lu.
p 2 years ago it was just like every other new startup. No funding. No organic traffic. No users.
p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first 15 paying users came from Google.
p Julia and Eric learned that for their product SEO was king. So they set out on a mission to climb the Google rankings.
p Two years later it’s mission accomplished. Kapwing has accumulated more than!{' '}
  span.bold 2000
  |!{' '}unique Dofollow backlinks (36,000 total) and gets an estimated
  span.bold 1.8M
  | organic traffic from Google each month.
p This case study focuses on one particular link building strategy they employed. I’m going to call it SEO Project Marketing. It works like this:
p.list.list__top 1. Make side projects
p.list 2. Host them on your own domain
p.list.list__bottom 3. Get exposure
p The idea is that exposure results in backlinks. And because the projects are hosted on your own domain the “link juice” flows to other pages on your website helping you move up the rankings.
.undera
  .undera__center
    .undera__center-text Share on Twitter
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/seo-project-marketing&via=GoodMarketingHQ%20&text=${encodeURI("SEO Project Marketing")}` target="_blank")!=icon("twitter")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 7,210
    |!{' '}marketers getting<br> 2 case studies every Tuesday and Friday
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth, Sportstack
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad