p I must have seen 100 Samsung ads last year. I don’t remember any of them. Too much boring information.
p
  span.italic Shot on iPhone
  |!{' '}is three words, no information. It doesn't dwell on features. Instead, it brings to life!{' '}
  span.italic the outcome.
p And it’s believable. REAL photos from regular people. If!{' '}
  span.italic Liz from Vacaville
  |!{' '}can do it so can I.
p.list.list__top • Sell outcomes, not features
p.list • Narrow your focus
p.list.list__bottom • Nothing is more believable than real customers
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/email/tip24.jpg" alt="Marketing Examples Product Hunt").img__100
p.asterix * * *
p
  span.italic Thanks for reading. If you liked this you might like my guide to!{' '}
  a(href="https://marketingexamples.com/misc/real-marketing" target="_blank") Real Marketing
  |.
p
  span.italic Over and out — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/shot-on-iphone` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/shot-on-iphone&via=GoodMarketingHQ%20&text=${encodeURI("Apple's “Shot on iPhone campaign”")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/shot-on-iphone` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 58,780
    |!{' '}marketers getting<br> the weekly case study
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get new case studies
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad