p When I made!{' '}
  a(href="https://marketingexamples.com/inspiration" target="_blank") Copywriting Examples
  |!{' '}the goal was to rank!{' '}
  span.italic #1
  |!{' '}on Google. I need backlinks. So last week...
p.list.list__top • I texted anyone who'd “interviewed” me in the last two years
p.list • Asking if they could update the article
p.list • With a “P.S.” about Copywriting Examples
p.list.list__bottom • And woke up to seven new links
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl3/nl2b.png" alt="Easy link building").img__100
p This isn't clever, it's!{' '}
  span.italic obvious
  | . That's!{' '}
  span.italic why
  |!{' '}I'm sharing it.
p
  span.italic “What obvious thing are we missing?”
  |!{' '}is a better question than!{' '}
  span.italic “What exciting thing could we be doing?”
p.asterix * * *
p Thanks to!{' '}
  a(href="https://ahrefs.com" target="blank") Ahrefs
  |!{' '}for sponsoring. I rely on them to grow my own search traffic.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/simple-links` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/simple-links&via=GoodMarketingHQ%20&text=${encodeURI("7 Backlinks in 27 minutes")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/simple-links` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 85,273
    |!{' '}marketers getting<br> the weekly case study
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get new case studies
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad