p One of my subscribers, Max, works for a!{' '}
  a(href="https://www.towerpaddleboards.com/" target="_blank") paddle board startup
  | .
p They had some nice images from photoshoots. So he made an account on Unsplash (the photo discovery platform) and uploaded them.
p Five months later the images have!{' '}
  span.bold 6M
  |!{' '}views. And!{' '}
  soan.bold 24k
  |!{' '}downloads.
p Pretty neat brand awareness!
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns1.jpg" alt="Tower Paddle Board Unsplash").img__100
p Here's where it gets interesting.
p Max realised if people were downloading the images!{' '}
  span they’d also be being used on websites
  | .
p So he uploads each one to!{' '}
  a(href="https://www.google.com/imghp" target="_blank") Google Images
  | . And finds!{' '}
  span.bold 50
  |!{' '}websites using!{' '}
  span.italic Tower Paddle Boards
  |!{' '}photos.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns2.png" alt="Find Unsplash images with Google Images").img__100
p Now, Unsplash images are free to use. There’s no obligation to link. But ask politely and people are happy to help.
p So, Max sends the following email to each website.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns3.png" alt="Link building cold outreach").img__100
p So far!{' '}
  span.bold eight
  |!{' '}have replied. And!{' '}
  span.bold four
  |!{' '}added backlinks.
p To quote Max:
p.inwardSpeech Four links isn’t exactly monumental, but as a company built through SEO, it's so critical.
p The best part is it's!{' '}
  span.bold sustainable
  | .
p Next month Max's images will be used on a new bunch of sites. He can send another bunch of emails. And pick up another bunch of links.
//- p SEO is an art, not a science. Get creative!
p
  span.italic Big thanks to!{' '}
  a(href="https://twitter.com/MaxNPalmer" target="_blank") Max
  |!{' '}for sharing.
blockquote.twitter-tweet
  p(lang='en' dir='ltr')
    | A few weeks ago I got an email from a newsletter subscriber, Max.
    br
    br
    | He told me about this new marketing tactic he&apos;s been trying.
    br
    br
    | I was so impressed I thought I&apos;d share it.
    br
    br
    | THREAD...
  | &mdash; Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1290266753528815628?ref_src=twsrc%5Etfw') August 3, 2020
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
p
  span.italic Over and out — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/unsplash` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/unsplash&via=GoodMarketingHQ%20&text=${encodeURI("Using Unsplash for brand awareness and backlinks")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/unsplash` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 49,456
    |!{' '}marketers getting<br> the weekly case study
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Get new case studies
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad