p On the 1st February 2015, car companies Toyota, Lexus, Nissan, Kia and Fiat each spent!{' '}
  span.bold $4.5M
  |!{' '}on a 30 second Super Bowl commercial. Yet, somehow, it was Volvo, with no Super Bowl ad, and 1/15th of the budget, who stole the limelight.
p Their idea was both simple and genius:
p Whenever you saw!{' '}
  span.bold any other car commercial
  |!{' '}during the Super Bowl you could win a Volvo XC 60 for a loved one. All you had to do was was tweet why they deserved the car using the hashtag!{' '}
  a(href="https://twitter.com/search?q=(%23volvocontest)%20until%3A2015-02-02%20since%3A2015-02-01&src=recent_search_click" target="_blank") #VolvoContest
  |!{' '}during the commercial.
p Volvo’s “interception” was the ultimate troll. It shifted eyeballs!{' '}
  span.bold from rival commercials to Twitter
  |!{' '}where the conversation was all about Volvo. And it worked:
p.list.list__top • More than!{' '}
  span.bold 55,000
  |!{' '}people used the hashtag #VolvoContest
p.list • Volvo was the only automobile company to trend globally
p.list.list__bottom • More than!{' '}
  span.bold 100
  |!{' '}different stories were written about the stunt
p The result was a!{' '}
  span.bold 70%
  |!{' '}increase in Volvo XC 60 sales the following month.
h2 Why did it work?
p Well, firstly, Volvo made sure to!{' '}
  span.bold build awareness
  | . Two days before the game they donated an XC 60 to “Jimmy Kimmel Live”. He gave it away on his show and in return spread the word about their contest:
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/volvo.mp4" class="img__80" playsinline="playsinline" poster="" controls onclick="this.paused ? this.play() : this.pause();")
p Secondly, they decided to run the giveaway!{' '}
  span.bold exclusively on Twitter
  | . This allowed momentum to build (unlike sending people directly to a competition website).
p And finally, targeting rival commercial slots was quite the masterstroke. It resulted in!{' '}
  span.bold 30 second
  |!{' '}windows of hyperactivity on Twitter:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/volvo1.png" alt="The Volvo Contest Twitter").img__100
p This led to the!{' '}
  a(href="https://twitter.com/search?q=(%23volvocontest)%20until%3A2015-02-02%20since%3A2015-02-01&src=recent_search_click" target="_blank") #VolvoContest
  |!{' '}hashtag trending on 3 separate occasions. A slower, consistent stream of tweets would never hit the velocity required to trend.
h2 Support
p If you enjoyed reading, then joining the!{' '}
  a(href="https://marketingexample.com/subscribe") email list
  |!{' '}or sharing on twitter is really appreciated:
blockquote.twitter-tweet
  p(lang='en' dir='ltr') &#x1F525; How Volvo won the Super Bowl (without running an ad):
  | &mdash; Marketing Examples (@GoodMarketingHQ)
  a(href='https://twitter.com/GoodMarketingHQ/status/1191422888152387586?ref_src=twsrc%5Etfw') November 4, 2019
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
p Thanks to!{' '}
  a(href="https://emailoctopus.com/?utm_source=marketingexamples&utm_medium=website&utm_campaign=may_2020_sponsorship&utm_content=article_mentions" target="_blank") EmailOctopus
  |!{' '}for sponsoring. I use them for all my own email marketing.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/viral/volvo-contest` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/viral/volvo-contest&via=GoodMarketingHQ%20&text=${encodeURI("How Volvo won the Super Bowl (without running an ad)")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/viral/volvo-contest` target="_blank")!=icon("linkedin")
.addOnEmail
  .postEmail__header Join!{' '}
    span.bold 26,941
    |!{' '}marketers getting<br> one practical case study whenever it's 10/10
  .mail__input
    .mail__input-icon!=icon("mail")
    input(placeholder="example@example.com")
  .mail__button Upgrade my marketing
  .mail__bc-red
.monial
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Hands down!{' '}
      span.monial__inner-text-bold the best
      |!{' '}marketing newsletter I'm subscribed to.
    .monial__inner-bottom
      a(href="https://twitter.com/george__mack" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/gm.jpg", alt="George Mack Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/george__mack" target="_blank").monial__inner-bottom-text-top George Mack
        a(href="https://www.sportstack.com?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Growth marketing consultant
  .monial__inner
    .monial__inner-quote “
    .monial__inner-text Marketing Examples is so f***ing great. I love it!
    .monial__inner-bottom
      a(href="https://twitter.com/bentossell" target="_blank")
        img.monial__inner-bottom-pic(src="https://harrydry.s3.amazonaws.com/gdmarketing/ben.jpg", alt="Ben Tossell Marketing")
      .monial__inner-bottom-text
        a(href="https://twitter.com/bentossell" target="_blank").monial__inner-bottom-text-top Ben Tossell
        a(href="https://www.makerpad.co?ref=marketingexamples" target="_blank").monial__inner-bottom-text-bottom Founder, Makerpad
