extends base

block content
  .iosOverflow.cc
  if (added)
    .ph
      .ph__sticker.ph__sticker__left ✍️
      .ph__text
        span Just added you — Check inbox :)
      .ph__sticker.ph__sticker__right 🎉
  .ccc
    .circle.ccc__tl.ccGreen
    .circle.ccc__tr.ccPink
    .circle.ccc__bl.ccOrange
    .circle.ccc__br.ccPurple
    .ccc__inner
      a.ccc-logo(href="/")!=icon("gmLogoSmall")
      p COMING AUGUST 2021
      h1 Everything you need to grow your business.
      h2 Practical marketing course. Zero fluff.!{' '}<br>
        span Exactly how I’d help you grow if you hired me.
      .ccc-mail
        .ccc-mail-left
          .ccc-mail-left-icon!=icon("mail")
          input(type="text" placeholder="Your Email").cmt2
        button.cmt1 Stay updated
      .underText
        .underText__text Get course updates and!{' '}
          span.bold 15%
          |!{' '}launch discount
        img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/arrow.png", alt="")
      .ccc-mail-info.cmt3
  .spm
    img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/quotes.png", alt="").quotes
    .spm__outer.spm__outer-rotX
      .spm__outer-left.spm__outer-rm
        .spm__outer-line “If Harry Dry made it, I’m buying it”
        .spm__outer-pos
          a(href="https://www.linkedin.com/in/davegerhardt/" target="_blank") Dave Gerhardt, CMO at Privy
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/dave.png", alt="Dave Gerhardt").dave
    .spm__outer.spm__outer-rotY
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/medal.png", alt="Dave Gerhardt").spm__outer-rm.medal
      .spm__outer-left
        .spm__outer-line “The #1 marketing newsletter”
        .spm__outer-pos
          a(href="https://ahrefs.com/blog/best-marketing-newsletters/" target="_blank") Voted for by marketers (Ahrefs)
    .spm__outer.spm__outer-rotX
      .spm__outer-left.spm__outer-rm
        .spm__outer-line “Better than my marketing degree”
        .spm__outer-pos
          a(href="https://twitter.com/MrTomDunn" target="_blank") Tom Dunn, Growth Marketer at Fives
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/td1.png", alt="Dave Gerhardt").tom
  .ccOuter
    .left__menu
      .left__menu-text.ccsc1a.strike__active 1. Intro
      .left__menu-text.ccsc2a 2. Outline
      .left__menu-text.ccsc3a 3. Three quick things
      .left__menu-text.ccsc4a 4. One last thing
    .ccBody
      .circle.circle1.ccYellow
      .circle.circle2.ccGreen
      .circle.circle3.ccPink
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/arrow1.png", alt="").ccLetterArrow
      .ccLetter.ccsc1
        p.first Hey, I'm Harry.
        p Two years ago I started writing marketing case studies. People liked them. So I left my job and went full-time.
        p Since then, they've been read by more than!{' '}
          span.italic one million people
          | . Which...!{' '}
          span.italic still blows my mind
          | . Thank you.
        p I'm spending the next six months working on a practical course for marketers and entrepreneurs.
        p It’s!{' '}
          span.bold everything you need to grow your business
          | . Or more precisely,!{' '}
          span.italic exactly how I’d help you grow if you hired me.
        p Before we get into it let me remind you what growth looks like.
        p.inwardSpeech You!{' '}
          span.ccHigh.thc1 acquire
          |!{' '}leads. You!{' '}
          span.ccHigh.thc2 convert
          |!{' '}leads to customers. You!{' '}
          span.ccHigh.thc3 retain
          |!{' '}customers. You create loops so customers!{' '}
          span.ccHigh.thc4 refer
          |!{' '}more leads.
        p.last Now, each module relates to one of these stages. Here's the outline:
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/tmobb.png", alt="").ccLetterImg
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/tmobb2.png", alt="").ccLetterImgMob
    .ccBody
      .circle.circle4.ccOrange
      .circle.circle5.ccPurple
      .circle.ccYellow.circle6
      .ccLetter.ccsc2
        p.first Let’s go into the details.
        p.header.thc1 1/ Content
        p
          span.italic How to build a modern day media company
        p First, I'm going to show you how to come up with a content strategy: Picking channels, standing out, distribution, tailoring, etc.
        p Then, I'm going to share!{' '}
          span.bold specific growth guides
          |!{' '}for!{' '}
          spam.italic Twitter, Instagram, LinkedIn, YouTube, TikTok, newsletters, podcasts, SEO
          | .
        p.header.thc1 2/ Ads
        p
          span.italic How to run high-performance ads.
        p We're going to set up an ad strategy from scratch for a B2B and B2C startup. Then we're going to turn this strategy into!{' '}
          span.italic REAL
          |!{' '}campaigns.
        p The exact process: Choosing platforms, making ads, A/B tests, targeting, tracking, etc.
        p.header.thc1 3/ Sales
        p
          span.italic How to get your first customers with sales
        p I'm going to teach you how to find people whose problem you solve, write emails which get replies, set up demos, and make some sales!
        p And again, it’s going to be!{' '}
          span.italic REAL
          | . Real emails. Real deals. Real rejections.
        p.header.thc2 4/ Copywriting
          span.mobileCourse &nbsp;& Landing Pages
        p
          span.italic How to communicate your product so people actually care.
        p We'll start with the fundamentals: formulas, hooks, positioning, story.
        p Then, we're going to rewrite title after title (until you finally get the hang of it). And,!{' '}
          a(href="") Annie’s coming back
          |!{' '}&#129392;
        p Finally, we'll use what we've learnt to write a landing page that converts (a more detailed version of!{' '}
          a(href="") my free guide
          | ).
        p.header.thc3 5/ Onboarding & Churn
        p
          span.italic How to keep customers happier, longer
        p
          span.ccHigh.thc1 Acquisition
          |!{' '}and!{' '}
          span.ccHigh.thc2 conversion
          |!{' '}are great. But without!{' '}
          span.ccHigh.thc3 retention
          |!{' '}you’re pouring your good work into a bucket with a big hole in it.
        p This is where we fix that. You'll learn proper onboarding, customer education, retention-focused email sequences, and much more.
        p.header.thc4 6/ Loops
        p
          span.italic What if your main source of growth was existing customers?
        p Most people think you build the product!{' '}
          span.italic then
          |!{' '}you market it. Understanding loops means building the marketing!{' '}
          span.italic into
          |!{' '}the product.
        p We'll run through the different types, the best examples, then deconstruct real businesses and set up some loops ourselves!
        p.header.thc5 7/ Game Time
        p
          span.italic Finally, we're going to do it all for REAL
        p I've picked two businesses struggling with growth.
        p I'm critiquing their current marketing. Then, I'll show you!{' '}
          span.italic exactly
          |!{' '}how I'd grow them (and help them implement).
        p.inwardSpeech I don't want to be the pundit that wins every game but he's never played one — José Mourinho
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/arrow1.png", alt="").ccLetterArrow
    .ccBody
      .circle.ccGreen.circle7
      .circle.ccPink.circle8
      .circle.ccOrange.circle9
      .ccLetter.ccsc3
        p.first So,!{' '}
          span there's your outline.
          |!{' '}Now, before I retreat into the mountains and finish this…!{' '}
          span.bold three quick things
          | .
        p.header.thc1 1/ It’s going to be short
        p You know those courses where instructors waffle for ten minutes over some bullet points.
        p.inwardSpeech This is going to be absolutely nothing like that.
        p I want to give you!{' '}
          span.italic as much as possible in as little time as possible.
          |!{' '}New diagrams, examples, templates every 20 seconds.
        p.header.thc2 2/ It’s going to be simple
        p No marketing jargon. No unnecessary complexity.
        p Each module is hundreds of hours of research, experimentation, talking to experts, getting my hands dirty, falling on my face...
        p Condensed into simple step-by-step videos.
        p.header.thc3 3/ It's going to be practical
        p This isn't a marketing degree. Everything is practical. We’re going to talk about it. Then I’m!{' '}
          span.italic actually going to do it.
        p.inwardSpeech I'm writing strategy, running ads, making sales.
        p For!{' '}
          span.italic REAL
          | . My exact process. That's how you learn.
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/arrow1.png", alt="").ccLetterArrow
      .ccLetter.ccsc4
        p.header.thc4 One last thing
        p So five years ago I was learning to code. I bought this course called Learn Node by Wes Bos.
        p The course was awesome. I still reference it today. It helped me get my first job. I used it to build this very website.
        p So I emailed Wes and told him:
        p.inwardSpeech This thing is so good it feels like my favourite album
        p Now, what I’m about to say probably sounds corny. But I don’t care. It’s completely genuine.
        p.inwardSpeech I want to give you that experience
        p I want this to be so well crafted and entertaining that it feels like!{' '}
          span.italic your
          |!{' '}marketing album.
        p I want you to be replaying videos for the next five years. I want it to help you get your first marketing job, get promoted, become a CMO.
        p I want it to help you grow your own business. I want you to buy it for your marketing team.
        //- p I want it to help you grow your own business, hire more marketers, and buy it for them as well.
        p Above all that, I want it to help you!{' '}
          span.italic enjoy marketing.
          |!{' '}Because, done right, it's a simple, sincere way of selling the thing you believe in.
        p.asterix * * *
        p If you'd like to know when this comes out (and get a 15% launch discount) pop your email in the box.
        .ccc-mail.mail__as
          .ccc-mail-left
            .ccc-mail-left-icon!=icon("mail")
            input(type="text" placeholder="Your Email").cmt5
          button.cmt4 Stay updated
        .ccc-mail-info.cmt6
        p.mailEnd Over and out,
        .sig
          .sig__left
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/mea.jpg", alt="Harry Dry").sig__left-me
            img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/hd.png", alt="Harry Dry").sig__left-mes
          .sig__right
            .sig__right-name Harry Dry
            .sig__right-founder
              span.mobileCourse Founder of!{' '}
              | Marketing Examples
      .ccBody
        .circle.ccPurple.circle10
        .circle.ccOrange.circle11
        .circle.ccYellow.circle12
        .tweets
          .tweets__text PS: HERE’S SOME NICE STUFF FOLKS HAVE SAID :)
          .tweets__container
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Great Twitter account. Like Refactoring UI but for marketing &#x1F44D;&#x1F3FB;
                br
                br
                | Worth a follow &#x1F44C;&#x1F3FB;
                a(href='https://t.co/xkc7U8Hek7') https://t.co/xkc7U8Hek7
              | &mdash; Steve Schoger (@steveschoger)
              a(href='https://twitter.com/steveschoger/status/1215641739198902273?ref_src=twsrc%5Etfw') January 10, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Just wanted to give a shoutout to
                a(href='https://twitter.com/harrydry?ref_src=twsrc%5Etfw') @harrydry
                |  and his amazing
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  website &amp; newsletter.
                br
                br
                | (which
                a(href='https://twitter.com/ahrefs?ref_src=twsrc%5Etfw') @ahrefs
                |  is now a happy sponsor of)
                br
                br
                | Imo Harry found a great content angle that the marketing folks were craving for and gets tons of traction with it.
                br
                br
                | Young talent FTW! &#x1F4AA;
              | &mdash; Tim Soulo (@timsoulo)
              a(href='https://twitter.com/timsoulo/status/1303550744092487680?ref_src=twsrc%5Etfw') September 9, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Harry, do you have a course? A Discord? An eBook? Do you sell something? I&apos;ve learned so much from you and want to give you money.
                br
                br
                | Nice weekend to you too.
              | &mdash; The Drew (@the_drew)
              a(href='https://twitter.com/the_drew/status/1319685313707507712?ref_src=twsrc%5Etfw') October 23, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | I just discovered
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                | .
                br
                br
                | I don&apos;t know if I&apos;ll ever get out of this rabbit hole.
                br
                br
                | Excellent content.
              | &mdash; Justin Welsh (@JustinSaaS)
              a(href='https://twitter.com/JustinSaaS/status/1281977179824324609?ref_src=twsrc%5Etfw') July 11, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Marketing professors across the world better be using examples from
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  in classrooms!
              | &mdash; Ketaki &#x1F41D; (@KetakiPO)
              a(href='https://twitter.com/KetakiPO/status/1303579479063670785?ref_src=twsrc%5Etfw') September 9, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | I can&apos;t be more grateful to have &#x1F4E2;
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  exists. Reading tips and how the most successful companies kicked off their marketing are truly refreshing!
                br
                br
                | That&apos;s all of my weekend. How&apos;s yours? &#x1F609;
              | &mdash; Wilbert Liu (@wilbertliu)
              a(href='https://twitter.com/wilbertliu/status/1274619468958666755?ref_src=twsrc%5Etfw') June 21, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Are you a startup looking for marketing ideas?
                br
                br
                | Check out
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  and thank me later. &#x1F973;
              | &mdash; Portia &#x1F33B; (@AgencyCecil)
              a(href='https://twitter.com/AgencyCecil/status/1288083029777211392?ref_src=twsrc%5Etfw') July 28, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Just showed my wife a quick post from
                a(href='https://twitter.com/harrydry?ref_src=twsrc%5Etfw') @harrydry
                | &apos;s
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                | .
                br
                br
                | 1 min later she yells from the kitchen:
                br
                br
                | &quot;I just subscribed to the list from that site; looks awesome!&quot;
                br
                br
                | Yup.
              | &mdash; pablof7z &#x1F680; (@pablof7z)
              a(href='https://twitter.com/pablof7z/status/1243538324914081793?ref_src=twsrc%5Etfw') March 27, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | How am I just hearing about
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                | ?? Amazing (and short and practical) marketing examples... not just on Twitter, but on his blog, YT, Insta. Everywhere.
                br
                br
                | Am I missing other people doing the same thing? If so, who are they?
              | &mdash; Luke Alley &#x1F6B5; (@LukeAlley)
              a(href='https://twitter.com/LukeAlley/status/1324470640028524546?ref_src=twsrc%5Etfw') November 5, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | name a better marketer right now than
                a(href='https://twitter.com/harrydry?ref_src=twsrc%5Etfw') @harrydry
              | &mdash; fred rivett &#x1F468;&#x1F3FB;&zwj;&#x1F4BB; (@fredrivett)
              a(href='https://twitter.com/fredrivett/status/1264548889073459206?ref_src=twsrc%5Etfw') May 24, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
              p(lang='en' dir='ltr') You know Harry, this what you&apos;re doing is better than an MBA class
              | &mdash; Anurag Baveja (@AnuragBaveja)
              a(href='https://twitter.com/AnuragBaveja/status/1312052086176018432?ref_src=twsrc%5Etfw') October 2, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | You should all follow
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                | !! NOW!
                br
                br
                | It has gold content when it comes to marketing!
              | &mdash; Florin Pop &#x1F468;&#x1F3FB;&zwj;&#x1F4BB; (@florinpop1705)
              a(href='https://twitter.com/florinpop1705/status/1179705360527036418?ref_src=twsrc%5Etfw') October 3, 2019
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Just an appreciation tweet for Harry and
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  &#x1F9C1;
                br
                br
                | One of the best things on the internet. Guess, I don&apos;t need to explain more about it.
              | &mdash; Riten (@ritendn)
              a(href='https://twitter.com/ritendn/status/1354188202505023488?ref_src=twsrc%5Etfw') January 26, 2021
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
              p(lang='en' dir='ltr') Harry how can I hire someone who follows your marketing suggestions?
              | &mdash; Arthur Sparks (@arthur__sparks)
              a(href='https://twitter.com/arthur__sparks/status/1302275913875222530?ref_src=twsrc%5Etfw') September 5, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | How have I only just discovered
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                | ? I will subscribe and no doubt file the newsletters in my &lsquo;Good Marketing&rsquo; folder &#x1F44A;
              | &mdash; Hannah Dempster (@HanDempster)
              a(href='https://twitter.com/HanDempster/status/1298677473664794625?ref_src=twsrc%5Etfw') August 26, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | I think I just fell in love with
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
              | &mdash; M &#x1F48E; (@ProsperityOnly)
              a(href='https://twitter.com/ProsperityOnly/status/1361752833830359047?ref_src=twsrc%5Etfw') February 16, 2021
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | I read through
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  and actually feel my brain getting smarter.
                br
                br
                | Can&apos;t wait to talk to
                a(href='https://twitter.com/harrydry?ref_src=twsrc%5Etfw') @harrydry
                |  tomorrow.
              | &mdash; Danny Miranda (@heydannymiranda)
              a(href='https://twitter.com/heydannymiranda/status/1315070231421878273?ref_src=twsrc%5Etfw') October 10, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | Hack:- Before sending any *important* mail, read
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                |  for 20-30 minutes.
                br
                br
                | Always work for me :)
              | &mdash; Chintan Bavishi (@BavishiChintan)
              a(href='https://twitter.com/BavishiChintan/status/1306659013493317632?ref_src=twsrc%5Etfw') September 17, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet(data-conversation='none')
              p(lang='en' dir='ltr')
                | Facts. There isn&rsquo;t an account on Twitter I learn more from than
                a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
                br
                br
                | It&rsquo;s a staple on my feed to the point I requested him to make a book so I could purchase.
              | &mdash; Skyler Hefley (@SkylerHefley)
              a(href='https://twitter.com/SkylerHefley/status/1352462790926204929?ref_src=twsrc%5Etfw') January 22, 2021
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet(data-conversation='none' data-dnt='true' data-theme='light')
              p(lang='en' dir='ltr') Hands down the most marketing wisdom per email of all the time.
              | &mdash; Corey Haines &#x1F4A1; (@coreyhainesco)
              a(href='https://twitter.com/coreyhainesco/status/1287789009008078862?ref_src=twsrc%5Etfw') July 27, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            blockquote.twitter-tweet
              p(lang='en' dir='ltr')
                | I get excited every time I receive an email from
                a(href='https://twitter.com/harrydry?ref_src=twsrc%5Etfw') @harrydry
                | .
                br
                br
                | These marketing examples have helped me start asking important questions in my work process.
              | &mdash; Gasper Yanga (@CCBenji)
              a(href='https://twitter.com/CCBenji/status/1290252999344840705?ref_src=twsrc%5Etfw') August 3, 2020
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
        img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/taf.jpg", alt="Looney Tunes").taf
        .taf__text Feeling generous?!{' '}
          a(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/course" target="_blank") Share on Twitter