extends base

block content
  .iosOverflow.cc
  .ccc
    a.ccc__left-logo(href="/")!=icon("gmLogoSmall")
    .ccc__left
      p COMING JUNE 2021
      h1 Everything you need to grow your business
      h2 Advanced marketing training. Zero fluff.<br class="cccLeftBr"> Exactly how I’d help you grow if you hired me.
      .ccc__left-mail
        .ccc__left-mail-left
          .ccc__left-mail-left-icon!=icon("mail")
          input(type="text" placeholder="Your Email")
        button SUBSCRIBE
      .underText Subscribe for updates and a launch discount :)
    .ccc__right
      img.ccc__right-imgActive(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t1.jpg", alt="")
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t2.jpg", alt="")
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t3.jpg", alt="")
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t4.jpg", alt="")
      img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t5.jpg", alt="")
  .ccLetter
    p.first Hey everyone.
    p I’ve got some news.
    p I’m working on a course for marketers and founders.
    p It’s!{' '}
      span.bold everything you need to grow your business.
      | . Or more precisely, exactly how I’d help you grow if you hired me.
    p The syllabus follows the classic growth funnel.
    p.inwardSpeech You!{' '}
      span.ccHigh.thc1 acquire
      |!{' '}leads. You!{' '}
      span.ccHigh.thc2 convert
      |!{' '}leads to customers. You!{' '}
      span.ccHigh.thc3 retain
      |!{' '}customers. You incentivise customers to!{' '}
      span.ccHigh.thc4 refer
      |!{' '}more leads.
    p.last And each module relates to one of these stages. Here's the outline.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/t6.png", alt="").ccLetterImg
  .ccLetter
    p.first Let's go into the details.
    p.header.thc1 1/ Content & SEO
    p
      span.italic How to build a media company in your niche.
    p First we’ll cover the strategy. Picking channels, standing out, distribution, repurposing, etc.
    p Then, I'm going to share!{' '}
      span.bold specific growth guides
      |!{' '}for Twitter, Instagram, LinkedIn, YouTube, TikTok, newsletters, podcasts, SEO.
    p Full of real examples.
    p.header.thc1 2/ Paid ads
    p
      span.italic How to run high-performance ads.
    p You'll learn how to set up an ad strategy from scratch for B2B and B2C startups. Then we're going to turn this into!{' '}
      span.italic REAL
      |!{' '}campaigns.
    p Choosing platforms, making ads, targeting, tracking, A/B tests etc.
    p I’m not an expert here. So I’m working with a!{' '}
      a(href="") specialist agency
      |!{' '}(whove spent millions mastering this stuff).
    p.header.thc1 3/ B2B Sales
    p
      span.italic How to get your first customers with sales.
    p Sales is fast, educational, and!{' '}
      span.italic it works
      | . Yet, most company’s don’t do it.
    p You'll learn how to find leads, contact them, set up demos, and close some deals!
    p And then I'm going to do it myself. Real emails. Real deals. Real rejections. Bring it on :)
    p.header.thc2 4/ Copywriting & Landing Pages
    p This is where you'll learn to communicate your product so people actually care.
    p We'll start with the fundementals, formulas, hooks, headlines, story etc.
    p Then, we'll rewrite title after title (until you finally get the hang of it). And yes,!{' '}
      a(href="") Annie’s coming back
      |!{' '}&#129392;
    p Finally, we'll use what we've learnt to write a landing page from the ground up (a more detailed version of my free guide).
    p.header.thc3 5/ Onboarding & Churn
    p
      span.italic How to turn customers into lifelong customers
    p
      span.ccHigh.thc1 Acquisition
      |!{' '}and!{' '}
      span.ccHigh.thc2 conversion
      |!{' '}are great. But without!{' '}
      span.ccHigh.thc3 retention
      |!{' '}you’re pouring your good work into a funnel with a big hole in it.
    p I'm going to teach you how to fix that with proper onboarding, customer education, retention-focused email sequences, and much more.
    p Full of real examples picked from the best onboarding flows.
    p.header.thc4 6/ Loops
    p.last Coming soon
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tharrow.png", alt="").ccLetterArrow
  .ccLetter
    p.first So,!{' '}
      span there's your syllabus.
      |!{' '}Now, before I get my head down and make this…!{' '}
      span.bold three quick things.
    p.header.thc1 1/ It’s going to be short
    p You know those courses where instructors waffle for ten minutes over some bullet points.
    p.inwardSpeech This is going to be absolutely nothing like that.
    p There's a lot to cover. And I want to get through it in s few seconds as possible. New diagrams, examples, templates every 20 seconds.
    p There's a lot to cover. And I want to cover it in as few seconds as possible.
    p.header.thc2 2/ It’s going to be simple
    //- p I started Marketing Examples cause I was fed up of reading 1000 words and leaving with very little.
    //- p Teaching yourself this stuff!{' '}
    //-   span.italic isn't simple.
    p No marketing jargon, unnecssary complexity, get rich quick schemes.
    p I've spent thousands of hours reading everything I can find, talking to experts, implementing myself...!{' '}
    p And I'm turning what I've learnt into a load of step-by-step videos.
    //- p I’m not interested in pumping you with theory. I'm going to give you strategy, then I’m going to do myself.
    p.header.thc3 3/ It’s going to be practical
    p This isn't a marketing degree. Everything is practical.
    p.inwardSpeech I'm writing titles, doing sales, running ads.
    p For!{' '}
      span.italic REAL
      | . My!{' '}
      span.italic exact process
      | . Hundreds of examples.
    p.asterix * * *
    p My only goal is to give you the practical skills you need to grow businesses. That's it.
    p.inwardSpeech Strategy. Examples.!{' '}
      span.bold Exactly
      |!{' '}how I'd do it.
    p I want to get as close to reality as possible.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tharrow1.png", alt="").ccLetterArrow.ccLetterArrow__1
  .ccLetter
    p.first Now, before I get my head down and make this...
    p.header.thc3 One last thing
    p So five years ago I was learning to code. I bought this course called Learn Node by Wes Bos.
    p The course was awesome. I still reference it today. It helped me get my first job. In fact, I used it to build this very website.
    p So I emailed Wes and told him:
    p.inwardSpeech This thing is so good it feels like my favourite album
    p Now, what I’m about to say probably sounds corny. But I don’t care. It’s completely genuine.
    p.inwardSpeech I want this to be so well crafted and entertaining that it feels like!{' '}
      span.bold your marketing album
      | .
    p I want you to be replaying videos for the next five years. I want it to help you learn to love marketing. I want it to help you get your first job. Get promoted. And become a CMO.
    p I want it to help you go set up your own business. And go from nothing to $10k MRR. And then way beyond that!
    p.asterix * * *
    p Alright. That's all we've got time for. If you'd like to know when this comes out (and get a launch discount) pop your email in the box.
    .ccc__left-mail.mail__as
      .ccc__left-mail-left
        .ccc__left-mail-left-icon!=icon("mail")
        input(type="text" placeholder="Your Email")
      button SUBSCRIBE
    p Over and out,
    .sig
      .sig__left
        img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/mea.jpg", alt="Harry Dry").sig__left-me
        img(src="https://harrydry.s3.amazonaws.com/gdmarketing/course/hd.png", alt="Harry Dry").sig__left-mes
      .sig__right
        .sig__right-name Harry Dry
        .sig__right-founder
          span.mobileCourse Founder of!{' '}
          | Marketing Examples
  .tweets
    .tweets__text I haven't built this yet. So, no reviews. But here's some nice stuff people have said about my content...
    .tweets__container
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr')
          | I don&apos;t think I&apos;ve encountered a higher ROI for my time from any other resource on the internet. Great job Harry!
        | &mdash; Benni (@towardsmeraki)
        a(href='https://twitter.com/towardsmeraki/status/1318569973917356032?ref_src=twsrc%5Etfw') October 20, 2020
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr')
          | Thank YOU for the amazing content you create! Marketing Examples is one of the reasons I consider myself decent at marketing &#x1F601;
        | &mdash; Miguel Piedrafita &#x1F680; (@m1guelpf)
        a(href='https://twitter.com/m1guelpf/status/1355884595393294339?ref_src=twsrc%5Etfw') January 31, 2021
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr')
          | Here&rsquo;s my quote: &ldquo;if you don&rsquo;t read Marketing Examples, you aren&rsquo;t really a marketer.&rdquo;
        | &mdash; Dave Gerhardt &#x1F50A; (@davegerhardt)
        a(href='https://twitter.com/davegerhardt/status/1287866056761937922?ref_src=twsrc%5Etfw') July 27, 2020
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr')
          | Legendary stuff! Each piece you create is so valuable and makes learning marketing enjoyable.
        | &mdash; Ayushi (@AyushiB31)
        a(href='https://twitter.com/AyushiB31/status/1355884979184672769?ref_src=twsrc%5Etfw') January 31, 2021
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet
        p(lang='en' dir='ltr')
          | Just an appreciation tweet for Harry and
          a(href='https://twitter.com/GoodMarketingHQ?ref_src=twsrc%5Etfw') @GoodMarketingHQ
          |  &#x1F9C1;
          br
          br
          | One of the best things on the internet. Guess, I don&apos;t need to explain more about it.
        | &mdash; Riten (@ritendn)
        a(href='https://twitter.com/ritendn/status/1354188202505023488?ref_src=twsrc%5Etfw') January 26, 2021
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr') I literally can&apos;t wait for new articles. It&apos;s so good.
        | &mdash; Ryland King &#x1F6E0; (@rylandking)
        a(href='https://twitter.com/rylandking/status/1287806604201492482?ref_src=twsrc%5Etfw') July 27, 2020
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
        p(lang='en' dir='ltr')
          | The most actionable newsletter I subscribe to. Every issue has me changing and rethinking things on my own sites &#x1F64C;&#x1F604;
        | &mdash; James Daly (@JamesDaly90)
        a(href='https://twitter.com/JamesDaly90/status/1288736096281481216?ref_src=twsrc%5Etfw') July 30, 2020
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') A Genius that actually gives a sh*t
      //-   | &mdash; Anis Ait_Ousaid (@anisharkenz)
      //-   a(href='https://twitter.com/anisharkenz/status/1287797241592283136?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') Just discovered Marketing Example this is a wonderful place to be
      //-   | &mdash; Belinda Writes (@belikendi)
      //-   a(href='https://twitter.com/belikendi/status/1288537161596309511?ref_src=twsrc%5Etfw') July 29, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') Harry how can I hire someone who follows your marketing suggestions?
      //-   | &mdash; Arthur Sparks (@arthur__sparks)
      //-   a(href='https://twitter.com/arthur__sparks/status/1302275913875222530?ref_src=twsrc%5Etfw') September 5, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | A newsletter that I actually open the moment I see it, and read from start to end. Insight, practical, no bs. A rarity in a world of too much noise.
      //-   | &mdash; Jason Leow ~ golifelog.com (@jasonleowsg)
      //-   a(href='https://twitter.com/jasonleowsg/status/1287782721226280966?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | Thanks so much! Discovered your newsletter a few months ago and I have been recommending it everywhere ever since! Also entered the draw &#x1F60A;
      //-   | &mdash; Sabrina Popescu (@sabrinapopescud)
      //-   a(href='https://twitter.com/sabrinapopescud/status/1265493671178313728?ref_src=twsrc%5Etfw') May 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | Marketing Examples is my favourite newsletter on the internet. The signal to noise ratio is remarkably high, and the each email full of insights.
      //-   | &mdash; fred rivett &#x1F468;&#x1F3FB;&zwj;&#x1F4BB; (@fredrivett)
      //-   a(href='https://twitter.com/fredrivett/status/1287795330235486210?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true' data-theme='light')
      //-   p(lang='en' dir='ltr') Hands down the most marketing wisdom per email of all the time.
      //-   | &mdash; Corey Haines &#x1F4A1; (@coreyhainesco)
      //-   a(href='https://twitter.com/coreyhainesco/status/1287789009008078862?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') You know Harry, this what you&apos;re doing is better than an MBA class
      //-   | &mdash; Anurag Baveja (@AnuragBaveja)
      //-   a(href='https://twitter.com/AnuragBaveja/status/1312052086176018432?ref_src=twsrc%5Etfw') October 2, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none')
      //-   p(lang='en' dir='ltr') Genius is an understatement! These examples are incredible!
      //-   | &mdash; Alexis Smith (@Alexified)
      //-   a(href='https://twitter.com/Alexified/status/1298673783276998656?ref_src=twsrc%5Etfw') August 26, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') Gold gold gold!!! &#x1F525;&#x1F525;&#x1F525;&#x1F525;
      //-   | &mdash; SASHA &#x1F33A; (@sashawestray)
      //-   a(href='https://twitter.com/sashawestray/status/1258129303541178369?ref_src=twsrc%5Etfw') May 6, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') The best in the game.
      //-   | &mdash; George Mack (@george__mack)
      //-   a(href='https://twitter.com/george__mack/status/1347590729737113601?ref_src=twsrc%5Etfw') January 8, 2021
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | My pleasure! Your emails are a pain because they make me want to screenshot and save everything :D
      //-   | &mdash; Sofie Couwenbergh (@SCouwenbergh)
      //-   a(href='https://twitter.com/SCouwenbergh/status/1330841188392427524?ref_src=twsrc%5Etfw') November 23, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet
      //-   p(lang='en' dir='ltr')
      //-     | Harry, do you have a course? A Discord? An eBook? Do you sell something? I&apos;ve learned so much from you and want to give you money.
      //-     br
      //-     br
      //-     | Nice weekend to you too.
      //-   | &mdash; The Drew (@the_drew)
      //-   a(href='https://twitter.com/the_drew/status/1319685313707507712?ref_src=twsrc%5Etfw') October 23, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') You should build a school for online marketing. I&apos;d happily pay. DM pls?
      //-   | &mdash; Raj Kunkolienkar &#x1F981; (@kunksed)
      //-   a(href='https://twitter.com/kunksed/status/1287830288152715264?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | The only site I share with every person that joins my team, no matter what their role is.
      //-   | &mdash; Luke Jordan &#x1F9D9;&zwj;&male;&#xFE0F; (@lr_jordan)
      //-   a(href='https://twitter.com/lr_jordan/status/1287777651403390979?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | Very hands-on and actionable marketing advice! The most important thing is it works!!
      //-   | &mdash; Lu Li (@lululi_lululi)
      //-   a(href='https://twitter.com/lululi_lululi/status/1287854453731676160?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr')
      //-     | I&apos;ve learnt more about great marketing here, than 3 years at Uni during my marketing degree.
      //-   | &mdash; Tom Dunn &#x1F4F8;&#x1F3A5; (@MrTomDunn)
      //-   a(href='https://twitter.com/MrTomDunn/status/1287780389986107393?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      //- blockquote.twitter-tweet(data-conversation='none' data-dnt='true')
      //-   p(lang='en' dir='ltr') No fluff, actionable tips and lots of good ideas. My top bookmarked website.
      //-   | &mdash; Priya Nain (@misspriyanain)
      //-   a(href='https://twitter.com/misspriyanain/status/1287778384735424514?ref_src=twsrc%5Etfw') July 27, 2020
      //- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')